Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

check CI vue-tsc
  .github/workflows/demos_visual_tests_frameworks.yml
Due: none

update version of dx-systemjs-vue-browser
  apps/demos/configs/Vue/config.js
  apps/demos/package.json
  apps/demos/utils/demo-vue-loader.js
  pnpm-lock.yaml
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

revert changes
  apps/demos/Demos/TreeView/ContextMenuIntegration/Vue/data.ts
  apps/demos/Demos/TreeView/DragAndDropHierarchicalDataStructure/Vue/data.ts
  apps/demos/Demos/TreeView/DragAndDropPlainDataStructure/Vue/data.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Use new version of the action
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/paths.yml
Due: none

Try annotations
  .github/workflows/paths.yml
Due: none

Revert "Setup CI on 25_1 (#28635)"
  apps/demos/menuMeta.json
Due: none

Change new demos order (#28543)
  apps/demos/menuMeta.json
Due: none

Roadmap & Survey demo pages (#29199)
  apps/demos/Demos/CardView/Overview/cardview.png
  apps/demos/Demos/CardView/Overview/description.md
  apps/demos/Demos/Chat/ImageRendering/Chat-Image.png
  apps/demos/Demos/Chat/ImageRendering/description.md
  apps/demos/Demos/Chat/MessageEditing/Chat-Message-Edit.png
  apps/demos/Demos/Chat/MessageEditing/description.md
  apps/demos/Demos/HtmlEditor/AITextEditing/HtmlEditorAi.png
  apps/demos/Demos/HtmlEditor/AITextEditing/description.md
  apps/demos/Demos/Scheduler/ToolbarCustomization/Scheduler.png
  apps/demos/Demos/Scheduler/ToolbarCustomization/description.md
  apps/demos/Demos/Stepper/Overview/Stepper.png
  apps/demos/Demos/Stepper/Overview/description.md
  apps/demos/menuMeta.json
Due: none

Scheduler: Toolbar Customization - already exists in 25_1 at #29228 (against roadmap)
  apps/demos/menuMeta.json
Due: none

move onProp / onDataErrorOccurred (+ signature - e / order) to direct dxCardViewOptions (fails on topic generator without direct parent component)
  packages/devextreme-angular/src/ui/card-view/index.ts
  packages/devextreme/js/ui/card_view.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

skip "injectDescriptions" (fails coz of types end with Options)
  tools/scripts/build-all.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

skip "injectDescriptions" - angular
  packages/devextreme-angular/gulpfile.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

actual badges 25_1
  apps/demos/Demos/Scheduler/ToolbarCustomization/Scheduler.png
  apps/demos/menuMeta.json
Due: none

skip "injectDescriptions" - angular - lint
  packages/devextreme-angular/gulpfile.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

initial commit
  apps/demos/Demos/CardView/RightToLeftSupport/Angular/app/app.component.css
  apps/demos/Demos/CardView/RightToLeftSupport/Angular/app/app.component.html
  apps/demos/Demos/CardView/RightToLeftSupport/Angular/app/app.component.ts
  apps/demos/Demos/CardView/RightToLeftSupport/Angular/app/app.service.ts
  apps/demos/Demos/CardView/RightToLeftSupport/Angular/index.html
  apps/demos/Demos/CardView/RightToLeftSupport/React/App.tsx
  apps/demos/Demos/CardView/RightToLeftSupport/React/data.ts
  apps/demos/Demos/CardView/RightToLeftSupport/React/index.html
  apps/demos/Demos/CardView/RightToLeftSupport/React/index.tsx
  apps/demos/Demos/CardView/RightToLeftSupport/React/style.css
  apps/demos/Demos/CardView/RightToLeftSupport/ReactJs/App.js
  apps/demos/Demos/CardView/RightToLeftSupport/ReactJs/data.js
  apps/demos/Demos/CardView/RightToLeftSupport/ReactJs/index.html
  apps/demos/Demos/CardView/RightToLeftSupport/ReactJs/index.js
  apps/demos/Demos/CardView/RightToLeftSupport/ReactJs/style.css
  apps/demos/Demos/CardView/RightToLeftSupport/Vue/App.vue
  apps/demos/Demos/CardView/RightToLeftSupport/Vue/data.ts
  apps/demos/Demos/CardView/RightToLeftSupport/Vue/index.html
  apps/demos/Demos/CardView/RightToLeftSupport/Vue/index.js
  apps/demos/Demos/CardView/RightToLeftSupport/description.md
  apps/demos/Demos/CardView/RightToLeftSupport/jQuery/data.js
  apps/demos/Demos/CardView/RightToLeftSupport/jQuery/index.html
  apps/demos/Demos/CardView/RightToLeftSupport/jQuery/index.js
  apps/demos/Demos/CardView/RightToLeftSupport/jQuery/style.css
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

add menumeta
  apps/demos/menuMeta.json
Due: none

inprogress
  packages/devextreme/js/__internal/core/utils/promise.ts
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/card.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/header.tsx
  packages/devextreme/js/__internal/grids/new/card_view/content_view/view.tsx
  packages/devextreme/js/__internal/grids/new/card_view/main_view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/content_view/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/modes/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/modes/mode.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/modes/popup/edit_popup.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/editing/modes/popup/index.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/modes/popup/view.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/popup/component.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/editing/popup/view.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/form.ts
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/popup.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

test commit
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/testcafe_tests.yml
  packages/devextreme/performance_log.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(CI): Add cpu / memory usage raw logs
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/testcafe_tests.yml
  packages/devextreme/performance_log.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add fix and test
  e2e/testcafe-devextreme/tests/treeList/rowDragging.ts
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

T1262143: fix all day rtl view for fluent theme (#29385)
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/etalons/recurrent-appointment-in-day_view-and-rtl_mode-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/etalons/recurrent-appointment-in-week_view-and-rtl_mode-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/etalons/recurrent-appointment-in-workWeek_view-and-rtl_mode-fluent.blue.light.png
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
Due: stylelint

T1262143: fix all day rtl view for fluent theme (#29384)
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/etalons/recurrent-appointment-in-day_view-and-rtl_mode-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/etalons/recurrent-appointment-in-week_view-and-rtl_mode-fluent.blue.light.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/etalons/recurrent-appointment-in-workWeek_view-and-rtl_mode-fluent.blue.light.png
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
Due: stylelint

fix
  packages/devextreme/js/__internal/grids/new/grid_core/options_controller/options_controller_base.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

stay true
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowDragging.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

change name def
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix overflow in styles
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/_index.scss
  packages/devextreme-scss/scss/widgets/base/cardView/content_view/content/card/_index.scss
Due: stylelint

sample: fix
  packages/devextreme/playground/jquery.html
Due: none

Scheduler\ToolbarCustomization img x2
  apps/demos/Demos/Scheduler/ToolbarCustomization/Scheduler.png
Due: none

update screenshots
  e2e/testcafe-devextreme/tests/scheduler/common/etalons/form-after-change-allday-and-reccurence-options.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/resources/base/etalons/generic-resource(view=timelineWorkWeek-resource=true).png
Due: none

update screenshots
  e2e/testcafe-devextreme/tests/scheduler/common/etalons/form-after-change-allday-and-reccurence-options_mask.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/form-after-change-allday-and-reccurence-options_mask.png
Due: none

Use globalize from node_modules in qunit systemjs config
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
Due: none

feat(CI): performance log code review fixes
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/testcafe_tests.yml
  tools/scripts/performance_log.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

stories for cardCover
  apps/react-storybook/stories/card_view/CardView.stories.tsx
  apps/react-storybook/stories/card_view/generatedData.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Stepper: not apply hover effect for steps cannot be selected
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_index.scss
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint
