Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

DateRangeBox: add onValueChanged and sync value between DateRangeBox and DateBoxes
  js/ui/date_range_box/ui.date_range_box.js
  testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

grid core move data-controller.ts fix eslint
  js/__internal/grids/grid_core/data_controller/module.ts
  js/__internal/grids/grid_core/module_utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add re-export data-controller from js module
  js/ui/grid_core/ui.grid_core.data_controller.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

grid core move data-controller.js to ts
  js/__internal/grids/grid_core/data_controller/module.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid: Fix master detail display when renderAsync, virtual scrolling and column fixing features are enabled (T1159578) (#24301)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/testcafe/tests/dataGrid/etalons/T1159578-master-detail-with-renderAsync-1.png
  testing/testcafe/tests/dataGrid/etalons/T1159578-master-detail-with-renderAsync-2.png
  testing/testcafe/tests/dataGrid/masterDetail.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

TreeView: Remove aria-expanded attributes from leaf nodes
  js/ui/tree_view/ui.tree_view.base.js
  testing/helpers/ariaAccessibilityTestHelper.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/virtualMode.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix markup redundant spaces
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Menu: make link on the whole item (#24279)
  js/ui/context_menu/ui.menu_base.js
  js/ui/hierarchical_collection/ui.hierarchical_collection_widget.js
  scss/widgets/base/_menuBase.scss
  testing/testcafe/tests/navigation/menu/etalons/Items should have links if item.url is set (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Items should have links if item.url is set (material-blue-light).png
  testing/testcafe/tests/navigation/menu/link.ts
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

add link click on enter
  js/ui/collection/ui.collection_widget.base.js
  js/ui/context_menu/ui.menu_base.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

add tests
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix markup redundant spaces
  testing/tests/DevExpress.ui.widgets.dataGrid/errorHandling.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

refactoring
  js/renovation/ui/pager/common/pager_props.ts
  js/renovation/ui/pager/pages/small.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid: Fix master detail display when renderAsync, virtual scrolling and column fixing features are enabled (T1159578) (#24343)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/testcafe/tests/dataGrid/etalons/T1159578-master-detail-with-renderAsync-1.png
  testing/testcafe/tests/dataGrid/etalons/T1159578-master-detail-with-renderAsync-2.png
  testing/testcafe/tests/dataGrid/masterDetail.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid: Refix master detail display when renderAsync, virtual scrolling and column fixing features are enabled (T1159578)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix tests for mobile
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

remove sync
  js/ui/date_range_box/ui.date_range_box.js
  testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid: Refix master detail display when renderAsync, virtual scrolling and column fixing features are enabled (T1159578) (#24329)
  js/ui/grid_core/ui.grid_core.columns_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Rework pin browsers github action
  .github/actions/pin-browsers/action.yml
Due: none

revert
  js/renovation/ui/pager/common/pager_props.ts
  js/renovation/ui/pager/pages/small.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Try to use latest version
  .github/actions/pin-browsers/action.yml
Due: none

fix after review
  js/ui/collection/ui.collection_widget.base.js
  js/ui/context_menu/ui.menu_base.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Revert "revert"
  js/renovation/ui/pager/common/pager_props.ts
  js/renovation/ui/pager/pages/small.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Rollback Chrome install with specific version
  .github/actions/pin-browsers/action.yml
Due: none

Remove redundant code
  .github/actions/pin-browsers/action.yml
Due: none

new etalon
  testing/testcafe/tests/dataGrid/etalons/header-filter-popup.png
Due: none

Rework pin browsers github action (#24348)
  .github/actions/pin-browsers/action.yml
Due: none

Rework pin browsers github action (#24348) (#24350)
  .github/actions/pin-browsers/action.yml
Due: none

Rework pin browsers github action (#24348) (#24349)
  .github/actions/pin-browsers/action.yml
Due: none

DateRangeBox: add onValueChanged and updateValue (#24342)
  js/ui/date_range_box/ui.date_range_box.js
  testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Enable CSP checks for ui tests in CI
  .github/workflows/qunit_tests-additional-renovation.yml
Due: none

Fix CSP issues in collectionWidget tests
  testing/tests/DevExpress.ui/collectionWidget.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
