Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Uncomment lines in build-all.ts
  build/build-all.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler: add 'Work Shifts' demo description (#3023)
  Demos/Scheduler/WorkShifts/description.md
Due: none

Fluent: increase customization options for TextEditor in ThemeBuilder
  packages/devextreme/scss/widgets/base/lookup/_mixins.scss
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/_sizes.scss
  packages/devextreme/scss/widgets/fluent/dateBox/_index.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/loadIndicator/_colors.scss
  packages/devextreme/scss/widgets/fluent/lookup/_colors.scss
  packages/devextreme/scss/widgets/fluent/lookup/_index.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/lookup/_colors.scss
  packages/devextreme/scss/widgets/generic/lookup/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/lookup/_colors.scss
  packages/devextreme/scss/widgets/material/lookup/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Due: stylelint

use bottom border
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
Due: stylelint

add changes
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/card/_index.scss
  packages/devextreme/scss/widgets/fluent/dateBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/diagram/_index.scss
  packages/devextreme/scss/widgets/fluent/fileManager/_colors.scss
  packages/devextreme/scss/widgets/fluent/form/_colors.scss
  packages/devextreme/scss/widgets/fluent/form/_index.scss
  packages/devextreme/scss/widgets/fluent/list/_colors.scss
  packages/devextreme/scss/widgets/fluent/progressBar/_colors.scss
  packages/devextreme/scss/widgets/fluent/scrollable/_colors.scss
  packages/devextreme/scss/widgets/fluent/selectBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/slider/_index.scss
  packages/devextreme/scss/widgets/fluent/switch/_colors.scss
  packages/devextreme/scss/widgets/fluent/tabs/variables/_colors.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
Due: stylelint

revert
  packages/devextreme/scss/widgets/fluent/form/_colors.scss
  packages/devextreme/scss/widgets/fluent/form/_index.scss
Due: stylelint

Add pointerEventStrategy option to GlobalConfig for setting EventStrategy (#25951)
  packages/devextreme/js/common.d.ts
  packages/devextreme/js/events/pointer.js
  packages/devextreme/testing/tests/DevExpress.ui.events/pointerParts/strategySelectionTests.js
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Drawer - delete custom border-top for list items (#3025)
  Demos/Drawer/LeftOrRightPosition/Angular/app/app.component.css
  Demos/Drawer/LeftOrRightPosition/React/styles.css
  Demos/Drawer/LeftOrRightPosition/ReactJs/styles.css
  Demos/Drawer/LeftOrRightPosition/Vue/App.vue
  Demos/Drawer/LeftOrRightPosition/jQuery/styles.css
  Demos/Drawer/TopOrBottomPosition/Angular/app/app.component.css
  Demos/Drawer/TopOrBottomPosition/React/styles.css
  Demos/Drawer/TopOrBottomPosition/ReactJs/styles.css
  Demos/Drawer/TopOrBottomPosition/Vue/App.vue
  Demos/Drawer/TopOrBottomPosition/jQuery/styles.css
Due: stylelint

Add pointerEventStrategy option to GlobalConfig for setting EventStrategy (#26060)
  packages/devextreme/js/common.d.ts
  packages/devextreme/js/events/pointer.js
  packages/devextreme/testing/tests/DevExpress.ui.events/pointerParts/strategySelectionTests.js
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update errors messages formatting (#26016)
  packages/devextreme/js/core/errors.js
  packages/devextreme/js/core/utils/error.js
  packages/devextreme/testing/tests/DevExpress.core/utils.error.tests.js
  packages/devextreme/testing/tests/DevExpress.data/odataStore.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/baseWidget.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

collection_widget: remove excessive doc tags from js file (model affects knockout docs) like 2e05dca2e5e9e427c9f08348097ceaa73d2350d7
  packages/devextreme/js/ui/collection/ui.collection_widget.edit.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

collection_widget: remove on props (re-defined in descendants)
  packages/devextreme/js/ui/collection/ui.collection_widget.base.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme/scss/widgets/fluent/filterBuilder/_sizes.scss
  packages/devextreme/scss/widgets/generic/filterBuilder/_sizes.scss
  packages/devextreme/scss/widgets/material/filterBuilder/_sizes.scss
Due: stylelint

Fluent: increase customization options for TextEditor in ThemeBuilder (#26059)
  packages/devextreme/scss/widgets/base/lookup/_mixins.scss
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/_sizes.scss
  packages/devextreme/scss/widgets/fluent/dateBox/_index.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/loadIndicator/_colors.scss
  packages/devextreme/scss/widgets/fluent/lookup/_colors.scss
  packages/devextreme/scss/widgets/fluent/lookup/_index.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/lookup/_colors.scss
  packages/devextreme/scss/widgets/generic/lookup/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/lookup/_colors.scss
  packages/devextreme/scss/widgets/material/lookup/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Due: stylelint

TreeView: add box-sizing style for items in drag demos (#3020)
  Demos/TreeView/DragAndDropHierarchicalDataStructure/Angular/app/app.component.css
  Demos/TreeView/DragAndDropHierarchicalDataStructure/React/styles.css
  Demos/TreeView/DragAndDropHierarchicalDataStructure/ReactJs/styles.css
  Demos/TreeView/DragAndDropHierarchicalDataStructure/Vue/App.vue
  Demos/TreeView/DragAndDropHierarchicalDataStructure/jQuery/styles.css
  Demos/TreeView/DragAndDropPlainDataStructure/Angular/app/app.component.css
  Demos/TreeView/DragAndDropPlainDataStructure/React/styles.css
  Demos/TreeView/DragAndDropPlainDataStructure/ReactJs/styles.css
  Demos/TreeView/DragAndDropPlainDataStructure/Vue/App.vue
  Demos/TreeView/DragAndDropPlainDataStructure/jQuery/styles.css
Due: stylelint

Rename function / Build internal packages only with env
  build/build-all.ts
  packages/devextreme/build/gulp/npm.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert "collection_widget: remove on props (re-defined in descendants)"
  packages/devextreme/js/ui/collection/ui.collection_widget.base.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert "collection_widget: remove excessive doc tags from js file (model affects knockout docs) like 2e05dca2e5e9e427c9f08348097ceaa73d2350d7"
  packages/devextreme/js/ui/collection/ui.collection_widget.edit.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert "grids: GridBase remove all declarations"
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert "grids: GridBase @hidden only for on props"
  packages/devextreme/js/common/grids.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix cell root element paddings
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/testing/testcafe/tests/scheduler/layout/templates/cellTemplate.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Skip exit on failed step
  .github/workflows/wrapper_tests.yml
Due: none

Angular: regenerate without event types for nested props
  packages/devextreme-angular/src/ui/nested/base/box-options.ts
  packages/devextreme-angular/src/ui/nested/base/button-options.ts
  packages/devextreme-angular/src/ui/nested/base/calendar-options.ts
  packages/devextreme-angular/src/ui/nested/base/filter-builder-options.ts
  packages/devextreme-angular/src/ui/nested/base/form-options.ts
  packages/devextreme-angular/src/ui/nested/base/tab-panel-options.ts
  packages/devextreme-angular/src/ui/nested/base/text-box-options.ts
  packages/devextreme-angular/src/ui/nested/base/text-editor-button-dxi.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix treeview selection color
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/treeView/_colors.scss
  packages/devextreme/scss/widgets/material/treeView/_colors.scss
Due: stylelint

React (25)
  packages/devextreme-react/src/bar-gauge.ts
  packages/devextreme-react/src/bullet.ts
  packages/devextreme-react/src/calendar.ts
  packages/devextreme-react/src/chart.ts
  packages/devextreme-react/src/circular-gauge.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-react/src/date-box.ts
  packages/devextreme-react/src/date-range-box.ts
  packages/devextreme-react/src/filter-builder.ts
  packages/devextreme-react/src/form.ts
  packages/devextreme-react/src/funnel.ts
  packages/devextreme-react/src/gantt.ts
  packages/devextreme-react/src/linear-gauge.ts
  packages/devextreme-react/src/number-box.ts
  packages/devextreme-react/src/pie-chart.ts
  packages/devextreme-react/src/polar-chart.ts
  packages/devextreme-react/src/range-selector.ts
  packages/devextreme-react/src/range-slider.ts
  packages/devextreme-react/src/sankey.ts
  packages/devextreme-react/src/scheduler.ts
  packages/devextreme-react/src/slider.ts
  packages/devextreme-react/src/sparkline.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-react/src/tree-map.ts
  packages/devextreme-react/src/validator.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Vue (13)
  packages/devextreme-vue/src/calendar.ts
  packages/devextreme-vue/src/chart.ts
  packages/devextreme-vue/src/data-grid.ts
  packages/devextreme-vue/src/date-box.ts
  packages/devextreme-vue/src/date-range-box.ts
  packages/devextreme-vue/src/form.ts
  packages/devextreme-vue/src/gantt.ts
  packages/devextreme-vue/src/pie-chart.ts
  packages/devextreme-vue/src/polar-chart.ts
  packages/devextreme-vue/src/range-selector.ts
  packages/devextreme-vue/src/scheduler.ts
  packages/devextreme-vue/src/tree-list.ts
  packages/devextreme-vue/src/validator.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

WIP
  packages/devextreme/js/__internal/core/license/license_validation_internal.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add compilation case for modules signatures
  packages/devextreme/js/__internal/core/license/license_validation_internal.ts
  packages/devextreme/testing/typescript/license_validation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update hover color
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
Due: stylelint

Fix lint
  packages/devextreme/js/__internal/core/license/license_validation_internal.ts
  packages/devextreme/testing/typescript/license_validation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Turn off accessibility tests for not accessible components and skip rest errors (#2978)
  Demos/Localization/UsingGlobalize/jQuery/index.html
Due: none

Fix TS-compilation tests
  packages/devextreme/build/gulp/ts.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Rollback unnecessary change
  packages/devextreme/build/gulp/ts.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix command env variables
  build/build-all.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent: fixing variable dependencies for customization via ThemeBuilder
  packages/devextreme/scss/widgets/fluent/_sizes.scss
  packages/devextreme/scss/widgets/fluent/accordion/_colors.scss
  packages/devextreme/scss/widgets/fluent/accordion/_index.scss
  packages/devextreme/scss/widgets/fluent/accordion/_sizes.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/button/_index.scss
  packages/devextreme/scss/widgets/fluent/card/_index.scss
  packages/devextreme/scss/widgets/fluent/dateBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/diagram/_index.scss
  packages/devextreme/scss/widgets/fluent/fileManager/_colors.scss
  packages/devextreme/scss/widgets/fluent/slider/_colors.scss
  packages/devextreme/scss/widgets/fluent/slider/_index.scss
  packages/devextreme/scss/widgets/fluent/switch/_colors.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/treeView/_colors.scss
  packages/devextreme/scss/widgets/material/_sizes.scss
  packages/devextreme/scss/widgets/material/accordion/_sizes.scss
  packages/devextreme/scss/widgets/material/slider/_colors.scss
  packages/devextreme/scss/widgets/material/slider/_index.scss
  packages/devextreme/scss/widgets/material/treeView/_colors.scss
Due: stylelint

Prepare internal packages (#26052)
  build/build-all.ts
  package-lock.json
  packages/devextreme/build/gulp/env-variables.js
  packages/devextreme/build/gulp/js-bundles.js
  packages/devextreme/build/gulp/npm.js
  packages/devextreme/build/gulp/ts.js
  packages/devextreme/build/gulp/utils.js
  packages/devextreme/build/package.json
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/core/license/license_validation_internal.ts
  packages/devextreme/js/__internal/core/license/types.ts
  packages/devextreme/package.json
  packages/devextreme/testing/typescript/license_validation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix review
  packages/devextreme/scss/widgets/base/filterBuilder/_index.scss
  packages/devextreme/scss/widgets/fluent/filterBuilder/_colors.scss
  packages/devextreme/scss/widgets/fluent/filterBuilder/_index.scss
  packages/devextreme/scss/widgets/fluent/filterBuilder/_sizes.scss
  packages/devextreme/scss/widgets/generic/filterBuilder/_colors.scss
  packages/devextreme/scss/widgets/generic/filterBuilder/_index.scss
  packages/devextreme/scss/widgets/material/filterBuilder/_colors.scss
  packages/devextreme/scss/widgets/material/filterBuilder/_index.scss
  packages/devextreme/scss/widgets/material/filterBuilder/_sizes.scss
Due: stylelint

fix text color in slider tooltip
  packages/devextreme/scss/widgets/fluent/slider/_colors.scss
Due: stylelint

SelectBox Customize Drop-Down Button - fix button template size (#3031)
  Demos/SelectBox/CustomizeDropDownButton/Angular/app/app.component.css
  Demos/SelectBox/CustomizeDropDownButton/React/styles.css
  Demos/SelectBox/CustomizeDropDownButton/ReactJs/styles.css
  Demos/SelectBox/CustomizeDropDownButton/Vue/App.vue
  Demos/SelectBox/CustomizeDropDownButton/jQuery/styles.css
Due: stylelint

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
