Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

Fluent-next: measure contrast where the bundle itself pairs a text with its background
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tools/review/roles.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: ask whether one concept gets one role across all components
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tools/review/roles.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: record where a role decision was mine rather than read off a source
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: check role assignment against the package component tier (tools/review/roles.mjs)
  packages/devextreme-scss/scss/widgets/fluent-next/checkBox/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/switch/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/tabs/variables/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/textEditor/_colors.scss
  packages/devextreme-scss/tools/review/roles.mjs
Due: stylelint

Fluent-next: check four questions against Fluent 2 itself, and revert what it contradicts
  packages/devextreme-scss/scss/widgets/fluent-next/checkBox/_colors.scss
  packages/devextreme-scss/tests/roles.baseline.json
Due: stylelint

Fluent-next: half the coverage gap was my spelling, not a missing counterpart
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/tools/review/roles.mjs
Due: none

Fluent-next: measure the state ladders the theme declares but does not climb
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tools/review/roles.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: measure whether the neighbours agree with each other
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: none

Fluent-next: turn dx-no-semantic-role into a decision table and gate the step reads
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tools/review/roles.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: generate the decision pages, and fix the line numbers they print
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_TYPOGRAPHY.html
  packages/devextreme-scss/tools/review/roles-pages.mjs
  packages/devextreme-scss/tools/review/roles.mjs
Due: none

Fluent-next: decide all 59 role disagreements and read the slot against the built CSS
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tools/review/roles.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: gate the role comparison so the 25 open disagreements cannot go stale
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tools/review/roles.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: put the coverage analysis on the page, and stop it contradicting itself
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: the package's focus-rect component was invisible to the comparison
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tools/review/roles.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: danger does not pass elsewhere either - widen П2 from one row to twelve
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: delete the dead list-border-disabled, rule and all
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/scss/widgets/fluent-next/list/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/list/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/list/_public.scss
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: stylelint

Fluent-next: make a stale decision page a red test instead of a habit
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: Д3 accepted - the on-switch focused border joins its own ladder
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/scss/widgets/fluent-next/switch/_colors.scss
  packages/devextreme-scss/tests/roles.baseline.json
Due: stylelint

Fluent-next: print the count of applied fixes from the data, not from prose
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: none

Fluent-next: record why a contrast pair below AA does not turn the dark job red
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: none

Fluent-next: measure contrast across a state change, and fix the verdict it contradicts
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/scss/widgets/fluent-next/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/common/_colors.scss
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tools/review/roles-pages.mjs
  packages/devextreme-scss/tools/review/roles.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Fluent-next: close category Г - 23 names now say where they are used
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/scss/widgets/fluent-next/colorView/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/colorView/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/colorView/_public.scss
  packages/devextreme-scss/scss/widgets/fluent-next/dateView/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/dateView/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/dateView/_public.scss
  packages/devextreme-scss/scss/widgets/fluent-next/filterBuilder/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/filterBuilder/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/filterBuilder/_public.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gallery/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/pivotGrid/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/pivotGrid/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/pivotGrid/_public.scss
  packages/devextreme-scss/scss/widgets/fluent-next/scheduler/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/scheduler/_public.scss
  packages/devextreme-scss/scss/widgets/fluent-next/textEditor/_index.scss
  packages/devextreme-scss/tests/disabled-both-forms.baseline.json
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tools/naming/mapping.json
  packages/devextreme-scss/tools/review/roles-pages.mjs
  packages/devextreme-scss/tools/review/roles.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Fluent-next: Д7 was measuring the wrong element - the splitter bar itself fails in light
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: none

Fluent-next: restore the numbering people actually read, and show what closed
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: none

Fluent-next: the tabs indicator is a selector, not a border - rename all seven
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/scss/widgets/fluent-next/tabs/_public.scss
  packages/devextreme-scss/scss/widgets/fluent-next/tabs/layout/tab/styling-mode/_primary.scss
  packages/devextreme-scss/scss/widgets/fluent-next/tabs/layout/tab/styling-mode/_secondary.scss
  packages/devextreme-scss/scss/widgets/fluent-next/tabs/variables/_colors.scss
  packages/devextreme-scss/tests/roles.baseline.json
Due: stylelint

Fluent-next: answer the three unification rows, and make the closing balance provable
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: Д5 accepted on the alpha ladder, Д19 accepted as deliberate, Д6 re-read
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/scss/widgets/fluent-next/accordion/_colors.scss
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Fluent-next: Д1 and Д2 accepted - the gallery scrim moves onto the static surface family
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/scss/widgets/fluent-next/gallery/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gallery/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gallery/_public.scss
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: stylelint

Fluent-next: treeView should not style the checkbox at all - remove its disabled overrides
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/scss/widgets/fluent-next/treeView/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/treeView/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/treeView/_public.scss
  packages/devextreme-scss/tests/roles.baseline.json
Due: stylelint

Fluent-next: scope treeView's focused override away from disabled checkboxes
  packages/devextreme-scss/scss/widgets/fluent-next/treeView/_index.scss
Due: stylelint

Fluent-next: Д8 is a dead declaration and Д9 is its own ladder - neither is a colour to pick
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: none

Fluent-next: question numbers were positional, so closing one moved all the others
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: none

Fluent-next: re-check every Blazor citation against a freshly pulled dxvcs
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: none

Fluent-next: close Д22 by removing the block, and Д16, Д10, Д12, Д13 by their answers
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/scss/widgets/fluent-next/treeView/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/treeView/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/treeView/_public.scss
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tools/review/roles-pages.mjs
  packages/devextreme-scss/tools/review/unread-tier.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Fluent-next: treeView keeps the focus indication, now on the checkbox roles
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/scss/widgets/fluent-next/treeView/_index.scss
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tools/naming/derive-registries.mjs
  packages/devextreme-scss/tools/naming/registries.json
Due: stylelint

Fluent-next: draw every open question, and let the reader switch light and dark
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_TYPOGRAPHY.html
  packages/devextreme-scss/tools/review/roles-pages.mjs
  packages/devextreme-scss/tools/review/roles.mjs
Due: none

Fluent-next: NFR-1 retired, Д18 and Д20 and Д24 closed, Д10-Д14 validated
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/scss/widgets/fluent-next/fileUploader/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/radioButton/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/scheduler/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/scheduler/_public.scss
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tools/naming/mapping.json
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Fluent-next: Д16 option 1 - focus takes the hovered rung, the press keeps the package's
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/scss/widgets/fluent-next/checkBox/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/checkBox/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/checkBox/_public.scss
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tests/roles.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Fluent-next: Д21 applied - the ring and the mark get a name each
  packages/devextreme-scss/scss/widgets/base/radioButton/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/scss/widgets/fluent-next/radioButton/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/radioButton/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/radioButton/_public-links.scss
  packages/devextreme-scss/scss/widgets/fluent-next/radioButton/_public.scss
  packages/devextreme-scss/scss/widgets/fluent-next/slider/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/slider/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/slider/_public.scss
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: stylelint

Fluent-next: the checkbox hover answers Д6 and turns up a tier the neighbours walk around
  packages/devextreme-scss/scss/widgets/fluent-next/ROLES_QUESTIONS.html
  packages/devextreme-scss/tests/roles.baseline.json
  packages/devextreme-scss/tools/review/roles-pages.mjs
Due: none
