Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Scheduler: refactor Shaders module (#32702)
  packages/devextreme/js/__internal/scheduler/shaders/current_time_shader.ts
  packages/devextreme/js/__internal/scheduler/shaders/current_time_shader_horizontal.ts
  packages/devextreme/js/__internal/scheduler/shaders/current_time_shader_vertical.ts
  packages/devextreme/js/__internal/scheduler/shaders/m_current_time_shader_horizontal.ts
  packages/devextreme/js/__internal/scheduler/shaders/m_current_time_shader_vertical.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

T1322130, T1322440 - DataGrid - Keyboard navigation works incorrectly if group row expand icon is focused (#32680)
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/grid_core.ts
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/row/group_row.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/__tests__/helpers/const.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/__tests__/helpers/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/__tests__/keyboard_navigation.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: fix bug
  packages/devextreme/js/__internal/scheduler/m_subscribes.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix deps after security alerts
  e2e/bundlers/package.json
  pnpm-lock.yaml
Due: none

Dependencies: Replace lodash.isequal from quill-delta to fast-deep-equal
  package.json
  pnpm-lock.yaml
Due: none

unskip and mock tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/store.xmla.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove xmla integration tests from datasource
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/dataSource_bundled.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove intranet check
  packages/devextreme/testing/helpers/pivotGridTestSettings.js
  packages/devextreme/testing/runner/Controllers/MainController.cs
  packages/devextreme/testing/runner/Models/BaseRunViewModel.cs
  packages/devextreme/testing/runner/Program.cs
  packages/devextreme/testing/runner/Tools/RunFlags.cs
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Remove hardcoded modules to feature map
  packages/devextreme/js/__internal/grids/__docs__/scripts/constants.ts
  packages/devextreme/js/__internal/grids/__docs__/scripts/graph-builder.ts
  packages/devextreme/js/__internal/grids/__docs__/scripts/html-template.ts
  packages/devextreme/js/__internal/grids/__docs__/scripts/parser.ts
  packages/devextreme/js/__internal/grids/__docs__/scripts/resolver.ts
  packages/devextreme/js/__internal/grids/__docs__/scripts/types.ts
  packages/devextreme/js/__internal/grids/__docs__/tsconfig.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: create auto doc script
  packages/devextreme/.gitignore
  packages/devextreme/js/__internal/grids/__docs__/scripts/cli.ts
  packages/devextreme/js/__internal/grids/__docs__/scripts/constants.ts
  packages/devextreme/js/__internal/grids/__docs__/scripts/generate-architecture-doc.ts
  packages/devextreme/js/__internal/grids/__docs__/scripts/graph-builder.ts
  packages/devextreme/js/__internal/grids/__docs__/scripts/html-template.ts
  packages/devextreme/js/__internal/grids/__docs__/scripts/parser.ts
  packages/devextreme/js/__internal/grids/__docs__/scripts/resolver.ts
  packages/devextreme/js/__internal/grids/__docs__/scripts/types.ts
  packages/devextreme/js/__internal/grids/__docs__/tsconfig.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

T1322130, T1322440 - DataGrid - Keyboard navigation works incorrectly if group row expand icon is focused (#32708)
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/grid_core.ts
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/row/group_row.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/__tests__/helpers/const.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/__tests__/helpers/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/__tests__/keyboard_navigation.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

T1322130, T1322440 - DataGrid - Keyboard navigation works incorrectly if group row expand icon is focused (#32709)
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/grid_core.ts
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/row/group_row.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/__tests__/helpers/const.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/__tests__/helpers/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/__tests__/keyboard_navigation.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Remove scripts from build
  packages/devextreme/js/__internal/grids/__docs__/scripts/generate-architecture-doc.ts
  packages/devextreme/js/__internal/grids/__docs__/scripts/html-template.ts
  packages/devextreme/js/__internal/grids/__docs__/scripts/resolver.ts
  packages/devextreme/js/__internal/grids/__docs__/tsconfig.json
  packages/devextreme/project.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update stylelint config
  .vscode/settings.json
Due: none

Fix deps after security alerts (#32693)
  apps/demos/package.json
  e2e/bundlers/package.json
  package.json
  pnpm-lock.yaml
Due: none

DataGrid - Keyboard navigation - e2e tests: Fix unstable tests. And remove CardView.filterSync tests (#32679)
  e2e/testcafe-devextreme/tests/cardView/filterSync/api.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/keyboardNavigation.functional.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Stylelint: Update VSCode settings (#32715)
  .vscode/settings.json
Due: none

bump devexpress-gantt version (T1320538)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

remove systemjs-builder from deps
  apps/demos/package.json
  apps/demos/utils/bundle/index.js
  pnpm-lock.yaml
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove systemjs-builder from deps update lock
  pnpm-lock.yaml
Due: none

update deps
  package.json
  pnpm-lock.yaml
Due: none

update deps
  package.json
  packages/nx-infra-plugin/package.json
  pnpm-lock.yaml
Due: none

update deps
  apps/vue/package.json
Due: none

apply copilot's review
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/store.xmla.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

rewrite jquery demo
  apps/demos/Demos/Scheduler/AppointmentOverlapping/jQuery/data.js
  apps/demos/Demos/Scheduler/AppointmentOverlapping/jQuery/index.html
  apps/demos/Demos/Scheduler/AppointmentOverlapping/jQuery/index.js
  apps/demos/Demos/Scheduler/AppointmentOverlapping/jQuery/styles.css
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Update Following Feedback
  apps/demos/Demos/TreeView/ItemSelectionAndCustomization/React/description.md
  apps/demos/Demos/TreeView/ItemSelectionAndCustomization/ReactJs/description.md
  apps/demos/Demos/TreeView/ItemSelectionAndCustomization/description.md
Due: none

DataGrid - Testcafe tests - Keyboard navigation: unskip tests
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/keyboardNavigation.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/keyboardNavigation.visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
