Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Add timelineWeek test
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Due: eslint

Add timelineDay tests
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
Due: eslint

Remove code
  js/ui/scheduler/workspaces/ui.scheduler.timeline_week.js
Due: eslint

FileManager - Fix method return type for documentation (#12734)
  js/file_management/provider_base.d.ts
  ts/dx.all.d.ts
Due: none

FileManager - Update toolbar clear selection command name (#12731)
  js/docEnums.js
  js/localization/messages/de.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fr.json
  js/localization/messages/ja.json
  js/localization/messages/ru.json
  js/ui/file_manager.d.ts
  js/ui/file_manager/ui.file_manager.command_manager.js
  js/ui/file_manager/ui.file_manager.js
  js/ui/file_manager/ui.file_manager.toolbar.js
  ts/dx.all.d.ts
Due: eslint

FileManager - Update API for obtaining the FileSystemItem extension (#12732)
  js/file_management/file_system_item.d.ts
  js/file_management/file_system_item.js
  js/ui/file_manager/file_items_controller.js
  ts/dx.all.d.ts
Due: eslint

dxScheduler - added lockers from mutual scrolling(T852993) (#12434)
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Due: eslint

cherry pick work_space
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: eslint

cherry pick helper.js from 19.2
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
Due: eslint

dxGantt: Add icons and hints to bars
  images/widgets/common/gantt/add-sub-task.svg
  images/widgets/common/gantt/add-task.svg
  images/widgets/common/gantt/add.svg
  images/widgets/common/gantt/collapse.svg
  images/widgets/common/gantt/delete-dependency.svg
  images/widgets/common/gantt/delete.svg
  images/widgets/common/gantt/expand.svg
  images/widgets/common/gantt/full-screen.svg
  images/widgets/common/gantt/redo.svg
  images/widgets/common/gantt/task-details.svg
  images/widgets/common/gantt/undo.svg
  images/widgets/common/gantt/zoom-in.svg
  images/widgets/common/gantt/zoom-out.svg
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh.json
  js/ui/gantt/ui.gantt.bars.js
  js/ui/gantt/ui.gantt.js
  js/ui/gantt/ui.gantt.view.js
  styles/widgets/base/gantt.less
  styles/widgets/generic/gantt.generic.less
  styles/widgets/material/gantt.material.less
Due: eslint, stylelint

FileManager - Fix allowedFileExtensions option default value
  js/ui/file_manager.d.ts
  js/ui/file_manager/ui.file_manager.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Due: eslint

FileManager - Fix allowedFileExtensions option default value (#12738)
  js/ui/file_manager.d.ts
  js/ui/file_manager/ui.file_manager.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Due: eslint

Diagram - fix toolbars context menu incorrect showing + refactoring
  js/ui/diagram/ui.diagram.toolbar.js
Due: eslint

Remove extrernal style
  build/gulp/scss/theme-replacements.js
  styles/widgets/generic/toolbar.generic.less
  styles/widgets/material/toolbar.material.less
Due: eslint, stylelint

Adds functional tests
  testing/functional/model/dataGrid.ts
  testing/functional/tests/dataGrid/editing.ts
Due: none

Revert code block setInitialPopupSize in helper
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
Due: eslint

Editor should validate the current value before the "valueChanged" event occurs (T878544)
  js/ui/editor/editor.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
Due: eslint

ContextMenu - Fix changing visible option (T879766) (#12693)
  js/ui/context_menu/ui.menu_base.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Due: eslint

Fix getTimePanel
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.crossScrollingEnabled.tests.js
Due: eslint

Improve themes and fix test
  styles/widgets/generic/gantt.generic.less
  styles/widgets/material/gantt.material.less
  testing/tests/DevExpress.ui.widgets/gantt.tests.js
Due: eslint, stylelint

Fix tests
  js/ui/diagram/ui.diagram.context_menu.js
  js/ui/diagram/ui.diagram.js
  testing/helpers/diagramHelpers.js
  testing/tests/DevExpress.ui.widgets/diagramParts/mainToolbar.tests.js
Due: eslint

Fix scss
  build/gulp/scss/generator.js
  build/gulp/scss/theme-replacements.js
Due: eslint

dxGantt: Add icons and hints to bars (#12737)
  build/gulp/scss/generator.js
  build/gulp/scss/theme-replacements.js
  images/widgets/common/gantt/add-sub-task.svg
  images/widgets/common/gantt/add-task.svg
  images/widgets/common/gantt/add.svg
  images/widgets/common/gantt/collapse.svg
  images/widgets/common/gantt/delete-dependency.svg
  images/widgets/common/gantt/delete.svg
  images/widgets/common/gantt/expand.svg
  images/widgets/common/gantt/full-screen.svg
  images/widgets/common/gantt/redo.svg
  images/widgets/common/gantt/task-details.svg
  images/widgets/common/gantt/undo.svg
  images/widgets/common/gantt/zoom-in.svg
  images/widgets/common/gantt/zoom-out.svg
  js/localization/messages/cs.json
  js/localization/messages/de.json
  js/localization/messages/el.json
  js/localization/messages/en.json
  js/localization/messages/es.json
  js/localization/messages/fi.json
  js/localization/messages/fr.json
  js/localization/messages/hu.json
  js/localization/messages/it.json
  js/localization/messages/ja.json
  js/localization/messages/nl.json
  js/localization/messages/pt.json
  js/localization/messages/ru.json
  js/localization/messages/sl.json
  js/localization/messages/sv.json
  js/localization/messages/tr.json
  js/localization/messages/vi.json
  js/localization/messages/zh.json
  js/ui/gantt/ui.gantt.bars.js
  js/ui/gantt/ui.gantt.js
  js/ui/gantt/ui.gantt.view.js
  styles/widgets/base/gantt.less
  styles/widgets/generic/gantt.generic.less
  styles/widgets/material/gantt.material.less
  testing/tests/DevExpress.ui.widgets/gantt.tests.js
Due: eslint, stylelint

Fix tests on Touch devices
  js/ui/diagram/ui.diagram.js
Due: eslint

Fix double borders between tabs and multiview (part of T879157)
  styles/widgets/generic/tabPanel.generic.less
Due: stylelint

dxScheduler - added lockers from mutual scrolling(T852993) (#12736)
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.crossScrollingEnabled.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Due: eslint

Another fix
  styles/widgets/generic/tabPanel.generic.less
Due: stylelint

Remove redundant argument
  js/ui/file_manager/ui.file_manager.toolbar.js
Due: eslint

fix compact mode issue
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

Fix issue with custom toolbar items in compact mode
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

Fix problem with empty group
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

Fix problem with item location
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

Code refactor
  js/ui/file_manager/ui.file_manager.toolbar.js
Due: eslint

Apply workaround for regression with item render in menu after first load
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

Refactor a bit
  js/ui/file_manager/ui.file_manager.toolbar.js
Due: eslint

Update test
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

File manager - Fix toolbar separators calculation (#12698)
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

Diagram - UI/UX fixes (#12727)
  js/ui/diagram/ui.diagram.context_menu.js
  js/ui/diagram/ui.diagram.context_toolbox.js
  js/ui/diagram/ui.diagram.floating_panel.js
  js/ui/diagram/ui.diagram.js
  js/ui/diagram/ui.diagram.panel.js
  js/ui/diagram/ui.diagram.properties_panel.js
  js/ui/diagram/ui.diagram.toolbar.js
  package.json
  styles/widgets/common/diagram.less
  testing/helpers/diagramHelpers.js
  testing/tests/DevExpress.ui.widgets/diagramParts/mainToolbar.tests.js
Due: eslint, stylelint

dxGantt: Fix toolbar items
  images/widgets/common/gantt/add-sub-task.svg
  images/widgets/common/gantt/add-task.svg
  images/widgets/common/gantt/add.svg
  images/widgets/common/gantt/collapse.svg
  images/widgets/common/gantt/delete-dependency.svg
  images/widgets/common/gantt/delete.svg
  images/widgets/common/gantt/expand.svg
  images/widgets/common/gantt/full-screen.svg
  images/widgets/common/gantt/redo.svg
  images/widgets/common/gantt/task-details.svg
  images/widgets/common/gantt/undo.svg
  images/widgets/common/gantt/zoom-in.svg
  images/widgets/common/gantt/zoom-out.svg
  js/docEnums.js
  js/ui/gantt.d.ts
  package.json
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/gantt.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/gantt.material.less
  ts/dx.all.d.ts
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.js
  stylelint: any of: *.{css,less}
