Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Add missing tests on events for Popup and Overlay (#11719)
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Due: eslint

List (Sortable) - Fix item dragging to the top position when allowReordering is false (T856292)
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Due: eslint

Fix Lookup styles for compact themes (T856794) (#11725)
  styles/widgets/generic/lookup.generic.less
Due: stylelint

Drone CI: colorized logs (#11721)
  .drone.yml
Due: none

Fix up test
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Due: eslint

Add missing tests for a DateBox widget
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Due: eslint

refactor 'intl' polyfill import
  testing/runner/Views/Main/RunSuite.cshtml
  testing/tests/DevExpress.localization/localization.intl.tests.js
  testing/tests/DevExpress.localization/localization.intl.widgets.tests.js
Due: eslint

Scheduler - Reduce test speed in unstable functional tests (#11706)
  testing/functional/tests/scheduler/appointmentForm.ts
  testing/functional/tests/scheduler/deleteAppointments.ts
  testing/functional/tests/scheduler/grouping/groupingByDate.ts
Due: none

Add missing tests on events for Popup and Overlay (#11719) (#11731)
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Due: eslint

Fix Lookup styles for compact themes (T856794) (#11725) (#11727)
  styles/widgets/generic/lookup.generic.less
Due: stylelint

Fix Lookup styles for compact themes (T856794) (#11725) (#11726)
  styles/widgets/generic/lookup.generic.less
Due: stylelint

Add missing tests on events for Popup and Overlay (#11719) (#11730)
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Due: eslint

Move file to renovation folder
  js/renovation/dist/button.j.jsx
  js/renovation/dist/widget.j.jsx
  js/renovation/preact_wrapper.js
Due: eslint

Less refactoring for scss generation (icons, typography, button, buttonGroup, scrollView) (#11629)
  styles/widgets/base/icons.less
  styles/widgets/common/checkBox.less
  styles/widgets/common/dropDownEditor.less
  styles/widgets/common/menu.less
  styles/widgets/common/radioGroup.less
  styles/widgets/generic/autocomplete.generic.less
  styles/widgets/generic/checkBox.generic.less
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/common.generic.less
  styles/widgets/generic/contextMenu.generic.less
  styles/widgets/generic/dropDownEditor.generic.less
  styles/widgets/generic/fieldset.generic.less
  styles/widgets/generic/gridBase.generic.less
  styles/widgets/generic/lookup.generic.less
  styles/widgets/generic/radioGroup.generic.less
  styles/widgets/generic/tagBox.generic.less
  styles/widgets/generic/textBox.generic.less
  styles/widgets/generic/textEditor.generic.less
  styles/widgets/generic/typography.generic.less
  styles/widgets/material/autocomplete.material.less
  styles/widgets/material/checkBox.material.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/common.material.less
  styles/widgets/material/dropDownEditor.material.less
  styles/widgets/material/fieldset.material.less
  styles/widgets/material/gridBase.material.less
  styles/widgets/material/radioGroup.material.less
  styles/widgets/material/tagBox.material.less
  styles/widgets/material/textBox.material.less
  styles/widgets/material/textEditor.material.less
  styles/widgets/material/typography.material.less
Due: stylelint

Scheduler - Reduce test speed in unstable functional tests (#11734)
  testing/functional/tests/scheduler/appointmentForm.ts
  testing/functional/tests/scheduler/deleteAppointments.ts
  testing/functional/tests/scheduler/grouping/groupingByDate.ts
Due: none

First step for generator
  build/gulp/scss.js
  gulpfile.js
  package.json
  spike-scss/bundles/dx.light.scss
  spike-scss/widgets/base/_button.scss
  spike-scss/widgets/generic/_index.scss
  spike-scss/widgets/generic/accordion/_colors.scss
  spike-scss/widgets/generic/accordion/_index.scss
  spike-scss/widgets/generic/accordion/_sizes.scss
  spike-scss/widgets/generic/button/_colors.scss
  spike-scss/widgets/generic/button/_index.scss
  spike-scss/widgets/generic/button/_sizes.scss
  spike-scss/widgets/generic/component/_index.scss
Due: eslint

Tiny refactoring
  build/gulp/scss/generator.js
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
Due: eslint

Scss generator refactoring
  build/gulp/scss/compiler.js
  build/gulp/scss/config.js
  build/gulp/scss/generator.js
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
  build/gulp/scss/tasks.js
  gulpfile.js
Due: eslint

dx-card, dx-fieldset
  build/gulp/scss/generator.js
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
Due: eslint

colors and sizes for widgets generation
  build/gulp/scss.js
Due: eslint

typography start
  build/gulp/scss.js
Due: eslint

Add task to the travis
  .travis.yml
  docker-ci.sh
Due: none

generator refactoring
  build/gulp/scss/compiler.js
  build/gulp/scss/generator.js
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
  build/gulp/scss/tasks.js
Due: eslint

Add button
  build/gulp/scss/generator.js
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
Due: eslint

Update .drone.yml
  .drone.yml
Due: none

fix old test
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Due: eslint

Renovation: make renovation folder (#11696)
  build/gulp/generator.js
  jest.config.js
  js/bundles/modules/parts/widgets-base.js
  js/renovation/button.tsx
  js/renovation/dist/button.j.jsx
  js/renovation/dist/widget.j.jsx
  js/renovation/preact_wrapper.js
  js/renovation/widget.tsx
  package.json
  testing/helpers/qunitExtensions.js
  testing/jest/.eslintrc
  testing/jest/button.tests.tsx
  testing/jest/setup-enzyme.js
  testing/jest/widget.tests.tsx
  testing/tests/Renovation/__meta.json
  testing/tests/Renovation/widget.tests.js
  tsconfig.json
  tslint.json
Due: eslint

Add scss to the drone
  .drone.yml
Due: none

Fix task name
  build/gulp/scss/replacements.js
  docker-ci.sh
Due: eslint

Remove some code for deprecated formatWidthCalculator and closeOnValueChange DateBox options
  js/ui/date_box/ui.date_box.base.js
  js/ui/shared/ui.editor_factory_mixin.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Due: eslint

Fix lint
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Due: eslint

Fix uncaught exception when a legend is hidden (T854736)
  js/viz/components/legend.js
  testing/tests/DevExpress.viz.core/legend.tests.js
Due: eslint

Make all task series
  .gitignore
  build/gulp/scss/generator.js
  build/gulp/scss/tasks.js
Due: eslint

Renovation: implement Button.stylingMode
  js/renovation/button.tsx
  js/renovation/widget.tsx
  testing/jest/button.tests.tsx
  testing/jest/widget.tests.tsx
  testing/tests/Renovation/widget.tests.js
Due: eslint

Add confirmation dialog draft and move dialog inits to ctor
  js/ui/file_manager/ui.file_manager.dialog.folder_chooser.js
  js/ui/file_manager/ui.file_manager.dialogManager.js
  js/ui/file_manager/ui.file_manager.dialog_manager.js
  js/ui/file_manager/ui.file_manager.editing.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  stylelint: any of: *.{css,less}
