Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Cut the comments back to what the code cannot say itself
  e2e/testcafe-devextreme/tests/common/themeModes.ts
  packages/devextreme-scss/build/tokens/build-tokens.mjs
  packages/devextreme-scss/scss/widgets/fluent-next/_design-system.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gridBase/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/textEditor/_colors.scss
  packages/devextreme-scss/tests/fluent-next-naming.test.ts
  packages/devextreme-scss/tests/theme-mode-scope.test.ts
  packages/devextreme-scss/tools/naming/derive-registries.mjs
  packages/devextreme/js/__internal/core/utils/swatch_container.ts
  packages/devextreme/js/__internal/core/utils/theme_mode.ts
  packages/devextreme/js/__internal/ui/m_themes_callback.ts
  packages/devextreme/js/__internal/ui/overlay/overlay.ts
  packages/devextreme/js/__internal/ui/overlay/overlay_position_controller.ts
  packages/devextreme/js/__internal/ui/themes.ts
  packages/devextreme/playground/theme-modes.html
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Keep the theme-modes playground page out of the PR
  packages/devextreme/playground/theme-modes.html
Due: none

override deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Grids - DataController: Extract user state knowledge to extenders (#35104)
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/types.ts
  packages/devextreme/js/__internal/grids/grid_core/search/__tests__/search_data_controller.user_state.test.ts
  packages/devextreme/js/__internal/grids/grid_core/search/m_search.ts
  packages/devextreme/js/__internal/grids/tree_list/__tests__/__mock__/helpers/utils.ts
  packages/devextreme/js/__internal/grids/tree_list/__tests__/state_storing.user_state.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: colorView is a fitted layout, not a scale case
  packages/devextreme-scss/scss/widgets/fluent-next/colorView/_sizes.scss
Due: stylelint

Grids - FilterController: Cover the current filter behavior with tests (#35090)
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/helpers/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/__tests__/m_utils.combine_filters.test.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/__tests__/columns_controller.update_filter.test.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/__tests__/data_controller.combined_filter.test.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/__tests__/filter_sync.filter_value_edge_cases.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Map: skip lifecycle events for unsuccessful OSM routes
  packages/devextreme/js/__internal/ui/map/provider.dynamic.osm.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/osmTests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Map: skip OSM routing for unresolved waypoints
  packages/devextreme/js/__internal/ui/map/provider.dynamic.osm.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/osmTests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Map: hide OSM route strokes with zero weight
  packages/devextreme/js/__internal/ui/map/provider.dynamic.osm.openlayers.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/osmTests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids - FilterController: Move the filter build into FilterController (#35097)
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/filter.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/filter_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/filter_module.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_row/m_filter_row.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/extenders/filter_sync_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/extenders/filter_sync_filter_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/filter_sync_module.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/search/m_search.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/module_not_extended/filter.ts
  packages/devextreme/testing/helpers/gridBaseMocks.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: retarget store, getDataSource, getCachedStoreData, loadingOperationTypes methods (#35099)
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/ai_assistant_integration_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/controllers/m_ai_column_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source/__tests__/data_source_controller.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source/data_source_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/search/m_search.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/devextreme/testing/helpers/gridBaseMocks.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.accessibility.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids - FilterController: Move `isFilterSyncActive` into FilterController (#35109)
  packages/devextreme/js/__internal/grids/grid_core/filter/filter_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/extenders/filter_sync_column_headers_view.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/extenders/filter_sync_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/extenders/filter_sync_filter_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/m_filter_sync.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Rename files: remove m_ prefix
  packages/devextreme/js/__internal/ui/number_box/number_box.base.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.caret.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.mask.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.spin.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.spins.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.ts
  packages/devextreme/js/__internal/ui/number_box/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids - DataController: Extract summary loadAll knowledge to extenders
  packages/devextreme/js/__internal/grids/data_grid/summary/extenders/__tests__/summary_data_controller.load_all_items.test.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/extenders/summary_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: retarget `key` and `keyOf` methods
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/helpers/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/ai_assistant_integration_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/controllers/m_ai_column_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/controllers/m_ai_column_integration_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source/__tests__/data_source_controller.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source/data_source_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/provider.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/types.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/extenders/editing_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source/__tests__/data_source_controller.integration.test.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source/data_source_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/__tests__/add_row_generated_key.integration.test.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/tree_list/m_focus.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids - FilterController: Move the filter build into FilterController (#35111)
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/filter.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/filter_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/filter_module.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_row/m_filter_row.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/extenders/filter_sync_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/extenders/filter_sync_filter_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/filter_sync_module.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/search/m_search.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/module_not_extended/filter.ts
  packages/devextreme/testing/helpers/gridBaseMocks.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore(deps): fix deps alerts (#35112)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): fix deps alerts (#35114)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Nx: remove the dead lint-css and test-styles targets of the devextreme project
  packages/devextreme/project.json
Due: none

chore(deps): fix deps alerts (#35110)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Map: warn once when OSM route calculation is unconfigured
  packages/devextreme/js/__internal/ui/map/provider.dynamic.osm.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/osmTests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Nx: remove the dead lint-css and test-styles targets of the devextreme project (#35120)
  packages/devextreme/project.json
Due: none

Nx: remove the dead lint-css and test-styles targets of the devextreme project (#35121)
  packages/devextreme/project.json
Due: none

Grids: retarget store, getDataSource, getCachedStoreData, loadingOperationTypes methods
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/ai_assistant_integration_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/controllers/m_ai_column_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source/__tests__/data_source_controller.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source/data_source_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/search/m_search.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/devextreme/testing/helpers/gridBaseMocks.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.accessibility.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Tabs: label icon-only tabs after their icon, as Button does (#5077)
  apps/demos/testing/common.test.ts
  e2e/testcafe-devextreme/tests/accessibility/tabPanel.ts
  e2e/testcafe-devextreme/tests/accessibility/tabs.ts
  packages/devextreme/js/__internal/core/utils/m_icon.ts
  packages/devextreme/js/__internal/ui/button/button.tsx
  packages/devextreme/js/__internal/ui/tab_panel/tab_panel.ts
  packages/devextreme/js/__internal/ui/tabs/tabs.ts
  packages/devextreme/testing/tests/DevExpress.core/utils.icon.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Core: remove m_ prefix from events_strategy file
  packages/devextreme/js/__internal/core/events_strategy.ts
  packages/devextreme/js/__internal/integration/knockout/validation.ts
  packages/devextreme/js/core/events_strategy.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids - FilterController: Move `isFilterSyncActive` into FilterController (#35118)
  packages/devextreme/js/__internal/grids/grid_core/filter/filter_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/extenders/filter_sync_column_headers_view.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/extenders/filter_sync_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/extenders/filter_sync_filter_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/m_filter_sync.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: retarget store, getDataSource, getCachedStoreData, loadingOperationTypes methods (#35116)
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/ai_assistant_integration_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/controllers/m_ai_column_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source/__tests__/data_source_controller.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source/data_source_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/search/m_search.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/state_storing/m_state_storing.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/devextreme/testing/helpers/gridBaseMocks.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/filterSync.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.accessibility.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids - DataController: type the loadAllItems deferred to drop the resolve cast
  packages/devextreme/js/__internal/grids/data_grid/summary/extenders/summary_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids - FilterController: Cover the current filter behavior with tests (#35119)
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/helpers/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/__tests__/m_utils.combine_filters.test.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/__tests__/columns_controller.update_filter.test.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/__tests__/data_controller.combined_filter.test.ts
  packages/devextreme/js/__internal/grids/grid_core/filter_sync/__tests__/filter_sync.filter_value_edge_cases.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

NumberBox: refactor and improve typing
  packages/devextreme/js/__internal/core/localization/number.ts
  packages/devextreme/js/__internal/ui/chat/message_box/chat_text_area.ts
  packages/devextreme/js/__internal/ui/color_box/color_view.ts
  packages/devextreme/js/__internal/ui/date_box/date_box.mask.ts
  packages/devextreme/js/__internal/ui/date_box/time_view.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/drop_down_button.ts
  packages/devextreme/js/__internal/ui/number_box/__tests__/utils.test.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.base.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.caret.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.mask.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.spin.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.spins.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.ts
  packages/devextreme/js/__internal/ui/number_box/utils.ts
  packages/devextreme/js/__internal/ui/text_box/text_editor.base.ts
  packages/devextreme/js/__internal/ui/text_box/text_editor.clear.ts
  packages/devextreme/js/__internal/ui/text_box/text_editor.mask.ts
  packages/devextreme/js/__internal/ui/text_box/texteditor_button_collection/button.ts
  packages/devextreme/js/__internal/ui/text_box/texteditor_button_collection/custom.ts
  packages/devextreme/js/ui/number_box.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.caret.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Publish themes.mode and themes.refreshMode as documented API
  packages/devextreme/js/ui/themes.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore: partial revert for demo-render-signal origins
  apps/demos/README.md
  apps/demos/utils/server/demo-render-signal.runtime.js
  apps/demos/utils/tests/server/demo-render-signal.runtime.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Tabs: handle the _itemAriaLabelExpr option change, and let the label rule remove aria-label too (#5077)
  packages/devextreme/js/__internal/core/utils/m_icon.ts
  packages/devextreme/js/__internal/ui/button/button.tsx
  packages/devextreme/js/__internal/ui/tabs/tabs.ts
  packages/devextreme/testing/tests/DevExpress.core/utils.icon.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: retarget `key` and `keyOf` methods (#35115)
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/helpers/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/ai_assistant_integration_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/controllers/m_ai_column_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/controllers/m_ai_column_integration_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source/__tests__/data_source_controller.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source/data_source_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/provider.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/types.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/extenders/editing_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source/__tests__/data_source_controller.integration.test.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source/data_source_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/__tests__/add_row_generated_key.integration.test.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/tree_list/m_focus.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove inlines form react datagrid demos
  apps/demos/Demos/CardView/FieldTemplate/React/Progress.tsx
  apps/demos/Demos/CardView/FieldTemplate/ReactJs/Progress.js
  apps/demos/Demos/DataGrid/AIAssistant/React/App.tsx
  apps/demos/Demos/DataGrid/AIAssistant/ReactJs/App.js
  apps/demos/Demos/DataGrid/AIColumns/React/App.tsx
  apps/demos/Demos/DataGrid/AIColumns/React/Trademark.tsx
  apps/demos/Demos/DataGrid/AIColumns/ReactJs/App.js
  apps/demos/Demos/DataGrid/AIColumns/ReactJs/Trademark.js
  apps/demos/Demos/DataGrid/CustomEditors/React/App.tsx
  apps/demos/Demos/DataGrid/CustomEditors/React/EmployeeDropDownBoxComponent.tsx
  apps/demos/Demos/DataGrid/CustomEditors/ReactJs/App.js
  apps/demos/Demos/DataGrid/CustomEditors/ReactJs/EmployeeDropDownBoxComponent.js
  apps/demos/Demos/DataGrid/PDFCellCustomization/React/App.tsx
  apps/demos/Demos/DataGrid/PDFCellCustomization/ReactJs/App.js
  apps/demos/Demos/DataGrid/RealTimeUpdates/React/App.tsx
  apps/demos/Demos/DataGrid/RealTimeUpdates/ReactJs/App.js
  apps/demos/Demos/DataGrid/RealTimeUpdates/ReactJs/index.html
  apps/demos/Demos/DataGrid/RowEditing/React/App.tsx
  apps/demos/Demos/DataGrid/RowEditing/ReactJs/App.js
  apps/demos/Demos/DataGrid/SemanticSearch/React/App.tsx
  apps/demos/Demos/DataGrid/SemanticSearch/ReactJs/App.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
