Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

RangeSelector: use x/y attributes instead of transform for tracker positioning on Firefox+Android (T1296261) (#30475)
  packages/devextreme/js/viz/range_selector/common.js
  packages/devextreme/js/viz/range_selector/slider.js
  packages/devextreme/js/viz/range_selector/slider_marker.js
  packages/devextreme/js/viz/range_selector/sliders_controller.js
  packages/devextreme/testing/tests/DevExpress.viz.rangeSelector/common_new.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.rangeSelector/range_selector.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme-scss/scss/widgets/base/_gridBase.scss
Due: stylelint

fix: fixed check
  .github/workflows/wrapper_tests.yml
Due: none

fix: added chrome install in tests for angular
  .github/workflows/wrapper_tests.yml
Due: none

Editors and Navigation: use setArea instead of attr where possible
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/ui/chat/confirmationpopup.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.decorator.selection.ts
  packages/devextreme/js/__internal/ui/m_dialog.ts
  packages/devextreme/js/__internal/ui/m_drop_down_button.ts
  packages/devextreme/js/__internal/ui/m_load_panel.ts
  packages/devextreme/js/__internal/ui/m_tag_box.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/js/__internal/ui/tabs/tabs.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update navigation CODEOWNERS
  .github/CODEOWNERS
Due: none

RangeSelector: use x/y attributes instead of transform for tracker positioning on Firefox+Android (T1296261) (#30479)
  packages/devextreme/js/viz/range_selector/common.js
  packages/devextreme/js/viz/range_selector/slider.js
  packages/devextreme/js/viz/range_selector/slider_marker.js
  packages/devextreme/js/viz/range_selector/sliders_controller.js
  packages/devextreme/testing/tests/DevExpress.viz.rangeSelector/common_new.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.rangeSelector/range_selector.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

RangeSelector: use x/y attributes instead of transform for tracker positioning on Firefox+Android (T1296261) (#30480)
  packages/devextreme/js/viz/range_selector/common.js
  packages/devextreme/js/viz/range_selector/slider.js
  packages/devextreme/js/viz/range_selector/slider_marker.js
  packages/devextreme/js/viz/range_selector/sliders_controller.js
  packages/devextreme/testing/tests/DevExpress.viz.rangeSelector/common_new.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.rangeSelector/range_selector.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: fixed chrome version
  .github/workflows/wrapper_tests.yml
Due: none

Fix issues in Norwegian dictionary
  packages/devextreme/js/localization/messages/nb.json
Due: none

German translations for DataGrid 🍒 (#30464)
  packages/devextreme/js/localization/messages/de.json
Due: none

DataGrid - Taps on cells do not activate cell editors in a detail DataGrid if this DataGrid is inside TabPanel on Android tablets (T1289237) (#30403)
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/helpers/baseDataGridHelper.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/contextMenuView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/rows.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix issues in Norwegian dictionary (#30484)
  packages/devextreme/js/localization/messages/nb.json
Due: none

DataGrid - Taps on cells do not activate cell editors in a detail DataGrid if this DataGrid is inside TabPanel on Android tablets (T1289237) (#30486)
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/helpers/baseDataGridHelper.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/contextMenuView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/rows.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid - Taps on cells do not activate cell editors in a detail DataGrid if this DataGrid is inside TabPanel on Android tablets (T1289237) (#30487)
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/helpers/baseDataGridHelper.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/contextMenuView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/rows.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Refactor search box integration and update editor class handling
  packages/devextreme-themebuilder/tests/data/dependencies.ts
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/devextreme/js/__internal/ui/collection/m_search_box_mixin.ts
  packages/devextreme/js/__internal/ui/hierarchical_collection/data_adapter.ts
  packages/devextreme/js/__internal/ui/list/m_list.edit.search.ts
  packages/devextreme/js/__internal/ui/list/modules/m_search.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.search.ts
  packages/devextreme/js/ui/list.js
  packages/devextreme/playground/modular/entry.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Refactor data converter mixin to improve type definitions and enhance list options handling
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_list.ts
  packages/devextreme/js/__internal/ui/m_drop_down_button.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update type annotations for _createComponent method in tree_view and list modules
  packages/devextreme/js/__internal/ui/list/m_list.edit.search.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.search.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update webpack.config.js
  packages/devextreme/webpack.config.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid(T1281192 & T1298901) - Error occurs on an attempt to group custom columns at runtime (#30448)
  e2e/testcafe-devextreme/tests/dataGrid/common/grouping/calculateGroupValueRuntimeChanges.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_core.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/m_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/utils/index.ts
  packages/devextreme/js/__internal/grids/grid_core/utils/selector_comparison.test.ts
  packages/devextreme/js/__internal/grids/grid_core/utils/selector_comparison.ts
  packages/testcafe-models/dataGrid/groupRow.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix typings
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentFilter.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentFilter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentsOccurrences.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentsOccurrences.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isAppointmentMatchedDateTime.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isAppointmentMatchedDateTime.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isRecurrenceAppointmentMatchedDateTime.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isRecurrenceAppointmentMatchedDateTime.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor filter function
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter_virtual.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_utils.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentFilter.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentFilter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentsOccurrences.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentsOccurrences.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getRecurrenceException.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getRecurrenceException.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/index.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isAppointmentMatchedDateTime.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isAppointmentMatchedDateTime.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isAppointmentMatchedResources.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isAppointmentMatchedResources.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isRecurrenceAppointmentMatchedDateTime.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isRecurrenceAppointmentMatchedDateTime.ts
  packages/devextreme/js/__internal/scheduler/m_recurrence.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentFilter.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentFilter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentsOccurrences.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentsOccurrences.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleDateIntervals.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleDateIntervals.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleRecurrenceInterval.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isAppointmentMatchedDateTime.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isAppointmentMatchedDateTime.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isAppointmentMatchedIntervals.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isAppointmentMatchedIntervals.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isRecurrenceAppointmentMatchedDateTime.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isRecurrenceAppointmentMatchedDateTime.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/type.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler: correct appointments filtration for corner cases (T1296896, T1297019)
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter_virtual.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_utils.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_utils.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

rename to snake case
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter_virtual.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointments_occurrences.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointments_occurrences.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_recurrence_exception.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_recurrence_exception.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_visible_date_time_intervals.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_visible_date_time_intervals.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/index.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/is_appointment_matched_intervals.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/is_appointment_matched_intervals.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/is_appointment_matched_resources.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/is_appointment_matched_resources.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme/js/__internal/core/utils/m_date.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleDateIntervals.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleRecurrenceInterval.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

simplify
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleDateTimeIntervals.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme/js/__internal/core/utils/m_date.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentFilter.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentFilter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleDateIntervals.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleDateIntervals.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleRecurrenceInterval.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleRecurrenceInterval.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isAppointmentMatchedIntervals.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/isAppointmentMatchedIntervals.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.timeLines.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add month e2e use case
  e2e/testcafe-devextreme/tests/scheduler/common/month/outOfDayHours.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter_virtual.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointment_filter.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/type.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

simplify
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentFilter.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentFilter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleDateIntervals.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleDateTimeIntervals.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleDateTimeIntervals.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleRecurrenceInterval.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleRecurrenceInterval.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/type.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter_virtual.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/filter_array.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointment_filter.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointments_occurrences.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_appointments_occurrences.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_recurrence_exception.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/get_recurrence_exception.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/is_appointment_matched_intervals.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/is_appointment_matched_intervals.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/is_appointment_matched_resources.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/is_appointment_matched_resources.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_raw_appointments.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_visible_date_time_intervals.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_visible_date_time_intervals.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/index.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/type.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix qunit
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter_virtual.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentFilter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleDateIntervals.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getVisibleRecurrenceInterval.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.dataProcessor.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/get_appointment_filter/is_appointment_matched_intervals.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentFilter.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentFilter.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/utils/getAppointmentFilter.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet
