Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Apply suggestions from code review
  apps/demos/Demos/CardView/ColumnChooser/description.md
  apps/demos/Demos/CardView/FieldTemplate/description.md
  apps/demos/Demos/CardView/SearchPanel/description.md
Due: none

final etalon updates
  apps/demos/testing/etalons/TreeList-MultipleRowSelection (fluent.blue.light).png
  apps/demos/testing/etalons/TreeList-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/TreeList-StatePersistence (fluent.blue.light).png
Due: none

fix(Vue): add missing styles
  apps/demos/Demos/CardView/Overview/Vue/App.vue
Due: none

Revert "tmp: skip vue test"
  apps/demos/testing/common.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

CardView: stabilize sorting visual tests (#30026)
  e2e/testcafe-devextreme/tests/cardView/sorting/api.themes.ts
  e2e/testcafe-devextreme/tests/cardView/sorting/behavior.themes.ts
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_allow_sorting_api (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_allow_sorting_api (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_allow_sorting_api (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_calculate_sort_value_is_filed_api (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_calculate_sort_value_is_filed_api (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_calculate_sort_value_is_filed_api (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_calculate_sort_value_is_function_api (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_calculate_sort_value_is_function_api (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_calculate_sort_value_is_function_api (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_headers_default_render (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_headers_default_render (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_headers_default_render (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_headers_with_multiple_sorting_render (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_headers_with_multiple_sorting_render (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_headers_with_multiple_sorting_render (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_show_sort_indexes_api (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_show_sort_indexes_api (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_show_sort_indexes_api (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_sort_index_api (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_sort_index_api (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_sort_index_api (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_sorting_method_api (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_sorting_method_api (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_sorting_method_api (material-blue-light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(CardView): add styles for Sortable customization
  packages/devextreme-scss/scss/widgets/base/_sortable.scss
Due: stylelint

test(CardView): update snapshots after markup changes
  packages/devextreme/js/__internal/grids/new/card_view/__snapshots__/widget.test.ts.snap
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/__snapshots__/options.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/__snapshots__/options.integration.test.ts.snap
Due: none

test(CardView): cover Sortable customization by e2e tests
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-first-rtl-false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-first-rtl-false (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-first-rtl-false (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-first-rtl-true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-first-rtl-true (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-first-rtl-true (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-last-rtl-false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-last-rtl-false (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-last-rtl-false (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-last-rtl-true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-last-rtl-true (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-last-rtl-true (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-middle-rtl-false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-middle-rtl-false (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-middle-rtl-false (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-middle-rtl-true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-middle-rtl-true (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-middle-rtl-true (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/sortable.visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(Sortable): add "placeholderClassName" private option + little refactoring
  packages/devextreme/js/__internal/m_sortable.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

test(CardView): disable landmark a11y rule check
  e2e/testcafe-devextreme/tests/cardView/headerPanel/sortable.visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(CardView): dropzone width overflow
  packages/devextreme-scss/scss/widgets/base/cardView/header_panel/_index.scss
Due: stylelint

feat(CardView): add styles for dxSortable customization + rebase after theme-builder changes
  packages/devextreme-scss/scss/widgets/base/cardView/header_panel/_index.scss
  packages/devextreme-scss/scss/widgets/base/cardView/header_panel/_variables.scss
  packages/devextreme-scss/scss/widgets/base/cardView/header_panel/item/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/cardView/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/cardView/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/material/cardView/_sizes.scss
Due: stylelint

feat(CardView): customize Sortable in header
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/header_panel.tsx
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/item.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/sortable.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

test(CardView): update etalons and add masks for material theme
  e2e/testcafe-devextreme/tests/cardView/columnSortable/etalons/card-view_column-sortable_header-panel_dragging-column (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/columnSortable/etalons/card-view_column-sortable_header-panel_dragging-column (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/columnSortable/etalons/card-view_column-sortable_header-panel_dragging-column (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/default-render (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/default-render (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/default-render (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/header-filter-enabled (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/header-filter-enabled (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/header-filter-enabled (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/header-filter-enabled-with-values (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/header-filter-enabled-with-values (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/header-filter-enabled-with-values (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/multiple-sorting (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/multiple-sorting (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/multiple-sorting (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/multiple-sorting-with-header-filter-enabled (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/multiple-sorting-with-header-filter-enabled (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/multiple-sorting-with-header-filter-enabled (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/single-sorting (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/single-sorting (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/single-sorting (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/single-sorting-with-header-filter-enabled (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/single-sorting-with-header-filter-enabled (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/single-sorting-with-header-filter-enabled (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-first-rtl-false (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-first-rtl-false (material-blue-light)_mask.png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-first-rtl-true (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-first-rtl-true (material-blue-light)_mask.png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-last-rtl-false (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-last-rtl-false (material-blue-light)_mask.png
  e2e/testcafe-devextreme/tests/cardView/headerPanel/etalons/sortable-indicator-middle-rtl-true (material-blue-light).png
Due: none

fix(CardView): remove unused SCSS variables
  packages/devextreme-scss/scss/widgets/generic/cardView/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/cardView/_sizes.scss
Due: stylelint

test(CardView): try to fix unstable material height test
  e2e/testcafe-devextreme/tests/cardView/sorting/api.themes.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme/js/__internal/grids/new/grid_core/di.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/confirm_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/options.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/popup/view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix linter
  apps/demos/Demos/CardView/CardTemplate/Angular/app/app.component.html
  apps/demos/Demos/CardView/CardTemplate/Angular/app/license-info/license-info.component.html
  apps/demos/Demos/CardView/CardTemplate/Angular/app/vehicle-card/vehicle-card.component.html
  apps/demos/Demos/CardView/CardTemplate/Vue/LicenseInfo.vue
Due: none

Fix comments
  e2e/testcafe-devextreme/tests/cardView/headerFilter/common.functional.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

CardView - Header Filter: Fix filtering when a custom headerFilter.dataSource is specified as an array of filter expressions
  e2e/testcafe-devextreme/tests/cardView/headerFilter/common.functional.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/utils.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix testcafe tests (part 2): Fix cell focus after grouping/reordering columns. And remove subscription to onHidden event of the context menu.
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_column_context_menu_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_context_menu.ts
  packages/devextreme/js/ui/shared/accessibility.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix testcafe tests
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_headers_keyboard_navigation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: Fix autoscroll when reordering columns using the keyboard when native scrolling is enabled
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/columnReordering.visual.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/auto_scroll_to_left_when_column_reordering.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/auto_scroll_to_left_when_column_reordering_when_virtual_columns_are_enabled.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/auto_scroll_to_right_when_column_reordering.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/auto_scroll_to_right_when_column_reordering_when_virtual_columns_are_enabled.png
  packages/devextreme/js/__internal/grids/data_grid/keyboard_navigation/m_headers_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_column_keyboard_navigation_core.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_headers_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_core.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add etalons
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/native_scrolling_-_auto_scroll_to_left_when_column_reordering.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/native_scrolling_-_auto_scroll_to_left_when_virtual_columns_are_enabled.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/native_scrolling_-_auto_scroll_to_right_when_column_reordering.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/native_scrolling_-_auto_scroll_to_right_when_virtual_columns_are_enabled.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/simulated_scrolling_-_auto_scroll_to_left_when_column_reordering.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/simulated_scrolling_-_auto_scroll_to_left_when_virtual_columns_are_enabled.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/simulated_scrolling_-_auto_scroll_to_right_when_column_reordering.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/simulated_scrolling_-_auto_scroll_to_right_when_virtual_columns_are_enabled.png
Due: none

Update etalon
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/etalons/T1273020-header-filter-with-case-sensitive-2.png
Due: none

Add fluent etalon
  apps/demos/testing/etalons/CardView-CardTemplate (fluent.blue.light).png
Due: none

refactor
  packages/devextreme/js/__internal/ui/chat/messagebox.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

CardView - demos - descriptions (#30003)
  apps/demos/Demos/CardView/CardTemplate/description.md
  apps/demos/Demos/CardView/ColumnChooser/description.md
  apps/demos/Demos/CardView/ColumnHeaderFilter/description.md
  apps/demos/Demos/CardView/ColumnsReordering/description.md
  apps/demos/Demos/CardView/DataValidation/description.md
  apps/demos/Demos/CardView/FieldTemplate/description.md
  apps/demos/Demos/CardView/FilterPanel/description.md
  apps/demos/Demos/CardView/Overview/description.md
  apps/demos/Demos/CardView/PopupEditing/description.md
  apps/demos/Demos/CardView/SearchPanel/description.md
  apps/demos/Demos/CardView/Selection/description.md
  apps/demos/Demos/CardView/SimpleArray/description.md
  apps/demos/Demos/CardView/Sorting/description.md
  apps/demos/Demos/CardView/WebAPIService/description.md
Due: none

gen: etalons
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-popup-add (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-popup-edit (material-blue-light).png
Due: none

Add etalons
  apps/demos/testing/etalons/CardView-CardTemplate (material.blue.light).png
  apps/demos/testing/etalons/CardView-CardTemplate.png
Due: none

CardView - Header Filter: Fix filtering when a custom headerFilter.dataSource is specified as an array of filter expressions (#30022)
  e2e/testcafe-devextreme/tests/cardView/headerFilter/common.functional.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/utils.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

LF and EOF fix
  apps/demos/Demos/CardView/CardTemplate/Angular/app/app.component.css
  apps/demos/Demos/CardView/CardTemplate/Angular/app/app.service.ts
  apps/demos/Demos/CardView/CardTemplate/React/VehicleCard.tsx
  apps/demos/Demos/CardView/CardTemplate/React/data.ts
  apps/demos/Demos/CardView/CardTemplate/React/types.ts
  apps/demos/Demos/CardView/CardTemplate/Vue/LicenseInfo.vue
  apps/demos/Demos/CardView/CardTemplate/Vue/data.ts
  apps/demos/Demos/CardView/CardTemplate/jQuery/data.js
  apps/demos/Demos/CardView/CardTemplate/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Delete etalons
  apps/demos/testing/etalons/CardView-CardTemplate (fluent.blue.light).png
  apps/demos/testing/etalons/CardView-CardTemplate (material.blue.light).png
  apps/demos/testing/etalons/CardView-CardTemplate.png
Due: none

Use WA with inherits on AITollbarItem to add options from dxHtmlEditorToolbarItem
  packages/devextreme-angular/src/ui/html-editor/index.ts
  packages/devextreme-angular/src/ui/html-editor/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/html-editor/nested/toolbar-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/data-grid-toolbar.ts
  packages/devextreme-angular/src/ui/nested/base/diagram-custom-command-dxi.ts
  packages/devextreme-angular/src/ui/nested/command-dxi.ts
  packages/devextreme-angular/src/ui/nested/item-dxi.ts
  packages/devextreme-react/src/html-editor.ts
  packages/devextreme-vue/src/html-editor.ts
  packages/devextreme/js/ui/html_editor.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Design system spike: use generated scss variables
  packages/devextreme-scss/scss/widgets/fluent/button/_colors.scss
Due: stylelint

fix(react inline styles): Fix React inline styles issue (T1289861) (#29821)
  packages/devextreme-react/src/core/__tests__/component.test.tsx
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-react/src/core/const.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(CardView): remove old code related to not existing private option
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/header_panel.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/inferno_wrappers/sortable.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(react inline styles): Fix React inline styles issue
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-react/src/core/unitlessNumbers.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(react inline styles): Add tests for inline styles px conversions
  packages/devextreme-react/src/core/__tests__/component.test.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(formatting): fix test file formatting and const naming
  packages/devextreme-react/src/core/__tests__/component.test.tsx
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-react/src/core/const.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
