Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

feat: spike
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: update angular demos to use new scheduler resource component
  apps/demos/Demos/Scheduler/Adaptability/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/Agenda/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/AppointmentCountPerCell/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/ContextMenu/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/GroupByDate/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/GroupingByResources/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/IndividualViewsCustomization/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/Overview/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/RecurringAppointments/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/Resources/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/Timelines/Angular/app/app.component.html
  apps/demos/Demos/Scheduler/VirtualScrolling/Angular/app/app.component.html
  packages/devextreme-angular/src/ui/nested/resource-dxi.ts
  packages/devextreme-metadata/make-angular-metadata.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: make stable test
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/recurrence-form.visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add default headerCellTemplate for AI Column
  packages/devextreme-scss/scss/widgets/base/_gridBase.scss
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
  packages/devextreme/js/__internal/grids/grid_core/ai_column/ai_column.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/const.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/m_ai_column_view.test.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/m_ai_column_view.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Add etalon
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/etalons/datagrid__ai-column__focused-dropdown-button.png
Due: none

small code refactoring
  packages/devextreme/js/__internal/grids/grid_core/ai_column/m_ai_column_view.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update testcafe test
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/columnReordering.visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix line wrapping for AI Column when wordWrapEnabled is enabled
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/columnResizing.visual.ts
  packages/devextreme-scss/scss/widgets/base/_gridBase.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

reworked the markup for AI Column
  packages/devextreme-scss/scss/widgets/base/_gridBase.scss
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_sizes.scss
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/ai_column.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/ai_column.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/const.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/m_ai_column_view.test.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/m_ai_column_view.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/const.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/tree_list/module_not_extended/ai_column.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Fix QUnit tests
  packages/devextreme/testing/helpers/gridBaseMocks.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add etalon
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/etalons/datagrid__ai-column__dragging.png
Due: none

Fix tests (part 2)
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/columnReordering.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/columnResizing.functional.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix drag and drop for AI Column
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/columnReordering.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/columnReordering.visual.ts
  packages/devextreme-scss/scss/widgets/base/_gridBase.scss
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
  packages/devextreme/js/__internal/grids/grid_core/ai_column/dom.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/m_ai_column_view.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/column_state_mixin/m_column_state_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/types.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Add testcafe tests to check alignment and rtlEnabled
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix lint
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix tests
  e2e/testcafe-devextreme/tests/common/treeList/aiColumn/etalons/treelist__ai-column__default (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/etalons/datagrid__ai-column-and-sticky-columns__context-menu-when-allowFixing-false.png
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/etalons/datagrid__ai-column-and-sticky-columns__context-menu.png
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/etalons/datagrid__ai-column__default.png
  packages/devextreme-scss/scss/widgets/generic/gridBase/_sizes.scss
  packages/devextreme-themebuilder/tests/data/dependencies.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Fix QUnit tests (part 2)
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Implement the column.ai.showHeaderMenu option
  packages/devextreme/js/__internal/grids/grid_core/ai_column/ai_column.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/m_ai_column_view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix focus border for DropDown button in generic theme
  packages/devextreme-scss/scss/widgets/generic/gridBase/_index.scss
Due: stylelint

TreeList: Add testcafe test to check AI Column rendering when multiple selection is enabled
  e2e/testcafe-devextreme/tests/common/treeList/aiColumn/visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add etalons
  e2e/testcafe-devextreme/tests/common/treeList/aiColumn/etalons/treelist__ai-column__multiple-selection (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/etalons/datagrid__ai-column(alignment=center_rtlEnabled=false).png
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/etalons/datagrid__ai-column(alignment=center_rtlEnabled=true).png
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/etalons/datagrid__ai-column(alignment=left_rtlEnabled=false).png
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/etalons/datagrid__ai-column(alignment=left_rtlEnabled=true).png
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/etalons/datagrid__ai-column(alignment=right_rtlEnabled=false).png
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/etalons/datagrid__ai-column(alignment=right_rtlEnabled=true).png
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/etalons/datagrid__ai-column__column-resizing(wordWrapEnabled=true)-1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/etalons/datagrid__ai-column__column-resizing(wordWrapEnabled=true)-2.png
Due: none

Fix keyboard navigation for AI Column
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/keyboardNavigation.visual.ts
  packages/devextreme-scss/scss/widgets/base/dataGrid/_index.scss
  packages/devextreme-scss/scss/widgets/base/treeList/_index.scss
  packages/testcafe-models/dataGrid/headers/cell.ts
  packages/testcafe-models/dropDownButton.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Update export_pivot_grid.ts
  packages/devextreme/js/__internal/exporter/exceljs/export_pivot_grid.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix QUnit tests (part 3)
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix scheduler flaky test
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/recurrence-form.visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

dxPieChartPointInfo nesteds
  packages/devextreme/js/viz/pie_chart.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

test: fix test
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.options.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat FU: Remove _attachmentDownloadHandler & rename _renderAttachmentsElement
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagebubble.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat FU: Integrate FileView component
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-fileview/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-fileview/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_sizes.scss
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/file_view/file.ts
  packages/devextreme/js/__internal/ui/chat/file_view/file_view.ts
  packages/devextreme/js/__internal/ui/chat/messagebubble.ts
  packages/devextreme/js/__internal/ui/chat/messagegroup.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Chat FU: Add display flex to message bubble & refactor
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-fileview/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_sizes.scss
  packages/devextreme/js/__internal/ui/chat/messagebubble.ts
  packages/devextreme/js/__internal/ui/chat/messagegroup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Diagram: fix ts issues (ui.diagram.ts)
  packages/devextreme/js/__internal/ui/diagram/ui.diagram.ts
  packages/devextreme/js/ui/diagram/ui.diagram.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: add no subject title
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor after review
  packages/devextreme/js/__internal/ui/chat/message_box/chat_text_area.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chatTextArea.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: return preventScrollEvents
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

dateRangeBox
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dateRangeBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet
