Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

ESLint: Return to root config our custom rules for *.js files.
  .eslintrc.js
  js/.eslintrc.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Viz - Skip widgets redrawing when size changed on small value(T1156890)
  js/viz/core/base_widget.js
  testing/tests/DevExpress.viz.charts/chartInteraction.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

ESLint: autofix incorrect code style.
  testing/helpers/keyboardMock.js
  testing/testcafe/.eslintrc.js
  testing/tests/DevExpress.core/utils.dom.tests.js
  testing/tests/DevExpress.core/utils.variableWrapper.tests.js
  testing/tests/DevExpress.exporter/pdfCreator.tests.js
  testing/tests/DevExpress.knockout/variableWrapperUtils.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/markup.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/chartIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/summaryDisplayModes.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
  testing/tests/DevExpress.ui.widgets/popover.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  testing/tests/DevExpress.ui.widgets/speedDialAction.tests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.repaintChangesOnly.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  testing/tests/DevExpress.ui/dialog.tests.js
  testing/tests/DevExpress.ui/themes.tests.js
  testing/tests/DevExpress.viz.charts/polarChart.tests.js
  testing/tests/DevExpress.viz.core.series/pieSeries.tests.js
  testing/tests/DevExpress.viz.core.series/polarPoint.tests.js
  testing/tests/DevExpress.viz.core.series/scatterSeries.tests.js
  testing/tests/DevExpress.viz.gauges/barGauge.tests.js
  themebuilder-scss/.eslintrc.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Build tests with babel
  testing/systemjs-builder.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid - Resizing a column causes column misalignment(T1145973) (#24161) (#24175)
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid - Gray placeholders are displayed instead of values during scrolling in batch editing mode in certain cases (T1153780) (#24124)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

ESlint: Fix rules for QUnit (#24177)
  .eslintrc.js
  js/.eslintrc.js
  testing/helpers/keyboardMock.js
  testing/testcafe/.eslintrc.js
  testing/tests/DevExpress.core/utils.dom.tests.js
  testing/tests/DevExpress.core/utils.variableWrapper.tests.js
  testing/tests/DevExpress.exporter/pdfCreator.tests.js
  testing/tests/DevExpress.knockout/variableWrapperUtils.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/markup.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/chartIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/summaryDisplayModes.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
  testing/tests/DevExpress.ui.widgets/popover.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  testing/tests/DevExpress.ui.widgets/speedDialAction.tests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.repaintChangesOnly.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  testing/tests/DevExpress.ui/dialog.tests.js
  testing/tests/DevExpress.ui/themes.tests.js
  testing/tests/DevExpress.viz.charts/polarChart.tests.js
  testing/tests/DevExpress.viz.core.series/pieSeries.tests.js
  testing/tests/DevExpress.viz.core.series/polarPoint.tests.js
  testing/tests/DevExpress.viz.core.series/scatterSeries.tests.js
  testing/tests/DevExpress.viz.gauges/barGauge.tests.js
  themebuilder-scss/.eslintrc.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Filter row range overlay
  testing/testcafe/model/contextMenu/index.ts
  testing/testcafe/model/dataGrid/editors/filterDateBox.ts
  testing/testcafe/model/dataGrid/editors/filterTextBox.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/filterRow.ts
  testing/testcafe/tests/dataGrid/helpers/generateDataSourceData.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

ESLint: autofix incorrect code style.
  testing/helpers/keyboardMock.js
  testing/testcafe/.eslintrc.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/chartIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/summaryDisplayModes.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  testing/tests/DevExpress.ui.widgets/speedDialAction.tests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.repaintChangesOnly.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  testing/tests/DevExpress.ui/dialog.tests.js
  themebuilder-scss/.eslintrc.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid - All rows are selected when deleting a row with deferred selection and refreshMode set to refresh/repaint (T1153564) (#24148)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

GridCore: TS: move files
  js/__internal/grids/grid_core/adaptivity/module.ts
  js/__internal/grids/grid_core/column_state_mixin/module.ts
  js/__internal/grids/grid_core/context_menu/module.ts
  js/__internal/grids/grid_core/editor_factory/module.ts
  js/__internal/grids/grid_core/error_handling/module.ts
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  js/__internal/grids/grid_core/keyboard_navigation/dom.ts
  js/__internal/grids/grid_core/keyboard_navigation/module.ts
  js/__internal/grids/grid_core/master_detail/module.ts
  js/__internal/grids/grid_core/module_accessibility.ts
  js/__internal/grids/grid_core/module_export.ts
  js/__internal/grids/grid_core/module_types.ts
  js/__internal/grids/grid_core/module_utils.ts
  js/__internal/grids/grid_core/modules.ts
  js/__internal/grids/grid_core/pager/module.ts
  js/__internal/grids/grid_core/row_dragging/const.ts
  js/__internal/grids/grid_core/row_dragging/dom.ts
  js/__internal/grids/grid_core/row_dragging/module.ts
  js/__internal/grids/grid_core/search/module.ts
  js/__internal/grids/grid_core/selection/module.ts
  js/__internal/grids/grid_core/sorting/module.ts
  js/__internal/grids/grid_core/state_storing/module.ts
  js/__internal/grids/grid_core/state_storing/module_core.ts
  js/__internal/grids/grid_core/validating/module.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

refactor for CSP replace new Function to JSON.parse
  js/core/config.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

apply suggestions
  js/ui/date_range_box.d.ts
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid - Gray placeholders are displayed instead of values during scrolling in batch editing mode in certain cases (T1153780) (#24124) (#24179)
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fixes
  js/viz/core/base_widget.js
  testing/tests/DevExpress.viz.charts/chartInteraction.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid - fix eslint (#24185)
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid - All rows are selected when deleting a row with deferred selection and refreshMode set to refresh/repaint (T1153564) (#24181)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

GridCore: TS: move files
  js/__internal/grids/grid_core/adaptivity/module.ts
  js/__internal/grids/grid_core/adaptivity/module_types.ts
  js/__internal/grids/grid_core/column_state_mixin/module.ts
  js/__internal/grids/grid_core/context_menu/module.ts
  js/__internal/grids/grid_core/editor_factory/module.ts
  js/__internal/grids/grid_core/editor_factory/module_types.ts
  js/__internal/grids/grid_core/error_handling/module.ts
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  js/__internal/grids/grid_core/keyboard_navigation/dom.ts
  js/__internal/grids/grid_core/keyboard_navigation/module.ts
  js/__internal/grids/grid_core/keyboard_navigation/module_types.ts
  js/__internal/grids/grid_core/master_detail/module.ts
  js/__internal/grids/grid_core/module_accessibility.ts
  js/__internal/grids/grid_core/module_export.ts
  js/__internal/grids/grid_core/module_types.ts
  js/__internal/grids/grid_core/module_utils.ts
  js/__internal/grids/grid_core/modules.ts
  js/__internal/grids/grid_core/pager/module.ts
  js/__internal/grids/grid_core/row_dragging/const.ts
  js/__internal/grids/grid_core/row_dragging/dom.ts
  js/__internal/grids/grid_core/row_dragging/module.ts
  js/__internal/grids/grid_core/search/module.ts
  js/__internal/grids/grid_core/selection/module.ts
  js/__internal/grids/grid_core/sorting/module.ts
  js/__internal/grids/grid_core/state_storing/module.ts
  js/__internal/grids/grid_core/state_storing/module_core.ts
  js/__internal/grids/grid_core/validating/module.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix lint in tests
  testing/tests/DevExpress.viz.charts/chartInteraction.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Tabs: Fix focus state design issues
  build/gulp/styles/style-compiler.js
  playground/jquery.html
  scss/widgets/material/tabPanel/_index.scss
  scss/widgets/material/tabs/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

fix(tabs: styles): Replace bg colors
  playground/jquery.html
  scss/widgets/material/tabs/_colors.scss
  scss/widgets/material/tabs/_index.scss
Due: stylelint

ESLint: Return to root config our custom rules for *.js files + change renovation tests eslintrc
  .eslintrc.js
  js/.eslintrc.js
  testing/renovation/platforms/.eslintrc.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix(tabs: styles): Replace hovered state colors for light
  scss/widgets/material/tabs/_colors.scss
Due: stylelint

fix(tabs: styles): Replace hovered state colors for dark
  build/gulp/styles/style-compiler.js
  playground/jquery.html
  scss/widgets/material/tabs/_colors.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

fix(tabs: styles): Replace bg color for hovered state for arrow buttons
  build/gulp/styles/style-compiler.js
  playground/jquery.html
  scss/widgets/material/tabs/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

fix(tabs: styles): Add focused state
  playground/jquery.html
  scss/widgets/material/tabs/_colors.scss
  scss/widgets/material/tabs/_index.scss
Due: stylelint

HeaderFilter popup screenshot
  testing/testcafe/model/contextMenu/index.ts
  testing/testcafe/tests/dataGrid/filterRow.ts
  testing/testcafe/tests/dataGrid/headerFilter.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

ESLint: autofix incorrect code style.
  testing/helpers/keyboardMock.js
  testing/testcafe/.eslintrc.js
  testing/tests/DevExpress.core/utils.dom.tests.js
  testing/tests/DevExpress.exporter/pdfCreator.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/sorting.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/markup.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/chartIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/summaryDisplayModes.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  testing/tests/DevExpress.ui.widgets/speedDialAction.tests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.repaintChangesOnly.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  testing/tests/DevExpress.ui/dialog.tests.js
  themebuilder-scss/.eslintrc.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix(tabs: styles): Fix alfa channel for focused state
  scss/widgets/material/tabs/_colors.scss
Due: stylelint

fix(tabs: styles): Add active state for tab && nav buttons
  scss/widgets/material/tabs/_colors.scss
  scss/widgets/material/tabs/_index.scss
Due: stylelint

ESlint: Fix rules for QUnit (#24188)
  .eslintrc.js
  js/.eslintrc.js
  testing/helpers/keyboardMock.js
  testing/renovation/platforms/.eslintrc.js
  testing/testcafe/.eslintrc.js
  testing/tests/DevExpress.core/utils.dom.tests.js
  testing/tests/DevExpress.exporter/pdfCreator.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/sorting.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/markup.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/chartIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/summaryDisplayModes.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  testing/tests/DevExpress.ui.widgets/speedDialAction.tests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.repaintChangesOnly.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  testing/tests/DevExpress.ui/dialog.tests.js
  themebuilder-scss/.eslintrc.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

ESlint: Fix rules for QUnit (#24189)
  .eslintrc.js
  js/.eslintrc.js
  testing/helpers/keyboardMock.js
  testing/testcafe/.eslintrc.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/chartIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/summaryDisplayModes.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  testing/tests/DevExpress.ui.widgets/speedDialAction.tests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.repaintChangesOnly.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
  testing/tests/DevExpress.ui/dialog.tests.js
  themebuilder-scss/.eslintrc.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix(tabs: styles): Add disabled state
  playground/jquery.html
  scss/widgets/material/tabs/_index.scss
Due: stylelint

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
