Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Make sbom-tools an optional dependency
  .github/workflows/packages_publishing.yml
  .npmrc
  package.json
  pnpm-lock.yaml
Due: none

Update make-artifacts-package.ts
  tools/scripts/common/paths.ts
  tools/scripts/make-artifacts-package.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix update-version scripts
  .github/workflows/packages_publishing.yml
  tools/scripts/common/version.ts
  tools/scripts/set-timestamp-version.ts
  tools/scripts/update-version.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Switch to isolated pnpm scope in the sbom package
  .github/workflows/packages_publishing.yml
  .npmrc
  package.json
  packages/sbom/.npmrc
  packages/sbom/package.json
  packages/sbom/pnpm-lock.yaml
  packages/sbom/pnpm-workspace.yaml
  packages/sbom/project.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Revert "Fix update-version scripts"
  .github/workflows/packages_publishing.yml
  tools/scripts/common/version.ts
  tools/scripts/set-timestamp-version.ts
  tools/scripts/update-version.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert "Add script for updating internal packages version"
  package.json
  tools/scripts/update-github-registry-package.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert unnecessary changes in the root lock file
  pnpm-lock.yaml
Due: none

update apps/angular to Angular 19
  apps/angular/package.json
  pnpm-lock.yaml
Due: none

update lock
  pnpm-lock.yaml
Due: none

Update apps/demos/Demos/DropDownBox/SingleSelection/React/App.tsx
  apps/demos/Demos/DropDownBox/SingleSelection/React/App.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update apps/demos/Demos/DropDownBox/SingleSelection/Vue/App.vue
  apps/demos/Demos/DropDownBox/SingleSelection/Vue/App.vue
Due: none

Update apps/demos/Demos/DropDownBox/SingleSelection/ReactJs/App.js
  apps/demos/Demos/DropDownBox/SingleSelection/ReactJs/App.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme-scss/scss/widgets/base/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/generic/scheduler/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/material/scheduler/_sizes.scss
Due: stylelint

test
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/form.visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update apps/demos/Demos/Chat/FileAttachments/description.md
  apps/demos/Demos/Chat/FileAttachments/description.md
Due: none

fix lint & test
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/form.visual.ts
  packages/devextreme-scss/scss/widgets/base/scheduler/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

upload etalon
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__main-form__resource-with-multiple-selection (fluent.blue.light).png
Due: none

Chat: Add File Attachments demo description (#31846)
  apps/demos/Demos/Chat/FileAttachments/description.md
Due: none

fix: move row methods to DataRowModel
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/grid_core.ts
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/row/data_row.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/__tests__/m_editing.integration.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix demos
  apps/demos/Demos/Box/Overview/Angular/app/app.component.ts
  apps/demos/Demos/TileView/ItemTemplate/Angular/app/app.component.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Appointment Form - Fix icons for resources with multiple selection (#31946)
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__main-form__resource-with-multiple-selection (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/form.visual.ts
  packages/devextreme-scss/scss/widgets/base/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/generic/scheduler/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/material/scheduler/_sizes.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

DataGrid: Editing - replace QUnit test with Jest (T1293181) (#31943)
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/row/data_row.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/__tests__/m_editing.integration.test.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: Editing - fix duplication of an undeleted row while creating a new row (T1293181) (#31934)
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix lint
  apps/demos/Demos/DataGrid/WebAPIService/Angular/app/app.component.ts
  apps/demos/Demos/FileUploader/FileUploading/Angular/app/app.component.ts
  apps/demos/Demos/FloatingActionButton/Overview/Angular/app/app.component.ts
  apps/demos/Demos/Form/ItemCustomization/Angular/app/app.component.ts
  apps/demos/Demos/Form/Validation/Angular/app/app.component.ts
  apps/demos/Demos/HtmlEditor/ToolbarCustomization/Angular/app/app.component.ts
  apps/demos/Demos/Popup/Scrolling/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/Angular/app/app.component.ts
  apps/demos/Demos/ScrollView/Overview/Angular/app/app.component.ts
  apps/demos/Demos/TreeView/LoadDataOnDemand/Angular/app/app.component.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: Editing - fix GridCoreModel
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/grid_core.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

✨AI Column: Cover leftovers and write e2e tests (#31945)
  e2e/testcafe-devextreme/tests/common/treeList/aiColumn/functional.ts
  e2e/testcafe-devextreme/tests/container-ai-integration.html
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/adaptivity.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/pages/containerWithAIIntegration.html
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/virtualScrolling.functional.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/controllers/m_ai_column_integration_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/views/m_ai_column_view.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/views/m_ai_prompt_editor_view.ts
  packages/testcafe-models/dataGrid/aiPromptEditor.ts
  packages/testcafe-models/dataGrid/headers/cell.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore: rename npm.pack target to align with other packages
  packages/devextreme-angular/package.json
  packages/devextreme-angular/project.json
Due: none

fix: revert invalid config
  packages/devextreme-angular/project.json
Due: none

chore: fix copilot review
  packages/nx-infra-plugin/src/executors/generate-components/schema.ts
  packages/nx-infra-plugin/src/executors/karma-multi-env/schema.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: remove test command usage
  packages/devextreme-angular/package.json
  packages/devextreme-angular/project.json
  pnpm-lock.yaml
Due: none

fix: correctly build package.json
  packages/devextreme-angular/project.json
Due: none

fix: copilot review
  packages/nx-infra-plugin/src/executors/add-license-headers/executor.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: build.tests target
  packages/devextreme-angular/project.json
Due: none

chore(devextreme-angular): optimize angular project.json
  packages/devextreme-angular/package.json
  packages/devextreme-angular/project.json
Due: none

chore(build-all): migrate angular pack to pack-with-descriptions for all build
  tools/scripts/build-all.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(nx-infra-plugin): improve debug mode
  packages/nx-infra-plugin/src/executors/karma-multi-env/executor.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
