Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

fix TS in Grids set Vue demos + lint
  apps/demos/Demos/DataGrid/ExcelJSExportMultipleGrids/Vue/App.vue
Due: none

fix: fix scheduler icon color
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/scheduler/_colors.scss
  packages/devextreme-scss/scss/widgets/material/scheduler/_colors.scss
Due: stylelint

1193 font stack (#31380)
  packages/devextreme/js/__internal/core/license/trial_panel.client.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

CardView/DataGrid - Selection: Clear selection does not work when change the showCheckBoxesMode option at runtime (#31321)
  e2e/testcafe-devextreme/tests/cardView/selection/functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/selection.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/new/grid_core/selection/controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix
  packages/devextreme/testing/tests/DevExpress.animation/position.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix TS in Vue demos. Grids (#30886)
  apps/demos/Demos/DataGrid/AdvancedMasterDetailView/Vue/ProductSelectBox.vue
  apps/demos/Demos/DataGrid/BatchUpdateRequest/Vue/App.vue
  apps/demos/Demos/DataGrid/CommandColumnConfiguration/Vue/App.vue
  apps/demos/Demos/DataGrid/CustomEditors/Vue/App.vue
  apps/demos/Demos/DataGrid/CustomEditors/Vue/EmployeeTagBoxComponent.vue
  apps/demos/Demos/DataGrid/DeferredSelection/Vue/App.vue
  apps/demos/Demos/DataGrid/ExcelJSCellCustomization/Vue/App.vue
  apps/demos/Demos/DataGrid/ExcelJSExportImages/Vue/App.vue
  apps/demos/Demos/DataGrid/ExcelJSExportMultipleGrids/Vue/App.vue
  apps/demos/Demos/DataGrid/ExcelJSHeaderAndFooter/Vue/App.vue
  apps/demos/Demos/DataGrid/Filtering/Vue/App.vue
  apps/demos/Demos/DataGrid/PDFCellCustomization/Vue/App.vue
  apps/demos/Demos/DataGrid/PDFExportImages/Vue/App.vue
  apps/demos/Demos/DataGrid/PDFExportMultipleGrids/Vue/App.vue
  apps/demos/Demos/DataGrid/PDFHeaderAndFooter/Vue/App.vue
  apps/demos/Demos/FilterBuilder/Customization/Vue/App.vue
  apps/demos/Demos/FilterBuilder/Customization/Vue/EditorComponent.vue
  apps/demos/Demos/FilterBuilder/Customization/Vue/helpers.ts
  apps/demos/Demos/FilterBuilder/WithList/Vue/App.vue
  apps/demos/Demos/FilterBuilder/WithList/Vue/CustomItem.vue
  apps/demos/Demos/Sortable/Customization/Vue/App.vue
  apps/demos/Demos/Sortable/Kanban/Vue/App.vue
  apps/demos/Demos/Sortable/Kanban/Vue/data.ts
  apps/demos/Demos/TreeList/FocusedRow/Vue/App.vue
  apps/demos/Demos/TreeList/FormEditing/Vue/App.vue
  apps/demos/Demos/TreeList/LoadDataOnDemand/Vue/App.vue
  apps/demos/Demos/TreeList/LocalReordering/Vue/App.vue
  apps/demos/Demos/TreeList/MultipleRowSelection/Vue/App.vue
  apps/demos/Demos/TreeList/MultipleRowSelection/Vue/data.ts
  apps/demos/Demos/TreeList/Overview/Vue/App.vue
  apps/demos/Demos/TreeList/PopupEditing/Vue/App.vue
  apps/demos/Demos/TreeList/RowEditing/Vue/App.vue
  apps/demos/package.json
  apps/demos/tsconfig.vue-check.json
  pnpm-lock.yaml
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix TS in Grids Vue demos (#31397)
  apps/demos/Demos/DataGrid/AdvancedMasterDetailView/Vue/ProductSelectBox.vue
  apps/demos/Demos/DataGrid/BatchUpdateRequest/Vue/App.vue
  apps/demos/Demos/DataGrid/CommandColumnConfiguration/Vue/App.vue
  apps/demos/Demos/DataGrid/CustomEditors/Vue/App.vue
  apps/demos/Demos/DataGrid/CustomEditors/Vue/EmployeeTagBoxComponent.vue
  apps/demos/Demos/DataGrid/DeferredSelection/Vue/App.vue
  apps/demos/Demos/DataGrid/ExcelJSCellCustomization/Vue/App.vue
  apps/demos/Demos/DataGrid/ExcelJSExportImages/Vue/App.vue
  apps/demos/Demos/DataGrid/ExcelJSExportMultipleGrids/Vue/App.vue
  apps/demos/Demos/DataGrid/ExcelJSHeaderAndFooter/Vue/App.vue
  apps/demos/Demos/DataGrid/Filtering/Vue/App.vue
  apps/demos/Demos/DataGrid/PDFCellCustomization/Vue/App.vue
  apps/demos/Demos/DataGrid/PDFExportImages/Vue/App.vue
  apps/demos/Demos/DataGrid/PDFExportMultipleGrids/Vue/App.vue
  apps/demos/Demos/DataGrid/PDFHeaderAndFooter/Vue/App.vue
  apps/demos/Demos/FilterBuilder/Customization/Vue/App.vue
  apps/demos/Demos/FilterBuilder/Customization/Vue/EditorComponent.vue
  apps/demos/Demos/FilterBuilder/Customization/Vue/helpers.ts
  apps/demos/Demos/FilterBuilder/WithList/Vue/App.vue
  apps/demos/Demos/FilterBuilder/WithList/Vue/CustomItem.vue
  apps/demos/Demos/Sortable/Customization/Vue/App.vue
  apps/demos/Demos/Sortable/Kanban/Vue/App.vue
  apps/demos/Demos/Sortable/Kanban/Vue/data.ts
  apps/demos/Demos/TreeList/FocusedRow/Vue/App.vue
  apps/demos/Demos/TreeList/FormEditing/Vue/App.vue
  apps/demos/Demos/TreeList/LoadDataOnDemand/Vue/App.vue
  apps/demos/Demos/TreeList/LocalReordering/Vue/App.vue
  apps/demos/Demos/TreeList/MultipleRowSelection/Vue/App.vue
  apps/demos/Demos/TreeList/MultipleRowSelection/Vue/data.ts
  apps/demos/Demos/TreeList/Overview/Vue/App.vue
  apps/demos/Demos/TreeList/PopupEditing/Vue/App.vue
  apps/demos/Demos/TreeList/RowEditing/Vue/App.vue
  apps/demos/package.json
  apps/demos/tsconfig.vue-check.json
  pnpm-lock.yaml
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

rename types
  packages/devextreme-angular/src/ui/scheduler/index.ts
  packages/devextreme-angular/src/ui/scheduler/nested/editing.ts
  packages/devextreme-angular/src/ui/scheduler/nested/form.ts
  packages/devextreme-react/src/scheduler.ts
  packages/devextreme-vue/src/scheduler.ts
  packages/devextreme/js/ui/scheduler.d.ts
  packages/devextreme/js/ui/scheduler_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

QUnit tests: remove renovation parts (#31388)
  .github/codeql/codeql-config.yml
  packages/devextreme/.gitignore
  packages/devextreme/build/gulp/context.js
  packages/devextreme/build/gulp/generator/generator-options.js
  packages/devextreme/build/gulp/generator/gulpfile.js
  packages/devextreme/build/gulp/generator/ts-configs/inferno.tsconfig.json
  packages/devextreme/build/gulp/generator/ts-configs/jest.tsconfig.json
  packages/devextreme/build/gulp/generator/ts-configs/tsconfig.json
  packages/devextreme/build/gulp/systemjs.js
  packages/devextreme/build/gulp/transpile.js
  packages/devextreme/build/gulp/ts.js
  packages/devextreme/docker-ci.sh
  packages/devextreme/eslint.config.mjs
  packages/devextreme/gulpfile.js
  packages/devextreme/js/renovation/common/__tests__/config_provider.test.tsx
  packages/devextreme/js/renovation/common/config_provider.tsx
  packages/devextreme/js/renovation/components.js
  packages/devextreme/js/renovation/test_utils/create_ref.ts
  packages/devextreme/js/renovation/test_utils/setup_enzyme.ts
  packages/devextreme/js/renovation/test_utils/transformers/declaration.js
  packages/devextreme/js/renovation/test_utils/transformers/get_cache_key.js
  packages/devextreme/js/renovation/test_utils/transformers/tsx.js
  packages/devextreme/package.json
  packages/devextreme/project.json
  packages/devextreme/renovation.tsconfig.json
  packages/devextreme/testing/.gitignore
  packages/devextreme/testing/runner/Controllers/MainController.cs
  packages/devextreme/testing/runner/Models/BaseRunViewModel.cs
  packages/devextreme/testing/runner/Views/Main/Index.cshtml
  packages/devextreme/testing/runner/Views/Main/RunAll.cshtml
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
  packages/devextreme/testing/systemjs-builder.js
  packages/devextreme/tsconfig.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: fix space between some strings (test_25_2)
  packages/devextreme/js/__internal/grids/new/card_view/di.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

css: fix paddings
  packages/devextreme-scss/scss/widgets/base/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/material/scheduler/_index.scss
Due: stylelint

fix some TS in vue Demos
  apps/demos/Demos/Menu/Overview/Vue/App.vue
  apps/demos/Demos/Menu/Overview/Vue/data.ts
  apps/demos/Demos/Menu/Scrolling/Vue/App.vue
  apps/demos/Demos/ProgressBar/Overview/Vue/App.vue
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

css: fix css padding
  packages/devextreme-scss/scss/widgets/generic/scheduler/_index.scss
Due: stylelint

Fix
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chatTextArea.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

QUnit tests: remove renovation parts (#31388) (#31401)
  .github/codeql/codeql-config.yml
  packages/devextreme/.gitignore
  packages/devextreme/build/gulp/context.js
  packages/devextreme/build/gulp/generator/generator-options.js
  packages/devextreme/build/gulp/generator/gulpfile.js
  packages/devextreme/build/gulp/generator/ts-configs/inferno.tsconfig.json
  packages/devextreme/build/gulp/generator/ts-configs/jest.tsconfig.json
  packages/devextreme/build/gulp/generator/ts-configs/tsconfig.json
  packages/devextreme/build/gulp/systemjs.js
  packages/devextreme/build/gulp/transpile.js
  packages/devextreme/build/gulp/ts.js
  packages/devextreme/docker-ci.sh
  packages/devextreme/eslint.config.mjs
  packages/devextreme/gulpfile.js
  packages/devextreme/js/renovation/common/__tests__/config_provider.test.tsx
  packages/devextreme/js/renovation/common/config_provider.tsx
  packages/devextreme/js/renovation/components.js
  packages/devextreme/js/renovation/test_utils/create_ref.ts
  packages/devextreme/js/renovation/test_utils/setup_enzyme.ts
  packages/devextreme/js/renovation/test_utils/transformers/declaration.js
  packages/devextreme/js/renovation/test_utils/transformers/get_cache_key.js
  packages/devextreme/js/renovation/test_utils/transformers/tsx.js
  packages/devextreme/package.json
  packages/devextreme/project.json
  packages/devextreme/renovation.tsconfig.json
  packages/devextreme/testing/.gitignore
  packages/devextreme/testing/runner/Controllers/MainController.cs
  packages/devextreme/testing/runner/Models/BaseRunViewModel.cs
  packages/devextreme/testing/runner/Views/Main/Index.cshtml
  packages/devextreme/testing/runner/Views/Main/RunAll.cshtml
  packages/devextreme/testing/runner/Views/Main/RunSuite.cshtml
  packages/devextreme/testing/systemjs-builder.js
  packages/devextreme/tsconfig.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: Add generic attachments
  packages/devextreme-angular/src/ui/chat/index.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove etalons
  e2e/testcafe-devextreme/tests/editors/button/floatingAction.ts
  e2e/testcafe-devextreme/tests/editors/chat/alertList.ts
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Alertlist with long text in error (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Alertlist with long text in error (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Alertlist with long text in error (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Confirmation popup is shown (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Confirmation popup is shown (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Messagebox with editing preview (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Messagebox with editing preview (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Messagebox with editing preview (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Typing indicator with emptyview (fluent-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Typing indicator with emptyview (generic-light-compact).png
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Typing indicator with emptyview (material-blue-light-compact).png
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
  e2e/testcafe-devextreme/tests/editors/loadIndIcator/common.ts
  e2e/testcafe-devextreme/tests/editors/overlays/toast.ts
  e2e/testcafe-devextreme/tests/navigation/form/labels.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove etalons
  e2e/testcafe-devextreme/tests/editors/button/floatingAction.ts
  e2e/testcafe-devextreme/tests/editors/chat/alertList.ts
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
  e2e/testcafe-devextreme/tests/editors/loadIndIcator/common.ts
  e2e/testcafe-devextreme/tests/editors/overlays/toast.ts
  e2e/testcafe-devextreme/tests/navigation/form/labels.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix some TS in vue Demos
  apps/demos/Demos/ProgressBar/Overview/Vue/App.vue
Due: none

css: fix css padding for compact material theme
  packages/devextreme-scss/scss/widgets/material/scheduler/_index.scss
Due: stylelint

fix lint
  e2e/testcafe-devextreme/tests/navigation/button/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix handleDataChanged aiController and add test for this behavior
  packages/devextreme/js/__internal/grids/grid_core/ai_column/ai_column.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/m_ai_column_controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

use testScreenshot
  e2e/testcafe-devextreme/tests/navigation/button/floatingAction.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore: add a path-specific github instructions related to API guidelines
  .github/instructions/API_conventions.instructions.md
Due: none

chore: add reference to path-specific instructions
  .github/copilot-instructions.md
Due: none

chore: add repository-wide instructions
  .github/copilot-instructions.md
Due: none

chore: clarify copilot instructions
  .github/copilot-instructions.md
  .github/instructions/API_conventions.instructions.md
Due: none

update buttons etalons
  e2e/testcafe-devextreme/tests/navigation/button/etalons/Button with svg icon as background (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/button/etalons/Button with svg icon as background (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/button/etalons/Button with svg icon as background (material-blue-light).png
Due: none

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
