Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Design system: get rid of use ds tokens of component's level
  packages/devextreme-scss/scss/widgets/dxdsfluent/badge/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/button/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/buttonGroup/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/calendar/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/checkBox/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/diagram/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/htmlEditor/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/list/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/loadIndicator/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/menu/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/progressBar/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/scrollable/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/switch/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/tagBox/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/textBox/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/textEditor/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/toast/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/toolbar/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/tooltip/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/treeView/_colors.scss
Due: stylelint

Design System: fix tests
  e2e/testcafe-devextreme/helpers/changeTheme.ts
  e2e/testcafe-devextreme/runner.ts
  e2e/testcafe-devextreme/tests/common/pivotGrid/fieldPanel/etalons/field-panel_column-action_dnd (dxdsfluent.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/fieldPanel/etalons/field-panel_column-field_dnd-first (dxdsfluent.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/fieldPanel/etalons/field-panel_data-action_dnd (dxdsfluent.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/fieldPanel/etalons/field-panel_row-action_dnd (dxdsfluent.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/kbn/etalons/export-button_focus (dxdsfluent.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/kbn/etalons/field-chooser-button_focus_column-fields (dxdsfluent.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/kbn/etalons/field-chooser-button_focus_description-cell (dxdsfluent.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/kbn/etalons/field-chooser-button_focus_filter-fields (dxdsfluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/dragAndDrop/T1080232.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent design tokens pipeline (#34701)
  .github/renovate.json
  packages/devextreme-scss/.stylelintrc.json
  packages/devextreme-scss/build/tokens/build-tokens.mjs
  packages/devextreme-scss/build/tokens/consumed-tokens.ts
  packages/devextreme-scss/package.json
  packages/devextreme-scss/project.json
  packages/devextreme-scss/scss/widgets/fluent-next/_design-system.scss
  packages/devextreme-scss/scss/widgets/fluent-next/common/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/common/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent-next/dataGrid/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gantt/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gantt/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gridBase/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/map/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/map/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/treeList/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/validation/_sizes.scss
  packages/devextreme-scss/tests/consumed-tokens.test.ts
  packages/devextreme-scss/tests/fluent-next-naming.baseline.json
  packages/devextreme-scss/tests/fluent-next-naming.test.ts
  packages/devextreme-scss/tests/opentype.js.d.ts
  packages/devextreme-scss/tests/tsconfig.json
  packages/devextreme-scss/tests/unused-elements.test.ts
  packages/devextreme-scss/tools/naming/derive-registries.mjs
  packages/devextreme-scss/tools/naming/registries.json
  packages/devextreme-scss/tsconfig.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Design system: change highlight color after designer review (#34744)
  apps/demos/testing/etalons/TreeList-FilterModes (fluent-next.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_filtering_7_desktop (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/T1264312-selection-checked-searched (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/T1264312-selection-unchecked-searched (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/search-panel-highlight (fluent-next.blue.light).png
  packages/devextreme-scss/scss/widgets/fluent-next/gridBase/_colors.scss
Due: stylelint

Design System: restore scss design-token deps in the lockfile
  pnpm-lock.yaml
Due: none

Fluent-next: delivery artifacts to distribution and support accents (#34767)
  packages/devextreme-scss/build/internal-scss-paths.json
  packages/devextreme-scss/project.json
  packages/devextreme-scss/scss/widgets/fluent-next/_colors.scss
  packages/devextreme-themebuilder/src/metadata/collector.ts
  packages/devextreme-themebuilder/tests/data/scss/_design-system/fluent/accents/blue.scss
  packages/devextreme-themebuilder/tests/data/scss/_design-system/variables/_ds.scss
  packages/devextreme-themebuilder/tests/data/scss/bundles/dx.fluent-next.blue.light.scss
  packages/devextreme-themebuilder/tests/data/scss/widgets/fluent-next/_colors.scss
  packages/devextreme-themebuilder/tests/metadata/collector.test.ts
  packages/devextreme/project.json
  packages/nx-infra-plugin/src/executors/scss-assemble/executor.e2e.spec.ts
  packages/nx-infra-plugin/src/executors/scss-assemble/scss-assemble.impl.ts
  packages/nx-infra-plugin/src/executors/scss-build/executor.e2e.spec.ts
  packages/nx-infra-plugin/src/executors/scss-build/executor.ts
  packages/nx-infra-plugin/src/executors/scss-build/scss-build.impl.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Design System: drop the release-branch CI push triggers
  .github/workflows/build_all.yml
  .github/workflows/default_workflow.yml
  .github/workflows/demos_unit_tests.yml
  .github/workflows/lint.yml
  .github/workflows/paths.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/qunit_tests.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  .github/workflows/visual-tests-demos.yml
  .github/workflows/wrapper_tests.yml
  .github/workflows/wrapper_tests_e2e.yml
Due: none

Chat ToolCallVisualization Demo: Add description, picture and In Progress label
  apps/demos/Demos/Chat/ToolCallVisualization/ToolCallVisualization@2x.png
  apps/demos/Demos/Chat/ToolCallVisualization/description.md
  apps/demos/menuMeta.json
Due: none

Grids: Move adaptivity extenders to separate files (#34857)
  packages/devextreme/js/__internal/grids/data_grid/adaptivity/adaptivity_module.ts
  packages/devextreme/js/__internal/grids/data_grid/adaptivity/extenders/adaptivity_export_view_controller.ts
  packages/devextreme/js/__internal/grids/data_grid/m_widget.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/__tests__/utils.test.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/adaptivity_module.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/const.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_columns_resizer_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_dragging_header_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_editing_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_editor_factory_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_headers_keyboard_navigation_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_keyboard_navigation_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_resizing_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_rows_view.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/types.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  packages/devextreme/js/__internal/grids/tree_list/module_not_extended/adaptivity.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Demos: fixes for PR
  apps/demos/utils/server/csp-bundle-angular.js
  apps/demos/utils/shell/server.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: sync the theme with the fluent fixes that landed after the feature branch
  packages/devextreme-scss/scss/widgets/fluent-next/common/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/common/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/dropDownMenu/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gridBase/layout/cell.scss
  packages/devextreme-scss/scss/widgets/fluent-next/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/scheduler/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/toolbar/_index.scss
Due: stylelint

Fix Romanian localization spacing
  packages/devextreme/js/localization/messages/ro.json
Due: none

Fix Norwegian localization spacing
  packages/devextreme/js/localization/messages/nb.json
Due: none

Grids: Move adaptivity extenders to separate files
  packages/devextreme/js/__internal/grids/data_grid/adaptivity/adaptivity_module.ts
  packages/devextreme/js/__internal/grids/data_grid/adaptivity/extenders/adaptivity_export_view_controller.ts
  packages/devextreme/js/__internal/grids/data_grid/m_widget.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/__tests__/utils.test.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/adaptivity_module.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/const.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_columns_resizer_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_dragging_header_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_editing_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_editor_factory_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_headers_keyboard_navigation_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_keyboard_navigation_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_resizing_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_rows_view.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/types.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  packages/devextreme/js/__internal/grids/tree_list/module_not_extended/adaptivity.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid - Fix master detail re-initialization after saving a cell (T1334039) (#34881)
  packages/devextreme/js/__internal/core/utils/__tests__/m_object.test.ts
  packages/devextreme/js/__internal/core/utils/m_object.ts
  packages/devextreme/js/__internal/grids/data_grid/__tests__/__mock__/model/data_grid.ts
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/data_grid_base.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/__tests__/m_editing.integration.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix typo
  .github/workflows/visual-tests-demos.yml
Due: none

Demos: load-signal wrapper (#34887)
  .github/workflows/visual-tests-demos.yml
  apps/demos/.gitignore
  apps/demos/README.md
  apps/demos/utils/build/build-angular-demo.js
  apps/demos/utils/server/csp-bundle-angular.js
  apps/demos/utils/server/csp-bundle.js
  apps/demos/utils/server/demo-render-signal.js
  apps/demos/utils/server/demo-render-signal.runtime.js
  apps/demos/utils/server/vendor-bundle.js
  apps/demos/utils/shell/server.js
  apps/demos/utils/tests/server/demo-render-signal.runtime.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler: add badge "In-progress" for multilevel grouping (#34904)
  apps/demos/Demos/Scheduler/MultilevelGrouping/MultilevelGrouping@2x.png
  apps/demos/Demos/Scheduler/MultilevelGrouping/description.md
  apps/demos/menuMeta.json
Due: none

test(columns): add tests for immediate column width changes and preserve calculated widths
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/__tests__/columns_controller.integration.test.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnResizing.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

FAB: Fix dead _$wrapperCoveredElement in direction logic (#34907)
  packages/devextreme/js/__internal/ui/speed_dial_action/speed_dial_main_item.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/speedDialAction.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Tests: convert QUnit tests & helpers off Class.inherit() (#34906)
  packages/devextreme/testing/helpers/data.errorHandlingHelper.js
  packages/devextreme/testing/tests/DevExpress.core/component.tests.js
  packages/devextreme/testing/tests/DevExpress.core/domComponent.tests.js
  packages/devextreme/testing/tests/DevExpress.data/dataSource.tests.js
  packages/devextreme/testing/tests/DevExpress.jquery/eventRegistrator.tests.js
  packages/devextreme/testing/tests/DevExpress.knockout/componentRegistration.tests.js
  packages/devextreme/testing/tests/DevExpress.knockout/validationExtender.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.events/eventRegistrator.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.events/eventsInteraction.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendarViews.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/editor.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validationGroup.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validationGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validationSummary.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validationSummary.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validator.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validatorIntegration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat ToolCallVisualization Demo: Add description, picture and In Progress label (#34905)
  apps/demos/Demos/Chat/ToolCallVisualization/ToolCallVisualization@2x.png
  apps/demos/Demos/Chat/ToolCallVisualization/description.md
  apps/demos/menuMeta.json
Due: none

Chat ToolCallVisualization Demo: Add description, picture and In Progress label (#34908)
  apps/demos/Demos/Chat/ToolCallVisualization/ToolCallVisualization@2x.png
  apps/demos/Demos/Chat/ToolCallVisualization/description.md
  apps/demos/menuMeta.json
Due: none

Tests: convert QUnit tests & helpers off Class.inherit() (#34902)
  packages/devextreme/testing/helpers/data.errorHandlingHelper.js
  packages/devextreme/testing/tests/DevExpress.core/component.tests.js
  packages/devextreme/testing/tests/DevExpress.core/domComponent.tests.js
  packages/devextreme/testing/tests/DevExpress.data/dataSource.tests.js
  packages/devextreme/testing/tests/DevExpress.jquery/eventRegistrator.tests.js
  packages/devextreme/testing/tests/DevExpress.knockout/componentRegistration.tests.js
  packages/devextreme/testing/tests/DevExpress.knockout/validationExtender.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.events/eventRegistrator.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.events/eventsInteraction.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendarViews.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/editor.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validationGroup.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validationGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validationSummary.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validationSummary.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validator.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/validatorIntegration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid - Enhance handling of pending visible widths during column updates
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/__tests__/columns_controller.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor(grids): address review feedback on virtualScrolling refactor
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/extenders/virtual_scrolling_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/utils/__tests__/items.test.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/utils/__tests__/scrolling_mode.test.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/utils/items.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/utils/scrolling_mode.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid - Fix master detail re-initialization after saving a cell (T1334039) (#34914)
  packages/devextreme/js/__internal/core/utils/__tests__/m_object.test.ts
  packages/devextreme/js/__internal/core/utils/m_object.ts
  packages/devextreme/js/__internal/grids/data_grid/__tests__/__mock__/model/data_grid.ts
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/data_grid_base.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/__tests__/m_editing.integration.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid - Fix master detail re-initialization after saving a cell (T1334039) (#34915)
  packages/devextreme/js/__internal/core/utils/__tests__/m_object.test.ts
  packages/devextreme/js/__internal/core/utils/m_object.ts
  packages/devextreme/js/__internal/grids/data_grid/__tests__/__mock__/model/data_grid.ts
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/data_grid_base.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/__tests__/m_editing.integration.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: Move adaptivity extenders to separate files (#34913)
  packages/devextreme/js/__internal/grids/data_grid/adaptivity/adaptivity_module.ts
  packages/devextreme/js/__internal/grids/data_grid/adaptivity/extenders/adaptivity_export_view_controller.ts
  packages/devextreme/js/__internal/grids/data_grid/m_widget.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/__tests__/utils.test.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/adaptivity_module.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/const.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_columns_resizer_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_dragging_header_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_editing_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_editor_factory_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_headers_keyboard_navigation_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_keyboard_navigation_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_resizing_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_rows_view.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/types.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  packages/devextreme/js/__internal/grids/tree_list/module_not_extended/adaptivity.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: Move adaptivity extenders to separate files (#34912)
  packages/devextreme/js/__internal/grids/data_grid/adaptivity/adaptivity_module.ts
  packages/devextreme/js/__internal/grids/data_grid/adaptivity/extenders/adaptivity_export_view_controller.ts
  packages/devextreme/js/__internal/grids/data_grid/m_widget.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/__tests__/utils.test.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/adaptivity_module.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/const.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_columns_resizer_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_dragging_header_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_editing_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_editor_factory_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_headers_keyboard_navigation_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_keyboard_navigation_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_resizing_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_rows_view.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/types.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/master_detail/m_master_detail.ts
  packages/devextreme/js/__internal/grids/tree_list/module_not_extended/adaptivity.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
