Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

fix: fix build
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: fix test
  packages/devextreme/js/__internal/scheduler/m_recurrence_focus.integration.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

SpeechToText: Create separate SpeechRecognitionAdapter utility
  packages/devextreme-angular/src/ui/speech-to-text/index.ts
  packages/devextreme-angular/src/ui/speech-to-text/nested/index.ts
  packages/devextreme-angular/src/ui/speech-to-text/nested/speech-recognition-config.ts
  packages/devextreme-react/src/speech-to-text.ts
  packages/devextreme-vue/src/speech-to-text.ts
  packages/devextreme/js/__internal/core/speech_recognition_adapter.ts
  packages/devextreme/js/__internal/ui/speech_to_text/speech_to_text.ts
  packages/devextreme/js/core/speech_recognition_adapter.js
  packages/devextreme/js/ui/speech_to_text.d.ts
  packages/devextreme/js/ui/speech_to_text_types.d.ts
  packages/devextreme/testing/tests/DevExpress.core/speechRecognitionAdapter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/speechToText.tests.js
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

SpeechToText: Remove onError call for unsupported browser
  packages/devextreme/js/__internal/core/speech_recognition_adapter.ts
  packages/devextreme/testing/tests/DevExpress.core/speechRecognitionAdapter.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Enable lint in the default workflow
  .github/workflows/default_workflow.yml
Due: none

Remove redundant devextreme-scss:lint run
  .github/workflows/lint.yml
Due: none

Add devextreme-metadata:lint
  packages/devextreme-metadata/package.json
Due: none

Grids - CardView: Default values set in onInitNewCard are not populat… (#31130)
  e2e/testcafe-devextreme/tests/cardView/editing/editing.functional.ts
  e2e/testcafe-devextreme/tests/cardView/editing/editing.visual.ts
  e2e/testcafe-devextreme/tests/cardView/editing/etalons/editing-default-render (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/editing/etalons/editing-default-render (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/editing/etalons/editing-default-render (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/editing/etalons/editing-popup-add (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/editing/etalons/editing-popup-add (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/editing/etalons/editing-popup-add (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/editing/etalons/editing-popup-edit (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/editing/etalons/editing-popup-edit (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/editing/etalons/editing-popup-edit (material-blue-light).png
  packages/devextreme/js/__internal/grids/new/grid_core/editing/controller.ts
  packages/testcafe-models/cardView/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

CardView: Column does not display any values when calculateDisplayVal… (#31129)
  e2e/testcafe-devextreme/tests/cardView/items.functional.ts
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Test css lint failure
  packages/devextreme-scss/scss/widgets/fluent/actionSheet/_colors.scss
Due: stylelint

Scheduler: View switcher text is not translated by localization in v25.1.4 (#31082)
  packages/devextreme/js/__internal/scheduler/header/m_utils.ts
  packages/devextreme/js/__internal/scheduler/header/m_view_switcher.integration.test.ts
  packages/devextreme/js/__internal/scheduler/header/m_view_switcher.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler: View switcher text is not translated by localization in v25.1.4 (#31114)
  packages/devextreme/js/__internal/scheduler/header/m_utils.ts
  packages/devextreme/js/__internal/scheduler/header/m_view_switcher.integration.test.ts
  packages/devextreme/js/__internal/scheduler/header/m_view_switcher.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: fix focus for recurrence
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

test: add test for recurrence
  packages/devextreme/js/__internal/scheduler/m_recurrence_focus.integration.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: try to fix tests
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

test: update tests
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/popup.ts
  packages/devextreme/js/__internal/scheduler/m_recurrence_focus.integration.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: try to fix dialog logic
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/ui/dialog.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: try to fix dialog logic
  packages/devextreme/js/__internal/ui/dialog.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert "Test css lint failure"
  packages/devextreme-scss/scss/widgets/fluent/actionSheet/_colors.scss
Due: stylelint

SpeechToText: SpeechRecognitionAdapter - update EVENT_NAMES constant name
  packages/devextreme/js/__internal/core/speech_recognition_adapter.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

devextreme-metadata:format
  packages/devextreme-metadata/aspnet/enums.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid - AI Column: Support width/minWidth
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/columnResizing.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/functional.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update lint.yml
  .github/workflows/lint.yml
Due: none

DataGrid - AI Column: Support width/minWidth (#31107)
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/columnResizing.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/functional.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid - AI Column: Support adaptivity (#31106)
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/adaptivity.functional.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

SpeechToText: add story and stop button animation (#31124)
  apps/react-storybook/stories/speech_to_text/SpeechToText.stories.tsx
  packages/devextreme-scss/scss/widgets/base/speechToText/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/speechToText.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

SpeechToText: hint should be correctly applied on init
  packages/devextreme/js/__internal/ui/speech_to_text/speech_to_text.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/speechToText.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert "test: update tests"
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/popup.ts
  packages/devextreme/js/__internal/scheduler/m_recurrence_focus.integration.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Rewrite appointment popup test
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/create_scheduler.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/popup.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/scheduler.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/appointment_popup.test.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chart: dts. remove unused `@inherits` tag
  packages/devextreme/js/viz/chart.d.ts
  packages/devextreme/js/viz/pie_chart.d.ts
  packages/devextreme/js/viz/polar_chart.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add tests
  packages/devextreme/testing/tests/DevExpress.ui/themes.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

SpeechToText: Add Web Speech API integration support (#31118)
  packages/devextreme-angular/src/ui/speech-to-text/index.ts
  packages/devextreme-angular/src/ui/speech-to-text/nested/index.ts
  packages/devextreme-angular/src/ui/speech-to-text/nested/speech-recognition-config.ts
  packages/devextreme-react/src/speech-to-text.ts
  packages/devextreme-vue/src/speech-to-text.ts
  packages/devextreme/js/__internal/core/speech_recognition_adapter.ts
  packages/devextreme/js/__internal/ui/speech_to_text/speech_to_text.ts
  packages/devextreme/js/core/speech_recognition_adapter.js
  packages/devextreme/js/ui/speech_to_text.d.ts
  packages/devextreme/js/ui/speech_to_text_types.d.ts
  packages/devextreme/testing/tests/DevExpress.core/speechRecognitionAdapter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/speechToText.tests.js
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Demos: return accidentally removed data
  apps/demos/Demos/PivotGrid/StandaloneFieldChooser/jQuery/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: fix focus bug
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/ui/m_dialog.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update base font family in _colors.scss to enhance cross-platform typography support
  packages/devextreme-themebuilder/tests/data/scss/widgets/generic/_colors.scss
Due: stylelint

SpeechToText: hint should be correctly applied on init (#31136)
  packages/devextreme/js/__internal/ui/speech_to_text/speech_to_text.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/speechToText.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
