Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Grids: remove m_ prefix from ErrorHandlingViewController (#34831)
  packages/devextreme/js/__internal/grids/grid_core/ai_column/controllers/m_ai_column_integration_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/error_handling/error_handling_module.ts
  packages/devextreme/js/__internal/grids/grid_core/error_handling/error_handling_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove selectionController from dataController, create selection_module.ts, const.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/selection.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/const.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/selection_module.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

create extenders/selection_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/extenders/selection_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/selection_module.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix DataSelectionTreeListExtender
  packages/devextreme/js/__internal/grids/grid_core/selection/extenders/selection_data_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

rename extender + add types to m_selection
  packages/devextreme/js/__internal/grids/grid_core/selection/extenders/selection_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/selection_module.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/types.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/devextreme/js/__internal/ui/selection/types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove usages of 'updateSelection' outside selection module
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/types.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/pager/m_pager.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/extenders/selection_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/types.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert "move 'data' module in init order"
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

move 'data' module in init order
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

change naming of other extenders
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/selection_module.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix qunit tests
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

revert isRowSstateUpdate
  packages/devextreme/js/__internal/grids/grid_core/data_controller/types.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/pager/m_pager.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/extenders/selection_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix review
  packages/devextreme/js/__internal/grids/grid_core/selection/selection_module.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix ESM bundle for angular bundles
  apps/demos/utils/server/csp-bundle-angular.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: Add AI-powered Detail View Demo Desc.
  apps/demos/Demos/DataGrid/AIPoweredDetailView/description.md
Due: none

Localization: fix code scan vulnerability (#34809) (#34829)
  packages/nx-infra-plugin/src/executors/generate-community-locales/executor.e2e.spec.ts
  packages/nx-infra-plugin/src/executors/generate-community-locales/generate-community-locales.impl.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: add guard tests to decouple kbn and data controllers
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/__tests__/keyboard_navigation.integration.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update lock
  pnpm-lock.yaml
Due: none

Add React Desc. Files for React-Specific Template Link
  apps/demos/Demos/DataGrid/AIPoweredDetailView/React/description.md
  apps/demos/Demos/DataGrid/AIPoweredDetailView/ReactJs/description.md
Due: none

Grids: move _selectionController definition from base dataController (#34799)
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/selection.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/types.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  packages/devextreme/js/__internal/grids/grid_core/pager/m_pager.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/const.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/extenders/selection_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/selection_module.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/devextreme/js/__internal/ui/selection/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: move _selectionController definition from base dataController (#34834)
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/selection.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/types.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  packages/devextreme/js/__internal/grids/grid_core/pager/m_pager.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/const.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/extenders/selection_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/selection_module.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/devextreme/js/__internal/ui/selection/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: move _selectionController definition from base dataController (#34835)
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/selection.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/types.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_row_based.ts
  packages/devextreme/js/__internal/grids/grid_core/pager/m_pager.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/const.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/extenders/selection_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/selection_module.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
  packages/devextreme/js/__internal/ui/selection/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: decouple DataController and EditorFactoryController
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/types.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/testing/helpers/gridBaseMocks.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: ship accents as CSS, keep the sources out of the package
  packages/devextreme-scss/project.json
  packages/devextreme-scss/scss/widgets/fluent-next/_colors.scss
  packages/devextreme/project.json
  packages/nx-infra-plugin/src/executors/scss-assemble/executor.e2e.spec.ts
  packages/nx-infra-plugin/src/executors/scss-assemble/schema.json
  packages/nx-infra-plugin/src/executors/scss-assemble/schema.ts
  packages/nx-infra-plugin/src/executors/scss-assemble/scss-assemble.impl.ts
  packages/nx-infra-plugin/src/executors/scss-build/executor.e2e.spec.ts
  packages/nx-infra-plugin/src/executors/scss-build/executor.ts
  packages/nx-infra-plugin/src/executors/scss-build/scss-build.impl.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Keep internal sources out of ThemeBuilder, share one exclude list
  packages/devextreme-scss/build/internal-scss-paths.json
  packages/devextreme-themebuilder/src/metadata/collector.ts
  packages/devextreme-themebuilder/tests/data/scss/_design-system/fluent/accents/blue.scss
  packages/devextreme-themebuilder/tests/data/scss/_design-system/variables/_ds.scss
  packages/devextreme-themebuilder/tests/data/scss/bundles/dx.fluent-next.blue.light.scss
  packages/devextreme-themebuilder/tests/data/scss/widgets/fluent-next/_colors.scss
  packages/devextreme-themebuilder/tests/metadata/collector.test.ts
  packages/devextreme/project.json
  packages/nx-infra-plugin/src/executors/scss-assemble/executor.e2e.spec.ts
  packages/nx-infra-plugin/src/executors/scss-assemble/schema.json
  packages/nx-infra-plugin/src/executors/scss-assemble/schema.ts
  packages/nx-infra-plugin/src/executors/scss-assemble/scss-assemble.impl.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Wait for the bundles the scss package ships
  packages/devextreme/project.json
Due: none

Fix Russian required form message (#34819)
  packages/devextreme/js/localization/messages/ru.json
Due: none

Fix Polish TreeList aria label (#34820)
  packages/devextreme/js/localization/messages/pl.json
Due: none

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
