Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Use bash arrays for Chrome args
  docker-ci.sh
Due: none

refactor
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Due: eslint

Add missing tests for a DateBox widget (#11733)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Due: eslint

Add missing tests for a DateBox widget
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Due: eslint

Use bash arrays for Chrome args (docker-ci) (#11764)
  docker-ci.sh
Due: none

Update docker-ci.sh
  docker-ci.sh
Due: none

Remove advanceCaret DateBox option
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: eslint

Add missing NumberBox test
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Due: eslint

Scss generator (#11750)
  .drone.yml
  .gitignore
  .travis.yml
  build/gulp/scss/compiler.js
  build/gulp/scss/config.js
  build/gulp/scss/generator.js
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
  build/gulp/scss/tasks.js
  docker-ci.sh
  gulpfile.js
  package.json
  shippable.yml
Due: eslint

Add missing tests for a DateBox widget (#11767)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Due: eslint

Renovation: Implement default button behavior (#11743)
  js/renovation/button.tsx
  js/renovation/dist/button.j.jsx
  js/renovation/widget.tsx
  testing/jest/button.tests.tsx
Due: none

Drone CI - Add time zone argument to the test matrix (#11761)
  .drone.yml
  .travis.yml
  docker-ci.sh
  shippable.yml
Due: none

QUnit: Rework API for ignoring uncleared timers (#11765)
  testing/helpers/ignoreAngularTimers.js
  testing/helpers/qunitExtensions.js
  testing/tests/DevExpress.angular/componentRegistration.tests.js
  testing/tests/DevExpress.angular/modelIntegration.tests.js
  testing/tests/DevExpress.angular/widgets.tests.js
  testing/tests/DevExpress/misc.tests.js
Due: eslint

QUnit: Check for Sinon fake timers (#11206)
  testing/helpers/qunitExtensions.js
Due: eslint

Tabs
  build/gulp/scss/generator.js
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
Due: eslint

Switch, CheckBox
  build/gulp/scss/generator.js
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
  styles/widgets/material/switch.material.less
Due: eslint, stylelint

Validation, Texteditor
  build/gulp/scss/generator.js
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
  styles/mixins.less
  styles/widgets/base/validation.less
  styles/widgets/generic/validation.generic.less
  styles/widgets/material/size-schemes/shared/base.less
  styles/widgets/material/validation.material.less
Due: eslint, stylelint

NavBar
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
Due: eslint

Badges
  build/gulp/scss/generator.js
  build/gulp/scss/index-data.js
Due: eslint

add LayoutManager to tests
  testing/tests/DevExpress.ui.widgets/init_dispose_widget_bundled_tests.js
Due: eslint

refactoring
  js/ui/date_box/ui.date_box.mask.js
Due: eslint

Multiple fixes for new options
  js/ui/tree_view/ui.tree_view.base.js
  testing/helpers/TreeViewTestHelper.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/checkboxes.js
Due: eslint

Add tests
  js/renovation/button.tsx
  js/renovation/dist/button.j.jsx
  package.json
  testing/jest/button.tests.tsx
  testing/tests/Renovation/widget.tests.js
Due: eslint

Remove unnecessary method selectNodesByKeys
  js/ui/hierarchical_collection/ui.hierarchical_collection_widget.js
  js/ui/tree_view.d.ts
  js/ui/tree_view/ui.tree_view.base.js
Due: eslint

ScrollView: Fix not restored Sinon timers
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Due: eslint

Small refactoring
  testing/helpers/TreeViewTestHelper.js
Due: eslint

DataGrid: Fix selected checkboxes were not checked after page refresh if stateStoring is enabled and renderAsync is true (T857205)
  js/ui/grid_core/ui.grid_core.selection.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

QUnit: Check for Sinon fake timers (#11206) (#11772)
  testing/helpers/qunitExtensions.js
  testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Due: eslint

QUnit: Check for Sinon fake timers (#11206) (#11770)
  testing/helpers/qunitExtensions.js
Due: eslint

DropDownButton: add some events tests
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Due: eslint

Update README.txt
  build/docker-image/README.txt
Due: none

TextBox, DropDownEditor
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/dropDownEditor.generic.less
  styles/widgets/generic/textBox.generic.less
Due: eslint, stylelint

Thinner deps
  testing/runner/Program.cs
  testing/runner/runner.csproj
Due: none

rename variable
  build/gulp/scss/generator.js
Due: eslint

Test for new options
  js/ui/tree_view/ui.tree_view.base.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/checkboxes.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  stylelint: any of: *.{css,less}
