Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Replace (p)npx with pnpm in publishing and workflow scripts (#33261)
  .github/workflows/build_all.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/packages_publishing.yml
  .github/workflows/renovation.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/wrapper_tests.yml
  package.json
Due: none

Fix flaky test
  e2e/testcafe-devextreme/tests/common/treeList/toast.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/toast.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix isReady check
  e2e/testcafe-devextreme/tests/cardView/editing/editing.functional.ts
  e2e/testcafe-devextreme/tests/common/filterBuilder/filterBuilderScrolling.ts
  e2e/testcafe-devextreme/tests/common/treeList/adaptiveRow.ts
  e2e/testcafe-devextreme/tests/common/treeList/rowDragging.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/adaptivity/functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/columnChooser.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/visual.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/grouping/calculateGroupValueRuntimeChanges.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/headerFilter.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/T1163515_alternateRowGroupBorders.ts
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/withGrouping.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Security: fix d.ts lint errors from @stylistic 5.x upgrade
  packages/devextreme/eslint.config.mjs
  packages/devextreme/js/common/ai-integration.d.ts
  packages/devextreme/js/common/core/localization.d.ts
  packages/devextreme/js/common/data.d.ts
  packages/devextreme/js/core/index.d.ts
  packages/devextreme/js/core/utils/callbacks.d.ts
  packages/devextreme/js/data/data_source.d.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/js/ui/html_editor.d.ts
  packages/devextreme/js/viz/chart.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Security: fix d.ts lint errors from @stylistic 5.x upgrade
  packages/devextreme/eslint.config.mjs
  packages/devextreme/js/common/core/localization.d.ts
  packages/devextreme/js/common/data.d.ts
  packages/devextreme/js/core/index.d.ts
  packages/devextreme/js/core/utils/callbacks.d.ts
  packages/devextreme/js/data/data_source.d.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/js/ui/html_editor.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Security: fix wrapper eslint configs for eslint-config-devextreme 1.1.9
  packages/devextreme-angular/eslint.config.mjs
  packages/devextreme-react/eslint.config.mjs
Due: none

Security: fix wrapper eslint configs for eslint-config-devextreme 1.1.9
  packages/devextreme-angular/eslint.config.mjs
Due: none

Add ESLint rule
  e2e/testcafe-devextreme/eslint-rules/no-is-ready-without-expect.js
  e2e/testcafe-devextreme/eslint.config.mjs
  e2e/testcafe-devextreme/tests/dataGrid/common/editing/visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Security: fix remaining lint errors in wrappers and testcafe
  e2e/testcafe-devextreme/docker/run-testcafe.js
  e2e/testcafe-devextreme/helpers/callbackTestHelper.ts
  e2e/testcafe-devextreme/helpers/createWidget.ts
  e2e/testcafe-devextreme/helpers/shadowDom/shadowDomExtension.js
  e2e/testcafe-devextreme/helpers/widgetTypings.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/focus/focusEvents/newRows_T1162227.ts
  packages/devextreme-angular/eslint.config.mjs
  packages/devextreme-react/src/core/configuration/comparer.ts
  packages/devextreme-react/src/core/use-option-scanning.ts
  packages/devextreme-react/src/core/widget-config.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix paths
  e2e/testcafe-devextreme/eslint.config.mjs
Due: none

Security: fix remaining lint errors in wrappers and testcafe
  e2e/testcafe-devextreme/docker/run-testcafe.js
  e2e/testcafe-devextreme/helpers/shadowDom/shadowDomExtension.js
  e2e/testcafe-devextreme/tests/dataGrid/common/focus/focusEvents/newRows_T1162227.ts
  packages/devextreme-angular/eslint.config.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix
  packages/devextreme-scss/scss/widgets/base/_form.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Security: revert Angular 19.2.18→19.2.20 bump (internal API breaking change)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add ticket number
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Security: fix React and Testcafe eslint for eslint-config-devextreme 1.1.9
  e2e/testcafe-devextreme/eslint.config.mjs
  e2e/testcafe-devextreme/package.json
  packages/devextreme-react/eslint.config.mjs
  packages/devextreme-react/package.json
  packages/devextreme-react/src/core/configuration/comparer.ts
  packages/devextreme-react/src/core/configuration/config-node.ts
  packages/devextreme-react/src/core/configuration/react/element.ts
  packages/devextreme-react/src/core/contexts.ts
  packages/devextreme-react/src/core/options-manager.ts
  packages/devextreme-react/src/core/template-manager.tsx
  packages/devextreme-react/src/core/use-option-scanning.ts
  packages/devextreme-react/src/core/widget-config.ts
  pnpm-lock.yaml
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Security: fix testcafe lint script for flat config (remove --ext)
  e2e/testcafe-devextreme/package.json
Due: none

Fix
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Security: fix testcafe lint errors (spellcheck, max-len, init-declarations)
  e2e/testcafe-devextreme/eslint.config.mjs
  e2e/testcafe-devextreme/helpers/callbackTestHelper.ts
  e2e/testcafe-devextreme/helpers/clearPage.js
  e2e/testcafe-devextreme/helpers/createWidget.ts
  e2e/testcafe-devextreme/helpers/generateOptionMatrix.ts
  e2e/testcafe-devextreme/helpers/widgetTypings.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/focus/focusedRow/focusedRow.ts
  e2e/testcafe-devextreme/tests/editors/overlays/popup.ts
  e2e/testcafe-devextreme/tests/scheduler/common/layout/templates/appointmentTemplateTargetedData.ts
  e2e/testcafe-devextreme/update_failed_etalons.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: mark test as unstable (#33259)
  e2e/testcafe-devextreme/tests/dataGrid/common/toast.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Security: revert testcafe to eslint8 catalog (fix TypeScript compilation)
  e2e/testcafe-devextreme/eslint.config.mjs
  e2e/testcafe-devextreme/package.json
  pnpm-lock.yaml
Due: none

Security: pin testcafe eslint-config-devextreme to 1.1.6 (eslint8 compat)
  e2e/testcafe-devextreme/package.json
  pnpm-lock.yaml
Due: none

Security: remove explicit eslint-config-devextreme from testcafe (let workspace resolve)
  e2e/testcafe-devextreme/package.json
  pnpm-lock.yaml
Due: none

Security: fix testcafe lint errors (indent auto-fix, restrict-plus-operands)
  e2e/testcafe-devextreme/helpers/callbackTestHelper.ts
  e2e/testcafe-devextreme/helpers/clearPage.js
  e2e/testcafe-devextreme/helpers/generateOptionMatrix.ts
  e2e/testcafe-devextreme/helpers/shadowDom/shadowDomExtension.js
  e2e/testcafe-devextreme/helpers/widgetTypings.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/focus/focusedRow/focusedRow.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/keyboardNavigation.functional.ts
  e2e/testcafe-devextreme/tests/scheduler/common/layout/templates/appointmentTemplateTargetedData.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Security: pin eslint-config-devextreme 1.1.6 in testcafe for eslint8 compat
  e2e/testcafe-devextreme/package.json
  pnpm-lock.yaml
Due: none

Security: fix testcafe TypeScript compilation (append return type)
  e2e/testcafe-devextreme/tests/dataGrid/common/focus/focusedRow/focusedRow.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

@types/jquery 4.0.0 (#33258)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Security: bump yaml 2.5.0 → 2.8.3
  packages/devextreme/package.json
  pnpm-lock.yaml
Due: none

Security: bump webpack to 5.105.4 across all packages
  apps/react/package.json
  apps/vue/package.json
  e2e/bundlers/package.json
  e2e/devextreme-bundler/package.json
  packages/devextreme-angular/package.json
  packages/devextreme/package.json
  pnpm-lock.yaml
Due: none

Security: bump webpack to 5.105.4 across all packages
  apps/react/package.json
  apps/vue/package.json
  e2e/bundlers/package.json
  packages/devextreme-angular/package.json
  packages/devextreme/package.json
  pnpm-lock.yaml
Due: none

Security: bump csstype 3.1.3 → 3.2.3
  packages/devextreme/package.json
  pnpm-lock.yaml
Due: none

Security: bump jspdf 4.0.0 → 4.2.1
  packages/devextreme/package.json
  pnpm-lock.yaml
Due: none

Security: bump @testing-library/jest-dom ^6.6.3 → 6.9.1
  packages/devextreme/package.json
  pnpm-lock.yaml
Due: none

Security: bump @testing-library/user-event ^14.5.2 → 14.6.1
  packages/devextreme/package.json
  pnpm-lock.yaml
Due: none

Security: bump eslint-plugin-n 17.23.1 → 17.24.0
  packages/devextreme/package.json
  pnpm-lock.yaml
Due: none

Security: bump eslint-plugin-jest 29.0.1 → 29.15.0
  packages/devextreme/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
