Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

update util test
  packages/devextreme/testing/tests/DevExpress.ui.events/events.utils.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DEMOS. Update to Angular 17 + clean demo's config from unused path
  apps/demos/configs/Angular/config.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler(T1203033): fix calendar's fullscreen popup issue on mobile devices
  packages/devextreme/js/__internal/scheduler/header/m_calendar.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: unskip stable
  e2e/testcafe-devextreme/tests/dataGrid/columnReordering.ts
  e2e/testcafe-devextreme/tests/dataGrid/editing.ts
  e2e/testcafe-devextreme/tests/dataGrid/editing_matrix.ts
  e2e/testcafe-devextreme/tests/dataGrid/fixedColumns.ts
  e2e/testcafe-devextreme/tests/dataGrid/focus/focusedRow/focusedRow.ts
  e2e/testcafe-devextreme/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/masterDetail.ts
  e2e/testcafe-devextreme/tests/dataGrid/pager.ts
  e2e/testcafe-devextreme/tests/dataGrid/scrolling.ts
  e2e/testcafe-devextreme/tests/dataGrid/searchPanel.ts
  e2e/testcafe-devextreme/tests/dataGrid/selection.ts
  e2e/testcafe-devextreme/tests/pivotGrid/headerFilter.ts
  e2e/testcafe-devextreme/tests/scheduler/deleteAppointments.ts
  e2e/testcafe-devextreme/tests/scheduler/layout/resources/base/generic.ts
  e2e/testcafe-devextreme/tests/scheduler/tooltipBehaviour/tooltipBehavior.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

gen: etalons
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1045321-generic.light.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1045321-material.blue.light.png
  e2e/testcafe-devextreme/tests/dataGrid/etalons/T1046688.searchPanel.png
  e2e/testcafe-devextreme/tests/pivotGrid/etalons/headerFilter - after scroll (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/pivotGrid/etalons/headerFilter - before scroll (fluent-blue-light).png
Due: none

fix: return unstable back
  e2e/testcafe-devextreme/tests/dataGrid/focus/focusedRow/focusedRow.ts
  e2e/testcafe-devextreme/tests/scheduler/tooltipBehaviour/tooltipBehavior.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  e2e/testcafe-devextreme/tests/dataGrid/columnReordering.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: paging
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert "refactor"
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert "fix"
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

test
  e2e/testcafe-devextreme/helpers/createWidget.ts
  e2e/testcafe-devextreme/tests/dataGrid/focus/focus.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: add apiPush method to model
  packages/testcafe-models/dataGrid/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

review fix: add note
  e2e/testcafe-devextreme/helpers/createWidget.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: stabilize focus test
  e2e/testcafe-devextreme/tests/dataGrid/focus/focusedRow/focusedRow.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(tests)
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

wip. Refactor package.json. remove unused @angular and devextreme-angular dependencies
  apps/angular/package.json
  apps/demos/package.json
Due: none

wip. Refactor package.json.
  packages/devextreme-angular/package.json
Due: none

dxGantt: update version after devexpress/utils semver fix
  package-lock.json
  package.json
Due: none

Review fixes
  apps/demos/Demos/ContextMenu/Scrolling/jQuery/index.html
  apps/demos/Demos/ContextMenu/Scrolling/jQuery/index.js
  apps/demos/Demos/ContextMenu/Scrolling/jQuery/styles.css
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

wip. Refactor package.json.
  apps/angular/package.json
  package.json
  packages/devextreme-angular/package.json
Due: none

dxGantt: update version after devexpress/utils package semver fix
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/package.json
Due: none

wip. Refactor package.json.
  package-lock.json
  packages/devextreme-angular/package.json
Due: none

Add etalons
  apps/demos/testing/etalons/ContextMenu-Scrolling (fluent.blue.light).png
  apps/demos/testing/etalons/ContextMenu-Scrolling (material.blue.light).png
  apps/demos/testing/etalons/ContextMenu-Scrolling.png
  apps/demos/testing/etalons/Menu-Scrolling (fluent.blue.light).png
  apps/demos/testing/etalons/Menu-Scrolling (material.blue.light).png
  apps/demos/testing/etalons/Menu-Scrolling.png
Due: none

ScrollView: Support for simulated scrolling in ShadowDOM
  packages/devextreme/js/events/click.js
  packages/devextreme/js/events/core/events_engine.js
  packages/devextreme/js/events/pointer/base.js
  packages/devextreme/js/events/utils/event_target.js
  packages/devextreme/testing/tests/DevExpress.ui.events/events.utils.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.events/eventsEngine.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

wip. Refactor package.json.
  apps/angular/package.json
  package-lock.json
Due: none

Add etalons
  apps/demos/Demos/Menu/Scrolling/jQuery/styles.css
Due: stylelint

Menu and ContextMenu scrolling: add visual tests (#27242)
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu scrolling (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu scrolling (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/etalons/ContextMenu scrolling (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/contextMenu/scrolling.ts
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Menu scrolling (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Menu scrolling (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/etalons/Menu scrolling (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/menu/scrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: add internal module env to nx inputs (#27246)
  packages/devextreme/project.json
Due: none

add QUnit tests for focusOnDelete
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

change the variable name for focusStateEnabled option
  packages/devextreme/js/ui/list/ui.list.edit.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet
