Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

fix jest tests
  js/renovation/__tests__/check_box.test.tsx
Due: eslint

Removing a redundant getter
  js/renovation/scheduler/workspaces/day/date_table/layout.tsx
Due: eslint

DataGrid/ TreeList: Fix drag and drop row when columnAutoWidth is enabled (T903351) (#13780)
  js/ui/draggable.js
  testing/testcafe/tests/dataGrid/rowDragging.ts
Due: eslint

DataGrid/ TreeList: Fix drag and drop row when columnAutoWidth is enabled (T903351) (#13781)
  js/ui/draggable.js
  testing/testcafe/tests/dataGrid/rowDragging.ts
Due: eslint

DataGrid/ TreeList: Fix drag and drop row when columnAutoWidth is enabled (T903351) (#13782)
  js/ui/draggable.js
  testing/testcafe/tests/dataGrid/rowDragging.ts
Due: eslint

Fix p-a-d-d-i-n-g
  scss/widgets/generic/button/_index.scss
  scss/widgets/material/button/_index.scss
Due: stylelint

fix problems after merge
  js/bundles/modules/parts/widgets-renovation.js
  js/renovation/ui/__tests__/check_box.test.tsx
  js/renovation/ui/check_box.tsx
  testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
Due: eslint

Remove extra check from test
  js/renovation/scheduler/workspaces/base/__tests__/table.test.tsx
Due: eslint

Diagram - Fix toolbar button checked state on exit full screen mode (#13840)
  js/ui/diagram/ui.diagram.js
Due: eslint

Scheduler - Virtual Scrolling (#13449)
  js/renovation/scheduler/workspaces/base/__tests__/table.test.tsx
  js/renovation/scheduler/workspaces/base/__tests__/virtual_table.test.tsx
  js/renovation/scheduler/workspaces/base/table.tsx
  js/renovation/scheduler/workspaces/base/time_panel/__tests__/layout.test.tsx
  js/renovation/scheduler/workspaces/base/time_panel/layout.tsx
  js/renovation/scheduler/workspaces/base/virtual_table.tsx
  js/renovation/scheduler/workspaces/day/date_table/__tests__/layout.test.tsx
  js/renovation/scheduler/workspaces/day/date_table/layout.tsx
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
Due: eslint

PR feedback
  js/ui/pivot_grid/ui.pivot_grid.export.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.pivotGrid.tests.js
Due: eslint

Lock generator version 1.92
  package.json
Due: none

move parentIndependentState option to the widget
  js/ui/button.js
  js/ui/widget/ui.widget.js
  testing/tests/DevExpress.ui.widgets/button.markup.tests.js
  testing/tests/DevExpress.ui.widgets/button.tests.js
  testing/tests/DevExpress.ui/widget.tests.js
Due: eslint

Fix generator's version (1.0.92) (#13885)
  package.json
Due: none

Themebuilder - process input variables (make kebab)
  themebuilder-scss/src/modules/config-normalizer.ts
  themebuilder-scss/tests/modules/builder.test.ts
  themebuilder-scss/tests/modules/config-normalizer.test.ts
Due: eslint

Fix TextBox placeholder overlapping (T916019)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/markup.tests.js
Due: eslint

Support active state for non-readonly custom buttons inside readonly editor (T905970)
  js/core/action.js
  js/ui/button.js
  js/ui/text_box/texteditor_button_collection/custom.js
  testing/tests/DevExpress.core/action.tests.js
  testing/tests/DevExpress.ui.widgets.editors/actionButtons.test.js
  testing/tests/DevExpress.ui.widgets/button.markup.tests.js
  testing/tests/DevExpress.ui.widgets/button.tests.js
Due: eslint

refactoring
  themebuilder-scss/src/modules/config-normalizer.ts
Due: eslint

fix text
  themebuilder-scss/tests/modules/config-normalizer.test.ts
Due: eslint

fix test
  testing/tests/DevExpress.ui/widget.tests.js
Due: eslint

Fix TextBox placeholder overlapping (T916019) (#13887)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/markup.tests.js
Due: eslint

Fix tagbox behavior for material theme in datagrid
  scss/widgets/material/gridBase/_index.scss
Due: stylelint

DataGrid: Fix revert button (T905677)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/testcafe/tests/dataGrid/editing.ts
Due: eslint

DataGrid: Fix validation message appearance with long text in Firefox if column fixing is enabled (T913696) (#13880)
  scss/widgets/common/_gridBase.scss
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Due: eslint, stylelint

DataGrid: Fix validation message appearance with long text in Firefox if column fixing is enabled (T913696) (#13881)
  styles/widgets/common/gridBase.less
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Due: eslint

DataGrid: Fix validation message appearance with long text in Firefox if column fixing is enabled (T913696) (#13882)
  styles/widgets/common/gridBase.less
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Due: eslint

Fix bugs
  js/renovation/scheduler/workspaces/day/date_table/__tests__/layout.test.tsx
  js/renovation/scheduler/workspaces/day/date_table/layout.tsx
  js/renovation/scheduler/workspaces/month/layout.tsx
Due: eslint

Diagram - A shape connectors' data source doesn't update an edge's text field if its initial value is empty (T914407)
  package.json
Due: none

TreeList: Fix unstable test
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Due: eslint

Path conditions:
  eslint: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
