Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

test: fix dates
  e2e/testcafe-devextreme/tests/scheduler/timezones/appointmentCollectorTimezone.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove conditional testing from drawer.scenarios.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

LoadIndicator: Spinner animation should not be segmented in Material theme (T1318930)
  packages/devextreme-scss/scss/widgets/material/loadIndicator/_index.scss
Due: stylelint

refactor: add typing
  packages/devextreme/js/__internal/scheduler/m_compact_appointments_helper.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

LoadIndicator: Spinner animation should not be segmented in Material theme (T1318930) (#32204)
  packages/devextreme-scss/scss/widgets/material/loadIndicator/_index.scss
Due: stylelint

LoadIndicator: Spinner animation should not be segmented in Material theme (T1318930) (#32205)
  packages/devextreme-scss/scss/widgets/material/loadIndicator/_index.scss
Due: stylelint

LoadIndicator: Spinner animation should not be segmented in Material theme (T1318930) (#32206)
  packages/devextreme-scss/scss/widgets/material/loadIndicator/_index.scss
Due: stylelint

Add missing doctags required for docgen (#32117)
  packages/devextreme/js/ui/card_view.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add missing doctags required for docgen (#32119)
  packages/devextreme/js/ui/card_view.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add NODE_OPTIONS: max-old-space-size=8192 for test job on CI
  .github/workflows/wrapper_tests.yml
Due: none

remove arraysRoughEqual
  packages/devextreme/testing/tests/DevExpress.viz.vectorMap/projection.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(deps): update dependency jspdf to v4 [security]
  apps/demos/package.json
  packages/devextreme/package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency jspdf to v4 [security]
  apps/demos/package.json
  package-lock.json
  packages/devextreme/package.json
Due: none

Fix after review: implement deprecation warning for old scrollTo API
  packages/devextreme/js/__internal/scheduler/__tests__/scheduler.test.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: Add suggestions
  packages/devextreme-angular/src/core/tokens/index.ts
  packages/devextreme-angular/src/ui/chat/index.ts
  packages/devextreme-angular/src/ui/chat/nested/index.ts
  packages/devextreme-angular/src/ui/chat/nested/suggestion-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/base/suggestion-dxi.ts
  packages/devextreme-angular/src/ui/nested/index.ts
  packages/devextreme-angular/src/ui/nested/suggestion-dxi.ts
  packages/devextreme-react/src/chat.ts
  packages/devextreme-vue/src/chat.ts
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/message_box/message_box.ts
  packages/devextreme/js/ui/chat.d.ts
  packages/devextreme/js/ui/chat_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add expected results for some test in projection.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.vectorMap/projection.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Navigation: Fix unstable e2e tests (#32194)
  apps/demos/testing/skipped-tests.js
  apps/demos/utils/visual-tests/matrix-test-helper.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: verify deprecation warning for old API
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/scrollTo.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update packages/devextreme/testing/tests/DevExpress.viz.vectorMap/projection.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.vectorMap/projection.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

revert span calculation
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_indicator.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: fix accessability bugs
  packages/devextreme-scss/scss/widgets/base/scheduler/_index.scss
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

css: add focus state to settings button in appointment form
  packages/devextreme-scss/scss/widgets/base/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/generic/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/material/scheduler/_index.scss
Due: stylelint

drop some skipped tests
  packages/devextreme/testing/tests/DevExpress.viz.vectorMap/projection.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: fix bug
  packages/devextreme/js/__internal/scheduler/__tests__/workspace.base.test.ts
  packages/devextreme/js/__internal/scheduler/__tests__/workspace.recalculation.test.ts
  packages/devextreme/js/__internal/scheduler/__tests__/workspace.test.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

test: reerrange tests
  packages/devextreme/js/__internal/scheduler/__tests__/workspace.base.test.ts
  packages/devextreme/js/__internal/scheduler/__tests__/workspace.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix & test
  e2e/testcafe-devextreme/tests/scheduler/common/scrollTo.ts
  packages/devextreme/js/__internal/scheduler/__tests__/workspace.recalculation.test.ts
  packages/devextreme/js/__internal/scheduler/__tests__/workspace.test.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
  packages/testcafe-models/scheduler/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: update screenshots
  e2e/testcafe-devextreme/tests/scheduler/common/layout/timeIndication/etalons/shader-virtual-scrolling-week-end (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/timeIndication/etalons/shader-virtual-scrolling-week-end-with-current-time-indicator (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/timeIndication/etalons/shader-virtual-scrolling-week-start (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/timeIndication/etalons/shader-virtual-scrolling-week-start-with-current-time-indicator (fluent.blue.light).png
Due: none

Navigation: Fix unstable Qunit tests (#32192)
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.repaintChangesOnly.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/baseWidget.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.vectorMap/projection.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
