Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

Fix after merging
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix after merging
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix lint
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Remove message bubble's deleted class on start updating
  packages/devextreme/js/__internal/ui/chat/messagebubble.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update testcafe etalons
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist without message template and with deleted messages (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist without message template and with deleted messages (generic-light).png
Due: none

code refactoring
  packages/devextreme/js/__internal/grids/data_grid/keyboard_navigation/m_group_panel_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/data_grid/keyboard_navigation/m_headers_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_column_keyboard_navigation_core.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix tests
  packages/devextreme/js/__internal/grids/grid_core/context_menu/m_column_context_menu_mixin.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add etalons
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/group_column_via_keyboard_when_showWheGrouped_is_true.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/group_last_column_via_keyboard.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/group_second_column_via_keyboard.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/group_single_column_via_keyboard.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_all_columns_via_context_menu_1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_all_columns_via_context_menu_2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_column_when_pressing_delete.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_last_column_via_context_menu_1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_last_column_via_context_menu_2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_last_column_when_pressing_backspace.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_second_column_via_context_menu_1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_second_column_via_context_menu_2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_second_column_when_pressing_backspace.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_single_column_on_backspace_when_there_is_command_column.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_single_column_via_context_menu_1.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_single_column_via_context_menu_2.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/ungroup_single_column_when_pressing_backspace.png
Due: none

Fix testcafe tests
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_headers_keyboard_navigation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

revert time overflow
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagegroup/_index.scss
Due: stylelint

add test
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

transfer test in the context of createCardInfo
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

initial commit
  e2e/testcafe-devextreme/tests/dataGrid/common/headerFilter/headerFilter.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/testcafe-models/dataGrid/headers/headerFilter.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

change resolution
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update snapshot
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/__snapshots__/view.intergration.test.tsx.snap
Due: none

clean fix
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix errors
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter_core.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add testcase for bubble root class
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: fix Ctrl+Arrow movement when in the same page more than 1 DataGrid (T1285596)
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/js/ui/shared/accessibility.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat.Editing: implementing API and UI for deleted messages (additional changes) (#29766)
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist without message template and with deleted messages (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist without message template and with deleted messages (generic-light).png
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_mixins.scss
  packages/devextreme/js/__internal/ui/chat/messagebubble.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

CardView: Page count in Pager component does not change after filtration (#29678)
  e2e/testcafe-devextreme/tests/cardView/etalons/filter-value-edit-paging-update-remoteOperations-false (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/filter-value-edit-paging-update-remoteOperations-false (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/filter-value-edit-paging-update-remoteOperations-false (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/filter-value-edit-paging-update-remoteOperations-true (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/filter-value-edit-paging-update-remoteOperations-true (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/filter-value-edit-paging-update-remoteOperations-true (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/pager.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Skip SMD generation for Scheduler Toolbar
  tools/smd-cfg.json
Due: none

LoadIndicator: Remove Themebuilder vars && Replace sizes in HtmlEditor
  packages/devextreme-scss/scss/widgets/fluent/loadIndicator/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/loadIndicator/_colors.scss
  packages/devextreme-scss/scss/widgets/material/loadIndicator/_colors.scss
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Fix styles of context menu in fluent
  packages/devextreme-scss/scss/widgets/fluent/contextMenu/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/contextMenu/_sizes.scss
Due: stylelint

TextArea: Fix textarea content cannot be scrolled when focused
  packages/devextreme/js/__internal/ui/text_box/m_text_editor.mask.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Remove icon's margin in context menu (fluent)
  packages/devextreme-scss/scss/widgets/fluent/contextMenu/_index.scss
Due: stylelint

Chat Editing: focus input after Edit menu item clicked
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagebox.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: fix Ctrl+Arrow movement when in the same page more than 1 DataGrid (T1285596) (fix tests)
  packages/devextreme/testing/helpers/gridBaseMocks.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat Editing: focus input after Edit menu item clicked (#29774)
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagebox.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix the issue with datetime
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove WAs
  apps/react-storybook/stories/card_view/CardView.stories.tsx
  e2e/testcafe-devextreme/tests/cardView/headerFilter/visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add test for the new case
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Editing -> dxCardViewEditing like for other grids (vs chat.d.ts Editing)
  packages/devextreme-angular/src/ui/card-view/index.ts
  packages/devextreme-angular/src/ui/nested/base/card-view-editing.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/editing.ts
  packages/devextreme-vue/src/card-view.ts
  packages/devextreme/js/ui/card_view.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

SCSS lint
  packages/devextreme-scss/scss/widgets/fluent/contextMenu/_sizes.scss
Due: stylelint

fix jQuery 4 compat error
  packages/devextreme/js/__internal/core/utils/m_dom.ts
  packages/devextreme/testing/tests/DevExpress.core/utils.dom.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

allow primitives to pass through html()
  packages/devextreme/js/__internal/core/utils/m_dom.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet
