Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --quiet

.lintstagedrc:

{
    "**/*.{css,scss}": "stylelint",
    "packages/devextreme/**/*.{js,ts,tsx}": "eslint --quiet"
}

Scheduler day length: Fix existing drag-n-drop test cases.
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_subscribes.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline_month.ts
  packages/devextreme/testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/etalons/drag-n-drop-timelineMonth-to-left.png
  packages/devextreme/testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/etalons/drag-n-drop-timelineMonth-to-right.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/dragAndDrop.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_month_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_month_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_month_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_timelineMonth_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_timelineMonth_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_timelineMonth_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_week_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_week_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_month_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_month_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_month_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_timelineMonth_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_timelineMonth_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_timelineMonth_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_week_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_week_offset-735.png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Due: eslint --quiet

Scheduler day length: Fix drag&drop issues (#25802)
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_subscribes.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline_month.ts
  packages/devextreme/testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/etalons/drag-n-drop-timelineMonth-to-left.png
  packages/devextreme/testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/etalons/drag-n-drop-timelineMonth-to-right.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/dragAndDrop.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_month_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_month_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_month_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_timelineMonth_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_timelineMonth_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_timelineMonth_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_week_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_week_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_month_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_month_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_month_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_timelineMonth_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_timelineMonth_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_timelineMonth_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_week_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_week_offset-735.png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Due: eslint --quiet

Scheduler day length: Fix appointment's expr issue.
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/apiCallbacks.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_drag-n-drop_week_offset--180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_drag-n-drop_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_drag-n-drop_week_offset-180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_resize_week_offset--180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_resize_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_resize_week_offset-180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_week_offset--180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_week_offset-180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/expressions.ts
Due: eslint --quiet

remove
  packages/devextreme/js/__internal/.eslint-tmp-local-plugin/index.js
  packages/devextreme/js/__internal/.eslint-tmp-local-plugin/package.json
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/package.json
Due: eslint --quiet

update package lock
  package-lock.json
Due: none

Scheduler day length: Appointment's expressions support (#25811)
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/apiCallbacks.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_drag-n-drop_week_offset--180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_drag-n-drop_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_drag-n-drop_week_offset-180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_resize_week_offset--180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_resize_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_resize_week_offset-180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_week_offset--180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_week_offset-180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/expressions.ts
Due: eslint --quiet

fix lint
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/dom.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/__tests__/utils.test.ts
Due: eslint --quiet

Lint - remove tmp package (#25814)
  package-lock.json
  packages/devextreme/js/__internal/.eslint-tmp-local-plugin/index.js
  packages/devextreme/js/__internal/.eslint-tmp-local-plugin/package.json
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/dom.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/__tests__/utils.test.ts
  packages/devextreme/package.json
Due: eslint --quiet

Fix Export Custom Markup demo (#2876)
  Demos/Charts/ExportCustomMarkup/React/Form.js
Due: none

remove
  js/__internal/.eslint-tmp-local-plugin/index.js
  js/__internal/.eslint-tmp-local-plugin/package.json
  js/__internal/.eslintrc.js
  js/__internal/grids/grid_core/row_dragging/dom.ts
  js/__internal/scheduler/workspaces/view_model/__tests__/utils.test.ts
  package-lock.json
  package.json
Due: none

MultiView: Set aria-attributes
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/js/ui/multi_view.js
  packages/devextreme/js/ui/tab_panel.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/multiView.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/multiView.tests.js
Due: eslint --quiet

FileUploader: Update styles for loaded files
  packages/devextreme/js/ui/file_uploader.js
  packages/devextreme/scss/widgets/fluent/fileUploader/_index.scss
  packages/devextreme/scss/widgets/fluent/fileUploader/_sizes.scss
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-and-validation (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device (fluent-blue-light).png
Due: stylelint, eslint --quiet

new solution
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
Due: eslint --quiet

lint
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
  packages/devextreme/scss/widgets/base/treeView/_common.scss
  packages/devextreme/scss/widgets/base/treeView/_index.scss
  packages/devextreme/scss/widgets/fluent/checkBox/_index.scss
  packages/devextreme/scss/widgets/fluent/treeView/_index.scss
  packages/devextreme/scss/widgets/fluent/treeView/_sizes.scss
  packages/devextreme/scss/widgets/generic/treeView/_index.scss
  packages/devextreme/scss/widgets/generic/treeView/_sizes.scss
  packages/devextreme/scss/widgets/material/checkBox/_index.scss
  packages/devextreme/scss/widgets/material/treeView/_index.scss
  packages/devextreme/scss/widgets/material/treeView/_sizes.scss
  packages/devextreme/testing/helpers/TreeViewTestHelper.js
  packages/devextreme/testing/helpers/ariaAccessibilityTestHelper.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/accessibility.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/focusing.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/rendering.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/virtualMode.js
Due: stylelint, eslint --quiet

HtmlEditor: Update image uploading dropzone UI in Fluent
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_sizes.scss
Due: stylelint

Lint - remove tmp package (#25815)
  js/__internal/.eslint-tmp-local-plugin/index.js
  js/__internal/.eslint-tmp-local-plugin/package.json
  js/__internal/.eslintrc.js
  js/__internal/grids/grid_core/row_dragging/dom.ts
  js/__internal/scheduler/workspaces/view_model/__tests__/utils.test.ts
  package-lock.json
  package.json
Due: none

fix(etalons): Update
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-and-validation (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (fluent-blue-light).png
Due: none

change role to region
  packages/devextreme/js/ui/accordion.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/accordion.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/accordion.tests.js
Due: eslint --quiet

Reanimate vue playground
  playgrounds/vue/package.json
  playgrounds/vue/public/index.html
  playgrounds/vue/tsconfig.json
  playgrounds/vue/webpack.config.js
Due: none

HtmlEditor: Update image uploading dropzone UI in Fluent
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_sizes.scss
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-and-validation (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (fluent-blue-light).png
Due: stylelint

Focused appointment color
  packages/devextreme/scss/widgets/base/scheduler/_index.scss
  packages/devextreme/scss/widgets/base/scheduler/appointment/_index.scss
  packages/devextreme/scss/widgets/base/scheduler/appointment/regular/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_colors.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/generic/scheduler/_colors.scss
  packages/devextreme/scss/widgets/generic/scheduler/_index.scss
  packages/devextreme/scss/widgets/material/scheduler/_colors.scss
  packages/devextreme/scss/widgets/material/scheduler/_index.scss
Due: stylelint

fix tests
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/keyboard.ts
Due: eslint --quiet

TagBox: propagate maxFilterQueryLength option to a selection (T1191760)
  packages/devextreme/js/ui/tag_box.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Due: eslint --quiet

Update package-lock.json
  package-lock.json
Due: none

fix tests
  packages/devextreme/testing/testcafe/tests/editors/dateBox/keyboard.ts
Due: eslint --quiet

fix tests
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/m_recurrence_editor.ts
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: eslint --quiet

test fixes
  packages/devextreme/scss/widgets/base/treeView/_common.scss
  packages/devextreme/scss/widgets/fluent/treeView/_index.scss
  packages/devextreme/scss/widgets/generic/_sizes.scss
  packages/devextreme/scss/widgets/generic/treeView/_index.scss
  packages/devextreme/scss/widgets/material/treeView/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.markup.tests.js
Due: stylelint, eslint --quiet

Add warning for preview builds
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/core/errors.js
Due: eslint --quiet

Fix tests
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
Due: eslint --quiet

Refactor
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/core/component.js
  packages/devextreme/testing/tests/DevExpress.core/component.tests.js
Due: eslint --quiet

Scheduler day length: Fix appointment's resize + dayHours issues.
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_timelineDay_offset--720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_timelineDay_offset-720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_week_offset--720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_week_offset-720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/resize.ts
Due: eslint --quiet

Scheduler day length: Fix appointment's resize with startDayHour/endDayHour issues (#25812)
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_timelineDay_offset--720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_timelineDay_offset-720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_week_offset--720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_week_offset-720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/resize.ts
Due: eslint --quiet

Scheduler day length: disable offset for agenda view.
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/agenda.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_agenda-not-affected_offset--240.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_agenda-not-affected_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_agenda-not-affected_offset-240.png
Due: eslint --quiet

Bugfix: Accordion in react StrictMode (T1191220)
  packages/devextreme/js/ui/accordion.js
Due: eslint --quiet

Fix vue playground (#25820)
  package-lock.json
  playgrounds/vue/package.json
  playgrounds/vue/public/index.html
  playgrounds/vue/tsconfig.json
  playgrounds/vue/webpack.config.js
Due: none

Review fixes
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Due: eslint --quiet

Revert "change initial endDate"
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_timeline_month.ts
Due: eslint --quiet

new solution to change initial endDate
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_timeline_month.ts
Due: eslint --quiet
