Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

refactor(chat): Update
  packages/devextreme/js/__internal/ui/chat/chat_avatar.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(chat): Add tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/avatar.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: Add avatarUrl
  packages/devextreme/js/__internal/ui/chat/chat_avatar.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_group.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/avatar.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/avatar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

rebase(chat)
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-avatar/_index.scss
Due: stylelint

GitHub pages - fix a case where is no bundle.css (#27948)
  apps/demos/utils/create-bundles/React/template.html
  apps/demos/utils/create-bundles/Vue/template.html
  apps/demos/utils/create-bundles/helper/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor(chat)
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-avatar/_index.scss
  packages/devextreme/js/__internal/ui/chat/chat_avatar.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Chat: Add button disabled if textarea has not text
  packages/devextreme/js/__internal/ui/chat/chat_message_box.ts
  packages/devextreme/playground/jquery.html
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor && rebase
  packages/devextreme/js/__internal/ui/chat/chat_message_box.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor(chat)
  packages/devextreme/js/__internal/ui/chat/chat_message_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(chat): Add tests
  packages/devextreme/playground/jquery.html
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

dirt
  packages/devextreme/js/__internal/ui/chat/chat_message_box.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(chat): Fix tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/avatar.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update colors
  packages/devextreme-scss/scss/widgets/fluent/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/material/chat/_colors.scss
Due: stylelint

fix
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(test)
  packages/devextreme/js/__internal/ui/chat/chat_avatar.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: should send message on enter key if some text is entered (#28003)
  packages/devextreme/js/__internal/ui/chat/chat_message_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Use new assign
  packages/devextreme/js/__internal/data/m_array_utils.ts
  packages/devextreme/testing/tests/DevExpress.core/utils.object.tests.js
  packages/devextreme/testing/tests/DevExpress.knockout/objectUtils.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refix merge conflict after kbn_enter merge
  packages/devextreme/js/__internal/ui/chat/chat_message_box.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Ignore doc changes on CI (#27893)
  .github/workflows/build_all.yml
  .github/workflows/default_workflow.yml
  .github/workflows/demos_unit_tests.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/lint.yml
  .github/workflows/paths.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/pr-filter-stubs.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  .github/workflows/wrapper_tests.yml
Due: none

Test change
  apps/demos/Demos/Accordion/Overview/description.md
Due: none

Chat: Fix line breaks
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebubble/_index.scss
Due: stylelint

Change 2
  apps/demos/Demos/CheckBox/Overview/description.md
Due: none

Initial solution nedd to investigate eventsEngine to support useCapture
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_list.ts
  packages/devextreme/js/__internal/ui/m_select_box.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(chat): Add testcafe tests
  e2e/testcafe-devextreme/tests/chat/common.ts
  packages/testcafe-models/types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: Add avatarUrl (#27996)
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-avatar/_index.scss
  packages/devextreme/js/__internal/ui/chat/chat_avatar.ts
  packages/devextreme/js/__internal/ui/chat/chat_message_group.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/avatar.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/avatar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Chat: Add disabled state for button if there is no text in textarea
  packages/devextreme/js/__internal/ui/chat/chat_message_box.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor
  packages/devextreme-scss/scss/widgets/fluent/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/material/chat/_colors.scss
  packages/devextreme/js/__internal/ui/chat/chat_message_list.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Check content children conflicts in base DxComponent
  packages/devextreme-angular/src/core/component.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix umd maps for nested components
  apps/demos/configs/Angular/config.js
  apps/demos/utils/bundle/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix lint
  packages/devextreme/js/__internal/ui/chat/chat_message_list.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Bump devextreme-internal-tools
  package.json
  pnpm-lock.yaml
Due: none

Fix long line
  packages/devextreme-angular/src/core/component.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

support all options of collator sensitivity for filtering
  packages/devextreme/js/core/utils/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

keyexpr test
  packages/devextreme/js/__internal/grids/new/card_view/__snapshots__/widget_base.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options_controller/options_controller.mock.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options_controller/options_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options_controller/options_controller_base.mock.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix typo
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_sizes.scss
Due: stylelint

Chat: Hide current user name
  packages/devextreme/js/__internal/ui/chat/chat_message_group.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageGroup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix typo
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_sizes.scss
Due: stylelint
