Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
    "*.js": ["eslint"],
    "*.{css,less}": ["stylelint"]
}

Move components input to separate class
  js/renovation/button.tsx
  js/renovation/widget.tsx
Due: none

RadioGroup: add some event tests
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Due: eslint

Update package.json
  package.json
Due: none

Fix "Initialized and Disposing events" tests for IE (#11814) (#11823)
  testing/tests/DevExpress.ui.widgets/init_dispose_widget_bundled_tests.js
Due: eslint

ESLint: Add additional rules from "qunit/recommended" configuration (#10858) (#11828)
  testing/.eslintrc
Due: none

Add missing TagBox tests (#11857)
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Due: eslint

QUnit: Make extensions compatible with IE (#11843) (#11844)
  testing/helpers/qunitExtensions.js
Due: eslint

DataGrid: Fix cell was not highlighted after editing another cell and click (refix T836391) (#11658)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/functional/tests/dataGrid/keyboardNavigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardKeys.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Due: eslint

DOTNET_USE_POLLING_FILE_WATCHER=true (docker-ci) (#11855) (#11865)
  docker-ci.sh
Due: none

DataGrid - Focus overlay should not disappear on pointerDown by focused cell (refix T850219)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.realControllers.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.rowsView.tests.js
Due: eslint

Scss: add new widgets to generator
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
  styles/widgets/base/colorView.less
  styles/widgets/generic/colorView.generic.less
  styles/widgets/material/colorView.material.less
  styles/widgets/material/tooltip.material.less
Due: eslint, stylelint

Fix zero-time appointment width in month & timelineMonth views (T858496)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal_month_line.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Due: eslint

Update testing/tests/DevExpress.serverSide/dropDownButton.tests.js
  testing/tests/DevExpress.serverSide/dropDownButton.tests.js
Due: eslint

QUnit: Clean up extensions (#11645) (#11813)
  testing/.eslintrc
  testing/helpers/qunitExtensions.js
  testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
  testing/tests/DevExpress.viz.gauges/barGauge.tests.js
  testing/tests/DevExpress.viz.gauges/circularGauge.tests.js
  testing/tests/DevExpress.viz.gauges/common.tests.js
  testing/tests/DevExpress.viz.gauges/linearGauge.tests.js
  testing/tests/DevExpress.viz.rangeSelector/rangeSelectorParts/commons.js
  testing/tests/DevExpress.viz.sparklines/bullet.tests.js
  testing/tests/DevExpress.viz.sparklines/bulletTooltip.tests.js
  testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
  testing/tests/DevExpress.viz.sparklines/sparklineTooltip.tests.js
Due: eslint

QUnit: Rework API for ignoring uncleared timers (#11765)
  testing/helpers/ignoreAngularTimers.js
  testing/helpers/qunitExtensions.js
  testing/tests/DevExpress.angular/componentRegistration.tests.js
  testing/tests/DevExpress.angular/modelIntegration.tests.js
  testing/tests/DevExpress.angular/widgets.tests.js
  testing/tests/DevExpress/misc.tests.js
Due: eslint

ESLint: Add "qunit/literal-compare-order" rule (#10761) (#11811)
  testing/.eslintrc
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Due: eslint

FileManager: Fix expected and actual args order in test assertions (#10712) (#11804)
  testing/tests/DevExpress.ui.widgets/fileManagerParts/arrayProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Due: eslint

fix 'Cannot find name 'h'.ts(2304)' in declarations
  jest.config.js
  js/renovation/button.tsx
  testing/jest/tsconfig.json
  testing/jest/tslint.json
  tsconfig.json
Due: eslint

fix error TS2345
  js/renovation/widget.tsx
Due: none

TreeList: Add node property for a detail adaptive row
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.treeList/adaptiveColumns.tests.js
Due: eslint

update generator
  package.json
Due: none

remove component_declaration module
  js/component_declaration/common.ts
  js/component_declaration/jsx-g.js
  js/component_declaration/jsx-g.ts
  js/component_declaration/jsx.d.ts
  js/component_declaration/jsx.js
Due: eslint

Replace Object.assign with $.extend
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.rowsView.tests.js
Due: eslint

rename index
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Due: eslint

Scss: add new widgets to generator (#11868)
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
  styles/widgets/base/colorView.less
  styles/widgets/generic/colorView.generic.less
  styles/widgets/material/colorView.material.less
  styles/widgets/material/tooltip.material.less
Due: eslint, stylelint

ThemeBuilder tests refactoring (#11801)
  themebuilder/tests/builder-spec.js
  themebuilder/tests/less-template-loader-spec.js
Due: eslint

Add focus tests for button
  testing/jest/button.tests.tsx
  testing/jest/utils/events-mock.js
  testing/jest/widget.tests.tsx
Due: eslint

update
  js/ui/scroll_view/ui.scroll_view.simulated.js
Due: eslint

UI widgets: Fix expected and actual args order in test assertions (#10714) (#11803)
  testing/tests/DevExpress.core/utils.topOverlay.tests.js
  testing/tests/DevExpress.ui.widgets/button.markup.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownMenu.tests.js
  testing/tests/DevExpress.ui/themes.tests.js
Due: eslint

test refactoring
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Due: eslint

QUnit: Make extensions compatible with IE (#11843) (#11844)
  testing/helpers/qunitExtensions.js
  testing/tests/DevExpress.viz.sparklines/baseSparklineTooltipEvents.tests.js
Due: eslint

Fix labels width, if group has colSpan property (T857646)
  js/ui/form/ui.form.js
Due: eslint

Renovation: implement Button.useSubmitBehavior (#11845)
  js/renovation/button.tsx
  js/renovation/widget.tsx
  testing/jest/button.tests.tsx
  testing/jest/utils/events-mock.js
  testing/jest/widget.tests.tsx
Due: eslint

dxLookup - Fix field paddings in the Material theme
  styles/widgets/material/lookup.material.less
Due: stylelint
