Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Grid border color
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Due: stylelint

🎨 Fluent: Redesign FilterBuilder Demo group (#2949)
  Demos/FilterBuilder/Customization/Angular/app/app.component.css
  Demos/FilterBuilder/Customization/React/styles.css
  Demos/FilterBuilder/Customization/Vue/App.vue
  Demos/FilterBuilder/Customization/jQuery/styles.css
  Demos/FilterBuilder/WithDataGrid/Angular/app/app.component.css
  Demos/FilterBuilder/WithDataGrid/React/styles.css
  Demos/FilterBuilder/WithDataGrid/Vue/App.vue
  Demos/FilterBuilder/WithDataGrid/jQuery/styles.css
  Demos/FilterBuilder/WithList/Angular/app/app.component.css
  Demos/FilterBuilder/WithList/React/styles.css
  Demos/FilterBuilder/WithList/Vue/App.vue
  Demos/FilterBuilder/WithList/jQuery/styles.css
Due: stylelint

Set radius to 6px
  packages/devextreme/scss/widgets/fluent/pivotGrid/_index.scss
Due: stylelint

Focused row border color fix
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Due: stylelint

Form GroupedFields: update header styles (#2958)
  Demos/Form/GroupedFields/Angular/app/app.component.css
  Demos/Form/GroupedFields/React/styles.css
  Demos/Form/GroupedFields/Vue/App.vue
  Demos/Form/GroupedFields/jQuery/styles.css
Due: stylelint

ProgressBar: update padding (#2968)
  Demos/ProgressBar/Overview/Angular/app/app.component.css
  Demos/ProgressBar/Overview/React/styles.css
  Demos/ProgressBar/Overview/Vue/App.vue
  Demos/ProgressBar/Overview/jQuery/styles.css
Due: stylelint

fix remarks after review
  packages/devextreme/scss/widgets/fluent/toast/_index.scss
  packages/devextreme/scss/widgets/fluent/toast/_sizes.scss
  packages/devextreme/testing/testcafe/tests/editors/overlays/toast.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

update etalon
  packages/devextreme/testing/testcafe/helpers/themeUtils.ts
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (generic-dark).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/toast.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update etalons
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (fluent-blue-dark).png
  packages/devextreme/testing/testcafe/tests/editors/overlays/etalons/Toasts (material-blue-dark).png
Due: none

Change field radius in grid
  packages/devextreme/playground/jquery copy.html
  packages/devextreme/scss/widgets/fluent/dataGrid/_index.scss
Due: stylelint

DataGrid: Fix displaying of row alternation when grouping and virtual scrolling are enabled (T1194796) (#25928)
  js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/testcafe/tests/dataGrid/etalons/T1194796-row-alternation-with-grouping-and-virtual-scrolling.png
  testing/testcafe/tests/dataGrid/scrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: Fix displaying of row alternation when grouping and virtual scrolling are enabled (T1194796) (#25929)
  js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  testing/testcafe/tests/dataGrid/etalons/T1194796-row-alternation-with-grouping-and-virtual-scrolling.png
  testing/testcafe/tests/dataGrid/scrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: Fix displaying of row alternation when grouping and virtual scrolling are enabled (T1194796) (#25930)
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1194796-row-alternation-with-grouping-and-virtual-scrolling.png
  packages/devextreme/testing/testcafe/tests/dataGrid/scrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix defaultOptions test for daterangebox
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove line
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

add qunits
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorLabel.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

align label for daterangebox
  packages/devextreme/js/ui/date_range_box/ui.multiselect_date_box.js
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add tests
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/common.ts
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render with buttons container (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/label.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

rm excess lines
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorLabel.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add tests
  packages/devextreme/testing/testcafe/model/textBox.ts
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/common.ts
  packages/devextreme/testing/testcafe/tests/editors/textBox/label.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update etalons
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (fluent-blue-light-compact).png
Due: none

prevent active event
  packages/devextreme/js/ui/text_box/ui.text_editor.label.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update etalon names
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DRB with buttons container,stMode=underlined,lMode=outside (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/label.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent: make font consistent between toolbar label & popup's title (#25882)
  packages/devextreme/scss/widgets/fluent/toolbar/_sizes.scss
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (fluent-blue-light-compact).png
Due: stylelint

Dark focused color
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Due: stylelint

omit reset prop
  packages/devextreme/js/ui/date_range_box.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Removed and focused row bg color
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Due: stylelint

Scheduler day length: Appointment's expressions support (#25811)
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/apiCallbacks.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_drag-n-drop_week_offset--180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_drag-n-drop_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_drag-n-drop_week_offset-180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_resize_week_offset--180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_resize_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_resize_week_offset-180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_week_offset--180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_appt-expr_week_offset-180.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/expressions.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler day length: Fix drag&drop issues (#25802)
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_subscribes.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline_month.ts
  packages/devextreme/testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/etalons/drag-n-drop-timelineMonth-to-left.png
  packages/devextreme/testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/etalons/drag-n-drop-timelineMonth-to-right.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/dragAndDrop.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_month_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_month_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_month_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_timelineMonth_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_timelineMonth_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_timelineMonth_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_week_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_all-day-appts_week_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_month_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_month_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_month_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_timelineMonth_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_timelineMonth_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_timelineMonth_offset-735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_week_offset--735.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_week_offset-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_drag-n-drop_usual-appts_week_offset-735.png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler day length: feature's core (#25750)
  packages/devextreme/js/__internal/core/utils/__tests__/date.test.ts
  packages/devextreme/js/__internal/core/utils/date.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_cell_position_calculator.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/m_appointment_adapter.ts
  packages/devextreme/js/__internal/scheduler/m_appointments_layout_manager.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_date_header_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_grouped_data_map_provider.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
  packages/devextreme/js/core/utils/date.js
  packages/devextreme/js/renovation/ui/scheduler/appointment/utils/__tests__/getAppointmentTakesAllDay.test.ts
  packages/devextreme/js/renovation/ui/scheduler/appointment/utils/getAppointmentTakesAllDay.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/appointments/appointments.ts
  packages/devextreme/js/renovation/ui/scheduler/view_model/to_test/views/utils/const.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/__tests__/work_space.test.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/base/work_space.tsx
  packages/devextreme/js/renovation/ui/scheduler/workspaces/props.ts
  packages/devextreme/js/renovation/ui/scheduler/workspaces/types.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/multiday.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.dataProcessor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler: Make changes in scheduler API (d.ts) (#25564)
  packages/devextreme-angular/src/ui/nested/view-dxi.ts
  packages/devextreme-angular/src/ui/scheduler/index.ts
  packages/devextreme-react/src/scheduler.ts
  packages/devextreme-vue/src/scheduler.ts
  packages/devextreme/js/ui/scheduler.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler day length: Fix appointment's resize with startDayHour/endDayHour issues (#25812)
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_timelineDay_offset--720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_timelineDay_offset-720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_week_offset--720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/etalons/offset_resize-appts_week_offset-720_startDayHour-10_endDayHour-12.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/resize.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler day length: Fix recurrent appointments issues. (#25870)
  packages/devextreme/js/__internal/core/utils/__tests__/date.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_day_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_day_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_month_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_month_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_day_offset--720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_day_offset--720_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_day_offset-720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_day_offset-720_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_timelineDay_offset--720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_timelineDay_offset--720_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_timelineDay_offset-720_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_short-day-views_timelineDay_offset-720_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineMonth_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWeek_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineWorkWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_week_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_week_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset--735_start-0_end-24_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset--735_start-9_end-17_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_workWeek_offset--735_start-9_end-17_first-day-3.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/recurrentAppointments.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.dataProcessor.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
