Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

fix validation summary when validation rules are changed dynamically (#12964)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Due: eslint

Skip test for devices
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Due: eslint

fix validation summary when validation rules are changed dynamically (#12964) (#12975)
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Due: eslint

Test case
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Due: eslint

Tabs - fix icon alignment, if text is not defined (T885520) (#12947)
  js/ui/tabs.js
  testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Due: eslint

The fix
  js/aspnet.js
Due: eslint

add assetsBasePath support
  themebuilder-scss/jest.config.js
  themebuilder-scss/src/modules/compile-manager.ts
  themebuilder-scss/src/modules/post-compiler.ts
  themebuilder-scss/src/modules/pre-compiler.ts
  themebuilder-scss/tests/data/compilation-results/no-changes-css.ts
  themebuilder-scss/tests/data/scss/widgets/generic/accordion/_index.scss
  themebuilder-scss/tests/modules/compile-manager.test.ts
  themebuilder-scss/tests/modules/compiler.test.ts
  themebuilder-scss/tests/modules/post-compiler.test.ts
Due: eslint

Fix test
  testing/tests/DevExpress.ui.widgets/gantt.tests.js
Due: eslint

dxVectorMap - fix dataSource doc
  js/viz/docs/docvectormap.js
Due: eslint

Fix grouped list offset
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Due: eslint

Diagram - It's possible to modify the background color via code in read only mode (T887099)
  js/ui/diagram/ui.diagram.js
  package.json
  testing/tests/DevExpress.ui.widgets/diagramParts/options.tests.js
Due: eslint

fix ts
  ts/dx.all.d.ts
Due: none

update ts
  ts/dx.all.d.ts
Due: none

dxVectorMap - fix dataSource doc (T887537) (#12978)
  js/viz/docs/docvectormap.js
  ts/dx.all.d.ts
Due: eslint

dxViz: Fix axis' label alignment for default (by theme) cases
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
Due: eslint

Fixes the issue
  js/ui/grid_core/ui.grid_core.state_storing.js
Due: eslint

Adds a test
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

Fix fullScreen mode
  js/ui/lookup.js
Due: eslint

PivotGrid: Fix uneccessary render on expand header item if store is not defined (T887002)
  js/ui/pivot_grid/data_source.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataController.tests.js
Due: eslint

dxVectorMap - fix dataSource doc (T887537) (#12977)
  js/viz/docs/docvectormap.js
  ts/dx.all.d.ts
Due: eslint

VectorMap. Implement drawing polygon&multipolygon elements from one source
  js/viz/vector_map/map_layer.js
  testing/tests/DevExpress.viz.vectorMap/mapLayer.strategies.tests.js
Due: eslint

DataGrid: Fix columns without dataField were not hidden (T885383) (#12948)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
Due: eslint

DataGrid: Fix columns without dataField were not hidden (T885383) (#12949)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
Due: eslint

dxViz: Fix axis' label alignment for default (by theme) cases (#12980)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/axisDrawing.tests.js
Due: eslint

Fix - Scheduler should not ignore BYSETPOS=-1 in recurrent rule if FREQ is lower than date range in the current view
  js/ui/scheduler/utils.recurrence.js
  testing/tests/DevExpress.ui.widgets.scheduler/utils.recurrence.tests.js
Due: eslint

FileManager - A context menu is re-created after changing the disabled property of a specific item (T887308)
  js/ui/file_manager/ui.file_manager.context_menu.js
  js/ui/file_manager/ui.file_manager.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
Due: eslint

DataGrid - The "Export all data" toolbar item is rendered incorrectly (T886693 )
  styles/widgets/common/toolbar.less
Due: stylelint

Bugfix colors of the marks in the form (T882067) (#12927)
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
Due: stylelint

Bugfix T885520
  js/ui/tabs.js
  testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Due: eslint

fix style lint
  styles/widgets/common/toolbar.less
Due: stylelint

ESLint: Update to v7.0
  package.json
Due: none

ESLint: Add node plugin with recommended preset
  build/.eslintrc
  package.json
Due: none

ESLint: Disable "node/no-unpublished-require" rule
  build/.eslintrc
Due: none

ESLint: Specify Node version for "no-unsupported-features/node-builtins" rule
  build/.eslintrc
Due: none

ESLint: Configure "shebang" rule
  build/.eslintrc
Due: none

Path conditions:
  eslint: any of: *.js
  stylelint: any of: *.{css,less}
