Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Fix recalculation count
  testing/tests/DevExpress.performance/schedulerRecalculations.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

support dimension change during animation
  js/ui/overlay/resize_observer.js
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.events/resizeObserver.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Revert this line because const back is used in "module.exports.__internals"
  js/ui/form/ui.form.layout_manager.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - Fix blinking test (#17949)
  testing/testcafe/tests/scheduler/appointmentForm.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

HtmlEditor - Add thead support (#18334) (#18346)
  js/ui/html_editor/modules/toolbar.js
  package.json
  scss/widgets/base/_htmlEditor.scss
  scss/widgets/generic/htmlEditor/_index.scss
  scss/widgets/material/htmlEditor/_index.scss
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/utils.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

fix server side tests
  js/ui/html_editor/ui.html_editor.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - move getCellCount and getRowCount to ViewDataProvider (#18327)
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_month.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_week.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.grouped.strategy.vertical.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_day.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_week.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_work_week.js
  js/ui/scheduler/workspaces/utils/base.js
  js/ui/scheduler/workspaces/view_model/date_header_data_generator.js
  js/ui/scheduler/workspaces/view_model/time_panel_data_generator.js
  js/ui/scheduler/workspaces/view_model/view_data_generator.js
  js/ui/scheduler/workspaces/view_model/view_data_generator_month.js
  js/ui/scheduler/workspaces/view_model/view_data_generator_timeline_month.js
  js/ui/scheduler/workspaces/view_model/view_data_generator_week.js
  js/ui/scheduler/workspaces/view_model/view_data_generator_work_week.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

More typed props
  js/renovation/ui/form/wrapper/__tests__/form.test.tsx
  js/renovation/ui/form/wrapper/label_props.tsx
  js/renovation/ui/form/wrapper/required_rule_props.tsx
  js/renovation/ui/form/wrapper/simple_item.tsx
  js/renovation/ui/form/wrapper/text_box_props.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Revert "Form - Move "layoutManager._renderHelpText" to "form.utils.js" (#18343)"
  js/ui/form/ui.form.layout_manager.js
  js/ui/form/ui.form.utils.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

update screenshot etalons
  testing/testcafe/tests/scheduler/etalons/form-after-change-allday-and-reccurence-options.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-appointment.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-by-function-appointment.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/enabled-appointment.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/enabled-by-function-appointment.png
Due: none

PR feedback
  js/renovation/ui/form/wrapper/simple_item.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

refactor
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix lint errors
  js/renovation/ui/form/wrapper/__tests__/form.test.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix overlay performance tests
  testing/tests/DevExpress.performance/overlaysStyleRecalculations.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

HtmlEditor - implement tableResizng module testing (#18339)
  js/ui/html_editor.d.ts
  js/ui/html_editor/modules/tableResizing.js
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/tableResizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/tableResizingModule.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix
  js/ui/scheduler/header/calendar.js
  js/ui/scheduler/header/dateNavigator.js
  js/ui/scheduler/header/header.js
  js/ui/scheduler/ui.scheduler.js
  scss/widgets/base/scheduler/_index.scss
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/header.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.viewSwitcher.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

dxScheduler - Fix blinking test (#17949) (#18352)
  testing/testcafe/tests/scheduler/appointmentForm.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Diagram - Nested-containers issues, T1005859
  package.json
Due: none

fix dateBox tests
  testing/tests/DevExpress.ui.events/resizeObserver.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

try to make tests more stable
  testing/tests/DevExpress.ui.events/resizeObserver.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix selectBox tests
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

partial retrieve animation support
  js/ui/overlay/ui.overlay.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add test on focus
  js/ui/scheduler/ui.scheduler.js
  testing/testcafe/tests/scheduler/layout/focus/container.html
  testing/testcafe/tests/scheduler/layout/focus/focus.ts
  testing/tests/DevExpress.ui.widgets.scheduler/common.methods.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Comment body of focus methos
  js/ui/scheduler/ui.scheduler.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

get rid of bind and fix resize event parameter
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix selectbox test
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

improve selectBox tests
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

try to support dimension change during resize
  js/ui/overlay/ui.overlay.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix animateShowing
  js/ui/overlay/ui.overlay.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Revert "Form - Move "layoutManager._renderHelpText" to "form.utils.js" (#18343)" (#18353)
  js/ui/form/ui.form.layout_manager.js
  js/ui/form/ui.form.utils.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Refactoring tests
  testing/testcafe/tests/scheduler/layout/focus/focus.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Some sizes from Dima
  scss/widgets/generic/_sizes.scss
  scss/widgets/generic/button/_sizes.scss
  scss/widgets/material/_sizes.scss
  scss/widgets/material/button/_sizes.scss
Due: stylelint

Add etalons
  testing/testcafe/tests/scheduler/layout/focus/etalons/appointment-focused-after-hide-popup.png
  testing/testcafe/tests/scheduler/layout/focus/etalons/workspace-focused-on-click.png
Due: none

Fix
  testing/tests/DevExpress.ui.widgets.scheduler/header.viewSwitcher.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

change style
  scss/widgets/base/_checkBox.scss
Due: stylelint

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
