Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

Remove unused images
  apps/demos/images/hotels/Bedroom-2-11.jpg
  apps/demos/images/hotels/Bedroom-3-6.jpg
  apps/demos/images/hotels/Bedroom-4-9.jpg
  apps/demos/images/hotels/Bedroom-5-8.jpg
  apps/demos/images/hotels/Honolulu-5.jpg
  apps/demos/images/hotels/Lobby-23.jpg
  apps/demos/images/hotels/Nassau-2.jpg
  apps/demos/images/hotels/Paris-6.jpg
Due: none

Remove unused hotel images 26.1
  apps/demos/images/hotels/Bedroom-2-11.jpg
  apps/demos/images/hotels/Bedroom-3-6.jpg
  apps/demos/images/hotels/Bedroom-4-9.jpg
  apps/demos/images/hotels/Bedroom-5-8.jpg
  apps/demos/images/hotels/Honolulu-5.jpg
  apps/demos/images/hotels/Lobby-23.jpg
  apps/demos/images/hotels/Nassau-2.jpg
  apps/demos/images/hotels/Paris-6.jpg
Due: none

migrate acordion, chat, colorBox, colorView, fileUploader, filterBuilder, form, lookup, pagination, selectBox, tabpanel, tabpanel, tagbox, toolbar
  packages/devextreme-scss/scss/widgets/dxdsfluent/accordion/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/colorBox/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/colorView/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/fileUploader/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/filterBuilder/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/form/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/lookup/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/pagination/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/selectBox/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/tabPanel/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/tagBox/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/toolbar/_colors.scss
Due: stylelint

Add DataGrid - Semantic Search Demo (#34356)
  apps/demos/Demos/DataGrid/SemanticSearch/Angular/app/app.component.html
  apps/demos/Demos/DataGrid/SemanticSearch/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/SemanticSearch/Angular/index.html
  apps/demos/Demos/DataGrid/SemanticSearch/React/App.tsx
  apps/demos/Demos/DataGrid/SemanticSearch/React/index.html
  apps/demos/Demos/DataGrid/SemanticSearch/React/index.tsx
  apps/demos/Demos/DataGrid/SemanticSearch/ReactJs/App.js
  apps/demos/Demos/DataGrid/SemanticSearch/ReactJs/index.html
  apps/demos/Demos/DataGrid/SemanticSearch/ReactJs/index.js
  apps/demos/Demos/DataGrid/SemanticSearch/Vue/App.vue
  apps/demos/Demos/DataGrid/SemanticSearch/Vue/index.html
  apps/demos/Demos/DataGrid/SemanticSearch/Vue/index.ts
  apps/demos/Demos/DataGrid/SemanticSearch/description.md
  apps/demos/Demos/DataGrid/SemanticSearch/jQuery/index.html
  apps/demos/Demos/DataGrid/SemanticSearch/jQuery/index.js
  apps/demos/menuMeta.json
  apps/demos/testing/etalons/DataGrid-SemanticSearch (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-SemanticSearch (material.blue.light).png
  apps/demos/utils/server/csp-server.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

migrate grids
  packages/devextreme-scss/scss/widgets/base/dataGrid/_index.scss
  packages/devextreme-scss/scss/widgets/base/treeList/_index.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/dataGrid/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/diagram/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/diagram/_index.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/gridBase/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/treeList/_colors.scss
Due: stylelint

T1332185 - DropDownBox – Component is rendered but is not displayed inside content when `deferRendering=false` (#34366)
  packages/devextreme/js/__internal/ui/__tests__/__mock__/model/base_model.ts
  packages/devextreme/js/__internal/ui/__tests__/__mock__/model/drop_down_editor.ts
  packages/devextreme/js/__internal/ui/__tests__/__mock__/model/overlay.ts
  packages/devextreme/js/__internal/ui/__tests__/drop_down_box.test.ts
  packages/devextreme/js/__internal/ui/drop_down_box.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

T1332185 - DropDownBox – Component is rendered but is not displayed inside content when deferRendering=false (#34378)
  packages/devextreme/js/__internal/ui/__tests__/__mock__/model/base_model.ts
  packages/devextreme/js/__internal/ui/__tests__/__mock__/model/drop_down_editor.ts
  packages/devextreme/js/__internal/ui/__tests__/__mock__/model/overlay.ts
  packages/devextreme/js/__internal/ui/__tests__/drop_down_box.test.ts
  packages/devextreme/js/__internal/ui/drop_down_box.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

T1332185 - DropDownBox – Component is rendered but is not displayed inside content when deferRendering=false (#34379)
  packages/devextreme/js/__internal/ui/__tests__/__mock__/model/base_model.ts
  packages/devextreme/js/__internal/ui/__tests__/__mock__/model/drop_down_editor.ts
  packages/devextreme/js/__internal/ui/__tests__/__mock__/model/overlay.ts
  packages/devextreme/js/__internal/ui/__tests__/drop_down_box.test.ts
  packages/devextreme/js/__internal/ui/drop_down_box.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

run dxdsfluent theme testing
  .github/workflows/testcafe_tests.yml
  .github/workflows/visual-tests-demos.yml
  apps/demos/utils/visual-tests/helpers/theme-utils.js
  e2e/testcafe-devextreme/helpers/themeUtils.ts
  e2e/testcafe-devextreme/runner.ts
  e2e/testcafe-devextreme/tests/container-ai-integration.html
  e2e/testcafe-devextreme/tests/container-extended.html
  e2e/testcafe-devextreme/tests/container.html
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler/PivotGrid: align @default tags with option types in public d.ts (#34198)
  packages/devextreme-angular/src/ui/pivot-grid-field-chooser/index.ts
  packages/devextreme-angular/src/ui/pivot-grid/index.ts
  packages/devextreme-angular/src/ui/pivot-grid/nested/state-storing.ts
  packages/devextreme-react/src/pivot-grid-field-chooser.ts
  packages/devextreme-react/src/pivot-grid.ts
  packages/devextreme-react/src/scheduler.ts
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser.ts
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser_base.ts
  packages/devextreme/js/__internal/grids/pivot_grid/m_widget.ts
  packages/devextreme/js/ui/pivot_grid.d.ts
  packages/devextreme/js/ui/pivot_grid/data_source.d.ts
  packages/devextreme/js/ui/pivot_grid_field_chooser.d.ts
  packages/devextreme/js/ui/scheduler.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

migrate menu, list, calendar, tabs, popup, tooltip
  packages/devextreme-scss/scss/widgets/base/calendar/_mixins.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/buttonGroup/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/calendar/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/contextMenu/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/dateView/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/diagram/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/drawer/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/dropDownEditor/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/gallery/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/list/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/loadIndicator/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/menu/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/menuBase/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/overlay/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/popup/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/radioGroup/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/scrollView/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/splitter/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/tileView/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/timeView/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/toast/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/tooltip/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/treeView/_colors.scss
Due: stylelint

add package with tokens tokents
  packages/devextreme-scss/.gitignore
  packages/devextreme-scss/build/bundle-template.dxdsfluent.scss
  packages/devextreme-scss/build/tokens/build-tokens.mjs
  packages/devextreme-scss/build/tokens/transforms.mjs
  packages/devextreme-scss/package.json
  packages/devextreme-scss/project.json
  packages/devextreme-scss/scss/widgets/dxdsfluent/_design-system.scss
  pnpm-lock.yaml
Due: stylelint

e2e tests: collect unstable tests statistics (#34300)
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/virtualScrolling.functional.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert "CI: Replace push triggers with merge_group in workflow files" (#34234)
  .github/workflows/build_all.yml
  .github/workflows/default_workflow.yml
  .github/workflows/demos_unit_tests.yml
  .github/workflows/lint.yml
  .github/workflows/paths.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/qunit_tests.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  .github/workflows/visual-tests-demos.yml
  .github/workflows/wrapper_tests.yml
  .github/workflows/wrapper_tests_e2e.yml
Due: none

migrate texteditors
  e2e/testcafe-devextreme/helpers/themeUtils.ts
  packages/devextreme-scss/scss/widgets/dxdsfluent/checkBox/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/speedDialAction/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/textBox/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/textEditor/_colors.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

migrate switch, radioGroup, progressBar, slider, badge, loadIndicator
  packages/devextreme-scss/scss/widgets/dxdsfluent/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/badge/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/card/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/common/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/fieldset/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/informer/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/loadIndicator/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/numberBox/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/progressBar/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/radioButton/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/scrollable/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/slider/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/speedDialAction/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/splitterBar/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/switch/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/typography/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/validation/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/widget/_colors.scss
Due: stylelint

Add etalons
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/grid-headers-scroller-spacing-border (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/grid-headers-scroller-spacing-border-rtl (fluent.blue.light).png
Due: none

remove etalons
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/grid-headers-scroller-spacing-border (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/grid-headers-scroller-spacing-border-rtl (fluent.blue.light).png
Due: none

test
  e2e/testcafe-devextreme/tests/scheduler/common/dragAndDrop/appointmentCollector.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

CardView: stabilize columnChooser tests
  e2e/testcafe-devextreme/tests/cardView/columnChooser/functional.ts
  e2e/testcafe-devextreme/tests/cardView/helpers/cardUtils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix lint issues
  packages/nx-infra-plugin/AGENTS.md
  packages/nx-infra-plugin/src/executors/pack-npm/pack-npm.impl.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove tmp dir before clone
  tools/scripts/inject-descriptions.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

CardView: stabilize columnChooser tests (#34362)
  e2e/testcafe-devextreme/tests/cardView/columnChooser/functional.ts
  e2e/testcafe-devextreme/tests/cardView/helpers/cardUtils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

CardView: stabilize columnChooser tests (#34386)
  e2e/testcafe-devextreme/tests/cardView/columnChooser/functional.ts
  e2e/testcafe-devextreme/tests/cardView/helpers/cardUtils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

CardView: stabilize columnChooser tests (#34387)
  e2e/testcafe-devextreme/tests/cardView/columnChooser/functional.ts
  e2e/testcafe-devextreme/tests/cardView/helpers/cardUtils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove "gulp" from descriptions
  packages/devextreme/project.json
Due: none

add jobs to avoid timeout
  .github/workflows/visual-tests-demos.yml
Due: none

add dir check and fix text in err log
  packages/nx-infra-plugin/src/executors/pack-npm/pack-npm.impl.ts
  tools/scripts/update-version.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add jobs to avoid timeout
  .github/workflows/visual-tests-demos.yml
  apps/demos/utils/visual-tests/testcafe-runner.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Bump devextreme version
  apps/angular/package.json
  apps/demos/package.json
  apps/react-storybook/package.json
  apps/react/package.json
  apps/vue/package.json
  e2e/bundlers/package.json
  e2e/compilation-cases/package.json
  e2e/devextreme-bundler/package.json
  e2e/testcafe-devextreme/package.json
  e2e/wrappers/package.json
  package.json
  packages/devextreme-angular/package.json
  packages/devextreme-metadata/package.json
  packages/devextreme-monorepo-tools/package.json
  packages/devextreme-react/package.json
  packages/devextreme-scss/package.json
  packages/devextreme-themebuilder/package.json
  packages/devextreme-vue/package.json
  packages/devextreme/artifacts/npm/devextreme-dist/package.json
  packages/devextreme/js/core/version.js
  packages/devextreme/package.json
  packages/eslint-migration-utils/package.json
  packages/testcafe-models/package.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet
