Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Scheduler - A memory leak occurs when groups and resources are used (T1221180) (#26961)
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - A memory leak occurs when groups and resources are used (T1221180) (#26961)
  js/__internal/scheduler/workspaces/m_work_space.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix package-lock.json
  package-lock.json
Due: none

Calendar: Add aria-selected into all of cells
  packages/devextreme/js/ui/calendar/ui.calendar.base_view.js
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Spike
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - A memory leak occurs when groups and resources are used (T1221180) (#27021)
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - A memory leak occurs when groups and resources are used (T1221180) (#27022)
  js/__internal/scheduler/workspaces/m_work_space.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Form: update GroupedFields demo description (#27017)
  apps/demos/Demos/Form/GroupedFields/description.md
Due: none

ts fix
  packages/devextreme/js/__internal/scheduler/__migration/timezone_calculator/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Calendar: Add selected date range into aria-label
  packages/devextreme/js/ui/calendar/ui.calendar.base_view.js
  packages/devextreme/js/ui/calendar/ui.calendar.range.selection.strategy.js
  packages/devextreme/js/ui/calendar/ui.calendar.views.js
  packages/devextreme/playground/jquery.html
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Splitter: fix inaccuracies in declarations after review of documentation (#27000)
  packages/devextreme-angular/src/ui/nested/base/splitter-options.ts
  packages/devextreme-angular/src/ui/nested/splitter.ts
  packages/devextreme-angular/src/ui/splitter/index.ts
  packages/devextreme-react/src/splitter.ts
  packages/devextreme-vue/src/splitter.ts
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/js/ui/splitter.js
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

rework max height calculation
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
  packages/devextreme/scss/widgets/base/_contextMenu.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

separator size fallback added
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactoring
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove redundant size
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DropDownButton overview demo: add 'updated' badge (#27020)
  apps/demos/menuMeta.json
Due: none

Scheduler - fix types for dragging events (#26996)
  apps/demos/Demos/Scheduler/CustomDragAndDrop/Angular/app/app.component.ts
  packages/devextreme/js/ui/scheduler.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor: add e2e workspace
  package.json
Due: none

refactor: add tests and model package.json
  e2e/testcafe-devextreme/package.json
  packages/testcafe-models/package.json
Due: none

gen: package-lock
  package-lock.json
Due: none

fix: update tsconfig
  e2e/testcafe-devextreme/tsconfig.json
Due: none

fix: ci
  .github/workflows/testcafe_tests.yml
  e2e/testcafe-devextreme/.testcaferc.json
  packages/devextreme/package.json
Due: none

refactor: add gitignore
  e2e/testcafe-devextreme/.gitignore
Due: none

fix: update paths (fixtures)
  e2e/testcafe-devextreme/tests/common/icons.ts
  e2e/testcafe-devextreme/tests/container.html
  e2e/testcafe-devextreme/tests/containerAspNet.html
  e2e/testcafe-devextreme/tests/containerQuill.html
  e2e/testcafe-devextreme/tests/dataGrid/security/pages/XSS.html
  e2e/testcafe-devextreme/tests/shadowDom/container.html
  e2e/testcafe-devextreme/tests/shadowDom/containerAspNet.html
  e2e/testcafe-devextreme/tests/shadowDom/containerQuill.html
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: add aria-live a11y zone
  packages/devextreme/js/__internal/grids/grid_core/views/a11y_status_container_component.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/scss/widgets/base/_gridBase.scss
  packages/devextreme/testing/testcafe/model/dataGrid/columnChooser.ts
  packages/devextreme/testing/testcafe/model/dataGrid/headers/panel.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/status.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/testing/testcafe/tests/treeList/accessibility/status.ts
  packages/devextreme/testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Grids: code review fixes
  packages/devextreme/js/__internal/grids/grid_core/views/a11y_status_container_component.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

ESLint: add no-console rule + remove existing console.logs
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

ESLint: add no-console rule + remove existing console.logs
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

ESLint: add no-console rule + remove existing console.logs
  js/__internal/.eslintrc.js
  js/__internal/grids/grid_core/editing/m_editing.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

ESLint: Add '@typescript-eslint/explicit-member-accessibility' rule
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
  packages/devextreme/js/__internal/grids/data_grid/grouping/m_grouping.ts
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/m_data_helper_mixin.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_cell_based.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing_form_based.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/scrollable_a11y.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: add aria-live a11y zones (#27006)
  packages/devextreme/js/__internal/grids/grid_core/views/a11y_status_container_component.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/scss/widgets/base/_gridBase.scss
  packages/devextreme/testing/testcafe/model/dataGrid/columnChooser.ts
  packages/devextreme/testing/testcafe/model/dataGrid/headers/panel.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/status.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/testing/testcafe/tests/treeList/accessibility/status.ts
  packages/devextreme/testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Fix tests
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Splitter: pane should have an exact size if the size is specified in percentage
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

ESLint: add no-console rule + remove existing console.logs (#27027)
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

ESLint: add no-console rule + remove existing console.logs (#27028)
  packages/devextreme/js/__internal/.eslintrc.js
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix active-state when allowKeyboardnavigation is false
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/scss/widgets/base/splitter/_mixins.scss
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
