Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Another test fix
  testing/tests/DevExpress.ui.widgets.scheduler/integration.base.tests.js
Due: eslint

dxDraggable: Fix cursorOffset when one of the coordinates is zero
  js/ui/draggable.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
Due: eslint

dxDraggable: Add cursorOffset option
  js/ui/draggable.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  ts/dx.all.d.ts
Due: eslint

dxSortable - add the onPlaceholderPrepared event
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Due: eslint

DataGrid - Edit cell should not lose focus after enter key pressed
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigationParts/keyboardKeys.tests.js
Due: eslint

step 4 - tests added for all of changes
  js/ui/file_manager/ui.file_manager.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
Due: eslint

File Manager - custom item border appearance unification
  js/ui/file_manager/ui.file_manager.toolbar.js
Due: eslint

DataGrid - Edit cell should not lose focus after enter key pressed (#9788)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigationParts/keyboardKeys.tests.js
Due: eslint

Alter style for material theme
  styles/widgets/material/scheduler.material.less
Due: stylelint

Fix tests
  js/ui/sortable.js
Due: eslint

Test added and some of code is refactored
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

Code and test refator
  js/ui/file_manager/ui.file_manager.context_menu.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
Due: eslint

Add shading option
  js/core/config.js
  js/ui/speed_dial_action/speed_dial_main_item.js
  styles/widgets/base/speedDialAction.less
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/speedDialAction.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/speedDialAction.material.less
Due: eslint, stylelint

File Manager - Custom item border appearance unification (#9790)
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

DataGrid: Fix impossibility to collapse a band column's item in a column chooser if it's allowHiding = false (T813516) (#9753)
  js/ui/grid_core/ui.grid_core.column_chooser.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooserModule.tests.js
Due: eslint

DataGrid: Fix impossibility to collapse a band column's item in a column chooser if it's allowHiding = false (T813516) (#9754)
  js/ui/grid_core/ui.grid_core.column_chooser.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooserModule.tests.js
Due: eslint

dxDraggable/dxSortable: Add the cursorOffset option in Draggable. Add the onPlaceholderPrepared event in Sortable (#9787)
  js/ui/draggable.js
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
  ts/dx.all.d.ts
Due: eslint

File Manager - Context menu customization (#9789)
  js/ui/file_manager/ui.file_manager.context_menu.js
  js/ui/file_manager/ui.file_manager.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
Due: eslint

Update ts
  ts/dx.all.d.ts
Due: none

dxDraggable - Add the onDrop event
  js/ui/draggable.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  ts/dx.all.d.ts
Due: eslint

Update Japanese strings
  js/localization/messages/ja.json
Due: none

dxSortable: Add onAdd and onRemove events
  js/ui/draggable.js
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
  ts/dx.all.d.ts
Due: eslint

DataGrid - Fix unstable test in IE after tests reorganize
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigationParts/realControllers.tests.js
Due: eslint

Fix shading if menu is not shown
  js/ui/speed_dial_action/speed_dial_main_item.js
  testing/tests/DevExpress.ui.widgets/speedDialAction.tests.js
Due: eslint

Alter test for T756953 (#9786)
  styles/widgets/material/scheduler.material.less
  testing/tests/DevExpress.ui.widgets.scheduler/integration.base.tests.js
Due: eslint, stylelint

DataGrid - Fix unstable test in IE after tests reorganize (#9792)
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigationParts/realControllers.tests.js
Due: eslint

Implement `engine` method in localization modules
  js/localization/date.js
  js/localization/globalize/date.js
  js/localization/globalize/message.js
  js/localization/globalize/number.js
  js/localization/intl/date.js
  js/localization/intl/number.js
  js/localization/message.js
  js/localization/number.js
  testing/tests/DevExpress.localization/localization.base.tests.js
  testing/tests/DevExpress.localization/localization.globalize.tests.js
  testing/tests/DevExpress.localization/localization.intl.tests.js
Due: eslint

More fix for repaintFloatingActionButton method
  js/ui/speed_dial_action/speed_dial_main_item.js
Due: eslint

Add tests
  testing/tests/DevExpress.ui/floatingActionButtonRepaint.tests.js
Due: eslint

FileManager - Custom file provider
  build/gulp/modules_metadata.json
  js/bundles/modules/file_providers.js
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/file_provider/custom.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManager.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/customProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/webAPIProvider.tests.js
Due: eslint

update ts
  ts/dx.all.d.ts
Due: none

German dxDiagram translations
  js/localization/messages/de.json
Due: none

add missing comma
  js/localization/messages/de.json
Due: none

Add test
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/helpers.js
Due: eslint

DataGrid displays extra borders when a row is focused (T814414)
  js/ui/grid_core/ui.grid_core.editor_factory.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Due: eslint

DataGrid: Fix IE regression after T813516 fix
  js/ui/grid_core/ui.grid_core.column_chooser.js
Due: eslint

add missing comma
  js/localization/messages/ja.json
Due: none

FileManager - Custom file provider (#9794)
  build/gulp/modules_metadata.json
  js/bundles/modules/file_providers.js
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/file_provider/custom.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManager.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/customProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/webAPIProvider.tests.js
  ts/dx.all.d.ts
Due: eslint

Path conditions:
  eslint: any of: *.js
  stylelint: any of: *.{css,less}
