Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Minor phrasing fix
  apps/demos/Demos/Scheduler/HiddenDays/description.md
Due: none

Potential fix for pull request finding
  apps/demos/Demos/Chat/MessageStreaming/description.md
Due: none

Update data.js
  apps/demos/Demos/DataGrid/FocusedRow/ReactJs/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update apps/demos/Demos/DataGrid/FocusedRow/jQuery/data.js
  apps/demos/Demos/DataGrid/FocusedRow/jQuery/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update apps/demos/Demos/DataGrid/FocusedRow/ReactJs/data.js
  apps/demos/Demos/DataGrid/FocusedRow/ReactJs/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler demos - Add New/Updated badges for 26.1 features (#33417)
  apps/demos/menuMeta.json
Due: none

DateBox: Fix DateBox mask input with Numpad IME digits (T1326628) (#33406)
  packages/devextreme/js/__internal/ui/date_box/date_box.mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add doc tags for added fields in global config
  packages/devextreme/js/common.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DateBox: Fix DateBox mask input with Numpad IME digits (T1326628)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

regenerate
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fixed typos in Task_Description
  apps/demos/Demos/DataGrid/FocusedRow/Angular/app/app.service.ts
  apps/demos/Demos/DataGrid/FocusedRow/React/data.ts
  apps/demos/Demos/DataGrid/FocusedRow/ReactJs/data.js
  apps/demos/Demos/DataGrid/FocusedRow/Vue/data.ts
  apps/demos/Demos/DataGrid/FocusedRow/jQuery/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme-scss/scss/widgets/base/_menuBase.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

DateBox: Fix DateBox mask input with Numpad IME digits (T1326628) (#33420)
  packages/devextreme/js/__internal/ui/date_box/date_box.mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DateBox: Fix DateBox mask input with Numpad IME digits (T1326628) (#33421)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix config in pivotGrid
  packages/devextreme/js/__internal/grids/pivot_grid/m_widget_utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Replace AppointmentForm scheduler proxy with plain config
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/create_appointment_popup.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_recurrence_form.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update lock
  pnpm-lock.yaml
Due: none

Scheduler - Fix TS strict build errors in form refactor
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/utils.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: fix bug
  packages/devextreme/js/__internal/scheduler/m_utils_time_zone.ts
  packages/devextreme/js/__internal/scheduler/view_model/generate_view_model/options/get_minutes_cell_intervals.ts
  packages/devextreme/js/__internal/scheduler/view_model/generate_view_model/options/get_week_intervals.cairo.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: Fix empty message list icon background color darkening in Fluent theme
  packages/devextreme-scss/scss/widgets/fluent/chat/_colors.scss
Due: stylelint

Remove expired trial handling
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/core/license/license_warnings.ts
  packages/devextreme/license/devextreme-license.js
  packages/devextreme/license/dx-lcx-2-lcp.js
  packages/devextreme/license/messages.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menuBase.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

clean up
  packages/devextreme/js/__internal/core/license/lcp_key_validation/lcp_key_validation.test.ts
  packages/devextreme/js/__internal/core/license/lcp_key_validation/lcp_key_validator.ts
  packages/devextreme/js/__internal/core/license/types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Angular SSR - Guard against empty renderToString result and missing scrollAnimator
  packages/devextreme-angular/src/server/render.ts
  packages/devextreme/js/__internal/m_draggable.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menuBase.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix scheduler test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix using global format in dataGrid/cardView
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
