Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

Scheduler - Mark NAME as readonly
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Fix QUnit tests for _options and $allDayTable
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.tooltip.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Apply naming convention to workspace and tooltip strategy files
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_tooltip_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Add visibility modifiers and comments to all remaining members
  packages/devextreme/js/__internal/scheduler/workspaces/m_agenda.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Rename local $_ variables to $ per review comments
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler New Form — Fix slide animation overlapping items outside mainGroup (#32958)
  apps/react-storybook/stories/scheduler/SchedulerFormCustomization.stories.tsx
  apps/react-storybook/stories/scheduler/form-customization.css
  packages/devextreme-scss/scss/widgets/base/scheduler/_index.scss
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/m_mock_scheduler.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/appointment_popup.test.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Scheduler — Fix slide animation overlapping items outside mainGroup (#32955)
  apps/react-storybook/stories/scheduler/SchedulerFormCustomization.stories.tsx
  apps/react-storybook/stories/scheduler/form-customization.css
  packages/devextreme-scss/scss/widgets/base/scheduler/_index.scss
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/m_mock_scheduler.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/appointment_popup.test.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Scheduler - Clarify TODO comments: specify action (make private) and condition
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_tooltip_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Fix m_mobile_tooltip_strategy.ts: rename underscore-prefixed methods
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_mobile_tooltip_strategy.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Fix m_mobile_tooltip_strategy.ts: rename _onShowing to onShowing
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_mobile_tooltip_strategy.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update package versions due to new-found vulnerabilities
  package.json
  packages/sbom/package.json
  pnpm-lock.yaml
Due: none

Scheduler - Replace underscore-prefixed members in remaining workspace files
  packages/devextreme/js/__internal/scheduler/workspaces/m_cells_selection_controller.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_cells_selection_state.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_grouped_strategy_horizontal.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_grouped_strategy_vertical.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_date_header_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_grouped_data_map_provider.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_time_panel_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Keep _renderGrid as Rule 2 (used externally by m_work_space.ts)
  packages/devextreme/js/__internal/scheduler/workspaces/m_virtual_scrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Update QUnit tests for renamed CellsSelectionState members
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/cells_selection_state.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix unstable tests (#32978)
  e2e/testcafe-devextreme/tests/dataGrid/common/aiColumn/adaptivity.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/columnReordering/functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/columnReordering/visual.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/editing/functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/keyboardNavigation.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/keyboardNavigation.visual.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/rowDragging/functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/rowDragging/visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix unstable tests (#32979)
  e2e/testcafe-devextreme/tests/dataGrid/common/columnReordering/functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/columnReordering/visual.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/editing/functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/keyboardNavigation.functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/keyboardNavigation.visual.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/rowDragging/functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/rowDragging/visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update pnpm-lock in sbom package
  packages/sbom/pnpm-lock.yaml
Due: none

build column lookup map on each _processItems to avoid higher complexity
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add tests
  packages/devextreme/js/__internal/grids/data_grid/__tests__/__mock__/model/data_grid.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/__tests__/m_summary.integration.test.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/__tests__/utils.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

move static method to utils
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix test and refactor code a bit
  packages/devextreme/js/__internal/grids/data_grid/__tests__/__mock__/model/data_grid.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/__tests__/m_summary.integration.test.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add appropriate type definitions
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix review remarks
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/m_summary.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/summaryModule.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update Polish dictionary (#32973)
  packages/devextreme/js/localization/messages/pl.json
Due: none

Update Turkish dictionary (#32971)
  packages/devextreme/js/localization/messages/tr.json
Due: none

Scheduler - Qunit tests - remove watchers of private methods
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.events.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.options.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.dateNavigator.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: update show icon logic
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Fix outerWidth call in resize test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/common.events.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: undo recurrence form
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_recurrence_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

e2e: mark unstable tests
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/withGrouping.ts
  e2e/testcafe-devextreme/tests/scheduler/common/deleteAppointments.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore(deps): update package versions due to new-found vulnerabilities (#32984)
  package.json
  packages/sbom/package.json
  packages/sbom/pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

refactor: undo code style changes
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor: small refactoring
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler — Replace underscore-prefixed: m_tooltip_strategy_base.ts, m_work_space.ts (#32962)
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_desktop_tooltip_strategy.ts
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_mobile_tooltip_strategy.ts
  packages/devextreme/js/__internal/scheduler/tooltip_strategies/m_tooltip_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_agenda.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/keyboardNavigation.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet
