Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Grids - DataController: Extract summary loadAll knowledge to extenders
  packages/devextreme/js/__internal/grids/data_grid/summary/extenders/__tests__/summary_data_controller.load_all_items.test.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/extenders/summary_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids - DataController: type the loadAllItems deferred to drop the resolve cast
  packages/devextreme/js/__internal/grids/data_grid/summary/extenders/summary_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: retarget `key` and `keyOf` methods
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/helpers/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/ai_assistant_integration_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/controllers/m_ai_column_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/controllers/m_ai_column_integration_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source/__tests__/data_source_controller.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source/data_source_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/provider.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/types.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/extenders/editing_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source/__tests__/data_source_controller.integration.test.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source/data_source_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/__tests__/add_row_generated_key.integration.test.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/tree_list/m_focus.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove inlines form react datagrid demos
  apps/demos/Demos/CardView/FieldTemplate/React/Progress.tsx
  apps/demos/Demos/CardView/FieldTemplate/ReactJs/Progress.js
  apps/demos/Demos/DataGrid/AIAssistant/React/App.tsx
  apps/demos/Demos/DataGrid/AIAssistant/ReactJs/App.js
  apps/demos/Demos/DataGrid/AIColumns/React/App.tsx
  apps/demos/Demos/DataGrid/AIColumns/React/Trademark.tsx
  apps/demos/Demos/DataGrid/AIColumns/ReactJs/App.js
  apps/demos/Demos/DataGrid/AIColumns/ReactJs/Trademark.js
  apps/demos/Demos/DataGrid/CustomEditors/React/App.tsx
  apps/demos/Demos/DataGrid/CustomEditors/React/EmployeeDropDownBoxComponent.tsx
  apps/demos/Demos/DataGrid/CustomEditors/ReactJs/App.js
  apps/demos/Demos/DataGrid/CustomEditors/ReactJs/EmployeeDropDownBoxComponent.js
  apps/demos/Demos/DataGrid/PDFCellCustomization/React/App.tsx
  apps/demos/Demos/DataGrid/PDFCellCustomization/ReactJs/App.js
  apps/demos/Demos/DataGrid/RealTimeUpdates/React/App.tsx
  apps/demos/Demos/DataGrid/RealTimeUpdates/ReactJs/App.js
  apps/demos/Demos/DataGrid/RealTimeUpdates/ReactJs/index.html
  apps/demos/Demos/DataGrid/RowEditing/React/App.tsx
  apps/demos/Demos/DataGrid/RowEditing/ReactJs/App.js
  apps/demos/Demos/DataGrid/SemanticSearch/React/App.tsx
  apps/demos/Demos/DataGrid/SemanticSearch/ReactJs/App.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids - DataController: Extract summary loadAll knowledge to extenders (#35113)
  packages/devextreme/js/__internal/grids/data_grid/summary/extenders/__tests__/summary_data_controller.load_all_items.test.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/extenders/summary_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids - DataController: Extract summary loadAll knowledge to extenders (#35125)
  packages/devextreme/js/__internal/grids/data_grid/summary/extenders/__tests__/summary_data_controller.load_all_items.test.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/extenders/summary_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix a typo in import path
  apps/demos/Demos/HtmlEditor/AITextEditing/Angular/app/app.service.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: retarget `key` and `keyOf` methods (#35127)
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/helpers/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/ai_assistant_integration_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/controllers/m_ai_column_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/controllers/m_ai_column_integration_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source/__tests__/data_source_controller.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source/data_source_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/provider.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/types.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/extenders/editing_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/data_controller/m_data_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source/__tests__/data_source_controller.integration.test.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source/data_source_controller.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/__tests__/add_row_generated_key.integration.test.ts
  packages/devextreme/js/__internal/grids/tree_list/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/tree_list/m_focus.ts
  packages/devextreme/js/__internal/grids/tree_list/selection/m_selection.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore: tighten default list with https
  apps/demos/utils/server/demo-render-signal.runtime.js
  apps/demos/utils/tests/server/demo-render-signal.runtime.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: retarget `dataController.push` method
  packages/devextreme/js/__internal/grids/data_grid/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source/__tests__/data_source_controller.test.ts
  packages/devextreme/js/__internal/grids/grid_core/data_source/data_source_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/extenders/__tests__/focus_data_source_controller.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/extenders/focus_data_source_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/focus_module.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/selection/m_selection.ts
  packages/devextreme/js/__internal/grids/tree_list/m_focus.ts
  packages/devextreme/testing/helpers/gridBaseMocks.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore: fix own_origin test
  apps/demos/utils/tests/server/demo-render-signal.runtime.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Rename files: remove m_ prefix
  packages/devextreme/js/__internal/ui/number_box/number_box.base.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.caret.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.mask.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.spin.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.spins.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.ts
  packages/devextreme/js/__internal/ui/number_box/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

NumberBox: refactor and improve typing
  packages/devextreme/js/__internal/core/localization/number.ts
  packages/devextreme/js/__internal/ui/chat/message_box/chat_text_area.ts
  packages/devextreme/js/__internal/ui/color_box/color_view.ts
  packages/devextreme/js/__internal/ui/date_box/date_box.mask.ts
  packages/devextreme/js/__internal/ui/date_box/time_view.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/drop_down_button.ts
  packages/devextreme/js/__internal/ui/number_box/__tests__/utils.test.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.base.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.caret.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.mask.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.spin.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.spins.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.ts
  packages/devextreme/js/__internal/ui/number_box/utils.ts
  packages/devextreme/js/__internal/ui/text_box/text_editor.base.ts
  packages/devextreme/js/__internal/ui/text_box/text_editor.clear.ts
  packages/devextreme/js/__internal/ui/text_box/text_editor.mask.ts
  packages/devextreme/js/__internal/ui/text_box/texteditor_button_collection/button.ts
  packages/devextreme/js/__internal/ui/text_box/texteditor_button_collection/custom.ts
  packages/devextreme/js/ui/number_box.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.caret.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.kbn.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor(grids): extract scrolling knowledge to extenders
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/utils/__tests__/paging.test.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/utils/paging.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/extenders/__tests__/virtual_scrolling_data_controller.paging.test.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/extenders/virtual_scrolling_data_controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(env): restore minimumReleaseAge
  pnpm-workspace.yaml
Due: none

test(grids): keep paging enabled in treeList stateStoring mocks
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/stateStoring.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update apps/demos/Demos/CardView/FieldTemplate/React/Progress.tsx
  apps/demos/Demos/CardView/FieldTemplate/React/Progress.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add warning comment
  pnpm-workspace.yaml
Due: none

fix(env): restore minimumReleaseAge (#35133)
  pnpm-workspace.yaml
Due: none

Fluent-next: snap the remaining one-off sizes onto the scale
  e2e/testcafe-devextreme/tests/common/pivotGrid/etalons/PivotGrid rows content height=100%(350px),useNative=false (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/etalons/PivotGrid rows content height=100%(350px),useNative=true (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/etalons/PivotGrid rows content height=100%(450px),useNative=false (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/etalons/PivotGrid rows content height=100%(450px),useNative=true (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/etalons/rows_do_not_overlap_data_fields_if_virtual_scrolling_enabled_T1210807 (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/kbn/etalons/export-button_focus (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/kbn/etalons/field-chooser-button_focus_description-cell (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/runningTotal/etalons/running-total_partial-data_render-0 (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/runningTotal/etalons/running-total_partial-data_render-1 (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/runningTotal/etalons/running-total_seamless-data (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/editors/dateBox/etalons/DateBox with datetime and opened AMPM select (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/editors/dateBox/etalons/DateBox with datetime and root element as container (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/editors/dateBox/etalons/Datebox with datetime (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/editors/dateBox/etalons/Datebox with datetime without analog clock (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/editors/dateBox/etalons/Datebox with datetime without calendar (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/editors/lookup/etalons/Lookup in loading (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/editors/selectBox/etalons/SelectBox popup height after last page load (fluent-next.blue.light).png
  packages/devextreme-scss/scss/widgets/fluent-next/dateBox/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/diagram/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/dropDownList/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/fileManager/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/fileUploader/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/htmlEditor/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/lookup/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/pivotGrid/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/recurrenceEditor/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/scrollView/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/scrollView/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/timeView/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/toast/_sizes.scss
  packages/devextreme-scss/tests/calc-budget.json
  packages/devextreme-scss/tests/fluent-next-naming.baseline.json
Due: stylelint

Tabs: label icon-only tabs after their icon, as Button does (#5077)
  apps/demos/testing/common.test.ts
  e2e/testcafe-devextreme/tests/accessibility/tabPanel.ts
  e2e/testcafe-devextreme/tests/accessibility/tabs.ts
  packages/devextreme/js/__internal/core/utils/m_icon.ts
  packages/devextreme/js/__internal/ui/button/button.tsx
  packages/devextreme/js/__internal/ui/tab_panel/tab_panel.ts
  packages/devextreme/js/__internal/ui/tabs/tabs.ts
  packages/devextreme/testing/tests/DevExpress.core/utils.icon.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Tabs: handle the _itemAriaLabelExpr option change, and let the label rule remove aria-label too (#5077)
  packages/devextreme/js/__internal/core/utils/m_icon.ts
  packages/devextreme/js/__internal/ui/button/button.tsx
  packages/devextreme/js/__internal/ui/tabs/tabs.ts
  packages/devextreme/testing/tests/DevExpress.core/utils.icon.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Numberbox: Refactor and improve typing (#35117)
  packages/devextreme/js/__internal/core/localization/number.ts
  packages/devextreme/js/__internal/ui/chat/message_box/chat_text_area.ts
  packages/devextreme/js/__internal/ui/color_box/color_view.ts
  packages/devextreme/js/__internal/ui/date_box/date_box.mask.ts
  packages/devextreme/js/__internal/ui/date_box/time_view.ts
  packages/devextreme/js/__internal/ui/drop_down_editor/drop_down_button.ts
  packages/devextreme/js/__internal/ui/number_box/__tests__/utils.test.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.caret.ts
  packages/devextreme/js/__internal/ui/number_box/m_number_box.spins.ts
  packages/devextreme/js/__internal/ui/number_box/m_utils.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.base.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.caret.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.mask.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.spin.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.spins.ts
  packages/devextreme/js/__internal/ui/number_box/number_box.ts
  packages/devextreme/js/__internal/ui/number_box/utils.ts
  packages/devextreme/js/__internal/ui/text_box/text_editor.base.ts
  packages/devextreme/js/__internal/ui/text_box/text_editor.clear.ts
  packages/devextreme/js/__internal/ui/text_box/text_editor.mask.ts
  packages/devextreme/js/__internal/ui/text_box/texteditor_button_collection/button.ts
  packages/devextreme/js/__internal/ui/text_box/texteditor_button_collection/custom.ts
  packages/devextreme/js/ui/number_box.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.caret.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Tabs: label icon-only tabs after their icon, as Button does (#5077) (#35122)
  apps/demos/testing/common.test.ts
  e2e/testcafe-devextreme/tests/accessibility/tabPanel.ts
  e2e/testcafe-devextreme/tests/accessibility/tabs.ts
  packages/devextreme/js/__internal/core/utils/m_icon.ts
  packages/devextreme/js/__internal/ui/button/button.tsx
  packages/devextreme/js/__internal/ui/tab_panel/tab_panel.ts
  packages/devextreme/js/__internal/ui/tabs/tabs.ts
  packages/devextreme/testing/tests/DevExpress.core/utils.icon.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Tabs: label icon-only tabs after their icon, as Button does (#5077) (#35134)
  apps/demos/testing/common.test.ts
  e2e/testcafe-devextreme/tests/accessibility/tabPanel.ts
  e2e/testcafe-devextreme/tests/accessibility/tabs.ts
  packages/devextreme/js/__internal/core/utils/m_icon.ts
  packages/devextreme/js/__internal/ui/button/button.tsx
  packages/devextreme/js/__internal/ui/tab_panel/tab_panel.ts
  packages/devextreme/js/__internal/ui/tabs/tabs.ts
  packages/devextreme/testing/tests/DevExpress.core/utils.icon.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update Following Feedback
  apps/demos/Demos/DataGrid/AIPoweredDetailView/React/description.md
  apps/demos/Demos/DataGrid/AIPoweredDetailView/ReactJs/description.md
  apps/demos/Demos/DataGrid/AIPoweredDetailView/description.md
Due: none

add types
  packages/devextreme/js/__internal/grids/grid_core/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.test.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/types.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/utils/load_branches.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/utils/nodes.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

move branch loading logic to a separate util
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.test.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/m_data_source_adapter.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/utils/create_id_filter.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/utils/load_branches.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add tests
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/utils/__tests__/load_branches.test.ts
  packages/devextreme/js/__internal/grids/tree_list/data_source_adapter/utils/load_branches.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: Add AI-powered Detail View Demo Desc. (#34878)
  apps/demos/Demos/DataGrid/AIPoweredDetailView/React/description.md
  apps/demos/Demos/DataGrid/AIPoweredDetailView/ReactJs/description.md
Due: none

refactor(grids): move getRowIndicesForExpand into master_detail
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/master_detail/__tests__/get_row_indices_for_expand.test.ts
  packages/devextreme/js/__internal/grids/grid_core/master_detail/m_master_detail.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: close the scale-gap sizes, except the two above the ceiling
  apps/demos/testing/etalons/Diagram-Adaptability (fluent-next.blue.light).png
  apps/demos/testing/etalons/Diagram-AdvancedDataBinding (fluent-next.blue.light).png
  apps/demos/testing/etalons/Diagram-Containers (fluent-next.blue.light).png
  apps/demos/testing/etalons/Diagram-CustomShapesWithIcons (fluent-next.blue.light).png
  apps/demos/testing/etalons/Diagram-CustomShapesWithTemplatesWithEditing (fluent-next.blue.light).png
  apps/demos/testing/etalons/Diagram-CustomShapesWithTexts (fluent-next.blue.light).png
  apps/demos/testing/etalons/Diagram-ImagesInShapes (fluent-next.blue.light).png
  apps/demos/testing/etalons/Diagram-NodesAndEdgesArrays (fluent-next.blue.light).png
  apps/demos/testing/etalons/Diagram-NodesArrayHierarchicalStructure (fluent-next.blue.light).png
  apps/demos/testing/etalons/Diagram-NodesArrayPlainStructure (fluent-next.blue.light).png
  apps/demos/testing/etalons/Diagram-OperationRestrictions (fluent-next.blue.light).png
  apps/demos/testing/etalons/Diagram-Overview (fluent-next.blue.light).png
  apps/demos/testing/etalons/Diagram-UICustomization (fluent-next.blue.light).png
  apps/demos/testing/etalons/Diagram-WebAPIService (fluent-next.blue.light).png
  apps/demos/testing/etalons/HtmlEditor-MarkdownSupport (fluent-next.blue.light).png
  apps/demos/testing/etalons/HtmlEditor-Overview (fluent-next.blue.light).png
  apps/demos/testing/etalons/HtmlEditor-ToolbarCustomization (fluent-next.blue.light).png
  apps/demos/testing/etalons/Toolbar-Adaptability (fluent-next.blue.light).png
  apps/demos/testing/widgets/toolbar/etalons/toolbar_multiline_mode_minimize (fluent-next.blue.light).png
  apps/demos/testing/widgets/toolbar/etalons/toolbar_singleline_mode_menu_open (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (fluent-next.blue.light).png
  packages/devextreme-scss/scss/widgets/fluent-next/diagram/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/fileManager/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/timeView/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/toolbar/_sizes.scss
Due: stylelint

Grids - DataController: Extract scrolling knowledge to extenders (#35130)
  packages/devextreme/js/__internal/grids/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/utils/__tests__/paging.test.ts
  packages/devextreme/js/__internal/grids/grid_core/data_controller/utils/paging.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/extenders/__tests__/virtual_scrolling_data_controller.paging.test.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/extenders/virtual_scrolling_data_controller.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.treeList/stateStoring.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

resolve squad suggestions
  apps/demos/Demos/CardView/FieldTemplate/React/Progress.tsx
  apps/demos/Demos/CardView/FieldTemplate/ReactJs/Progress.js
  apps/demos/Demos/CardView/FieldTemplate/ReactJs/index.html
  apps/demos/Demos/DataGrid/CustomEditors/React/EmployeeDropDownBoxComponent.tsx
  apps/demos/Demos/DataGrid/CustomEditors/ReactJs/EmployeeDropDownBoxComponent.js
  apps/demos/Demos/DataGrid/CustomEditors/ReactJs/index.html
  apps/demos/Demos/DataGrid/RealTimeUpdates/React/App.tsx
  apps/demos/Demos/DataGrid/RealTimeUpdates/ReactJs/App.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Map: skip invalid non-string OSM route waypoints
  packages/devextreme/js/__internal/ui/map/provider.dynamic.osm.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/osmTests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
