Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"]
}

update style
  scss/widgets/base/_calendar.scss
Due: stylelint

update etanol
  testing/testcafe/tests/editors/calendar/etalons/Calendar with multiview (generic-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with multiview (generic-light-compact).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with multiview (material-blue-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with multiview (material-blue-light-compact).png
Due: none

Popup: update 'Scrolling' demo description (#2498)
  Demos/Popup/Scrolling/description.md
  menuMeta.json
Due: none

fix closing of overlay
  js/core/utils/dom.js
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.core/utils.dom.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Pivot grid: Refactoring sortable separated modules. (#24034) (#24059)
  js/__internal/.eslintrc.js
  js/__internal/grids/pivot_grid/field_chooser/const.ts
  js/__internal/grids/pivot_grid/field_chooser/dom.ts
  js/__internal/grids/pivot_grid/field_chooser/module.ts
  js/__internal/grids/pivot_grid/field_chooser/module_base.ts
  js/__internal/grids/pivot_grid/sortable/const.ts
  js/__internal/grids/pivot_grid/sortable/index.ts
  js/__internal/grids/pivot_grid/sortable/module_item_render.ts
  js/__internal/tsconfig.json
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Pivot grid: Refactoring sortable separated modules. (#24034) (#24060)
  js/__internal/.eslintrc.js
  js/__internal/grids/pivot_grid/field_chooser/const.ts
  js/__internal/grids/pivot_grid/field_chooser/dom.ts
  js/__internal/grids/pivot_grid/field_chooser/module.ts
  js/__internal/grids/pivot_grid/field_chooser/module_base.ts
  js/__internal/grids/pivot_grid/sortable/const.ts
  js/__internal/grids/pivot_grid/sortable/index.ts
  js/__internal/grids/pivot_grid/sortable/module_item_render.ts
  js/__internal/tsconfig.json
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

PivotGrid(T1150523): Remove redundant sort http request.
  js/__internal/grids/pivot_grid/data_source/module.ts
  js/__internal/grids/pivot_grid/field_chooser/const.ts
  js/__internal/grids/pivot_grid/field_chooser/module_base.ts
  js/__internal/grids/pivot_grid/field_chooser/utils.ts
  js/__internal/grids/pivot_grid/module_widget.ts
  testing/testcafe/tests/pivotGrid/sort/T1150523_localSort.ts
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

TileView: improve CSP style-src directive 'unsafe-inline' in demos (#2497)
  Demos/TileView/Basics/AngularJS/index.js
  Demos/TileView/Basics/Knockout/index.js
  Demos/TileView/Basics/jQuery/index.js
  Demos/TileView/Directions/AngularJS/index.js
  Demos/TileView/Directions/Knockout/index.js
  Demos/TileView/Directions/jQuery/index.js
  Demos/TileView/ItemTemplate/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

TextBox: text should not be pasted in disabled TextBox with a mask (T1150263) (#24058)
  js/ui/text_box/ui.text_editor.mask.strategy.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

TextBox: text should not be pasted in disabled TextBox with a mask (T1150263) (#24058) (#24062)
  js/ui/text_box/ui.text_editor.mask.strategy.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

TextBox: text should not be pasted in disabled TextBox with a mask (T1150263) (#24058) (#24061)
  js/ui/text_box/ui.text_editor.mask.strategy.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

PivotGrid(T1150523): Code review fixes
  js/__internal/grids/pivot_grid/field_chooser/const.ts
  js/__internal/grids/pivot_grid/field_chooser/module_base.ts
  js/__internal/grids/pivot_grid/field_chooser/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

apply suggestions
  js/ui/calendar/ui.calendar.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

update testcafe test
  testing/testcafe/tests/editors/calendar/calendar.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Editor Appearance Variants: Apply styling mode to options section editors (#2499)
  Demos/Common/EditorAppearanceVariants/Angular/app/app.component.html
  Demos/Common/EditorAppearanceVariants/React/App.js
  Demos/Common/EditorAppearanceVariants/Vue/App.vue
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Localiztion: zh, html editor
  js/localization/messages/zh.json
Due: none

Overlay: fix closing after click on item in shadow dom (T1146455) (#24000)
  js/core/utils/dom.js
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.core/utils.dom.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Overlay: fix closing after click on item in shadow dom (T1146455) (#24002)
  js/core/utils/dom.js
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.core/utils.dom.tests.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Tooltip: native scrolling should not be prevented above content
  js/ui/tooltip/tooltip.js
  testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

PivotGrid(T1150523): Remove redundant sort http request. (#24057)
  js/__internal/grids/pivot_grid/data_source/module.ts
  js/__internal/grids/pivot_grid/field_chooser/const.ts
  js/__internal/grids/pivot_grid/field_chooser/module_base.ts
  js/__internal/grids/pivot_grid/field_chooser/utils.ts
  js/__internal/grids/pivot_grid/module_widget.ts
  testing/testcafe/tests/pivotGrid/sort/T1150523_localSort.ts
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

try use testcafe proxyless
  .github/workflows/testcafe_tests.yml
  package-lock.json
  package.json
  testing/testcafe/runner.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

update package-lock
  package-lock.json
Due: none

try proxied
  testing/testcafe/runner.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

try fix screenshots
  testing/testcafe/tests/htmlEditor/dialogs/addImage/addImageUrl.ts
  testing/testcafe/tests/pivotGrid/fieldPanel/dragAndDropFieldItems.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

typo
  testing/testcafe/runner.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

turn on proxyless
  testing/testcafe/runner.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix screenshots
  testing/testcafe/tests/htmlEditor/dialogs/addImage/addImageUrl.ts
  testing/testcafe/tests/pivotGrid/fieldPanel/dragAndDropFieldItems.ts
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/base.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

try use testcafe proxyless
  package-lock.json
Due: none

fix html editor and pivot tests
  testing/testcafe/tests/htmlEditor/dialogs/addImage/addImageUrl.ts
  testing/testcafe/tests/pivotGrid/fieldPanel/dragAndDropFieldItems.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix page path
  testing/testcafe/tests/pivotGrid/export/onExportingOption.ts
  testing/testcafe/tests/pivotGrid/fieldChooser/fieldChooser.ts
  testing/testcafe/tests/pivotGrid/fieldPanel/dragAndDropFieldItems.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix visual testing
  testing/testcafe/tests/pivotGrid/fieldChooser/fieldChooser.ts
  testing/testcafe/tests/scheduler/dragAndDrop/appointmentCollector.ts
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/base.ts
  testing/testcafe/tests/scheduler/layout/appointmentForm/allDay.ts
  testing/testcafe/tests/scheduler/layout/appointments/dataSource.ts
  testing/testcafe/tests/scheduler/timezone/T1102713/recurrenceAppointmentInDstTimeEditing.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

enable screenshots
  testing/testcafe/runner.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

try the latest testcafe
  package.json
  testcafe-2.4.0.tgz
Due: none

fix testcafe
  package-lock.json
  package.json
Due: none
