Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
    "*.js": ["eslint"],
    "*.{css,less}": ["stylelint"]
}

Small refactoring
  js/ui/grid_core/ui.grid_core.pager.js
Due: eslint

Fix lost aspnet.createComponent calls, part II (fixes T886572)
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Due: eslint

DataGrid - Fixes applying pager options when repaintChangesOnly is enabled (T886628) (#13000)
  js/ui/grid_core/ui.grid_core.pager.js
  testing/tests/DevExpress.ui.widgets.dataGrid/pagerView.tests.js
Due: eslint

DataGrid - Fixes applying pager options when repaintChangesOnly is enabled (T886628) (#13001)
  js/ui/grid_core/ui.grid_core.pager.js
  testing/tests/DevExpress.ui.widgets.dataGrid/pagerView.tests.js
Due: eslint

Make events engine to not fall with SVG
  js/core/utils/dom.js
  js/events/core/events_engine.js
  testing/tests/DevExpress.core/utils.dom.tests.js
  testing/tests/DevExpress.ui.events/eventsEngine.tests.js
Due: eslint

Update jQuery to version 3.5.1 (#12998) (#13004)
  package.json
Due: none

Update jQuery to version 3.5.1 (#12998) (#13005)
  package.json
Due: none

FileManager - A context menu is re-created after changing the disabled property of a specific item (T887308) (#12989)
  js/ui/file_manager/ui.file_manager.context_menu.js
  js/ui/file_manager/ui.file_manager.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
Due: eslint

FileManager - A context menu is re-created after changing the disabled property of a specific item (T887308) (#12990)
  js/ui/file_manager/ui.file_manager.context_menu.js
  js/ui/file_manager/ui.file_manager.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
Due: eslint

Fix tests
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
Due: eslint

ESLint: Update to v7.0 (#12995)
  package.json
Due: none

Add test
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Due: eslint

small fix
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Due: eslint

Fix lost aspnet.createComponent calls, part II (fixes T886572) (#13007)
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Due: eslint

Fix lost aspnet.createComponent calls, part II (fixes T886572) (#13006)
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Due: eslint

Shceduler - Deprecate 'allowEditingTimeZones' (#13002)
  js/ui/scheduler/ui.scheduler.js
  ts/dx.all.d.ts
Due: eslint

Fixes the issue
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
Due: eslint

Adds tests
  testing/functional/model/dataGrid.ts
  testing/functional/tests/dataGrid/keyboardNavigation.ts
Due: none

ESLint: Update to v7.0 (#12995) (#13010)
  package.json
Due: none

Fix Scheduler localization in appointment popup, first step (T887054) (#13008)
  js/ui/scheduler/appointmentPopup.js
  js/ui/scheduler/ui.scheduler.recurrence_editor.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
Due: eslint

Fix Scheduler shader position for small screen (T886366)
  styles/widgets/base/scheduler.less
Due: stylelint

Fix Scheduler shader position for small screen (T886366) (#13013)
  styles/widgets/base/scheduler.less
Due: stylelint

Small fix
  styles/widgets/base/scheduler.less
Due: stylelint

Small fix in Scheduler shader position
  styles/widgets/base/scheduler.less
Due: stylelint

dxLookup - Fix behavior if turn on the fullScreen option (T885130)
  js/ui/lookup.js
Due: eslint

PivotGrid: Fix uneccessary render on expand header item if store is not defined (T887002) (#12982)
  js/ui/pivot_grid/data_source.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataController.tests.js
Due: eslint

PivotGrid: Fix uneccessary render on expand header item if store is not defined (T887002) (#12981)
  js/ui/pivot_grid/data_source.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/dataController.tests.js
Due: eslint

DataGrid: Fix invalid editor refocusing without timeout on document click in ios (T837043) (#12960)
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Due: eslint

DataGrid: Fix invalid editor refocusing without timeout on document click in ios (T837043) (#12956)
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Due: eslint

Update README
  README.md
Due: none

ESLint: Update to v7.0 (#12995) (#13009)
  package.json
Due: none

update versions 20_2
  .drone.yml
  .travis.yml
  README.md
  package.json
  shippable.yml
Due: none

Disable doubtful rules
  build/.eslintrc
Due: none
