Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

getOffsetWithoutScale position util should use computed stle instead of inline (T941581)
  testing/testcafe/model/checkBox.ts
  testing/testcafe/tests/editors/pages/T941581.html
  testing/testcafe/tests/editors/validationMessage.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix DataGrid Local Reordering demo in vue approach (#317)
  Demos/DataGrid/LocalReordering/Vue/App.vue
Due: none

Fix bug in test
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix Diagram Adaptability demo (#318)
  Demos/Diagram/Adaptability/Vue/App.vue
Due: none

Fix default series naming (T944121)
  js/viz/chart_components/base_chart.js
  testing/tests/DevExpress.viz.charts/chart.part7.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Revert isDesktopEnvironment
  testing/helpers/scheduler/helpers.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

SelectBox should raise valueChanged with keydown event as parameter when value is removed using backspace/delete (T940489) (#15064)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

SelectBox should raise valueChanged with keydown event as parameter when value is removed using backspace/delete (T940489) (#15064) (#15095)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxDiagram - fix demo description (#320)
  Demos/Diagram/OperationRestrictions/description.md
Due: none

Fix default series naming (T944121) (#15097)
  js/viz/chart_components/base_chart.js
  testing/tests/DevExpress.viz.charts/chart.part7.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix default series naming (T944121) (#15096)
  js/viz/chart_components/base_chart.js
  testing/tests/DevExpress.viz.charts/chart.part7.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix VariableNumberOfBars demo (#319)
  Demos/Gauges/VariableNumberOfBars/Vue/App.vue
Due: none

Extract eventNodesDispoising module
  js/events/click.js
  js/events/utils/event_nodes_disposing.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxChart - refactoring axis.getVisualRangeCenter method
  js/viz/axes/base_axis.js
  js/viz/translators/category_translator.js
  js/viz/translators/datetime_translator.js
  js/viz/translators/interval_translator.js
  js/viz/translators/logarithmic_translator.js
  js/viz/translators/translator2d.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Update tools version
  package.json
Due: none

Fix memory leaks in click and feedback events (#15073)
  js/events/click.js
  js/events/core/emitter.feedback.js
  js/events/utils/event_nodes_disposing.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Remove textEditor styles from dx.common.css (#15063)
  scss/bundles/dx.common.scss
  scss/widgets/base/textEditor/_index.scss
  scss/widgets/base/textEditor/_mixins.scss
  scss/widgets/common/_dropDownEditor.scss
  scss/widgets/generic/textEditor/_index.scss
  scss/widgets/material/textEditor/_index.scss
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Fix Vue demo (#321)
  Demos/TreeView/ContextMenuIntegration/Vue/App.vue
Due: none

Logging: first step
  themebuilder-scss/dart-compiler/compiler-result.dart
  themebuilder-scss/dart-compiler/compiler.dart
  themebuilder-scss/dart-compiler/logger.dart
  themebuilder-scss/dart-compiler/run.js
  themebuilder-scss/dart-compiler/server.dart
  themebuilder-scss/package.json
  themebuilder-scss/src/modules/compiler.ts
  themebuilder-scss/src/modules/dart-client.ts
  themebuilder-scss/src/modules/logger.ts
  themebuilder-scss/tests/modules/compiler.test.ts
  themebuilder-scss/tests/modules/dart-client.test.ts
  themebuilder-scss/tests/modules/logger.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Change console.log with Logger
  themebuilder-scss/src/modules/config-normalizer.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Enable tooltip in bubble demo (#322)
  Demos/Charts/Bubble/Angular/app/app.component.ts
  Demos/Charts/Bubble/AngularJS/index.js
  Demos/Charts/Bubble/Knockout/index.js
  Demos/Charts/Bubble/Vue/App.vue
  Demos/Charts/Bubble/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix Vue demos (#323)
  Demos/Form/UpdateItemsDynamically/Vue/App.vue
  Demos/ScrollView/Overview/Vue/App.vue
  Demos/TabPanel/SortableClosableTabs/Vue/App.vue
  Demos/TreeView/ContextMenuIntegration/Vue/App.vue
Due: none

Update tools version (#15098)
  package.json
Due: none

Update tools version (#15099)
  package.json
Due: none

Update tools version (#15100)
  package.json
Due: none

Fix ItemDragging demo (#324)
  Demos/List/ItemDragging/Vue/App.vue
Due: none

fix using getAttribute
  js/animation/position.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Revert "Add brand new fix" and add draft of the most fascinating fix ever
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.editing.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

refactoring
  js/animation/position.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix password comparison (#326)
  Demos/Validation/Overview/Vue/App.vue
Due: none

Refactor
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.editing.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Try to fix memory leaks on widget update (T940715)
  js/ui/responsive_box.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add test, improve API, add attemps
  package.json
  testing/testcafe/helpers/screenshort-comparer.ts
  testing/testcafe/model/dataGrid/SelectableElement.ts
  testing/testcafe/model/dataGrid/navPage.ts
  testing/testcafe/model/dataGrid/pager.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/testcafe/tests/dataGrid/pager.ts
  testing/testcafe/tsconfig.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Replace timezone strings to JSON constant
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Refactoring
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
