Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

React - File Uploader component ref fix
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
  packages/devextreme-react/src/core/__tests__/test-component.ts
  packages/devextreme-react/src/core/widget-config.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Remove item kind property
  apps/demos/testing/widgets/fileuploader/CustomDropzone.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Initialize dropzone-active const
  apps/demos/testing/widgets/fileuploader/CustomDropzone.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Implement Menu scrolling KBN
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Rename dropzone external variable
  apps/demos/testing/widgets/fileuploader/CustomDropzone.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update _mixins.scss
  packages/devextreme/scss/widgets/base/splitter/_mixins.scss
Due: stylelint

refactor
  packages/devextreme-angular/src/http/ajax.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

revert(PG)
  packages/devextreme/playground/jquery.html
Due: none

fix(menu): Add detach event
  packages/devextreme/js/ui/menu/ui.menu.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(menu): Add _hideSubmenuOnFocusOut into _optionChanged
  packages/devextreme/js/ui/menu/ui.menu.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(menu): Rename test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(dataGrid): Remove comments
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(menu): Add tests && Remove skipping
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(menu): Add focusStateEnabled: true
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(menu)
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/playground/jquery.html
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(menu): Add test with _hideSubmenuOnFocusOut
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(menu): Update _isTargetOutOfComponent
  packages/devextreme/js/ui/menu/ui.menu.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Menu: Close menu when element lose focus
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(menu && dataGrid): Add _hideSubmenuOnFocusOut for skip hide submenu from DataGrid
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/playground/jquery.html
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(menu): Revert && Add _attachFocusOutHandler
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor(menu): Replace _attachFocusOutHandler with _focusOutHandler && Get rif of extra code in _isTargetOutOfComponent
  packages/devextreme/js/ui/menu/ui.menu.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(menu): Add tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Form: change styles for custom group template
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/form/_index.scss
  packages/devextreme/scss/widgets/fluent/form/_sizes.scss
  packages/devextreme/scss/widgets/generic/_colors.scss
  packages/devextreme/scss/widgets/generic/form/_index.scss
  packages/devextreme/scss/widgets/material/_colors.scss
  packages/devextreme/scss/widgets/material/form/_index.scss
Due: stylelint

fix
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/createWidget.ts
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/getComponentInstance.ts
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/index.ts
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/multi-platform-test.ts
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/platform-type.ts
  packages/devextreme/testing/testcafe/helpers/multi-platform-test/updateComponentOptions.ts
  packages/devextreme/testing/testcafe/helpers/updateComponentOptions.ts
  packages/devextreme/testing/testcafe/model/internal/widget.ts
  packages/devextreme/testing/testcafe/model/scrollView/internal/scrollable.ts
  packages/devextreme/testing/testcafe/model/scrollView/scrollView.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore: update follow-redirects to 1.15.6 (#26950)
  package-lock.json
Due: none

Change time to finish publishing before inhouse tasks start
  .github/workflows/packages_publishing_scheduler.yml
Due: none

Change time to finish publishing before inhouse tasks start (#26956)
  .github/workflows/packages_publishing_scheduler.yml
Due: none

fix CSP issue in export
  packages/devextreme/js/viz/core/export.js
  packages/devextreme/testing/tests/DevExpress.viz.core/export.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

allow renderer as param
  packages/devextreme/js/core/utils/svg.js
  packages/devextreme/js/exporter/image_creator.js
  packages/devextreme/testing/tests/DevExpress.exporter/imageCreator.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/export.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update type for exportFromMarkup
  packages/devextreme/js/viz/export.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update etalons
  packages/devextreme/testing/testcafe/tests/form/etalons/Group caption template (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/Group caption template (generic-light).png
Due: none

Form/GroupFields: add group caption template as added option argument in jquery demo
  apps/demos/Demos/Form/GroupedFields/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Form:GroupedFields: Add css styling for icons and for custom group captions
  apps/demos/Demos/Form/GroupedFields/jQuery/styles.css
Due: stylelint

FileUploader: Fix Custom Drop Zone Multiple Files and Incorrect File Extension Handling (#26921)
  apps/demos/Demos/FileUploader/CustomDropzone/Angular/app/app.component.html
  apps/demos/Demos/FileUploader/CustomDropzone/Angular/app/app.component.ts
  apps/demos/Demos/FileUploader/CustomDropzone/React/App.tsx
  apps/demos/Demos/FileUploader/CustomDropzone/ReactJs/App.js
  apps/demos/Demos/FileUploader/CustomDropzone/Vue/App.vue
  apps/demos/Demos/FileUploader/CustomDropzone/jQuery/index.js
  apps/demos/testing/widgets/fileuploader/CustomDropzone.test.js
  apps/demos/testing/widgets/fileuploader/etalons/custom_dropzone_valid_file (fluent.blue.light).png
  apps/demos/testing/widgets/fileuploader/etalons/custom_dropzone_valid_file (material.blue.light).png
  apps/demos/testing/widgets/fileuploader/etalons/custom_dropzone_valid_file.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Form/GroupedField: apply captionTemplate demo in angular
  apps/demos/Demos/Form/GroupedFields/Angular/app/app.component.css
  apps/demos/Demos/Form/GroupedFields/Angular/app/app.component.html
  apps/demos/Demos/Form/GroupedFields/Angular/app/app.component.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Form/GroupedField: apply captionTemplate demo in vue
  apps/demos/Demos/Form/GroupedFields/Vue/App.vue
Due: none

Form/GroupedFields: fix lint issue in jquery styles.css in demos
  apps/demos/Demos/Form/GroupedFields/jQuery/styles.css
Due: stylelint

Update DropDownButton template (jQuery)
  apps/demos/Demos/DropDownButton/Overview/jQuery/index.js
  apps/demos/Demos/DropDownButton/Overview/jQuery/styles.css
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Form/GroupedField: apply captionTemplate demo in react
  apps/demos/Demos/Form/GroupedFields/React/App.tsx
  apps/demos/Demos/Form/GroupedFields/React/styles.css
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
