Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

add etalons
  .github/workflows/testcafe_tests.yml
  apps/demos/testing/etalons/FileManager-BindingToFileSystem (fluent.blue.light)_mask.png
  apps/demos/testing/etalons/FileManager-Overview (fluent.blue.light)_mask.png
  e2e/testcafe-devextreme/tests/common/etalons/Icon set (generic.light).png
  e2e/testcafe-devextreme/tests/common/etalons/Icon set (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/etalons/SVG icon set (generic.light).png
  e2e/testcafe-devextreme/tests/common/etalons/SVG icon set (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/filterBuilder/etalons/value-editor-checkbox (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/gantt/etalons/Gantt show resourced (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/icons.ts
  e2e/testcafe-devextreme/tests/common/pagination/etalons/pagination-dm_compact-has_it-si_true-snb_true-spss_true (generic.light).png
  e2e/testcafe-devextreme/tests/common/pagination/etalons/pagination-dm_compact-has_it-si_true-snb_true-spss_true (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/pagination/etalons/pagination-dm_full-has_it-si_true-snb_true-spss_true (generic.light).png
  e2e/testcafe-devextreme/tests/common/pagination/etalons/pagination-dm_full-has_it-si_true-snb_true-spss_true (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/etalons/PivotGrid contextmenu width (generic.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/etalons/PivotGrid contextmenu width (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/etalons/rows_do_not_overlap_data_fields_if_virtual_scrolling_enabled_T1210807 (generic.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/etalons/rows_do_not_overlap_data_fields_if_virtual_scrolling_enabled_T1210807 (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/T1054312 (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/T1223168-expandable (generic.light).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/T1223168-expandable (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/markup-selection=multiple-rtl=false-content=multiple-line (generic.light).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/markup-selection=multiple-rtl=false-content=multiple-line (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/markup-selection=multiple-rtl=false-content=multiple-line (material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/markup-selection=multiple-rtl=false-content=single-line (generic.light).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/markup-selection=multiple-rtl=false-content=single-line (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/markup-selection=multiple-rtl=false-content=single-line (material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/markup-selection=single-rtl=false-content=multiple-line (generic.light).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/markup-selection=single-rtl=false-content=multiple-line (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/markup-selection=single-rtl=false-content=multiple-line (material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/markup-selection=single-rtl=false-content=single-line (generic.light).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/markup-selection=single-rtl=false-content=single-line (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/markup-selection=single-rtl=false-content=single-line (material.blue.light.compact).png
  e2e/testcafe-devextreme/tests/common/treeList/stickyColumns/etalons/treelist_header_hover_with_fixed_columns (generic.light).png
  e2e/testcafe-devextreme/tests/common/treeList/stickyColumns/etalons/treelist_header_hover_with_fixed_columns (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/treeList/stickyColumns/etalons/treelist_row_hover_with_fixed_columns (generic.light).png
  e2e/testcafe-devextreme/tests/common/treeList/stickyColumns/etalons/treelist_row_hover_with_fixed_columns (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/keyboardNavigation.functional.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update texts after TW review
  apps/demos/Demos/Chat/FileAttachments/jQuery/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add static files and use for initial rendering
  apps/demos/Demos/Chat/FileAttachments/jQuery/data.js
  apps/demos/images/Chat/FileAtachments/Instructions.pdf
  apps/demos/images/Chat/FileAtachments/Screenshot1.png
  apps/demos/images/Chat/FileAtachments/Screenshot2.png
  apps/demos/images/Chat/FileAtachments/Screenshot3.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add Vue
  apps/demos/Demos/DataGrid/PDFExportMultipleGrids/Vue/App.vue
  apps/demos/Demos/DataGrid/PDFExportMultipleGrids/Vue/data.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add new line to make text looking better
  apps/demos/Demos/Chat/FileAttachments/jQuery/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

rename screenshots to get rid of cut in Generic
  apps/demos/Demos/Chat/FileAttachments/jQuery/data.js
  apps/demos/images/Chat/FileAtachments/Image1.png
  apps/demos/images/Chat/FileAtachments/Image2.png
  apps/demos/images/Chat/FileAtachments/Image3.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: Remove proxying state options to set tabindex into File
  packages/devextreme/js/__internal/ui/chat/messagebubble.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/file.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

revert(minor)
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor(file): Move test to main file
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/file.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/file.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

rename directory for static
  apps/demos/images/Chat/FileAttachments/Image1.png
  apps/demos/images/Chat/FileAttachments/Image2.png
  apps/demos/images/Chat/FileAttachments/Image3.png
  apps/demos/images/Chat/FileAttachments/Instructions.pdf
Due: none

fix: fix bug
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update empty Instructions.pdf
  apps/demos/images/Chat/FileAttachments/Instructions.pdf
Due: none

replace jpg with png
  apps/demos/Demos/Chat/FileAttachments/jQuery/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor downloadClick
  apps/demos/Demos/Chat/FileAttachments/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(minor)
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/file.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

New etalons
  apps/demos/testing/etalons/DataGrid-AIColumns (fluent.blue.light).png
  apps/demos/testing/etalons/TreeList-AIColumns (fluent.blue.light).png
Due: none

Implement React
  apps/demos/Demos/DataGrid/PDFExportMultipleGrids/React/App.tsx
  apps/demos/Demos/DataGrid/PDFExportMultipleGrids/React/data.ts
  apps/demos/Demos/DataGrid/PDFExportMultipleGrids/ReactJs/App.js
  apps/demos/Demos/DataGrid/PDFExportMultipleGrids/ReactJs/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: Remove proxying state options to set tabindex into File download button (#31660)
  packages/devextreme/js/__internal/ui/chat/messagebubble.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/file.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBubble.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Change OData store default + update tests
  packages/devextreme/testing/tests/DevExpress.data/odataStore.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

small refactor
  apps/demos/Demos/Chat/FileAttachments/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

rename files
  apps/demos/Demos/Chat/FileAttachments/jQuery/data.js
  apps/demos/images/Chat/FileAttachments/Pic1.png
  apps/demos/images/Chat/FileAttachments/Pic2.png
  apps/demos/images/Chat/FileAttachments/Pic3.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Remove FU bug case from Chat screenshot test
  e2e/testcafe-devextreme/tests/editors/chat/data/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update etalon
  apps/demos/testing/etalons/Chat-FileAttachments (fluent.blue.light).png
Due: none

fix React demo
  apps/demos/Demos/DataGrid/AIColumn/React/App.tsx
  apps/demos/Demos/DataGrid/AIColumn/React/Category.tsx
  apps/demos/Demos/DataGrid/AIColumn/React/Trademark.tsx
  apps/demos/Demos/DataGrid/AIColumn/React/data.ts
  apps/demos/Demos/DataGrid/AIColumn/React/description.md
  apps/demos/Demos/DataGrid/AIColumn/React/styles.css
  apps/demos/Demos/DataGrid/AIColumn/React/types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Appointment Form Redesign: Repeat editor has visual bug when allowUpdating is false (#31600)
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__main-form__readonly (generic.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__recurrence-form__readonly (generic.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/form.visual.ts
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/recurrence-form.visual.ts
  packages/devextreme-scss/scss/widgets/base/scheduler/_index.scss
  packages/devextreme/js/__internal/scheduler/appointment_popup/appointment_popup.test.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_recurrence_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Request validation and optimization
  apps/demos/Demos/DataGrid/AIColumns/jQuery/index.js
  apps/demos/Demos/TreeList/AIColumns/jQuery/data.js
  apps/demos/Demos/TreeList/AIColumns/jQuery/index.js
  packages/devextreme/js/__internal/grids/grid_core/ai_column/ai_column.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/m_ai_column_integration_controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update etalons
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Bubble with files without text (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Bubbles with files (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Messagebox with attachments and informer (fluent.blue.light).png
Due: none

Remove readonly e.data
  packages/devextreme/js/common/grids.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

e.data readonly regenerating
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

revert etalons
  .github/workflows/testcafe_tests.yml
  apps/demos/testing/etalons/Chat-MessageEditing (fluent.blue.light)_mask.png
  apps/demos/testing/etalons/Common-PopupAndNotificationsOverview (fluent.blue.light)_mask.png
  apps/demos/testing/etalons/DataGrid-AIColumn (fluent.blue.light).png
  apps/demos/testing/etalons/TreeList-AIColumn (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/common/pagination/accessibility.ts
  e2e/testcafe-devextreme/tests/common/pivotGrid/contextMenu.ts
  e2e/testcafe-devextreme/tests/common/pivotGrid/etalons/PivotGrid contextmenu width (material.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/dragAndDrop/outlookDragging/base.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix lint
  e2e/testcafe-devextreme/tests/common/etalons/Icon set (generic.light).png
  e2e/testcafe-devextreme/tests/common/etalons/Icon set (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/etalons/SVG icon set (generic.light).png
  e2e/testcafe-devextreme/tests/common/etalons/SVG icon set (material.blue.light).png
  e2e/testcafe-devextreme/tests/common/treeList/markup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: update File Attachments jQuery demo (#31664)
  apps/demos/Demos/Chat/FileAttachments/jQuery/data.js
  apps/demos/Demos/Chat/FileAttachments/jQuery/index.js
  apps/demos/images/Chat/FileAttachments/Instructions.pdf
  apps/demos/images/Chat/FileAttachments/Pic1.png
  apps/demos/images/Chat/FileAttachments/Pic2.png
  apps/demos/images/Chat/FileAttachments/Pic3.png
  apps/demos/testing/etalons/Chat-FileAttachments (fluent.blue.light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

FileUploader: revert maxWidth calculation update (#31659)
  e2e/testcafe-devextreme/tests/editors/chat/data/index.ts
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Bubble with files without text (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Bubbles with files (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/editors/chat/etalons/Messagebox with attachments and informer (fluent.blue.light).png
  packages/devextreme/js/__internal/ui/file_uploader/file_uploader.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Change OData store default + update demos
  apps/demos/Demos/DataGrid/DeferredSelection/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/DeferredSelection/React/App.tsx
  apps/demos/Demos/DataGrid/DeferredSelection/ReactJs/App.js
  apps/demos/Demos/DataGrid/DeferredSelection/Vue/App.vue
  apps/demos/Demos/DataGrid/DeferredSelection/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat FU: update files shadow and cancel button focused\hovered color
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebox/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
Due: stylelint

Change OData store default + update demos + update TS
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
