Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

Update devextreme-internal-tools to v12.0.0-beta.13 (after revert to avoid merge conflicts ref b019e36a07980819599959697649e009c6dc41fd ref f8ae2464bacd5e598454307b043d357edcd25d57)
  package-lock.json
  package.json
Due: none

remove default
  packages/devextreme/js/ui/drop_down_button.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  package-lock.json
  package.json
Due: none

TextBox: correct handlers order after change mask option (T1214019) (#26726)
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.js
  packages/devextreme/js/ui/text_box/ui.text_editor.mask.strategy.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

TextBox: correct handlers order after change mask option (T1214019) (#26727)
  js/ui/text_box/ui.text_editor.mask.js
  js/ui/text_box/ui.text_editor.mask.strategy.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Refer to non-existing component type from integration package
  apps/demos/Demos/DataGrid/BatchUpdateRequest/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/BatchUpdateRequest/React/App.tsx
  apps/demos/Demos/DataGrid/BatchUpdateRequest/Vue/App.vue
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

ContextMenu: no error should be raised on disabled submenu item click (T1218229)
  packages/devextreme/js/ui/context_menu/ui.menu_base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

ContextMenu: no error should be raised on disabled submenu item click (T1218229) (#26732)
  packages/devextreme/js/ui/context_menu/ui.menu_base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

ContextMenu: no error should be raised on disabled submenu item click (T1218229)
  js/ui/context_menu/ui.menu_base.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert "ContextMenu: no error should be raised on disabled submenu item click (T1218229)"
  js/ui/context_menu/ui.menu_base.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

T1212573: Scheduler - Recurring appointments in the timeline view are incorrectly sorted (#26704)
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/allDayAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/appointmentsOrdering.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_T1212573.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineMonth_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineMonth_offset-735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/recurrentAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/usualAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/virtualScrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

rollback _loadSelectedItem behavior
  packages/devextreme/js/ui/drop_down_button.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

T1212573: Scheduler - Recurring appointments in the timeline view are incorrectly sorted (#26704)
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/appointmentsOrdering.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_T1212573.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineMonth_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineMonth_offset-735_start-0_end-24_first-day-0.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

distribution item dimensions on initial render
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

review fixes
  packages/devextreme/js/__internal/data_controller.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix ts erros and renaming
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix after cherry-pick
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/allDayAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/appointmentsOrdering.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/recurrentAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/usualAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/virtualScrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add cursor tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

T1212573: Scheduler - Recurring appointments in the timeline view are incorrectly sorted (#26704) (#26737)
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/allDayAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/appointmentsOrdering.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_T1212573.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineMonth_offset--735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_recurrent-appts_timelineMonth_offset-735_start-0_end-24_first-day-0.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/recurrentAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/usualAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/virtualScrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Splitter: add doc declarations (#26655)
  package-lock.json
  package.json
  packages/devextreme-angular/src/index.ts
  packages/devextreme-angular/src/ui/all.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/base/splitter-options.ts
  packages/devextreme-angular/src/ui/nested/index.ts
  packages/devextreme-angular/src/ui/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/nested/splitter.ts
  packages/devextreme-angular/src/ui/splitter/index.ts
  packages/devextreme-angular/src/ui/splitter/ng-package.json
  packages/devextreme-react/src/index.ts
  packages/devextreme-react/src/splitter.ts
  packages/devextreme-vue/src/index.ts
  packages/devextreme-vue/src/splitter.ts
  packages/devextreme/build/gulp/modules_metadata.json
  packages/devextreme/js/integration/jquery.d.ts
  packages/devextreme/js/ui/splitter.d.ts
  packages/devextreme/js/ui/splitter.js
  packages/devextreme/js/ui/splitter_types.d.ts
  packages/devextreme/package.json
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

T1212573: Scheduler - Recurring appointments in the timeline view are incorrectly sorted (#26704) (#26737)
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/appointmentsOrdering.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_T1212573.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-735_start-9_end-17.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix after cherry-pick
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/appointmentsOrdering.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_month_offset-735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset--735_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-0_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-0_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-1440_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-1440_start-9_end-17.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-735_start-0_end-24.png
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/etalons/view_markup_ordering-appts_timelineMonth_offset-735_start-9_end-17.png
  testing/testcafe/tests/scheduler/appointmentsOrdering.ts
  testing/testcafe/tests/scheduler/etalons/view_markup_ordering-appts_T1212573.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update etalon
  testing/testcafe/tests/scheduler/etalons/view_markup_ordering-appts_T1212573.png
Due: none

List: the height of a scrollable wrapper in Fluent theme should be correctly calculated when a search bar exists (T1218632)
  packages/devextreme/scss/widgets/fluent/list/_index.scss
Due: stylelint

add test
  packages/devextreme/testing/testcafe/tests/editors/list/search.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Splitter: basic resize implementation (#26699)
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/scss/widgets/fluent/splitter/_colors.scss
  packages/devextreme/scss/widgets/fluent/splitter/_index.scss
  packages/devextreme/scss/widgets/generic/splitter/_colors.scss
  packages/devextreme/scss/widgets/generic/splitter/_index.scss
  packages/devextreme/scss/widgets/material/splitter/_colors.scss
  packages/devextreme/scss/widgets/material/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

ContextMenu: no error should be raised on disabled submenu item click (T1218229) (#26733)
  packages/devextreme/js/ui/context_menu/ui.menu_base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

ContextMenu: no error should be raised on disabled submenu item click (T1218229) (#26734)
  js/ui/context_menu/ui.menu_base.js
  testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Skip broken test
  packages/devextreme/testing/testcafe/tests/dataGrid/columnReordering.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Splitter: registerKeyHandler() method, required accessibility attributes, allowKeyboardNavigation option were added
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

commit missed file
  packages/devextreme/js/__internal/ui/splitter/utils/component.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add etalons
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (material-blue-light).png
Due: none

DropDownButton: add template option in declarations (#26718)
  packages/devextreme-angular/src/ui/drop-down-button/index.ts
  packages/devextreme-react/src/drop-down-button.ts
  packages/devextreme-vue/src/drop-down-button.ts
  packages/devextreme/js/ui/drop_down_button.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

FileUploader: hint with "null" text should not be shown when hint option is not defined (T1218499)
  packages/devextreme/js/ui/file_uploader.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

TileView: Fix active descendant setting
  packages/devextreme/js/ui/tile_view.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(tileView: QUnit): Add test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tileView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet
