Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"]
}

CI: check file path lengths
  .github/workflows/paths.yml
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/build/linters/validate-cyrillic-symbols.js
  packages/devextreme/build/pre-commit/chalks.js
  packages/devextreme/build/pre-commit/index.js
  packages/devextreme/build/pre-commit/validate-max-path.js
  packages/devextreme/build/pre-commit/validate-workflows.js
  packages/devextreme/package.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid - Pushed items are not added (T1176548) (#25448)
  js/data/abstract_store.js
  js/data/data_source/data_source.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

click action for treeviewItem in menu
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

TimeView: minimize size of svg for clock (#25446)
  packages/devextreme/images/widgets/common/timeView/clock-bg.svg
  packages/devextreme/scss/widgets/fluent/timeView/_index.scss
  packages/devextreme/scss/widgets/generic/timeView/_index.scss
  packages/devextreme/scss/widgets/material/timeView/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox with datetime without calendar (material-blue-light).png
Due: stylelint

try to simplify daterangebox floating styles
  packages/devextreme/js/ui/date_range_box/ui.date_range_box.js
  packages/devextreme/scss/widgets/base/dateRangeBox/_index.scss
  packages/devextreme/scss/widgets/base/dateRangeBox/_mixins.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

fix undefined
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Review fixes
  .github/workflows/paths.yml
Due: none

CI: check file path lengths (#25449)
  .github/workflows/paths.yml
  package-lock.json
  packages/devextreme/artifacts/npm/devextreme/package.json
  packages/devextreme/build/linters/validate-cyrillic-symbols.js
  packages/devextreme/build/pre-commit/chalks.js
  packages/devextreme/build/pre-commit/index.js
  packages/devextreme/build/pre-commit/validate-max-path.js
  packages/devextreme/build/pre-commit/validate-workflows.js
  packages/devextreme/package.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix textarea floating label position
  packages/devextreme/scss/widgets/material/dateRangeBox/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/dateBox/etalons/Datebox focused stylingMode=filled (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=filled isValid=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=filled isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=filled isValid=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=filled isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=outlined isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=outlined isValid=true (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=underlined isValid=false (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/lookup/etalons/Lookup label with labelMode=static-styleMode=filled (material-blue-light).png
Due: stylelint

Fluent tests
  packages/devextreme/testing/testcafe/helpers/themes.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

test added
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix nulRef
  packages/devextreme/js/ui/tree_view/ui.tree_view.base.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix link
  packages/devextreme/scss/widgets/base/treeView/_common.scss
Due: stylelint

long name rule fixed
  packages/devextreme/testing/testcafe/tests/navigation/menu/link.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Include theme in container
  packages/devextreme/testing/testcafe/tests/container.html
Due: none

refactor
  packages/devextreme/build/gulp/side-effects-finder.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

respect long name rules
  packages/devextreme/testing/testcafe/tests/navigation/menu/link.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Remove wrong common modules from vue (#25443)
  packages/devextreme-vue/src/common/common.ts
  packages/vue2-strategy/src/common/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

remove baselines
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items in adaptive mode should have links if item.url is set (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items in adaptive mode should have links if item.url is set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items in adaptive mode with link should have correct focus style (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items in adaptive mode with link should have correct focus style (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items in adaptive mode without link should have correct focus style (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items in adaptive mode without link should have correct focus style (material-blue-light).png
Due: none

Exclude tests
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

add prefix
  packages/devextreme/js/ui/calendar.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Exclude test
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

baseline updated
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items mode with link focus (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items mode with link focus (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items should have links if item.url is set (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items should have links if item.url is set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items with link and icon focus (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items with link and icon focus (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items with link should have correct focus style (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items with link should have correct focus style (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items with links (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items with links (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items without link should have correct focus style (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items without link should have correct focus style (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items without links (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/menu/etalons/Items without links (material-blue-light).png
Due: none

Try another version
  .github/actions/pin-browsers/action.yml
Due: none

Fix condition in action. Print installed version for the 'latest' one
  .github/actions/pin-browsers/action.yml
Due: none

Use latest version for Chrome
  .github/actions/pin-browsers/action.yml
Due: none

Use specific version for Chrome
  .github/actions/pin-browsers/action.yml
Due: none

Add epsilon to equal in test after Chrome update
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/actions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add possibility to specify "latest" for Chrome version
  .github/actions/pin-browsers/action.yml
Due: none

Set specific Chrome version
  .github/actions/pin-browsers/action.yml
Due: none

Change epsilon in a test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/ganttParts/actions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Update vue generator checksum
  package-lock.json
Due: none

DataGrid - FilterPanel - The dropdown of the editor for 'Is any of' and 'Is none of' is not shown if it is opened using the editor's field for the second time (T1182854) (#25394)
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  packages/devextreme/testing/testcafe/model/dataGrid/filter/builder.ts
  packages/devextreme/testing/testcafe/model/dataGrid/filter/panel.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/dataGrid-filterPanel-popup.-with-editor-popup.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/dataGrid-filterPanel-popup.png
  packages/devextreme/testing/testcafe/tests/dataGrid/filterPanel.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid - FilterPanel - The dropdown of the editor for 'Is any of' and 'Is none of' is not shown if it is opened using the editor's field for the second time (T1182854) (#25394)
  js/__internal/grids/grid_core/header_filter/m_header_filter.ts
  testing/testcafe/model/dataGrid/filter/builder.ts
  testing/testcafe/model/dataGrid/filter/panel.ts
  testing/testcafe/tests/dataGrid/etalons/dataGrid-filterPanel-popup.-with-editor-popup.png
  testing/testcafe/tests/dataGrid/etalons/dataGrid-filterPanel-popup.png
  testing/testcafe/tests/dataGrid/filterPanel.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Editors: height standardization in material default & compact themes
  packages/devextreme/scss/widgets/base/_colorBox.scss
  packages/devextreme/scss/widgets/base/_tagBox.scss
  packages/devextreme/scss/widgets/base/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/colorBox/_index.scss
  packages/devextreme/scss/widgets/generic/dropDownEditor/_index.scss
  packages/devextreme/scss/widgets/generic/tagBox/_index.scss
  packages/devextreme/scss/widgets/generic/tagBox/_sizes.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/_sizes.scss
  packages/devextreme/scss/widgets/material/colorBox/_index.scss
  packages/devextreme/scss/widgets/material/dropDownEditor/_index.scss
  packages/devextreme/scss/widgets/material/lookup/_index.scss
  packages/devextreme/scss/widgets/material/lookup/_sizes.scss
  packages/devextreme/scss/widgets/material/tagBox/_index.scss
  packages/devextreme/scss/widgets/material/tagBox/_sizes.scss
  packages/devextreme/scss/widgets/material/textArea/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_sizes.scss
Due: stylelint

fix datebox scenario
  packages/devextreme/scss/widgets/base/_dateBox.scss
  packages/devextreme/scss/widgets/base/_tagBox.scss
  packages/devextreme/scss/widgets/base/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/autocomplete/_index.scss
  packages/devextreme/scss/widgets/generic/colorBox/_index.scss
  packages/devextreme/scss/widgets/generic/dropDownEditor/_index.scss
  packages/devextreme/scss/widgets/generic/popup/_index.scss
  packages/devextreme/scss/widgets/generic/tagBox/_index.scss
  packages/devextreme/scss/widgets/generic/toolbar/_mixins.scss
  packages/devextreme/scss/widgets/material/autocomplete/_index.scss
  packages/devextreme/scss/widgets/material/badge/_index.scss
  packages/devextreme/scss/widgets/material/dateRangeBox/_index.scss
  packages/devextreme/scss/widgets/material/dropDownEditor/_index.scss
  packages/devextreme/scss/widgets/material/tagBox/_index.scss
  packages/devextreme/scss/widgets/material/textBox/_index.scss
  packages/devextreme/scss/widgets/material/toolbar/_mixins.scss
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/compact-pager-in-the-material-blue-light-compact-theme.png
  packages/devextreme/testing/testcafe/tests/editors/colorbox/etalons/Colorbox with placeholder (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/colorbox/etalons/Colorbox with placeholder (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=static,alignInAllGrp=false,alignInGrp=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=static,alignInAllGrp=false,alignInGrp=true (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=static,alignInAllGrp=true,alignInGrp=false (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/form/etalons/align items,lblMode=static,alignInAllGrp=true,alignInGrp=true (material-blue-light).png
Due: stylelint
