Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Chart: bar should be rendered when value is on border, refactor (T1176892) (#25149)
  packages/devextreme/js/viz/series/points/bar_point.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Chart: bar should be rendered when value is on border, refactor (T1176892) (#25148)
  js/viz/series/points/bar_point.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Chart: bar should be rendered when value is on border (T1176892) (#25144)
  js/viz/series/points/bar_point.js
  testing/tests/DevExpress.viz.core.series/barPoint.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

FilterBuilder - Cannot read properties of undefined (reading 'apply') error occurs when filtering with parent fields (T1176596) (#25187)
  js/ui/filter_builder/utils.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

FilterBuilder - Cannot read properties of undefined (reading 'apply') error occurs when filtering with parent fields (T1176596) (#25186)
  js/ui/filter_builder/utils.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Scheduler - All Day Panel works incorrectly with certain appointments (T1177505) (#25150)
  packages/devextreme/js/ui/scheduler/appointments/rendering_strategies/strategy_vertical.js
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/allDay/allDay.ts
  packages/devextreme/testing/testcafe/tests/scheduler/appointments/allDay/etalons/allDay-unsorted-datasource.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Scheduler - All Day Panel works incorrectly with certain appointments (T1177505) (#25150)
  js/ui/scheduler/appointments/rendering_strategies/strategy_vertical.js
  testing/testcafe/tests/scheduler/appointments/allDay/allDay.ts
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/allDay-unsorted-datasource.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Scheduler - All Day Panel works incorrectly with certain appointments (T1177505) (#25188)
  js/ui/scheduler/appointments/rendering_strategies/strategy_vertical.js
  testing/testcafe/tests/scheduler/appointments/allDay/allDay.ts
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/allDay-unsorted-datasource.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Scheduler - All Day Panel works incorrectly with certain appointments (T1177505) (#25189)
  js/ui/scheduler/appointments/rendering_strategies/strategy_vertical.js
  testing/testcafe/tests/scheduler/appointments/allDay/allDay.ts
  testing/testcafe/tests/scheduler/appointments/allDay/etalons/allDay-unsorted-datasource.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

TS Build: Remove old R0 checks & commands. (#25182)
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/renovation.yml
  .github/workflows/testcafe_tests.yml
  packages/devextreme/build/gulp/generator/generator-options.js
  packages/devextreme/build/gulp/generator/gulpfile.js
  packages/devextreme/build/gulp/generator/ts-configs/angular.tsconfig.json
  packages/devextreme/build/gulp/generator/ts-configs/react.tsconfig.json
  packages/devextreme/build/gulp/renovation-npm/.gitignore
  packages/devextreme/build/gulp/renovation-npm/common-steps.js
  packages/devextreme/build/gulp/renovation-npm/data/messages.js
  packages/devextreme/build/gulp/renovation-npm/index.js
  packages/devextreme/build/gulp/renovation-npm/package.json
  packages/devextreme/build/gulp/renovation-npm/remove-unused-modules.js
  packages/devextreme/build/gulp/renovation-npm/replacements-import.js
  packages/devextreme/build/gulp/renovation-npm/replacements-package.js
  packages/devextreme/build/gulp/renovation-npm/steps-angular.js
  packages/devextreme/build/gulp/renovation-npm/steps-react.js
  packages/devextreme/build/gulp/renovation-npm/utils/create-gulp-file.js
  packages/devextreme/build/gulp/renovation-npm/utils/index.js
  packages/devextreme/build/gulp/renovation-npm/utils/version-utils.js
  packages/devextreme/build/gulp/renovation-testing-playground.js
  packages/devextreme/gulpfile.js
  packages/devextreme/jest.config.js
  packages/devextreme/renovation.tsconfig.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid: Fix the error thrown when editing is enabled while the column chooser is visible (T1178698) (#25159)
  js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooser.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxDiagram - T1170988
  package-lock.json
  package.json
Due: none

dxDiagram - T1170988
  package-lock.json
  packages/devextreme/package.json
Due: none

dxDiagram - T1170988 (#25192)
  package-lock.json
  package.json
Due: none

dxDiagram - T1170988 (#25193)
  package-lock.json
  package.json
Due: none

DataGrid: Throw a warning if exporting is enabled and the onExporting function is not specified (#25178)
  js/__internal/grids/data_grid/export/m_export.ts
  js/ui/widget/ui.errors.js
  testing/testcafe/tests/dataGrid/export/export.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

ButtonGroup: fix icon color in disabled state and fix background color in normal type
  packages/devextreme/scss/widgets/base/buttonGroup/_mixins.scss
  packages/devextreme/scss/widgets/generic/_colors.scss
  packages/devextreme/scss/widgets/generic/buttonGroup/_colors.scss
  packages/devextreme/scss/widgets/generic/buttonGroup/_index.scss
  packages/devextreme/scss/widgets/material/button/_mixins.scss
  packages/devextreme/scss/widgets/material/buttonGroup/_colors.scss
  packages/devextreme/scss/widgets/material/buttonGroup/_index.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
Due: stylelint

TS Build: Remove old R0 checks & commands.
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/renovation.yml
  .github/workflows/testcafe_tests.yml
  build/gulp/generator/generator-options.js
  build/gulp/generator/gulpfile.js
  build/gulp/generator/ts-configs/angular.tsconfig.json
  build/gulp/generator/ts-configs/react.tsconfig.json
  build/gulp/renovation-npm/.gitignore
  build/gulp/renovation-npm/common-steps.js
  build/gulp/renovation-npm/data/messages.js
  build/gulp/renovation-npm/index.js
  build/gulp/renovation-npm/package.json
  build/gulp/renovation-npm/remove-unused-modules.js
  build/gulp/renovation-npm/replacements-import.js
  build/gulp/renovation-npm/replacements-package.js
  build/gulp/renovation-npm/steps-angular.js
  build/gulp/renovation-npm/steps-react.js
  build/gulp/renovation-npm/utils/create-gulp-file.js
  build/gulp/renovation-npm/utils/index.js
  build/gulp/renovation-npm/utils/version-utils.js
  build/gulp/renovation-testing-playground.js
  gulpfile.js
  jest.config.js
  renovation.tsconfig.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix variable values
  packages/devextreme/scss/widgets/base/scrollable/_index.scss
  packages/devextreme/scss/widgets/material/scrollable/_sizes.scss
Due: stylelint

fix lint
  packages/devextreme/scss/widgets/base/scrollable/_index.scss
  packages/devextreme/scss/widgets/base/scrollable/_mixins.scss
  packages/devextreme/scss/widgets/generic/scrollable/_index.scss
  packages/devextreme/scss/widgets/material/scrollable/_index.scss
Due: stylelint

Migrate Charts to TS (#25092)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/viz/chart_components/m_advanced_chart.ts
  js/__internal/viz/chart_components/m_base_chart.ts
  js/__internal/viz/core/m_base_widget.ts
  js/__internal/viz/m_chart.ts
  js/__internal/viz/m_pie_chart.ts
  js/__internal/viz/m_polar_chart.ts
  js/bundles/modules/parts/viz.js
  js/core/dom_adapter.d.ts
  js/core/renderer.d.ts
  js/integration/knockout/component_registrator.js
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
  js/viz/core/base_widget.js
  js/viz/funnel/funnel.js
  js/viz/gauges/base_gauge.js
  js/viz/pie_chart.js
  js/viz/polar_chart.js
  js/viz/range_selector/range_selector.js
  js/viz/sankey/sankey.js
  js/viz/sparklines/base_sparkline.js
  js/viz/tree_map/tree_map.base.js
  js/viz/vector_map/vector_map.js
  testing/helpers/vizMocks.js
  testing/tests/DevExpress.serverSide/viz.tests.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.charts/charts.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.core/baseWidget.tests.js
  testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
  testing/tests/DevExpress.viz.sparklines/bullet.tests.js
  testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Revert "Migrate Charts to TS (#25092)"
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/viz/chart_components/m_advanced_chart.ts
  js/__internal/viz/chart_components/m_base_chart.ts
  js/__internal/viz/core/m_base_widget.ts
  js/__internal/viz/m_chart.ts
  js/__internal/viz/m_pie_chart.ts
  js/__internal/viz/m_polar_chart.ts
  js/bundles/modules/parts/viz.js
  js/core/dom_adapter.d.ts
  js/core/renderer.d.ts
  js/integration/knockout/component_registrator.js
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
  js/viz/core/base_widget.js
  js/viz/funnel/funnel.js
  js/viz/gauges/base_gauge.js
  js/viz/pie_chart.js
  js/viz/polar_chart.js
  js/viz/range_selector/range_selector.js
  js/viz/sankey/sankey.js
  js/viz/sparklines/base_sparkline.js
  js/viz/tree_map/tree_map.base.js
  js/viz/vector_map/vector_map.js
  testing/helpers/vizMocks.js
  testing/tests/DevExpress.serverSide/viz.tests.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.charts/charts.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.core/baseWidget.tests.js
  testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
  testing/tests/DevExpress.viz.sparklines/bullet.tests.js
  testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Calendar: add values option to declaration
  packages/devextreme/js/ui/calendar.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Calendar: refactor selectionMode option for publish (#25184)
  packages/devextreme/js/ui/calendar/ui.calendar.js
  packages/devextreme/js/ui/calendar/ui.calendar.multiple.selection.strategy.js
  packages/devextreme/js/ui/calendar/ui.calendar.range.selection.strategy.js
  packages/devextreme/js/ui/calendar/ui.calendar.single.selection.strategy.js
  packages/devextreme/js/ui/date_box/ui.date_box.strategy.calendar.js
  packages/devextreme/testing/testcafe/tests/editors/calendar/common.ts
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with multi selectionMode (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with multi selectionMode (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with multi selectionMode (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with multi selectionMode (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with multiple selectionMode (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with multiple selectionMode (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with multiple selectionMode (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with multiple selectionMode (material-blue-light-compact).png
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Update chrome version (#25158)
  .github/actions/pin-browsers/action.yml
Due: none

Move code of Charts to TS files
  js/__internal/viz/chart_components/m_advanced_chart.ts
  js/__internal/viz/chart_components/m_base_chart.ts
  js/__internal/viz/core/m_base_widget.ts
  js/__internal/viz/m_chart.ts
  js/__internal/viz/m_pie_chart.ts
  js/__internal/viz/m_polar_chart.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Apply fixes after moving code to TS
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/viz/chart_components/m_advanced_chart.ts
  js/__internal/viz/chart_components/m_base_chart.ts
  js/__internal/viz/core/m_base_widget.ts
  js/__internal/viz/m_chart.ts
  js/__internal/viz/m_pie_chart.ts
  js/__internal/viz/m_polar_chart.ts
  js/bundles/modules/parts/viz.js
  js/core/dom_adapter.d.ts
  js/core/renderer.d.ts
  js/integration/knockout/component_registrator.js
  js/viz/chart.js
  js/viz/funnel/funnel.js
  js/viz/gauges/base_gauge.js
  js/viz/pie_chart.js
  js/viz/polar_chart.js
  js/viz/range_selector/range_selector.js
  js/viz/sankey/sankey.js
  js/viz/sparklines/base_sparkline.js
  js/viz/tree_map/tree_map.base.js
  js/viz/vector_map/vector_map.js
  testing/helpers/vizMocks.js
  testing/tests/DevExpress.serverSide/viz.tests.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.charts/charts.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.core/baseWidget.tests.js
  testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
  testing/tests/DevExpress.viz.sparklines/bullet.tests.js
  testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

TS Build: Remove old R0 checks & commands. (#25199)
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/renovation.yml
  .github/workflows/testcafe_tests.yml
  build/gulp/generator/generator-options.js
  build/gulp/generator/gulpfile.js
  build/gulp/generator/ts-configs/angular.tsconfig.json
  build/gulp/generator/ts-configs/react.tsconfig.json
  build/gulp/renovation-npm/.gitignore
  build/gulp/renovation-npm/common-steps.js
  build/gulp/renovation-npm/data/messages.js
  build/gulp/renovation-npm/index.js
  build/gulp/renovation-npm/package.json
  build/gulp/renovation-npm/remove-unused-modules.js
  build/gulp/renovation-npm/replacements-import.js
  build/gulp/renovation-npm/replacements-package.js
  build/gulp/renovation-npm/steps-angular.js
  build/gulp/renovation-npm/steps-react.js
  build/gulp/renovation-npm/utils/create-gulp-file.js
  build/gulp/renovation-npm/utils/index.js
  build/gulp/renovation-npm/utils/version-utils.js
  build/gulp/renovation-testing-playground.js
  gulpfile.js
  jest.config.js
  renovation.tsconfig.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

TS Build: Remove old R0 checks & commands. (#25198)
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/renovation.yml
  .github/workflows/testcafe_tests.yml
  build/gulp/generator/generator-options.js
  build/gulp/generator/gulpfile.js
  build/gulp/generator/ts-configs/angular.tsconfig.json
  build/gulp/generator/ts-configs/react.tsconfig.json
  build/gulp/renovation-npm/.gitignore
  build/gulp/renovation-npm/common-steps.js
  build/gulp/renovation-npm/data/messages.js
  build/gulp/renovation-npm/index.js
  build/gulp/renovation-npm/package.json
  build/gulp/renovation-npm/remove-unused-modules.js
  build/gulp/renovation-npm/replacements-import.js
  build/gulp/renovation-npm/replacements-package.js
  build/gulp/renovation-npm/steps-angular.js
  build/gulp/renovation-npm/steps-react.js
  build/gulp/renovation-npm/utils/create-gulp-file.js
  build/gulp/renovation-npm/utils/index.js
  build/gulp/renovation-npm/utils/version-utils.js
  build/gulp/renovation-testing-playground.js
  gulpfile.js
  jest.config.js
  renovation.tsconfig.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix 2
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

refactoring
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/m_sortable.ts
  packages/devextreme/js/core/renderer.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix tests
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

test
  packages/devextreme/testing/testcafe/tests/dataGrid/fixedColumns.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

comment
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

update etalons
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1177143-right-fixed-column-with-no-width-columns-1.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1177143-right-fixed-column-with-no-width-columns-2.png
Due: none

fix tests 2
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/m_sortable.ts
  packages/devextreme/js/core/renderer.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
