Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

fix: fix legacy form test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/legacyAppointmentPopup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

css: fix linter errors
  packages/devextreme-scss/scss/widgets/base/scheduler/_index.scss
Due: stylelint

WIP. check toolbar Vue demo
  apps/demos/Demos/Scheduler/Toolbar/Vue/data.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Get rid of material.tests.js
  e2e/testcafe-devextreme/tests/navigation/accordion/common.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.genericTheme.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.materialTheme.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.themes.sharedTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/accordion.genericTheme.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/accordion.materialTheme.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/accordionParts/accordion.themes.sharedTests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.buttons.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.genericTheme.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.materialTheme.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbarParts/toolbar.themes.sharedTests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix Scheduler toolbar Vue demo
  apps/demos/Demos/Scheduler/Toolbar/Vue/data.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

test: fix e2e tests
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/popup.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/appointment_popup.test.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: update etalons
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/disabled-appointment.png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/disabled-by-function-appointment.png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__main-form.png (recurring=true,allDay=false,theme=fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__main-form.png (recurring=true,allDay=false,theme=fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__main-form.png (recurring=true,allDay=true,theme=fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__main-form.png (recurring=true,allDay=true,theme=fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__main-form__with-resources-and-timezones.png (recurring=true,allDay=false,theme=fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__main-form__with-resources-and-timezones.png (recurring=true,allDay=false,theme=fluent.blue.light.compact).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__main-form__with-resources-and-timezones.png (recurring=true,allDay=true,theme=fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__main-form__with-resources-and-timezones.png (recurring=true,allDay=true,theme=fluent.blue.light.compact).png
Due: none

feat: update etalons
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/disabled-appointment.png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/disabled-by-function-appointment.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/etalons/disabled-appointment.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/etalons/disabled-by-function-appointment.png
Due: none

test: try to fix test
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/recurrence-form.visual.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/popup.ts
  packages/testcafe-models/scheduler/appointment/popup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.buttons.material.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add etalon
  e2e/testcafe-devextreme/tests/navigation/accordion/etalons/Accordion with icon-only button (fluent-blue-light).png
Due: none

Fix
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.material.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

1193 font stack (#31426)
  .stylelintrc.json
  packages/devextreme-scss/.stylelintrc.json
  packages/devextreme-scss/scss/widgets/fluent/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/_colors.scss
  packages/devextreme-scss/scss/widgets/material/_colors.scss
  packages/devextreme-themebuilder/tests/data/compilation-results/no-changes-css.ts
  packages/devextreme-themebuilder/tests/data/compilation-results/no-changes-meta.ts
  packages/devextreme-themebuilder/tests/data/scss/widgets/generic/_colors.scss
  packages/devextreme-themebuilder/tests/modules/compile-manager.test.ts
  packages/devextreme-themebuilder/tests/modules/compiler.test.ts
  packages/devextreme/js/__internal/core/license/trial_panel.client.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

fix: fix selecting days in tests
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/popup.ts
  packages/testcafe-models/scheduler/appointment/popup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

test: update etalon
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__recurrence-form__yearly__dec-31.png (theme=generic.light).png
Due: none

fix: fix selecting days in tests
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/recurrence-form.visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: update etalons
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__recurrence-form__weekly__weekend.png (theme=generic.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/recurrence-form.visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

test: add new tests
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/popup.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/appointment_popup.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix DropDownBox demo
  .husky/pre-commit
  apps/demos/Demos/DropDownBox/SingleSelection/Angular/app/app.component.html
  apps/demos/Demos/DropDownBox/SingleSelection/Angular/app/app.component.ts
  apps/demos/Demos/DropDownBox/SingleSelection/React/App.tsx
  apps/demos/Demos/DropDownBox/SingleSelection/ReactJs/App.js
  apps/demos/Demos/DropDownBox/SingleSelection/Vue/App.vue
  apps/demos/Demos/DropDownBox/SingleSelection/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

test: add new test
  packages/devextreme/js/__internal/scheduler/appointment_popup/appointment_popup.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Icons: Add test to check SVG files for comments (#31456)
  packages/devextreme-scss/tests/icon-font.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

QUnit tests: fixed ui.widgets runner stall by removing excessive tests (#31448)
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollable.genericTheme.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeView.scrolling.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/events.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix DropDownBox demo
  apps/demos/Demos/DropDownBox/SingleSelection/Angular/app/app.component.html
  apps/demos/Demos/DropDownBox/SingleSelection/Angular/app/app.component.ts
  apps/demos/Demos/DropDownBox/SingleSelection/React/App.tsx
  apps/demos/Demos/DropDownBox/SingleSelection/ReactJs/App.js
  apps/demos/Demos/DropDownBox/SingleSelection/Vue/App.vue
  apps/demos/Demos/DropDownBox/SingleSelection/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add new e2e tests for DropDownBox demos
  e2e/testcafe-devextreme/tests/editors/dropDownBox/multipleSelection.ts
  e2e/testcafe-devextreme/tests/editors/dropDownBox/singleSelection.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert "feat: add new icons to tests"
  e2e/testcafe-devextreme/tests/common/icons.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert "fix: fix file name"
  packages/devextreme-scss/images/icons/fluent/zoominoutlined.svg
Due: none

Revert "feat: update icon in appointment form"
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: update icons
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_recurrent_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix big test
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/group-panel/T1163515_alternateRowGroupBorders.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: add title changing by conditions
  packages/devextreme/js/__internal/scheduler/appointment_popup/appointment_popup.test.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: update icons
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: Menu items are truncated in the Filter Builder popup (#31424)
  e2e/testcafe-devextreme/tests/common/filterBuilder/etalons/filterBuilder_scroll_with_popup (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/common/filterBuilder/etalons/filterBuilder_scroll_with_popup (material-blue-light).png
  e2e/testcafe-devextreme/tests/common/filterBuilder/filterBuilderScrolling.ts
  packages/devextreme-scss/scss/widgets/base/filterBuilder/_index.scss
  packages/devextreme/js/__internal/filter_builder/m_filter_builder.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint
