Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"]
}

Fix blinking test (T1166649) (#25083)
  testing/testcafe/tests/dataGrid/etalons/grid-virtual-scrolling_with_fixed_columns-T1166649.png
  testing/testcafe/tests/dataGrid/scrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix Blinking test (T1166649) (#25084)
  testing/testcafe/tests/dataGrid/etalons/grid-virtual-scrolling_with_fixed_columns-T1166649.png
  testing/testcafe/tests/dataGrid/scrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

replace etalons
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter appearance, orientation is vertical, bottom right collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, bottom right collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, right collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item, bottom collision (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Delimiter, horizontal menu, submenu more than root item, bottom collision (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Items should have links if item.url is set (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Items with link should have correct focus style (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Items without link should have correct focus style (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (generic-contrast).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (generic-dark).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (generic-light).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (generic-light-compact).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (material-blue-light).png
  testing/testcafe/tests/navigation/menu/etalons/Menu render items (material-blue-light-compact).png
Due: none

fix tests expectations
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

test changed since isDirty prop change occur on value change
  testing/tests/DevExpress.angular/modelIntegration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

tests and refactoring
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

feat(tabs): Add styles for boundary cases
  scss/widgets/base/_tabs.scss
  scss/widgets/generic/tabPanel/_index.scss
  scss/widgets/generic/tabs/_borders.scss
  scss/widgets/generic/tabs/_colors.scss
  scss/widgets/generic/tabs/_index.scss
Due: stylelint

DataGrid: Fix auto scroll up when scrolling horizontally (T1176160)
  js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add etalons
  testing/testcafe/tests/dataGrid/etalons/T1176160-master-detail-with-virtual-columns-1.png
  testing/testcafe/tests/dataGrid/etalons/T1176160-master-detail-with-virtual-columns-2.png
Due: none

Move code of Charts to TS files
  js/__internal/common/m_charts.ts
  js/__internal/viz/chart_components/m_advanced_chart.ts
  js/__internal/viz/chart_components/m_base_chart.ts
  js/__internal/viz/core/m_base_widget.ts
  js/__internal/viz/m_chart.ts
  js/__internal/viz/m_pie_chart.ts
  js/__internal/viz/m_polar_chart.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Apply fixes after moving code to TS
  js/__internal/common/m_charts.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/viz/chart_components/m_advanced_chart.ts
  js/__internal/viz/chart_components/m_base_chart.ts
  js/__internal/viz/core/m_base_widget.ts
  js/__internal/viz/m_chart.ts
  js/__internal/viz/m_pie_chart.ts
  js/__internal/viz/m_polar_chart.ts
  js/bundles/modules/parts/viz.js
  js/common/charts.js
  js/core/dom_adapter.d.ts
  js/core/renderer.d.ts
  js/integration/knockout/component_registrator.js
  js/viz/chart.js
  js/viz/funnel/funnel.js
  js/viz/gauges/bar_gauge.js
  js/viz/gauges/base_gauge.js
  js/viz/pie_chart.js
  js/viz/polar_chart.js
  js/viz/range_selector/range_selector.js
  js/viz/sankey/sankey.js
  js/viz/sparklines/base_sparkline.js
  js/viz/tree_map/tree_map.base.js
  js/viz/vector_map/vector_map.js
  testing/helpers/vizMocks.js
  testing/tests/DevExpress.common/charts.tests.js
  testing/tests/DevExpress.serverSide/viz.tests.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.charts/chart.part7.tests.js
  testing/tests/DevExpress.viz.charts/charts.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.core/baseWidget.tests.js
  testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
  testing/tests/DevExpress.viz.sparklines/bullet.tests.js
  testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Move code of Charts to TS files
  js/__internal/viz/chart_components/m_advanced_chart.ts
  js/__internal/viz/chart_components/m_base_chart.ts
  js/__internal/viz/core/m_base_widget.ts
  js/__internal/viz/m_chart.ts
  js/__internal/viz/m_pie_chart.ts
  js/__internal/viz/m_polar_chart.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Apply fixes after moving code to TS
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/viz/chart_components/m_advanced_chart.ts
  js/__internal/viz/chart_components/m_base_chart.ts
  js/__internal/viz/core/m_base_widget.ts
  js/__internal/viz/m_chart.ts
  js/__internal/viz/m_pie_chart.ts
  js/__internal/viz/m_polar_chart.ts
  js/bundles/modules/parts/viz.js
  js/core/dom_adapter.d.ts
  js/core/renderer.d.ts
  js/integration/knockout/component_registrator.js
  js/viz/chart.js
  js/viz/funnel/funnel.js
  js/viz/gauges/base_gauge.js
  js/viz/pie_chart.js
  js/viz/polar_chart.js
  js/viz/range_selector/range_selector.js
  js/viz/sankey/sankey.js
  js/viz/sparklines/base_sparkline.js
  js/viz/tree_map/tree_map.base.js
  js/viz/vector_map/vector_map.js
  testing/helpers/vizMocks.js
  testing/tests/DevExpress.serverSide/viz.tests.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.charts/chart.part1.tests.js
  testing/tests/DevExpress.viz.charts/charts.tests.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
  testing/tests/DevExpress.viz.core/baseWidget.tests.js
  testing/tests/DevExpress.viz.gauges/baseGauge.tests.js
  testing/tests/DevExpress.viz.sparklines/bullet.tests.js
  testing/tests/DevExpress.viz.sparklines/sparkline.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix "TestCafe editors - material" task (#25040)
  testing/testcafe/tests/editors/radioGroup/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix test in 22.2
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix "TestCafe editors - material" task (#25040) (#25094)
  testing/testcafe/tests/editors/radioGroup/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix "TestCafe editors - material" task (#25040) (#25095)
  testing/testcafe/tests/editors/radioGroup/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

feat(tabPanel): Replace box-shadows with borders
  build/gulp/styles/style-compiler.js
  playground/jquery.html
  scss/widgets/generic/tabPanel/_borders.scss
  scss/widgets/generic/tabPanel/_index.scss
  scss/widgets/generic/tabPanel/_mixins.scss
  scss/widgets/generic/tabs/_borders.scss
  scss/widgets/generic/tabs/_index.scss
  scss/widgets/generic/tabs/_mixins.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Review fixes
  .github/workflows/devextreme_npm_tests.yml
  .github/workflows/lint.yml
  .gitignore
  CONTRIBUTING.md
  LICENSE.md
  NOTICE.txt
  SECURITY.md
  package-lock.json
  packages/devextreme/.gitignore
  packages/devextreme/build/pre-commit/index.js.tmp
  packages/devextreme/package.json
  packages/devextreme/testing/systemjs-builder.js
  packages/devextreme/testing/tests/DevExpress.viz.vectorMap.utils/tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

ignore case sensitivity of locale in getting localized data for formatMessage (T1176048)
  js/localization/message.js
  testing/tests/DevExpress.localization/localization.messages.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid - Excel export of selected items exports an empty array if the filtered column is bound to a collection and remote filtering is used (T1173757) (#25072)
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  js/core/utils/selection_filter.js
  js/ui/selection/selection.js
  js/ui/selection/selection.strategy.deferred.js
  js/ui/selection/selection.strategy.standard.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid - Excel export of selected items exports an empty array if the filtered column is bound to a collection and remote filtering is used (T1173757) (#25073)
  js/__internal/grids/data_grid/export/m_export.ts
  js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  js/__internal/grids/grid_core/data_controller/m_data_controller.ts
  js/__internal/grids/grid_core/m_types.ts
  js/__internal/grids/grid_core/selection/m_selection.ts
  js/core/utils/selection_filter.js
  js/ui/selection/selection.js
  js/ui/selection/selection.strategy.deferred.js
  js/ui/selection/selection.strategy.standard.js
  testing/tests/DevExpress.ui.widgets.dataGrid/exportController.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

ignore case sensitivity of locale in getting localized data for formatMessage (T1176048)
  js/localization/message.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Bump DevExtreme version
  package-lock.json
  package.json
Due: none

DataGrid: Fix auto scroll up when scrolling horizontally (T1176160) (#25088)
  js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  testing/testcafe/tests/dataGrid/etalons/T1176160-master-detail-with-virtual-columns-1.png
  testing/testcafe/tests/dataGrid/etalons/T1176160-master-detail-with-virtual-columns-2.png
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid: Fix auto scroll up when scrolling horizontally (T1176160) (#25089)
  js/__internal/grids/grid_core/virtual_columns/m_virtual_columns.ts
  testing/testcafe/tests/dataGrid/etalons/T1176160-master-detail-with-virtual-columns-1.png
  testing/testcafe/tests/dataGrid/etalons/T1176160-master-detail-with-virtual-columns-2.png
  testing/testcafe/tests/dataGrid/virtualColumns.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

feat(tabPanel): Add border bottom to buttons
  playground/jquery.html
  scss/widgets/generic/tabPanel/_index.scss
  scss/widgets/generic/tabs/_mixins.scss
Due: stylelint

Bump DevExtreme version (#25099)
  package-lock.json
  package.json
Due: none

Ignore case sensitivity of locale in getting localized data for formatMessage (T1176048) (#25035)
  js/localization/message.js
  testing/tests/DevExpress.localization/localization.messages.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

CustomStore: add doc tags for result types
  js/common/data/custom-store.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Ignore case sensitivity of locale in getting localized data for formatMessage (T1176048) (#25035)
  packages/devextreme/js/localization/message.js
  packages/devextreme/testing/tests/DevExpress.localization/localization.messages.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js
