Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

dxDiagram - fix T1064011
  package-lock.json
  package.json
Due: none

dxDiagram - fix T1064011 (#21758)
  package-lock.json
  package.json
Due: none

T1064011 (#21757)
  package-lock.json
  package.json
Due: none

dxDiagram - fix T1075349
  package-lock.json
  package.json
Due: none

Add DataGrid background color to ThemeBuilder for material theme (#21756)
  scss/widgets/material/gridBase/_colors.scss
Due: stylelint

Add DataGrid background color to ThemeBuilder for material theme (#21756) (#21762)
  scss/widgets/material/gridBase/_colors.scss
Due: stylelint

Add children to interfaces (#664)
  devextreme-react-generator/src/component-generator.test.ts
  devextreme-react-generator/src/component-generator.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Drawer is not opening with revealMode: "expand", position:"right", openedStateMode: "overlap" and opened: false settings (T1088518)
  js/ui/drawer/ui.drawer.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Load cldr data for "en" locale by default for Globalize + remove inlined data + Use for Globalize cldr-data only from from package devextreme-cldr-data
  package-lock.json
Due: none

fix (T1090769): DataSource(LocalStore).reload() reread localStorage
  js/data/local_store.js
  testing/tests/DevExpress.data/storeLocal.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Toast: refactor react demo (#1851)
  Demos/Toast/Stack/Angular/app/app.component.html
  Demos/Toast/Stack/Angular/app/app.component.ts
  Demos/Toast/Stack/React/App.js
  Demos/Toast/Stack/Vue/App.vue
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix (T1090769): DataSource(LocalStore).reload() reread localStorage
  testing/tests/DevExpress.data/storeLocal.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Load cldr data for "en" locale by default for Globalize + remove inlined data + Use for Globalize cldr-data only from from package devextreme-cldr-data
  build/gulp/localization.js
  js/localization/globalize/core.js
  js/localization/globalize/currency.js
  js/localization/globalize/date.js
  js/localization/globalize/number.js
  testing/tests/DevExpress.localization/localization.globalize.tests.js
  testing/tests/DevExpress.localization/localization.globalize.widgets.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix (T1090769): DataSource(LocalStore).reload() reread localStorage
  js/data/local_store.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Drawer is not opening with revealMode: "expand", position:"right", openedStateMode: "overlap" and opened: false settings (T1088518) (#21764)
  js/ui/drawer/ui.drawer.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Drawer is not opening with revealMode: "expand", position:"right", openedStateMode: "overlap" and opened: false settings (T1088518) (#21765)
  js/ui/drawer/ui.drawer.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

responsive box: simplify demo (#1855)
  Demos/ResponsiveBox/Overview/Angular/app/app.component.html
  Demos/ResponsiveBox/Overview/AngularJS/index.js
  Demos/ResponsiveBox/Overview/Knockout/index.js
  Demos/ResponsiveBox/Overview/React/App.js
  Demos/ResponsiveBox/Overview/Vue/App.vue
  Demos/ResponsiveBox/Overview/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

SelectBox: update the text of the error about onCustomItemCreating function customItem empty parameter (T1085547)
  js/core/errors.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

SelectBox: update the text of the error about onCustomItemCreating function customItem empty parameter (T1085547) (#21769)
  js/core/errors.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

SelectBox: update the text of the error about onCustomItemCreating function customItem empty parameter (T1085547) (#21770)
  js/core/errors.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

SelectBox: update the text of the error about onCustomItemCreating function customItem empty parameter (T1085547) (#21771)
  js/core/errors.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Scheduler renovation - Implement appointment focus
  js/renovation/ui/scheduler/appointment/__tests__/appointment.test.tsx
  js/renovation/ui/scheduler/appointment/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/appointment/appointment.tsx
  js/renovation/ui/scheduler/appointment/layout.tsx
  js/renovation/ui/scheduler/appointment/tooltip/appointment_tooltip.tsx
  testing/testcafe/tests/renovation/scheduler/appointments/focus.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Revert "Update etalons"
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=day-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=day-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=month-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=month-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineDay-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineDay-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineMonth-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineMonth-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWeek-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWeek-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWorkWeek-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWorkWeek-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=week-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=week-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=workWeek-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=workWeek-resource=true).png
Due: none

Update etalons
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=day-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=day-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=month-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=month-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineDay-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineDay-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineMonth-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineMonth-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWeek-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWeek-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWorkWeek-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWorkWeek-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=week-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=week-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=workWeek-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=workWeek-resource=true).png
Due: none

Update etalons
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=day-resource=false).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=day-resource=true).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=month-resource=false).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=month-resource=true).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=timelineDay-resource=false).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=timelineDay-resource=true).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=timelineMonth-resource=false).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=timelineMonth-resource=true).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWeek-resource=false).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWeek-resource=true).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWorkWeek-resource=false).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWorkWeek-resource=true).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=week-resource=false).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=week-resource=true).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=workWeek-resource=false).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=workWeek-resource=true).png
Due: none

Change approach
  js/renovation/ui/scheduler/__tests__/scheduler.test.tsx
  js/renovation/ui/scheduler/appointment/__tests__/appointment.test.tsx
  js/renovation/ui/scheduler/appointment/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/appointment/appointment.tsx
  js/renovation/ui/scheduler/appointment/layout.tsx
  js/renovation/ui/scheduler/appointment/types.ts
  js/renovation/ui/scheduler/appointments_context.ts
  js/renovation/ui/scheduler/scheduler.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Make focused as undefined field
  js/renovation/ui/scheduler/appointment/appointment.tsx
  js/renovation/ui/scheduler/appointment/types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

reload() and totalCount() read localStorage (T1090769)
  js/data/local_store.js
  testing/tests/DevExpress.data/storeLocal.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

TestCafe test - Decrease speed for test with appointment dragging
  testing/testcafe/tests/scheduler/dragAndDrop/T1080232.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Load cldr data for "en" locale by default for Globalize + remove inlined data + Use for Globalize cldr-data only from from package devextreme-cldr-data
  build/gulp/localization.js
  testing/tests/DevExpress.localization/localization.globalize.widgets.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
