Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

fix test
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/keyboard.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

FileUploader: input should get the 'title' attribute with a correct value for hint working in FireFox (T1187412) (#25662)
  packages/devextreme/js/ui/file_uploader.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add ESM builds to devextreme-react
  packages/devextreme-react/gulpfile.js
  packages/devextreme-react/package.json
  packages/devextreme-react/tsconfig.esm.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add ESM builds to devextreme-react
  packages/devextreme-react/gulpfile.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix(lookup): Fix tests
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix(selectBox): Update tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

FileUploader: input should get the 'title' attribute with a correct value for hint working in FireFox (T1187412) (#25662)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

separate grid and layout backgrounds
  packages/devextreme/scss/widgets/base/dataGrid/_index.scss
  packages/devextreme/scss/widgets/base/treeList/_index.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
Due: stylelint

default options for MaterialBased themes
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
  packages/devextreme/js/common/grids.d.ts
  packages/devextreme/js/ui/data_grid.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix defaultOptions tests
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

make icons color in grouped column header same
  packages/devextreme/scss/widgets/fluent/dataGrid/_index.scss
Due: stylelint

icon headers: add padding & change colors
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/generic/gridBase/_colors.scss
  packages/devextreme/scss/widgets/material/gridBase/_colors.scss
Due: stylelint

group row: text and chevron color change
  packages/devextreme/scss/widgets/fluent/dataGrid/_index.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Due: stylelint

borders: change color
  packages/devextreme/scss/widgets/fluent/_colors.scss
Due: stylelint

change body bg on contrast testcafe tests
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

remove constant backgrounds for body in contrast tests
  packages/devextreme/scss/widgets/base/dataGrid/_index.scss
  packages/devextreme/testing/testcafe/tests/dataGrid/accessibility/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

fix
  packages/devextreme/testing/testcafe/tests/dataGrid/stateStoring/stateStoring.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix(lookup && selectBox): Remove isMac
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

lint-css
  packages/devextreme/scss/widgets/base/dataGrid/_index.scss
Due: stylelint

FileUploader: input should get the 'title' attribute with a correct value for hint working in FireFox (T1187412) (#25669)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

FileUploader: input should get the 'title' attribute with a correct value for hint working in FireFox (T1187412) (#25668)
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix react playground (#25657)
  package-lock.json
  playgrounds/angular/package.json
  playgrounds/react/app.tsx
  playgrounds/react/drawer-example.tsx
  playgrounds/react/package.json
  playgrounds/react/tsconfig.json
  playgrounds/react/webpack.config.js
  playgrounds/vue/package.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Review fixes
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

resource color spike
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment.ts
  packages/devextreme/scss/widgets/fluent/scheduler/_colors.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

reafactoring
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Tabs: new tabs demo added and 'Overview' moved to 'Selection' (#2837)
  Demos/Tabs/Overview/Angular/app/app.component.css
  Demos/Tabs/Overview/Angular/app/app.component.html
  Demos/Tabs/Overview/Angular/app/app.component.ts
  Demos/Tabs/Overview/Angular/app/app.service.ts
  Demos/Tabs/Overview/AngularJS/index.js
  Demos/Tabs/Overview/React/App.js
  Demos/Tabs/Overview/React/data.js
  Demos/Tabs/Overview/React/styles.css
  Demos/Tabs/Overview/Vue/App.vue
  Demos/Tabs/Overview/Vue/data.js
  Demos/Tabs/Overview/jQuery/data.js
  Demos/Tabs/Overview/jQuery/index.html
  Demos/Tabs/Overview/jQuery/index.js
  Demos/Tabs/Overview/jQuery/styles.css
  Demos/Tabs/Selection/Angular/app/app.component.css
  Demos/Tabs/Selection/Angular/app/app.component.html
  Demos/Tabs/Selection/Angular/app/app.component.ts
  Demos/Tabs/Selection/Angular/app/app.service.ts
  Demos/Tabs/Selection/Angular/index.html
  Demos/Tabs/Selection/React/App.js
  Demos/Tabs/Selection/React/data.js
  Demos/Tabs/Selection/React/index.html
  Demos/Tabs/Selection/React/index.js
  Demos/Tabs/Selection/React/styles.css
  Demos/Tabs/Selection/Vue/App.vue
  Demos/Tabs/Selection/Vue/data.js
  Demos/Tabs/Selection/Vue/index.html
  Demos/Tabs/Selection/Vue/index.js
  Demos/Tabs/Selection/jQuery/data.js
  Demos/Tabs/Selection/jQuery/index.html
  Demos/Tabs/Selection/jQuery/index.js
  Demos/Tabs/Selection/jQuery/styles.css
  menuMeta.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

DataGrid - fix ts compilation (#25672)
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

move function declaration up
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

move
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fluent: Add copy fonts into fluent typography
  packages/devextreme/build/gulp/npm.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

adjust color and paddings
  packages/devextreme/scss/widgets/fluent/scheduler/_colors.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Due: stylelint

revert && feat(fluent): Cancel copy fonts && Remove import Roboto
  packages/devextreme/build/gulp/npm.js
  packages/devextreme/scss/widgets/fluent/typography/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Fluent: Remove Roboto font imports
  packages/devextreme/scss/widgets/fluent/typography/_index.scss
Due: stylelint

Remove allDay appts shift.
  packages/devextreme/js/__internal/scheduler/appointments/m_settings_generator.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
