Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Add support of processing inner SVG to imageCreator (#8916)
  js/exporter/image_creator.js
  js/viz/core/export.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
  testing/tests/DevExpress.viz.core/export.tests.js
Due: eslint

Bump DevExtreme version
  package.json
Due: none

Bump DevExtreme version (#8920)
  package.json
Due: none

refactor
  js/core/dom_component.js
Due: eslint

Replace _dispose method
  js/ui/gantt/ui.gantt.js
Due: eslint

Optimize constants in styles
  styles/widgets/generic/gantt.generic.less
  styles/widgets/material/gantt.material.less
Due: stylelint

refactor
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  testing/tests/DevExpress.ui.widgets/drawer.tests.js
Due: eslint

Fix LoadResult processing for CollectionWidget and TagBox (T800178)
  js/ui/collection/ui.collection_widget.edit.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
Due: eslint

Fix border width
  js/ui/gantt/ui.gantt.js
Due: eslint

fix test for devices
  js/ui/grid_core/ui.grid_core.editing.js
Due: eslint

Toolbar - Internal components ignore the "disabled" property if parent component is disabled (T744107) (#8816)
  js/core/dom_component.js
  js/ui/toolbar/ui.toolbar.base.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Due: eslint

refactor
  js/ui/widget/ui.search_box_mixin.js
Due: eslint

Add splitter (#8897)
  js/ui/gantt/ui.gantt.js
  js/ui/gantt/ui.gantt.task.area.container.js
  js/ui/gantt/ui.gantt.view.js
  package.json
  styles/widgets/common/gantt.less
  styles/widgets/generic/gantt.generic.less
  styles/widgets/material/gantt.material.less
  testing/tests/DevExpress.ui.widgets/gantt.tests.js
Due: eslint, stylelint

fix diagram core scroll
  styles/widgets/common/diagram.less
Due: stylelint

Diagram - new zoom implementation, simple view (#8915)
  js/ui/diagram/ui.diagram.commands.js
  js/ui/diagram/ui.diagram.rightpanel.js
  package.json
  styles/widgets/common/diagram.less
Due: eslint, stylelint

Fix Map creating for IE
  package.json
Due: none

Fix Map creating for IE (#8923)
  package.json
Due: none

refactor
  js/ui/list/ui.list.base.js
  testing/tests/DevExpress.ui.widgets/list.markup.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/accessibility.js
Due: eslint

diagram - simple option
  js/ui/diagram/ui.diagram.js
Due: eslint

Remove useNative from scrollable
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: eslint

Improve classes
  js/ui/scheduler/ui.scheduler.table_creator.js
  styles/widgets/base/scheduler.less
Due: eslint, stylelint

Fix gantt rows height for FF
  js/ui/gantt/ui.gantt.js
  styles/widgets/common/gantt.less
Due: eslint, stylelint

Fix gantt rows height for FF (#8926)
  js/ui/gantt/ui.gantt.js
  styles/widgets/common/gantt.less
Due: eslint, stylelint

Fix LoadResult processing for CollectionWidget and TagBox (T800178) (#8924)
  js/ui/collection/ui.collection_widget.edit.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui/collectionWidget.tests.js
Due: eslint

Fix resources position on timeline view & grouping
  js/ui/scheduler/ui.scheduler.table_creator.js
  styles/widgets/base/scheduler.less
Due: eslint, stylelint

fix rendering of items for a group and tabbed items when the items option is undefined
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.tests.js
Due: eslint

DataGrid - onFocusedCellChanged event arguments should contains valid row object is scrolling mode is virtual (T801041)
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Due: eslint

Remove useNative from scrollable (#8928)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: eslint

Add misc + jQuery CI job
  .drone.yml
  .travis.yml
  docker-ci.sh
  shippable.yml
Due: none

try to clone additional items
  js/ui/collection/ui.collection_widget.base.js
  js/ui/gallery.js
Due: eslint

code refactoring
  js/ui/gallery.js
  testing/tests/DevExpress.ui.widgets/gallery.tests.js
Due: eslint

update code
  js/ui/collection/ui.collection_widget.base.js
Due: eslint

Fix test for autocomplete
  js/ui/drop_down_editor/ui.drop_down_list.js
  js/ui/list/ui.list.base.js
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.markup.tests.js
Due: eslint

fix after review
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  stylelint: any of: *.{css,less}
