Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

MenuBase: disabled items should have the correct cursor (T1327513) (#33415)
  packages/devextreme-scss/scss/widgets/base/_menuBase.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menuBase.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

License: Remove expired trial handling (#33424)
  packages/devextreme/js/__internal/core/license/lcp_key_validation/lcp_key_validation.test.ts
  packages/devextreme/js/__internal/core/license/lcp_key_validation/lcp_key_validator.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/core/license/license_warnings.ts
  packages/devextreme/js/__internal/core/license/types.ts
  packages/devextreme/license/devextreme-license.js
  packages/devextreme/license/dx-lcx-2-lcp.js
  packages/devextreme/license/messages.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Lookup: Fix keyboard navigation through list and toolbar items (T1327208) (#33375)
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_list.ts
  packages/devextreme/js/__internal/ui/m_lookup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore(devextreme): migrate `build:vectormap` target to nx executors (#33368)
  .github/copilot-instructions.md
  packages/devextreme/gulpfile.js
  packages/devextreme/project.json
  packages/nx-infra-plugin/executors.json
  packages/nx-infra-plugin/package.json
  packages/nx-infra-plugin/src/executors/compress/executor.e2e.spec.ts
  packages/nx-infra-plugin/src/executors/compress/executor.ts
  packages/nx-infra-plugin/src/executors/compress/schema.json
  packages/nx-infra-plugin/src/executors/compress/schema.ts
  packages/nx-infra-plugin/src/executors/vectormap/executor.e2e.spec.ts
  packages/nx-infra-plugin/src/executors/vectormap/executor.ts
  packages/nx-infra-plugin/src/executors/vectormap/schema.json
  packages/nx-infra-plugin/src/executors/vectormap/schema.ts
  packages/nx-infra-plugin/src/utils/file-operations.ts
  pnpm-lock.yaml
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Add @docid for SelectionEndEvent.selectedCellData (#33441)
  packages/devextreme/js/ui/scheduler.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: describe Message Streaming demo (#33419)
  apps/demos/Demos/Chat/MessageStreaming/description.md
Due: none

Chat: Update System Prompt Following Editor Feedback (#33411)
  apps/demos/Demos/Chat/PromptSuggestions/Angular/app/app.service.ts
  apps/demos/Demos/Chat/PromptSuggestions/React/data.ts
  apps/demos/Demos/Chat/PromptSuggestions/ReactJs/data.js
  apps/demos/Demos/Chat/PromptSuggestions/Vue/data.ts
  apps/demos/Demos/Chat/PromptSuggestions/jQuery/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update data in the DataGrid - Focused Row demo (#33414)
  apps/demos/Demos/DataGrid/FocusedRow/Angular/app/app.service.ts
  apps/demos/Demos/DataGrid/FocusedRow/React/data.ts
  apps/demos/Demos/DataGrid/FocusedRow/ReactJs/data.js
  apps/demos/Demos/DataGrid/FocusedRow/Vue/data.ts
  apps/demos/Demos/DataGrid/FocusedRow/jQuery/data.js
  apps/demos/testing/etalons/DataGrid-FocusedRow (fluent.blue.light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Make React JS and React TS data consistent (#33437)
  apps/demos/Demos/DataGrid/FocusedRow/React/data.ts
  apps/demos/Demos/DataGrid/FocusedRow/ReactJs/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Demo DataGrid - Update years in Orders data [Part 2] (#33430)
  apps/demos/Demos/DataGrid/AutoPopulatedColumns/Angular/app/app.service.ts
  apps/demos/Demos/DataGrid/AutoPopulatedColumns/React/data.ts
  apps/demos/Demos/DataGrid/AutoPopulatedColumns/ReactJs/data.js
  apps/demos/Demos/DataGrid/AutoPopulatedColumns/Vue/data.ts
  apps/demos/Demos/DataGrid/AutoPopulatedColumns/jQuery/data.js
  apps/demos/Demos/DataGrid/FilterPanel/Angular/app/app.service.ts
  apps/demos/Demos/DataGrid/FilterPanel/React/data.ts
  apps/demos/Demos/DataGrid/FilterPanel/ReactJs/data.js
  apps/demos/Demos/DataGrid/FilterPanel/Vue/data.ts
  apps/demos/Demos/DataGrid/FilterPanel/jQuery/data.js
  apps/demos/testing/etalons/DataGrid-AutoPopulatedColumns (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-AutoPopulatedColumns (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-FilterPanel (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-FilterPanel (material.blue.light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler demos - Add New/Updated badges for 26.1 features (#33417)
  apps/demos/menuMeta.json
Due: none

Add AI-powered Extensions section for ai demos (#33432)
  apps/demos/menuMeta.json
  apps/demos/utils/tests/test-menu-meta.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: Prompt Suggestions demo - disable suggestions & message box while response in progress (#33454)
  apps/demos/Demos/Chat/PromptSuggestions/Angular/app/app.component.ts
  apps/demos/Demos/Chat/PromptSuggestions/React/App.tsx
  apps/demos/Demos/Chat/PromptSuggestions/ReactJs/App.js
  apps/demos/Demos/Chat/PromptSuggestions/Vue/App.vue
  apps/demos/Demos/Chat/PromptSuggestions/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix inline style in taskTemplate demo (#33431)
  apps/demos/Demos/Gantt/TaskTemplate/Angular/app/app.component.html
  apps/demos/Demos/Gantt/TaskTemplate/jQuery/index.js
  apps/demos/utils/server/csp-server.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Use full @docid path for SelectionEndEvent.selectedCellData (#33456)
  packages/devextreme/js/ui/scheduler.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid - Native horizontal scrollbar is temporarily shown when clicking cells in batch/cell mode if focused row and column fixing features are enabled (T1310336) (#33374)
  e2e/testcafe-devextreme/helpers/domUtils.ts
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/focusOverlay.ts
  e2e/testcafe-devextreme/tests/scheduler/common/workSpace.ts
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

GridCore: add sorting grid command (#33444)
  packages/devextreme/eslint.config.mjs
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/commands/__tests__/sorting.test.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/commands/sorting.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/types.ts
  packages/devextreme/package.json
  pnpm-lock.yaml
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat Suggestions: Proxy state options and rtlEnabled (#33446)
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/suggestions.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DateBox: Remove overflow:hidden for overlay content (T1327616) (#33433)
  e2e/testcafe-devextreme/tests/editors/dateBox/dateBox.ts
  e2e/testcafe-devextreme/tests/editors/dateBox/etalons/DateBox with datetime and opened AMPM select (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/editors/dateBox/etalons/DateBox with datetime and opened AMPM select (generic.light).png
  e2e/testcafe-devextreme/tests/editors/dateBox/etalons/DateBox with datetime and opened AMPM select (material.blue.light).png
  packages/devextreme-scss/scss/widgets/base/_dateBox.scss
  packages/devextreme-scss/scss/widgets/material/dateBox/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Bump devextreme-exceljs-fork version (#33451)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

DataGrid - update Dates in Multiple Selection and Cell demos (#33435)
  apps/demos/Demos/DataGrid/Cell/Angular/app/app.service.ts
  apps/demos/Demos/DataGrid/Cell/React/data.ts
  apps/demos/Demos/DataGrid/Cell/ReactJs/data.js
  apps/demos/Demos/DataGrid/Cell/Vue/data.ts
  apps/demos/Demos/DataGrid/Cell/jQuery/data.js
  apps/demos/Demos/DataGrid/MultipleRecordSelectionModes/Angular/app/app.service.ts
  apps/demos/Demos/DataGrid/MultipleRecordSelectionModes/React/data.ts
  apps/demos/Demos/DataGrid/MultipleRecordSelectionModes/ReactJs/data.js
  apps/demos/Demos/DataGrid/MultipleRecordSelectionModes/Vue/data.ts
  apps/demos/Demos/DataGrid/MultipleRecordSelectionModes/jQuery/data.js
  apps/demos/testing/etalons/DataGrid-Cell (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-Cell (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-MultipleRecordSelectionModes (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-MultipleRecordSelectionModes (material.blue.light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler: T1327394 — fix appointments display for DST (#33416)
  packages/devextreme/js/__internal/scheduler/view_model/generate_view_model/options/get_minutes_cell_intervals.ts
  packages/devextreme/js/__internal/scheduler/view_model/generate_view_model/options/get_week_intervals.cairo.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: Fix empty-view icon background color in Fluent and its container position (#33423)
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_colors.scss
Due: stylelint

Update deps with security vulnerabilities (#33459)
  package.json
  pnpm-lock.yaml
Due: none

Scheduler: update Create From Selection demo description (#33455)
  apps/demos/Demos/Scheduler/CreateFromSelection/description.md
Due: none

fix: return m_recurrence_editor
  packages/devextreme-angular/src/index.ts
  packages/devextreme-angular/src/ui/all.ts
  packages/devextreme-angular/src/ui/recurrence-editor/index.ts
  packages/devextreme-angular/src/ui/recurrence-editor/ng-package.json
  packages/devextreme-angular/tests/src/server/component-names.ts
  packages/devextreme-react/src/index.ts
  packages/devextreme-react/src/recurrence-editor.ts
  packages/devextreme-vue/src/index.ts
  packages/devextreme-vue/src/recurrence-editor.ts
  packages/devextreme/build/bundle-templates/dx.all.js
  packages/devextreme/build/bundle-templates/modules/parts/widgets-base.js
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/create_appointment_popup.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/appointment_popup.test.ts
  packages/devextreme/js/__internal/scheduler/m_recurrence_editor.ts
  packages/devextreme/js/integration/jquery.d.ts
  packages/devextreme/js/ui/recurrence_editor.d.ts
  packages/devextreme/js/ui/recurrence_editor.js
  packages/devextreme/js/ui/recurrence_editor_types.d.ts
  packages/devextreme/playground/jquery.html
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore(deps): update deps and pnpm overrides configuration (#33478)
  apps/demos/package.json
  package.json
  pnpm-lock.yaml
Due: none

card view - overview
  apps/demos/Demos/CardView/Overview/Angular/app/app.service.ts
  apps/demos/Demos/CardView/Overview/React/data.ts
  apps/demos/Demos/CardView/Overview/ReactJs/data.js
  apps/demos/Demos/CardView/Overview/Vue/data.ts
  apps/demos/Demos/CardView/Overview/jQuery/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

card view - column header filter
  apps/demos/Demos/CardView/ColumnHeaderFilter/Angular/app/app.service.ts
  apps/demos/Demos/CardView/ColumnHeaderFilter/React/data.ts
  apps/demos/Demos/CardView/ColumnHeaderFilter/ReactJs/data.js
  apps/demos/Demos/CardView/ColumnHeaderFilter/Vue/data.ts
  apps/demos/Demos/CardView/ColumnHeaderFilter/jQuery/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: fix test
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/create_appointment_popup.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/appointment_popup.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

card view - filter panel
  apps/demos/Demos/CardView/FilterPanel/Angular/app/app.service.ts
  apps/demos/Demos/CardView/FilterPanel/React/data.ts
  apps/demos/Demos/CardView/FilterPanel/ReactJs/data.js
  apps/demos/Demos/CardView/FilterPanel/Vue/data.ts
  apps/demos/Demos/CardView/FilterPanel/jQuery/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

card view - column reordering
  apps/demos/Demos/CardView/ColumnReordering/Angular/app/app.service.ts
  apps/demos/Demos/CardView/ColumnReordering/React/data.ts
  apps/demos/Demos/CardView/ColumnReordering/ReactJs/data.js
  apps/demos/Demos/CardView/ColumnReordering/Vue/data.ts
  apps/demos/Demos/CardView/ColumnReordering/jQuery/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove etalons
  apps/demos/testing/etalons/CardView-ColumnHeaderFilter (fluent.blue.light).png
  apps/demos/testing/etalons/CardView-ColumnHeaderFilter (material.blue.light).png
  apps/demos/testing/etalons/CardView-ColumnReordering (fluent.blue.light).png
  apps/demos/testing/etalons/CardView-ColumnReordering (material.blue.light).png
  apps/demos/testing/etalons/CardView-FilterPanel (fluent.blue.light).png
  apps/demos/testing/etalons/CardView-FilterPanel (material.blue.light).png
  apps/demos/testing/etalons/CardView-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/CardView-Overview (material.blue.light).png
Due: none

feat: update .d.ts
  packages/devextreme-angular/src/ui/recurrence-editor/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Demo List - Update years in Tasks data (#33490)
  apps/demos/Demos/List/DragAndDrop/Angular/app/app.service.ts
  apps/demos/Demos/List/DragAndDrop/React/data.ts
  apps/demos/Demos/List/DragAndDrop/ReactJs/data.js
  apps/demos/Demos/List/DragAndDrop/Vue/data.ts
  apps/demos/Demos/List/DragAndDrop/jQuery/data.js
  apps/demos/Demos/List/Grouping/Angular/app/app.service.ts
  apps/demos/Demos/List/Grouping/React/data.ts
  apps/demos/Demos/List/Grouping/ReactJs/data.js
  apps/demos/Demos/List/Grouping/Vue/data.ts
  apps/demos/Demos/List/Grouping/jQuery/data.js
  apps/demos/Demos/List/ItemDeletion/Angular/app/app.service.ts
  apps/demos/Demos/List/ItemDeletion/React/data.ts
  apps/demos/Demos/List/ItemDeletion/ReactJs/data.js
  apps/demos/Demos/List/ItemDeletion/Vue/data.ts
  apps/demos/Demos/List/ItemDeletion/jQuery/data.js
  apps/demos/Demos/List/Selection/Angular/app/app.service.ts
  apps/demos/Demos/List/Selection/React/data.ts
  apps/demos/Demos/List/Selection/ReactJs/data.js
  apps/demos/Demos/List/Selection/Vue/data.ts
  apps/demos/Demos/List/Selection/jQuery/data.js
  apps/demos/testing/etalons/List-DragAndDrop (fluent.blue.light).png
  apps/demos/testing/etalons/List-DragAndDrop (material.blue.light).png
  apps/demos/testing/etalons/List-Grouping (fluent.blue.light).png
  apps/demos/testing/etalons/List-Grouping (material.blue.light).png
  apps/demos/testing/etalons/List-ItemDeletion (fluent.blue.light).png
  apps/demos/testing/etalons/List-ItemDeletion (material.blue.light).png
  apps/demos/testing/etalons/List-Selection (fluent.blue.light).png
  apps/demos/testing/etalons/List-Selection (material.blue.light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(toolbar-kbn): fix AC-1.3.1 and AC-1.5.2.4 regression bugs
  .playwright-mcp/kbn-regression-test.js
  packages/devextreme/js/__internal/ui/toolbar/toolbar.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: fix test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/optionChanged_bundled.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

css: return css
  packages/devextreme-scss/scss/widgets/base/scheduler/_common.scss
  packages/devextreme-scss/scss/widgets/base/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/generic/scheduler/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/material/scheduler/_colors.scss
  packages/devextreme-scss/scss/widgets/material/scheduler/_index.scss
Due: stylelint

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
