Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

remove unnecessary comment
  packages/devextreme/license/dx-lcx-2-lcp.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix typo
  packages/devextreme/license/messages.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

seperate warnings
  packages/devextreme/js/__internal/core/license/license_warnings.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

revert license id warnings in runtime
  packages/devextreme/js/__internal/core/license/lcp_key_validation/lcp_key_validator.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/core/license/types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

part of cli warning fixes
  packages/devextreme/license/devextreme-license.js
  packages/devextreme/license/messages.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

browser warning messages update
  packages/devextreme/js/__internal/core/license/license_warnings.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix expired trial detection and add a test
  packages/devextreme/js/__internal/core/license/lcp_key_validation/lcp_key_validation.test.ts
  packages/devextreme/js/__internal/core/license/lcp_key_validation/lcp_key_validator.ts
  packages/devextreme/license/dx-lcx-2-lcp.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

browser warnings update
  packages/devextreme/js/__internal/core/license/const.ts
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/core/license/license_warnings.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix warning text
  packages/devextreme/license/messages.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

code refactoring: rename m_keyboard_navigation_utils.ts -> utils.ts. Typing of util methods
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_core.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/utils.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: Add Message Streaming jQuery demo
  apps/demos/Demos/Chat/MessageStreaming/jQuery/data.js
  apps/demos/Demos/Chat/MessageStreaming/jQuery/index.html
  apps/demos/Demos/Chat/MessageStreaming/jQuery/index.js
  apps/demos/Demos/Chat/MessageStreaming/jQuery/styles.css
  apps/demos/menuMeta.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Chat: Message streaming demo - add missing space
  apps/demos/Demos/Chat/MessageStreaming/jQuery/styles.css
Due: stylelint

Chat: Message streaming - remove unused styles and fix notes
  apps/demos/Demos/Chat/MessageStreaming/Angular/app/app.component.css
  apps/demos/Demos/Chat/MessageStreaming/Angular/app/app.component.html
  apps/demos/Demos/Chat/MessageStreaming/React/EmptyView.tsx
  apps/demos/Demos/Chat/MessageStreaming/React/styles.css
  apps/demos/Demos/Chat/MessageStreaming/ReactJs/EmptyView.js
  apps/demos/Demos/Chat/MessageStreaming/ReactJs/styles.css
  apps/demos/Demos/Chat/MessageStreaming/Vue/App.vue
  apps/demos/Demos/Chat/MessageStreaming/jQuery/index.js
  apps/demos/Demos/Chat/MessageStreaming/jQuery/styles.css
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Chat: Message Streaming demo - clear render queue on streaming stop
  apps/demos/Demos/Chat/MessageStreaming/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: Message Streaming demo - remove unused code & check error in catch
  apps/demos/Demos/Chat/MessageStreaming/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: Streaming demo - remove unused event parameter
  apps/demos/Demos/Chat/MessageStreaming/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: Message streaming - update Angular demo indentation to fix lint issue
  apps/demos/Demos/Chat/MessageStreaming/Angular/app/app.component.html
Due: none

Fix app.component.html with prettier
  apps/demos/Demos/Chat/MessageStreaming/Angular/app/app.component.html
Due: none

Chat: Message Streaming demo - add demos for React, Vue & Angular
  apps/demos/Demos/Chat/MessageStreaming/Angular/app/ai/ai.service.ts
  apps/demos/Demos/Chat/MessageStreaming/Angular/app/app.component.css
  apps/demos/Demos/Chat/MessageStreaming/Angular/app/app.component.html
  apps/demos/Demos/Chat/MessageStreaming/Angular/app/app.component.ts
  apps/demos/Demos/Chat/MessageStreaming/Angular/app/app.service.ts
  apps/demos/Demos/Chat/MessageStreaming/Angular/index.html
  apps/demos/Demos/Chat/MessageStreaming/React/App.tsx
  apps/demos/Demos/Chat/MessageStreaming/React/EmptyView.tsx
  apps/demos/Demos/Chat/MessageStreaming/React/Message.tsx
  apps/demos/Demos/Chat/MessageStreaming/React/data.ts
  apps/demos/Demos/Chat/MessageStreaming/React/index.html
  apps/demos/Demos/Chat/MessageStreaming/React/index.tsx
  apps/demos/Demos/Chat/MessageStreaming/React/service.ts
  apps/demos/Demos/Chat/MessageStreaming/React/styles.css
  apps/demos/Demos/Chat/MessageStreaming/React/useApi.ts
  apps/demos/Demos/Chat/MessageStreaming/ReactJs/App.js
  apps/demos/Demos/Chat/MessageStreaming/ReactJs/EmptyView.js
  apps/demos/Demos/Chat/MessageStreaming/ReactJs/Message.js
  apps/demos/Demos/Chat/MessageStreaming/ReactJs/data.js
  apps/demos/Demos/Chat/MessageStreaming/ReactJs/index.html
  apps/demos/Demos/Chat/MessageStreaming/ReactJs/index.js
  apps/demos/Demos/Chat/MessageStreaming/ReactJs/service.js
  apps/demos/Demos/Chat/MessageStreaming/ReactJs/styles.css
  apps/demos/Demos/Chat/MessageStreaming/ReactJs/useApi.js
  apps/demos/Demos/Chat/MessageStreaming/Vue/App.vue
  apps/demos/Demos/Chat/MessageStreaming/Vue/data.ts
  apps/demos/Demos/Chat/MessageStreaming/Vue/index.html
  apps/demos/Demos/Chat/MessageStreaming/Vue/index.ts
  apps/demos/Demos/Chat/MessageStreaming/Vue/service.ts
  apps/demos/testing/etalons/Chat-MessageStreaming (fluent.blue.light).png
  apps/demos/testing/etalons/Chat-MessageStreaming (material.blue.light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Revert "Chat: Message streaming - add description.md placeholder"
  apps/demos/Demos/Chat/MessageStreaming/description.md
Due: none

Chat: Add synthetic delay to rendering & update pre-defined prompts
  apps/demos/Demos/Chat/MessageStreaming/jQuery/data.js
  apps/demos/Demos/Chat/MessageStreaming/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: Message Streaming demo - fix race condition on sendButton action change & remove unused variables
  apps/demos/Demos/Chat/MessageStreaming/jQuery/data.js
  apps/demos/Demos/Chat/MessageStreaming/jQuery/index.js
  apps/demos/menuMeta.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: Message streaming - add description.md placeholder
  apps/demos/Demos/Chat/MessageStreaming/description.md
Due: none

Fix lint js issue
  apps/demos/Demos/Chat/MessageStreaming/React/service.ts
  apps/demos/Demos/Chat/MessageStreaming/ReactJs/service.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

review fix, localizations
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/ai_assistant.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/__tests__/ai_assistant_view.test.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/__tests__/ai_assistant_view_controller.test.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/ai_assistant_view.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/ai_assistant_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/const.ts
  packages/devextreme/js/__internal/grids/tree_list/module_not_extended/ai_assistant.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/ko.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove old key validation code and add warnings
  packages/devextreme/js/__internal/core/license/key.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
  packages/devextreme/js/__internal/core/license/license_validation_internal.ts
  packages/devextreme/license/devextreme-license.js
  packages/devextreme/license/messages.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Security: Bump basic-ftp override version
  package.json
  pnpm-lock.yaml
Due: none

package lock fix
  pnpm-lock.yaml
Due: none

Rename e2e folder angular19 after moving to Angular 20 (#33199)
  .github/workflows/wrapper_tests_e2e.yml
  e2e/wrappers/builders/angular/.editorconfig
  e2e/wrappers/builders/angular/.gitignore
  e2e/wrappers/builders/angular/angular.json
  e2e/wrappers/builders/angular/scripts/link-external.js
  e2e/wrappers/builders/angular/src/app/app.component.ts
  e2e/wrappers/builders/angular/src/app/app.config.ts
  e2e/wrappers/builders/angular/src/app/app.module.ts
  e2e/wrappers/builders/angular/src/app/app.routes.ts
  e2e/wrappers/builders/angular/src/app/component-view.component.ts
  e2e/wrappers/builders/angular/src/index.html
  e2e/wrappers/builders/angular/src/main.ts
  e2e/wrappers/builders/angular/src/utils/componentFinder.ts
  e2e/wrappers/builders/angular/tsconfig.app.json
  e2e/wrappers/builders/angular/tsconfig.json
  e2e/wrappers/builders/angular/tsconfig.spec.json
  e2e/wrappers/builders/angular19/src/utils/componentFinder.ts
  e2e/wrappers/examples/button/angular/button.component.ts
  e2e/wrappers/examples/button/angular/index.ts
  e2e/wrappers/examples/inputs-list-in-form/angular/employee.model.ts
  e2e/wrappers/examples/inputs-list-in-form/angular/employee.service.ts
  e2e/wrappers/examples/inputs-list-in-form/angular/index.ts
  e2e/wrappers/examples/inputs-list-in-form/angular/inputs-list-in-form.component.html
  e2e/wrappers/examples/inputs-list-in-form/angular/inputs-list-in-form.component.ts
  e2e/wrappers/examples/select-box-nested-validator/angular/index.ts
  e2e/wrappers/examples/select-box-nested-validator/angular/select-box-nested-validator.component.ts
  e2e/wrappers/examples/text-box-dynamic-styles/angular/index.ts
  e2e/wrappers/examples/text-box-dynamic-styles/angular/text-box-dynamic-styles.component.ts
  e2e/wrappers/package.json
  e2e/wrappers/project.json
  e2e/wrappers/runner.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Security: Bump basic-ftp override version (#33207)
  package.json
  pnpm-lock.yaml
Due: none

Fix Vue demo empty view template
  apps/demos/Demos/Chat/MessageStreaming/Vue/App.vue
Due: none

fix: fix bug for view_generator for workWeek
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator.test.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_work_week.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: fix test
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_types.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor: remove useless typing
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_timeline_month.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Apply suggestions from code review
  apps/demos/Demos/Scheduler/Timelines/description.md
Due: none

Fix test name
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/virtualColumns.functional.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix Incorrect Application of Suggestion
  apps/demos/Demos/Scheduler/Timelines/description.md
Due: none

Add Tiny Fix
  apps/demos/Demos/Scheduler/Timelines/description.md
Due: none
