Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

DateBox: max time value should be included to the range (T869203) (#12281)
  js/ui/date_box/ui.date_box.strategy.list.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Due: eslint

Autocomplete: maxItemCount should limit items count on init (T869431)
  js/ui/autocomplete.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
Due: eslint

DataGrid - Row should be focused by correct rowIndex if scrolling.mode: virtual, pageSize greater than dataSource items amount and column.calculateSortValue is set (T864478)
  js/ui/grid_core/ui.grid_core.focus.js
Due: eslint

Remove delayed dependency request (#12260)
  js/file_management/object_provider.js
  js/ui/diagram/diagram.importer.js
  js/ui/gantt/gantt_importer.js
  js/ui/html_editor/formats/align.js
  js/ui/html_editor/formats/font.js
  js/ui/html_editor/formats/image.js
  js/ui/html_editor/formats/link.js
  js/ui/html_editor/formats/mention.js
  js/ui/html_editor/formats/size.js
  js/ui/html_editor/formats/variable.js
  js/ui/html_editor/modules/dropImage.js
  js/ui/html_editor/modules/mentions.js
  js/ui/html_editor/modules/popup.js
  js/ui/html_editor/modules/resizing.js
  js/ui/html_editor/modules/toolbar.js
  js/ui/html_editor/modules/variables.js
  js/ui/html_editor/quill_importer.js
  js/ui/html_editor/quill_registrator.js
  js/ui/html_editor/themes/base.js
  js/ui/html_editor/ui/formDialog.js
Due: eslint

TreeList: Fix filtering of child nodes when customStore receives a response that is an object (T866113) (#12247)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Due: eslint

TreeList: Fix filtering of child nodes when customStore receives a response that is an object (T866113) (#12248)
  js/ui/grid_core/ui.grid_core.data_source_adapter.js
  js/ui/tree_list/ui.tree_list.data_source_adapter.js
  testing/tests/DevExpress.ui.widgets.treeList/dataController.tests.js
Due: eslint

Fix test for IE
  testing/tests/DevExpress.ui.widgets/accordionParts/accordion.themes.sharedTests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Due: eslint

Fix test for IE (#12291)
  testing/tests/DevExpress.ui.widgets/accordionParts/accordion.themes.sharedTests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Due: eslint

Accordion - fix title icon aligment + TabPanel - fix container indent after initialization (T865742, t869858) (#12190)
  js/ui/accordion.js
  js/ui/tab_panel.js
  styles/widgets/common/accordion.less
  styles/widgets/generic/accordion.generic.less
  styles/widgets/generic/size-schemes/compact.less
  styles/widgets/generic/size-schemes/default.less
  styles/widgets/material/accordion.material.less
  styles/widgets/material/size-schemes/compact.less
  styles/widgets/material/size-schemes/default.less
  testing/tests/DevExpress.ui.widgets/accordion.markup.tests.js
  testing/tests/DevExpress.ui.widgets/accordionParts/accordion.themes.sharedTests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.markup.tests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Due: eslint, stylelint

SelectBox: valueChange should not be raised after focusout (T869821)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Due: eslint

SelectBox: valueChange should not be raised after focusout (T869821) (#12285)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Due: eslint

SelectBox: valueChange should not be raised after focusout (T869821) (#12293)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Due: eslint

dxScheduler - fix form in material theme (#12279)
  styles/widgets/base/recurrenceEditor.less
  styles/widgets/generic/recurrenceEditor.generic.less
  styles/widgets/material/recurrenceEditor.material.less
  styles/widgets/material/scheduler.material.less
Due: stylelint

fix(package): update turndown to version 6.0.0 (#12294)
  package.json
Due: none

move pageSize override from init to dataSourceOptions
  js/ui/autocomplete.js
Due: eslint

Implement submit behavior
  js/renovation/button.tsx
  js/renovation/dist/button.j.jsx
  testing/tests/Renovation/button.tests.js
Due: eslint

fix(package): update turndown to version 6.0.0 (#12294) (#12297)
  package.json
Due: none

fix(package): update turndown to version 6.0.0 (#12294) (#12296)
  package.json
Due: none

Fix jest tests
  testing/jest/button.tests.tsx
Due: none

dxScheduler - fix form in ie
  styles/widgets/base/scheduler.less
Due: stylelint

Remove async
  js/renovation/button.tsx
  testing/jest/button.tests.tsx
Due: none

Accordion - fix title icon aligment + TabPanel - fix container indent after initialization (T865742, t869858) (#12292)
  js/ui/accordion.js
  js/ui/tab_panel.js
  styles/widgets/common/accordion.less
  styles/widgets/generic/accordion.generic.less
  styles/widgets/generic/size-schemes/compact.less
  styles/widgets/generic/size-schemes/default.less
  styles/widgets/material/accordion.material.less
  styles/widgets/material/size-schemes/compact.less
  styles/widgets/material/size-schemes/default.less
  testing/tests/DevExpress.ui.widgets/accordion.markup.tests.js
  testing/tests/DevExpress.ui.widgets/accordionParts/accordion.themes.sharedTests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.markup.tests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Due: eslint, stylelint

Autocomplete: maxItemCount should limit items count on init (T869431) (#12289)
  js/ui/autocomplete.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
Due: eslint

Autocomplete: maxItemCount should limit items count on init (T869431) (#12298)
  js/ui/autocomplete.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
Due: eslint

Diagram - custom commands check/uncheck refactoring + move icon change from VisibilityChanged to VisibilityChanging
  js/ui/diagram/diagram.commands_manager.js
  js/ui/diagram/ui.diagram.history_toolbar.js
  js/ui/diagram/ui.diagram.js
  js/ui/diagram/ui.diagram.properties_toolbar.js
  js/ui/diagram/ui.diagram.toolbar.js
Due: eslint

Diagram - adjust toolbox height by content
  js/ui/diagram/ui.diagram.floating_panel.js
  js/ui/diagram/ui.diagram.js
  js/ui/diagram/ui.diagram.toolbox.js
Due: eslint

Diagram - fix toolbox search editor appearance
  js/ui/diagram/ui.diagram.js
  js/ui/diagram/ui.diagram.toolbox.js
  styles/widgets/common/diagram.less
  styles/widgets/generic/diagram.generic.less
  styles/widgets/material/diagram.material.less
Due: eslint, stylelint

Refactor
  js/renovation/dist/button.j.jsx
Due: none

Diagram - UI/UX fixes and improvements (#12300)
  js/ui/diagram/diagram.commands_manager.js
  js/ui/diagram/ui.diagram.floating_panel.js
  js/ui/diagram/ui.diagram.history_toolbar.js
  js/ui/diagram/ui.diagram.js
  js/ui/diagram/ui.diagram.properties_toolbar.js
  js/ui/diagram/ui.diagram.toolbar.js
  js/ui/diagram/ui.diagram.toolbox.js
  styles/widgets/common/diagram.less
  styles/widgets/generic/diagram.generic.less
  styles/widgets/material/diagram.material.less
Due: eslint, stylelint

Fix rest of QUnit tests
  js/renovation/dist/button.j.jsx
  js/renovation/preact-wrapper/component.js
  testing/tests/Renovation/button.tests.js
Due: eslint

Hides valid mark in a cell editor
  js/ui/shared/ui.editor_factory_mixin.js
Due: eslint

Fixes row gaps in batch/cell
  styles/widgets/generic/gridBase.generic.less
  styles/widgets/material/gridBase.material.less
Due: stylelint

Displaying pending indicator in a cell editor
  js/ui/grid_core/ui.grid_core.validating.js
  js/ui/shared/ui.editor_factory_mixin.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  stylelint: any of: *.{css,less}
