Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"]
}

Replace several screenshots
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=day-crossScrolling=false-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=day-crossScrolling=true-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=month-crossScrolling=true-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=month-crossScrolling=true-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineDay-crossScrolling=false-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineMonth-crossScrolling=false-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineWeek-crossScrolling=false-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineWorkWeek-crossScrolling=false-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=week-crossScrolling=true-vertical-rtl.png
Due: none

Lock file maintenance
  themebuilder-scss/package-lock.json
Due: none

Move 'constants' by usage
  js/ui/form/components/button_item.js
  js/ui/form/components/empty_item.js
  js/ui/form/components/field_item.js
  js/ui/form/components/label.js
  js/ui/form/constants.js
  testing/tests/DevExpress.knockout/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Transpile property mutators to fix mvc build
  build/gulp/transpile-config.js
  package-lock.json
  package.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Component wrapper: setAria method should pass "aria" prop to component
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/component.ts
  js/renovation/component_wrapper/editors/__tests__/check_box.test.tsx
  js/renovation/component_wrapper/editors/editor.ts
  js/renovation/component_wrapper/utils/utils.ts
  js/renovation/ui/editors/check_box/check_box.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

checkbox: extend props type
  js/renovation/ui/editors/check_box/check_box.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fixes the issue
  js/ui/grid_core/ui.grid_core.editing.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Adds unit tests
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix components not using aria prop
  js/renovation/component_wrapper/common/component.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Charts-*Sparklines: set the same margin-top style to different approach demos (#1191)
  Demos/Charts/AreaSparklines/Angular/app/app.component.css
  Demos/Charts/AreaSparklines/AngularJS/styles.css
  Demos/Charts/AreaSparklines/Knockout/styles.css
  Demos/Charts/AreaSparklines/React/styles.css
  Demos/Charts/AreaSparklines/Vue/App.vue
  Demos/Charts/AreaSparklines/jQuery/styles.css
  Demos/Charts/BarSparklines/Angular/app/app.component.css
  Demos/Charts/BarSparklines/AngularJS/styles.css
  Demos/Charts/BarSparklines/Knockout/styles.css
  Demos/Charts/BarSparklines/React/styles.css
  Demos/Charts/BarSparklines/Vue/App.vue
  Demos/Charts/BarSparklines/jQuery/styles.css
  Demos/Charts/SimpleSparklines/Angular/app/app.component.css
  Demos/Charts/SimpleSparklines/AngularJS/styles.css
  Demos/Charts/SimpleSparklines/Knockout/styles.css
  Demos/Charts/SimpleSparklines/React/styles.css
  Demos/Charts/SimpleSparklines/Vue/App.vue
  Demos/Charts/SimpleSparklines/jQuery/styles.css
  Demos/Charts/WinlossSparklines/Angular/app/app.component.css
  Demos/Charts/WinlossSparklines/AngularJS/styles.css
  Demos/Charts/WinlossSparklines/Knockout/styles.css
  Demos/Charts/WinlossSparklines/React/styles.css
  Demos/Charts/WinlossSparklines/Vue/App.vue
  Demos/Charts/WinlossSparklines/jQuery/styles.css
Due: stylelint

Adds functional tests
  testing/testcafe/tests/dataGrid/editing.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

add new aria test component
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/__tests__/utils/test_components/aria.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Lock file maintenance
  package-lock.json
  testing/bundlers/package-lock.json
  themebuilder-scss/package-lock.json
Due: none

Lock file maintenance
  package-lock.json
Due: none

Lock file maintenance
  testing/bundlers/package-lock.json
  themebuilder-scss/package-lock.json
Due: none

Fix tagbox disabled state in material theme for filled stylingMode
  scss/widgets/material/tagBox/_colors.scss
  scss/widgets/material/tagBox/_index.scss
Due: stylelint

Fix styles for empty cell material rtl
  scss/widgets/material/scheduler/_index.scss
Due: stylelint

fix
  js/core/dom_component.d.ts
  js/renovation/component_wrapper/__tests__/data_grid.test.tsx
  js/renovation/component_wrapper/data_grid.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/grouping.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Get rid of setting rtl
  js/renovation/ui/scheduler/header/date_navigator.ts
  js/renovation/ui/scheduler/header/header.tsx
  js/renovation/ui/scheduler/header/types.d.ts
  js/renovation/ui/scheduler/header/utils.ts
  js/renovation/ui/scheduler/header/view_switcher.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

update dx.all.d.ts
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add screenshot test
  testing/testcafe/tests/scheduler/appointments/dataSource.ts
  testing/testcafe/tests/scheduler/appointments/pages/containerWithArrayStore.html
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Replace screenshots for material rtl
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=day-crossScrolling=true-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=day-crossScrolling=true-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=day-crossScrolling=true-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=week-crossScrolling=true-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=week-crossScrolling=true-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=workWeek-crossScrolling=true-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=workWeek-crossScrolling=true-vertical-rtl.png
Due: none

Transpile property mutators to fix mvc build (#18950)
  build/gulp/transpile-config.js
  package-lock.json
  package.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix Vue test: Diagram-ItemSelection (#1188)
  Demos/Diagram/ItemSelection/Vue/App.vue
  Demos/Diagram/ItemSelection/test-code.js
  Demos/Diagram/ItemSelection/visualtestrc.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Draggable: fix apply bindings on the content
  js/integration/knockout/component_registrator.js
  testing/tests/DevExpress.knockout/draggable.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix tagbox disabled state in material theme for filled stylingMode (#18958)
  scss/widgets/material/tagBox/_colors.scss
  scss/widgets/material/tagBox/_index.scss
Due: stylelint

dxChart - fix label overlapping with inverted axis (T1021956)
  js/viz/chart.js
  js/viz/chart_components/base_chart.js
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/chart.part7.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add new line
  testing/tests/DevExpress.knockout/draggable.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Comment other tests
  testing/testcafe/tests/scheduler/layout/adaptive/material/adaptiveRTL.ts
  testing/testcafe/tests/scheduler/layout/appointmentForm/allDay.ts
  testing/testcafe/tests/scheduler/layout/appointments/allDay/longAppointment.ts
  testing/testcafe/tests/scheduler/layout/appointments/disable.ts
  testing/testcafe/tests/scheduler/layout/appointments/two-schedulers.ts
  testing/testcafe/tests/scheduler/layout/appointments/visible.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Replace several screenshots
  testing/testcafe/tests/scheduler/layout/appointments/etalons/filtering-visible=false-maxAppointmentsPerCell=0.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/filtering-visible=false-maxAppointmentsPerCell=1.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/filtering-visible=true-maxAppointmentsPerCell=0.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/filtering-visible=true-maxAppointmentsPerCell=1.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/filtering-visible=undefined-maxAppointmentsPerCell=0.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/filtering-visible=undefined-maxAppointmentsPerCell=1.png
Due: none

dxViz - Fix registration of viz themes for ES6 modularity (T1021540)
  js/viz/core/base_theme_manager.js
  js/viz/core/themes/generic.carmine.js
  js/viz/core/themes/generic.contrast.js
  js/viz/core/themes/generic.dark.js
  js/viz/core/themes/generic.darkmoon.js
  js/viz/core/themes/generic.darkviolet.js
  js/viz/core/themes/generic.greenmist.js
  js/viz/core/themes/generic.light.js
  js/viz/core/themes/generic.softblue.js
  js/viz/core/themes/material.js
  js/viz/themes.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/chartIntegration.tests.js
  testing/tests/DevExpress.viz.core/themes.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Comment some other tests
  testing/testcafe/tests/scheduler/layout/appointmentForm/allDay.ts
  testing/testcafe/tests/scheduler/layout/appointments/allDay/longAppointment.ts
  testing/testcafe/tests/scheduler/layout/appointments/disable.ts
  testing/testcafe/tests/scheduler/layout/appointments/two-schedulers.ts
  testing/testcafe/tests/scheduler/layout/appointments/visible.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - refactoring resource manager (#18903)
  js/ui/scheduler/appointments/DataProvider/appointmentFilter.js
  js/ui/scheduler/resources/resourceManager.js
  testing/tests/DevExpress.ui.widgets.scheduler/agenda.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/resourceManager.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js
