Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

TabPanel: Added focus to the selected tab after initialization (T1277409) (#29996)
  packages/devextreme/js/__internal/ui/tab_panel/tab_panel.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(demos): Add ChangeDetectorRef to loading panel demo
  apps/demos/Demos/LoadPanel/Overview/Angular/app/app.component.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(template manager): Add mounted ref
  packages/devextreme-react/src/core/template-manager.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DropDownList: Displayed text should be correct when items have nested items field and group is disabled (T1292151)
  packages/devextreme/js/__internal/ui/drop_down_editor/m_drop_down_list.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

FIx comments
  packages/devextreme/js/__internal/grids/new/card_view/context_menu/controller.mock.ts
  packages/devextreme/js/__internal/grids/new/card_view/context_menu/controller.test.ts
  packages/devextreme/js/__internal/grids/new/card_view/context_menu/controller.ts
  packages/devextreme/js/__internal/grids/new/card_view/di.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

readd first fix
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
Due: stylelint

change assignment with less specificity
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
Due: stylelint

fix lint
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
Due: stylelint

revert border-left
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
Due: stylelint

try removing top -2px for fluent
  packages/devextreme-scss/scss/widgets/fluent/treeList/_index.scss
Due: stylelint

implement: copy descs from datagrid
  apps/demos/Demos/CardView/CardTemplate/description.md
  apps/demos/Demos/CardView/ColumnChooser/description.md
  apps/demos/Demos/CardView/ColumnHeaderFilter/description.md
  apps/demos/Demos/CardView/ColumnsReordering/description.md
  apps/demos/Demos/CardView/DataValidation/description.md
  apps/demos/Demos/CardView/FieldTemplate/description.md
  apps/demos/Demos/CardView/FilterPanel/description.md
  apps/demos/Demos/CardView/PopupEditing/description.md
  apps/demos/Demos/CardView/SearchPanel/description.md
  apps/demos/Demos/CardView/Selection/description.md
  apps/demos/Demos/CardView/SimpleArray/description.md
  apps/demos/Demos/CardView/Sorting/description.md
  apps/demos/Demos/CardView/WebAPIService/description.md
Due: none

implement: adjust descriptions
  apps/demos/Demos/CardView/CardTemplate/description.md
  apps/demos/Demos/CardView/ColumnChooser/description.md
  apps/demos/Demos/CardView/ColumnHeaderFilter/description.md
  apps/demos/Demos/CardView/ColumnsReordering/description.md
  apps/demos/Demos/CardView/DataValidation/description.md
  apps/demos/Demos/CardView/FieldTemplate/description.md
  apps/demos/Demos/CardView/FilterPanel/description.md
  apps/demos/Demos/CardView/Overview/description.md
  apps/demos/Demos/CardView/PopupEditing/description.md
  apps/demos/Demos/CardView/SearchPanel/description.md
  apps/demos/Demos/CardView/Selection/description.md
  apps/demos/Demos/CardView/SimpleArray/description.md
  apps/demos/Demos/CardView/Sorting/description.md
  apps/demos/Demos/CardView/WebAPIService/description.md
Due: none

inprogress
  packages/devextreme/js/__internal/grids/new/grid_core/editing/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/popup/component.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/editing/popup/view.ts
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.ts
  packages/devextreme/playground/jquery.html
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactoring
  packages/devextreme/js/__internal/grids/new/card_view/context_menu/controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid - Vertical borders disappear from banded/multi-line headers when there are fixed columns (T1282595) (#29993)
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/multi_row_header_columns_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/multi_row_header_columns_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/multi_row_header_columns_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/withMultiRow.ts
  packages/devextreme-scss/scss/widgets/base/dataGrid/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

fix: form item customization
  packages/devextreme/js/__internal/grids/new/grid_core/editing/popup/view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

example: jquery
  packages/devextreme/playground/jquery.html
Due: none

fix: tests
  packages/devextreme/js/__internal/grids/new/grid_core/editing/__snapshots__/options.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/editing/options.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/popup/view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update fix
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/filterRow.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid - Vertical borders disappear from banded/multi-line headers when there are fixed columns (T1282595) (#30004)
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/multi_row_header_columns_(fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/multi_row_header_columns_(generic.light).png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/multi_row_header_columns_(material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/withMultiRow.ts
  packages/devextreme-scss/scss/widgets/base/dataGrid/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/material/gridBase/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

updating of aria-label when chosen
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/filterRow.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove a11ycheck
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/filterRow.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: tests
  packages/devextreme/js/__internal/grids/new/grid_core/editing/popup/view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: test
  packages/devextreme/js/__internal/grids/new/grid_core/editing/options.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

revert example
  packages/devextreme/playground/jquery.html
Due: none

tests: change resolution
  e2e/testcafe-devextreme/tests/cardView/editing.visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Testcafe Tests: Revive editors tests after chrome update (#29409)
  e2e/testcafe-devextreme/tests/editors/numberBox/label.ts
  e2e/testcafe-devextreme/tests/editors/overlays/toolbarIntegration.ts
  e2e/testcafe-devextreme/tests/htmlEditor/common.ts
  e2e/testcafe-devextreme/tests/htmlEditor/etalons/htmleditor-with-toolbar (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/etalons/htmleditor-with-toolbar (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/etalons/htmleditor-with-toolbar (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/etalons/htmleditor-with-toolbar-focused (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/etalons/htmleditor-with-toolbar-focused (generic-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/etalons/htmleditor-with-toolbar-focused (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/etalons/htmleditor-without-toolbar (material-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/etalons/htmleditor-without-toolbar-focused (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/htmlEditor/etalons/htmleditor-without-toolbar-focused (material-blue-light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

gen: etalons
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-default-render (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-default-render (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-default-render (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-popup-add (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-popup-add (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-popup-add (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-popup-edit (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-popup-edit (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-popup-edit (material-blue-light).png
Due: none

CardView - demos - Column Header Filter (#29962)
  apps/demos/Demos/CardView/ColumnHeaderFilter/Angular/app/app.component.html
  apps/demos/Demos/CardView/ColumnHeaderFilter/Angular/app/app.component.ts
  apps/demos/Demos/CardView/ColumnHeaderFilter/Angular/app/app.service.ts
  apps/demos/Demos/CardView/ColumnHeaderFilter/React/App.tsx
  apps/demos/Demos/CardView/ColumnHeaderFilter/React/data.ts
  apps/demos/Demos/CardView/ColumnHeaderFilter/ReactJs/App.js
  apps/demos/Demos/CardView/ColumnHeaderFilter/ReactJs/data.js
  apps/demos/Demos/CardView/ColumnHeaderFilter/Vue/App.vue
  apps/demos/Demos/CardView/ColumnHeaderFilter/Vue/data.ts
  apps/demos/Demos/CardView/ColumnHeaderFilter/jQuery/data.js
  apps/demos/Demos/CardView/ColumnHeaderFilter/jQuery/index.js
  apps/demos/testing/etalons/CardView-ColumnHeaderFilter (fluent.blue.light).png
  apps/demos/testing/etalons/CardView-ColumnHeaderFilter (material.blue.light).png
  apps/demos/testing/etalons/CardView-ColumnHeaderFilter.png
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/__snapshots__/columns_controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/__snapshots__/options.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/__snapshots__/items_controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/__snapshots__/options.intergration.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/selection/__snapshots__/controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/selection/__snapshots__/options.test.ts.snap
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

CardView: sorting from context menu displays "NaN" instead of sort idx (#29982)
  e2e/testcafe-devextreme/tests/cardView/sorting/behavior.functional.ts
  packages/devextreme/js/__internal/grids/new/card_view/context_menu/controller.mock.ts
  packages/devextreme/js/__internal/grids/new/card_view/context_menu/controller.test.ts
  packages/devextreme/js/__internal/grids/new/card_view/context_menu/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/sorting_controller/controller.ts
  packages/testcafe-models/contextMenu/index.ts
  packages/testcafe-models/gridCore/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

review fix
  apps/demos/Demos/CardView/Selection/Angular/app/app.component.css
  apps/demos/Demos/CardView/Selection/Angular/app/app.component.html
  apps/demos/Demos/CardView/Selection/Angular/app/app.component.ts
  apps/demos/Demos/CardView/Selection/React/App.tsx
  apps/demos/Demos/CardView/Selection/React/styles.css
  apps/demos/Demos/CardView/Selection/ReactJs/App.js
  apps/demos/Demos/CardView/Selection/ReactJs/styles.css
  apps/demos/Demos/CardView/Selection/Vue/App.vue
  apps/demos/Demos/CardView/Selection/jQuery/index.html
  apps/demos/Demos/CardView/Selection/jQuery/index.js
  apps/demos/Demos/CardView/Selection/jQuery/styles.css
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

review fix
  apps/demos/Demos/CardView/FilterPanel/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

review fix
  apps/demos/Demos/CardView/SearchPanel/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet
