Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

RadioGroup should render layout before validation message (T867281) (#12218)
  js/ui/radio_group/radio_group.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Due: eslint

https://trello.com/c/uZymtpAu/481-change-diagram-core-service-element-color-depending-on-the-theme
  styles/widgets/generic/diagram.generic.less
  styles/widgets/material/diagram.material.less
Due: stylelint

Diagram - fix core connector text editor border
  styles/widgets/generic/diagram.generic.less
  styles/widgets/material/diagram.material.less
Due: stylelint

Diagram - prepare dxColorBox to use on mobile devices + refactoring
  js/ui/diagram/ui.diagram.history_toolbar.js
  js/ui/diagram/ui.diagram.js
  js/ui/diagram/ui.diagram.toolbar.js
  styles/widgets/common/diagram.less
Due: eslint, stylelint

Diagram - change core scrolling to use ScrollView widget
  js/ui/diagram/ui.diagram.js
  js/ui/diagram/ui.diagram.scroll_view.js
  package.json
  styles/widgets/common/diagram.less
Due: eslint, stylelint

Test if scss-generated css is the same that less-generated (#12211)
  .eslintrc
  build/gulp/scss/generator.js
  build/gulp/scss/replacements.js
  build/gulp/scss/snippets/string.scss
  build/gulp/scss/tests/identical.test.js
  docker-ci.sh
  package.json
  styles/widgets/base/scheduler.less
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/slideOut.generic.less
  styles/widgets/generic/slideOutView.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/slideOut.material.less
  styles/widgets/material/slideOutView.material.less
  styles/widgets/material/treeView.material.less
Due: eslint, stylelint

Refactoring
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.vertical.js
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/utils.js
Due: eslint

Refactoring
  js/ui/scheduler/ui.scheduler.appointment_model.js
Due: eslint

Revert subscribes.tests
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
Due: eslint

RadioGroup should render layout before validation message (T867281) (#12218) (#12224)
  js/ui/radio_group/radio_group.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Due: eslint

RadioGroup should render layout before validation message (T867281) (#12218) (#12227)
  js/ui/radio_group/radio_group.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
Due: eslint

pull request feedback
  js/ui/tree_view/ui.tree_view.base.js
  testing/helpers/TreeViewTestHelper.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/scrolling.tests.js
Due: eslint

dxPieChart: Fix series hoverMode (legend item callback) (#12226)
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Due: eslint

dxPieChart: Fix series hoverMode (legend item callback) (#12225)
  js/viz/pie_chart.js
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Due: eslint

pull request feedback
  js/ui/tree_view/ui.tree_view.base.js
Due: eslint

Add d.ts
  .gitignore
  build/gulp/generator.js
  build/gulp/preact.tsconfig.json
  testing/jest/button.tests.tsx
Due: eslint

renaming
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.vertical.js
  js/ui/scheduler/utils.js
Due: eslint

Small fix
  js/ui/scheduler/ui.scheduler.subscribes.js
Due: eslint

Move template's 'model' param to jQuery widget (#12223)
  .gitignore
  build/gulp/generator.js
  build/gulp/preact.tsconfig.json
  js/renovation/button.tsx
  js/renovation/dist/button.j.jsx
  package.json
  testing/jest/button.tests.tsx
Due: eslint

pull request feedback
  js/ui/accordion.js
  js/ui/tab_panel.js
  testing/tests/DevExpress.ui.widgets/accordionParts/accordion.themes.sharedTests.js
Due: eslint

Fix option name
  js/ui/lookup.js
  ts/dx.all.d.ts
Due: eslint

DataGrid: Fix wrong header filter icon position when rtl is enabled (T862537) (#12164)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.column_state_mixin.js
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
Due: eslint

DataGrid: Fix wrong header filter icon position when rtl is enabled (T862537) (#12163)
  js/ui/grid_core/ui.grid_core.column_headers.js
  js/ui/grid_core/ui.grid_core.column_state_mixin.js
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/helpers/gridBaseMocks.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
Due: eslint

ExcelJS - implement string format adress for topLeftCell (#12192)
  js/excel_exporter.d.ts
  js/exporter/exceljs/export_data_grid.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
  ts/dx.all.d.ts
Due: eslint

Fix invalid type casting
  js/ui/accordion.js
  js/ui/tab_panel.js
Due: eslint

Fix tests + refactoring + new tests for UI
  js/ui/diagram/diagram.commands_manager.js
  js/ui/diagram/ui.diagram.js
  js/ui/diagram/ui.diagram.properties_toolbar.js
  js/ui/diagram/ui.diagram.scroll_view.js
  js/ui/diagram/ui.diagram.toolbar.js
  package.json
  testing/helpers/diagramHelpers.js
  testing/tests/DevExpress.ui.widgets/diagramParts/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/diagramParts/propertiesPanel.tests.js
  testing/tests/DevExpress.ui.widgets/diagramParts/viewToolbar.tests.js
Due: eslint

ExcelJS - implement string format adress for topLeftCell (#12192)
  js/exporter/exceljs/exportDataGrid.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
Due: eslint

Fix rendering of tags
  js/ui/accordion.js
  js/ui/tab_panel.js
  testing/tests/DevExpress.ui.widgets/accordionParts/accordion.themes.sharedTests.js
  testing/tests/DevExpress.ui.widgets/tabPanel.markup.tests.js
Due: eslint

DataGrid / TreeList - The rowAlternationEnabled option does not affect fixed columns in FireFox 73.0 (T865179)
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

Diagram - mobile UI improvements (#12228)
  js/ui/diagram/diagram.commands_manager.js
  js/ui/diagram/ui.diagram.history_toolbar.js
  js/ui/diagram/ui.diagram.js
  js/ui/diagram/ui.diagram.properties_toolbar.js
  js/ui/diagram/ui.diagram.scroll_view.js
  js/ui/diagram/ui.diagram.toolbar.js
  package.json
  styles/widgets/common/diagram.less
  styles/widgets/generic/diagram.generic.less
  styles/widgets/material/diagram.material.less
  testing/helpers/diagramHelpers.js
  testing/tests/DevExpress.ui.widgets/diagramParts/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/diagramParts/propertiesPanel.tests.js
  testing/tests/DevExpress.ui.widgets/diagramParts/viewToolbar.tests.js
Due: eslint, stylelint

fix nativePointerMock
  testing/helpers/nativePointerMock.js
Due: eslint

Refactor
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.js
  js/ui/file_manager/ui.file_manager.item_list.thumbnails.js
  js/ui/file_manager/ui.file_manager.items_list.thumbnails.list_box.js
Due: eslint

Final refactor
  js/ui/file_manager/ui.file_manager.item_list.details.js
  js/ui/file_manager/ui.file_manager.item_list.thumbnails.js
  js/ui/file_manager/ui.file_manager.items_list.thumbnails.list_box.js
Due: eslint

Fix tracker tests
  js/events/core/wheel.js
  testing/helpers/nativePointerMock.js
  testing/tests/DevExpress.viz.vectorMap/tracker.tests.js
Due: eslint

Fix angular typescript hack (#11884)
  build/gulp/ts.js
Due: eslint

Test
  testing/functional/tests/dataGrid/editing.ts
Due: none

Removes QUnit tests
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Due: eslint

Adds TC tests
  testing/functional/model/dataGrid.ts
  testing/functional/tests/dataGrid/editing.ts
Due: none

Path conditions:
  eslint: any of: *.js
  stylelint: any of: *.{css,less}
