Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

css: update styles
  packages/devextreme-scss/scss/widgets/generic/scheduler/_sizes.scss
Due: stylelint

feat: try to remove screenshot
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__main-form__with-labelMode-static (generic.light).png
Due: none

feat: add changes to showicon logic
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_recurrence_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: update screenshot
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__main-form__with-labelMode-static (generic.light) 2.png
Due: none

feat: add test for main form without icons
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/form.visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: update screenshot
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__main-form__with-labelMode-static (generic.light).png
Due: none

feat: update screenshot
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__main-form__icons-mode-none (fluent.blue.light).png
Due: none

feat: update show icon logic
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor: small refactor
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: undo recurrence form
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_recurrence_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor: undo code style changes
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: remove colcount from groupWithIcon items
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_recurrence_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor: rename setStylingModeToEditors to applyFormItemDefaults
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor: small refactoring
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: use JSON.stringify instead of join to avoid delimiter collision in layout key
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

css: hide appointment strip when container is narrow in fluent theme
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
Due: stylelint

feat: add snapToCellsMode type and default fallback
  packages/devextreme/js/__internal/scheduler/types.ts
  packages/devextreme/js/__internal/scheduler/utils/options/constants.ts
  packages/devextreme/js/__internal/scheduler/utils/options/types.ts
  packages/devextreme/js/__internal/scheduler/view_model/generate_view_model/options/get_view_model_options.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: implement snapToCellsMode logic
  packages/devextreme/js/__internal/scheduler/view_model/generate_view_model/generate_grid_view_model.ts
  packages/devextreme/js/__internal/scheduler/view_model/generate_view_model/steps/snap_to_cells.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: update screenshot
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__main-form__with-labelMode-static (material.blue.light).png
Due: none

implement rendering
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/generic/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/material/scheduler/_index.scss
  packages/devextreme/js/__internal/scheduler/appointments/m_text_utils.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment/agenda_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment/base_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment/grid_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment_collector.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointments.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/const.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/get_view_model_diff.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/utils.ts
  packages/devextreme/js/__internal/scheduler/m_classes.ts
  packages/devextreme/js/__internal/scheduler/m_compact_appointments_helper.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_subscribes.ts
  packages/devextreme/js/__internal/scheduler/types.ts
  packages/devextreme/js/__internal/scheduler/utils/get_targeted_appointment.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

tests: add tests
  packages/devextreme/js/__internal/scheduler/view_model/generate_view_model/options/get_view_model_options.test.ts
  packages/devextreme/js/__internal/scheduler/view_model/generate_view_model/options/get_view_model_options.ts
  packages/devextreme/js/__internal/scheduler/view_model/generate_view_model/steps/snap_to_cells.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: return old code
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(popup): Add story
  apps/react-storybook/stories/popup/Popup.stories.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: fix tests
  packages/devextreme/js/__internal/scheduler/view_model/generate_view_model/steps/snap_to_cells.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Popup: Revert updating of old nested Angular component with tabFocusLoopEnabled, add story (#33016)
  apps/react-storybook/stories/popup/Popup.stories.tsx
  packages/devextreme-angular/src/ui/nested/base/popup-options.ts
  packages/devextreme-angular/src/ui/nested/drop-down-options.ts
  packages/devextreme-angular/src/ui/nested/filter-builder-popup.ts
  packages/devextreme-angular/src/ui/nested/popup.ts
  packages/devextreme-angular/src/ui/popover/index.ts
  packages/devextreme-angular/src/ui/popup/component.ts
  packages/devextreme-angular/src/ui/tooltip/index.ts
  packages/devextreme-metadata/make-angular-metadata.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

regenerate reexports. add new line at the end of file
  packages/devextreme-angular/src/common/ai-integration/index.ts
  packages/devextreme-angular/src/common/charts/index.ts
  packages/devextreme-angular/src/common/core/animation/index.ts
  packages/devextreme-angular/src/common/core/environment/index.ts
  packages/devextreme-angular/src/common/core/events/index.ts
  packages/devextreme-angular/src/common/core/index.ts
  packages/devextreme-angular/src/common/core/localization/index.ts
  packages/devextreme-angular/src/common/data/index.ts
  packages/devextreme-angular/src/common/export/excel/index.ts
  packages/devextreme-angular/src/common/export/index.ts
  packages/devextreme-angular/src/common/export/pdf/index.ts
  packages/devextreme-angular/src/common/grids/index.ts
  packages/devextreme-angular/src/common/index.ts
  packages/devextreme-react/src/common/ai-integration.ts
  packages/devextreme-react/src/common/charts.ts
  packages/devextreme-react/src/common/core/animation.ts
  packages/devextreme-react/src/common/core/environment.ts
  packages/devextreme-react/src/common/core/events.ts
  packages/devextreme-react/src/common/core/index.ts
  packages/devextreme-react/src/common/core/localization.ts
  packages/devextreme-react/src/common/data.ts
  packages/devextreme-react/src/common/export/excel.ts
  packages/devextreme-react/src/common/export/index.ts
  packages/devextreme-react/src/common/export/pdf.ts
  packages/devextreme-react/src/common/grids.ts
  packages/devextreme-react/src/common/index.ts
  packages/devextreme-vue/src/common/ai-integration.ts
  packages/devextreme-vue/src/common/charts.ts
  packages/devextreme-vue/src/common/core/animation.ts
  packages/devextreme-vue/src/common/core/environment.ts
  packages/devextreme-vue/src/common/core/events.ts
  packages/devextreme-vue/src/common/core/index.ts
  packages/devextreme-vue/src/common/core/localization.ts
  packages/devextreme-vue/src/common/data.ts
  packages/devextreme-vue/src/common/export/excel.ts
  packages/devextreme-vue/src/common/export/index.ts
  packages/devextreme-vue/src/common/export/pdf.ts
  packages/devextreme-vue/src/common/grids.ts
  packages/devextreme-vue/src/common/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore(devextreme): replace gulp js-bundles-prod with nx bundle executor (#32806)
  packages/devextreme/project.json
  packages/nx-infra-plugin/src/executors/bundle/executor.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix tests
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment/base_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment_collector.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointments.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/get_view_model_diff.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/utils/appointment_text.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/utils/get_targeted_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/utils/type_helpers.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_subscribes.ts
  packages/devextreme/js/__internal/scheduler/utils/get_targeted_appointment.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor: optmize code
  packages/devextreme/js/__internal/scheduler/view_model/generate_view_model/steps/snap_to_cells.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix tests
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment/agenda_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment/base_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment/grid_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment_collector.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointments.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/const.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/utils/get_date_text.ts
  packages/devextreme/js/__internal/scheduler/m_subscribes.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Refactor test (#33004)
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/grouping-scroll-total_summary-rtl=false (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/grouping-scroll-total_summary-rtl=true (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/grouping-scroll-total_summary_intersection-rtl=false (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/grouping-scroll-total_summary_intersection-rtl=true (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/withGrouping.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid - Fix lookup filter changing to "(All)" after searching twice in another column (T1284002) (#32969)
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/functional.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Refactor test
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/grouping-scroll-total_summary-rtl=false (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/grouping-scroll-total_summary-rtl=true (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/grouping-scroll-total_summary_intersection-rtl=false (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/etalons/grouping-scroll-total_summary_intersection-rtl=true (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/sticky/common/withGrouping.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet
