Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

refactor: remove weekends logic from workspace
  packages/devextreme/js/__internal/scheduler/__tests__/workspace.base.test.ts
  packages/devextreme/js/__internal/scheduler/header/m_utils.test.ts
  packages/devextreme/js/__internal/scheduler/header/m_utils.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/__tests__/base.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/base.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/index.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/work_week.ts
  packages/devextreme/js/__internal/scheduler/utils/skipped_days.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline_week.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline_work_week.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_indicator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_work_week.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator.test.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_work_week.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Perform a full monorepo checkout to enable the pnpm catalogs feature
  .github/workflows/packages_publishing.yml
Due: none

fix stale sortedIndex bug
  packages/devextreme/js/__internal/scheduler/appointments_new/__mock__/appointment_collector.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/__mock__/appointment_properties.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointments.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/utils/get_view_model_diff.test.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/utils/get_view_model_diff.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/view_item.test.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/view_item.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: fix defaults for skippedDays in workWeek
  packages/devextreme/js/__internal/scheduler/__tests__/workspace.base.test.ts
  packages/devextreme/js/__internal/scheduler/header/m_utils.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline_work_week.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_work_week.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: undo default value for skipWeekDays
  packages/devextreme/js/__internal/scheduler/utils/skipped_days.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_indicator.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Handle false alerts
  apps/angular/src/polyfills.ts
  packages/nx-infra-plugin/src/executors/generate-components/angular-generator.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Use npm ci
  tools/scripts/build-all.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Use pnpm exec
  packages/devextreme/js/__internal/grids/__docs__/scripts/data_grid/generate.ts
  packages/nx-infra-plugin/package.json
  packages/nx-infra-plugin/scripts/build.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Remove unused action
  .github/actions/run-qunit-tests/action.yml
  .github/actions/setup-chrome-headless-shell/action.yml
Due: none

Add README.md
  packages/devextreme-dist/README.md
Due: none

Add LICENSE.md.md
  packages/devextreme-dist/LICENSE.md
Due: none

Add README.md and LICENSE.md to npm-sources task
  packages/devextreme/build/gulp/npm.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

@types/jquery 4.0.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Use pnpm in docs repo
  tools/scripts/build-all.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Improve error message
  packages/nx-infra-plugin/src/executors/generate-components/angular-generator.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Install ts-node as dev dep
  packages/nx-infra-plugin/package.json
  pnpm-lock.yaml
Due: none

Bump Diagram, WebUtils and Gantt versions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Pass args without --
  tools/scripts/build-all.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: fix column rendering for workWeek
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator_work_week.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

CI: Enable pnpm catalogs feature with full monorepo checkout (#33229)
  .github/workflows/packages_publishing.yml
Due: none

Dependancies: Override versions
  package.json
  pnpm-lock.yaml
Due: none

Remove pnpm exec from error message in loadGridCoreModules function
  packages/devextreme/js/__internal/grids/__docs__/scripts/data_grid/generate.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Toolbar: use transform-safe measurements for layout calculations (T1245421)
  packages/devextreme/js/__internal/ui/toolbar/toolbar.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Clone docs outside monorepo
  tools/scripts/build-all.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: fix caption in navigator for week view
  packages/devextreme/js/__internal/scheduler/header/m_utils.test.ts
  packages/devextreme/js/__internal/scheduler/header/m_utils.ts
  packages/devextreme/js/__internal/scheduler/utils/skipped_days.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update README.md - correct Support Center link, add title
  packages/devextreme-dist/README.md
Due: none

test: optimize tests
  packages/devextreme/js/__internal/scheduler/__tests__/workspace.base.test.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor: undo typing
  packages/devextreme/js/__internal/scheduler/utils/options/constants_view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add clearhistory icon
  e2e/testcafe-devextreme/tests/common/icons.ts
  packages/devextreme-scss/icons/dxicons.ttf
  packages/devextreme-scss/icons/dxicons.woff
  packages/devextreme-scss/icons/dxicons.woff2
  packages/devextreme-scss/icons/dxiconsfluent.ttf
  packages/devextreme-scss/icons/dxiconsfluent.woff
  packages/devextreme-scss/icons/dxiconsfluent.woff2
  packages/devextreme-scss/icons/dxiconsmaterial.ttf
  packages/devextreme-scss/icons/dxiconsmaterial.woff
  packages/devextreme-scss/icons/dxiconsmaterial.woff2
  packages/devextreme-scss/images/icons/fluent/clearhistory.svg
  packages/devextreme-scss/images/icons/generic/clearhistory.svg
  packages/devextreme-scss/images/icons/material/clearhistory.svg
  packages/devextreme-scss/scss/widgets/base/_icon_fonts.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

implement tests
  packages/devextreme/js/__internal/scheduler/appointments_new/appointments.focus_controller.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointments.test.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointments.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/view_item.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add handlers dispose
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment/base_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointments.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/view_item.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

test: add tests for work week layout with skippedDays scenarios
  packages/devextreme/js/__internal/scheduler/__tests__/workspace.base.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

changes 1
  packages/devextreme/js/__internal/scheduler/__tests__/appointments_new.test.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/__mock__/appointment_collector.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/__mock__/appointment_properties.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment/agenda_appointment.test.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment/base_appointment.test.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment/base_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment/grid_appointment.test.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointments.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor(pg.json)
  package.json
  pnpm-lock.yaml
Due: none

rename file
  packages/devextreme/js/__internal/scheduler/appointments_new/__mock__/base_appointment_view.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment/agenda_appointment.test.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment/base_appointment.test.ts
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment/grid_appointment.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remove redundant mock
  packages/devextreme/js/__internal/scheduler/appointments_new/appointment_collector.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet
