Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Scheduler: Rework all-day behavior. QUnit tests.
  testing/tests/DevExpress.ui.widgets.scheduler/allDayAppointments.common-0.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.dataProcessor.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.timeLines.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.agenda.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.day.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.navigation.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.renovation.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.week.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Scheduler: Rework all-day behavior. Testcafe Renovate tests.
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/generic.ts
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/material.ts
  testing/testcafe/tests/renovation/scheduler/layout/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Scheduler: Rework all-day behavior. Testcafe jQuery tests.
  testing/testcafe/tests/scheduler/appointments/T1017889.ts
  testing/testcafe/tests/scheduler/appointments/multiday.ts
  testing/testcafe/tests/scheduler/layout/adaptive/generic/adaptive.ts
  testing/testcafe/tests/scheduler/layout/adaptive/generic/adaptiveRTL.ts
  testing/testcafe/tests/scheduler/layout/adaptive/material/adaptive.ts
  testing/testcafe/tests/scheduler/layout/adaptive/material/adaptiveRTL.ts
  testing/testcafe/tests/scheduler/layout/resources/base/generic.ts
  testing/testcafe/tests/scheduler/layout/resources/base/material.ts
  testing/testcafe/tests/scheduler/layout/resources/groups/generic.ts
  testing/testcafe/tests/scheduler/layout/resources/groups/material.ts
  testing/testcafe/tests/scheduler/layout/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Scheduler: Rework all-day behavior. Testcafe jQuery tests. New reference screenshots: Resources groups.
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineDay-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineDay-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineMonth-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineMonth-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineWeek-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineWeek-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineWorkWeek-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineWorkWeek-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineDay-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineDay-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineMonth-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineMonth-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineWeek-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineWeek-orientation=vertical).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineWorkWeek-orientation=horizontal).png
  testing/testcafe/tests/scheduler/layout/resources/groups/etalons/material-groups(view=timelineWorkWeek-orientation=vertical).png
Due: none

Scheduler: Rework all-day behavior. Testcafe jQuery tests. New reference screenshots: Resources base.
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineDay-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineDay-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineMonth-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineMonth-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWeek-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWeek-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWorkWeek-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWorkWeek-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineDay-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineDay-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineMonth-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineMonth-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineWeek-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineWeek-resource=true).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineWorkWeek-resource=false).png
  testing/testcafe/tests/scheduler/layout/resources/base/etalons/material-resource(view=timelineWorkWeek-resource=true).png
Due: none

Scheduler: Rework all-day behavior. Testcafe jQuery tests. New reference screenshots: Adaptive material theme.
  testing/testcafe/tests/scheduler/appointments/etalons/timeline-overlapping-appointments.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=month-crossScrolling=false-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineDay-crossScrolling=false-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineDay-crossScrolling=false-horizontal.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineDay-crossScrolling=false-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineDay-crossScrolling=false-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineDay-crossScrolling=false-vertical.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineDay-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineDay-crossScrolling=true-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineDay-crossScrolling=true-horizontal.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineDay-crossScrolling=true-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineDay-crossScrolling=true-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineDay-crossScrolling=true-vertical.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineDay-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineMonth-crossScrolling=false-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineMonth-crossScrolling=false-horizontal.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineMonth-crossScrolling=false-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineMonth-crossScrolling=false-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineMonth-crossScrolling=false-vertical.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineMonth-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineMonth-crossScrolling=true-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineMonth-crossScrolling=true-horizontal.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineMonth-crossScrolling=true-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineMonth-crossScrolling=true-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineMonth-crossScrolling=true-vertical.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineMonth-crossScrolling=true.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineWeek-crossScrolling=false-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineWeek-crossScrolling=false-horizontal.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineWeek-crossScrolling=false-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineWeek-crossScrolling=false-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineWeek-crossScrolling=false-vertical.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineWeek-crossScrolling=false.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineWeek-crossScrolling=true-horizontal-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineWeek-crossScrolling=true-horizontal.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineWeek-crossScrolling=true-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineWeek-crossScrolling=true-vertical-rtl.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineWeek-crossScrolling=true-vertical.png
  testing/testcafe/tests/scheduler/layout/adaptive/material/etalons/material-view=timelineWeek-crossScrolling=true.png
Due: none

Scheduler: Rework all-day behavior. Testcafe Renovate tests. New reference screenshots: Resources base.
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=timelineDay-resource=false).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=timelineDay-resource=true).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=timelineMonth-resource=false).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=timelineMonth-resource=true).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWeek-resource=false).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWeek-resource=true).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWorkWeek-resource=false).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWorkWeek-resource=true).png
Due: none

Scheduler: Rework all-day behavior. Testcafe Renovate tests. New reference screenshots: Resources groups.
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineDay-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineDay-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineMonth-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineMonth-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineWeek-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineWeek-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineWorkWeek-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/generic-groups(view=timelineWorkWeek-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=day-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=day-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=month-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=month-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=week-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=week-orientation=vertical).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=workWeek-orientation=horizontal).png
  testing/testcafe/tests/renovation/scheduler/layout/resources/groups/etalons/material-groups(view=workWeek-orientation=vertical).png
Due: none

set right attribute
  .gitattributes
  devextreme-screenshot-comparer-2.0.12.tgz
  devextreme-screenshot-comparer.tgz
  package.json
Due: none

Remove 'fibers'
  build/gulp/styles/style-compiler.js
  package.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Scheduler - Check if CSS-selector is needed (#22273)
  scss/widgets/base/scheduler/views/_index.scss
Due: stylelint

Fix test
  package.json
  testing/tests/Renovation/button.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Scheduler: Rework all-day behavior. Fix complicated renovation tests.
  js/renovation/ui/scheduler/appointment/allDayStrategy/index.ts
  js/renovation/ui/scheduler/model/types.ts
  js/renovation/ui/scheduler/props.ts
  js/renovation/ui/scheduler/utils/filtering/local.ts
  js/renovation/ui/scheduler/workspaces/props.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptive.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Scheduler - Check if CSS-selector is needed
  scss/widgets/base/scheduler/views/_index.scss
Due: stylelint

Fix build & CI (#22283)
  build/gulp/styles/style-compiler.js
  package.json
  testing/tests/Renovation/button.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add lost branch
  .github/renovate.json
Due: none

Disable @devextreme-generator/*
  .github/renovate.json
Due: none

Change import bootstrap variable (#22282)
  themebuilder-scss/src/data/bootstrap-metadata/bootstrap-metadata.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Revert out of band upgrades
  package-lock.json
  package.json
Due: none

Change import bootstrap variable (#22282) (#22289)
  themebuilder-scss/src/data/bootstrap-metadata/bootstrap-metadata.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Change import bootstrap variable (#22282) (#22290)
  themebuilder-scss/src/data/bootstrap-metadata/bootstrap-metadata.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

NumberBox: "exponential" format should correctly handle values (T1105915)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberbox.format.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DropDownEditors: dropDown's width should be calculated regarding common overlay width calculation algorithm - by container -> position.of - window (T1106785)
  js/ui/drop_down_editor/ui.drop_down_editor.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix the same for DropDownButton
  js/ui/drop_down_button.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix the same for lookup
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix ddButton test
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DropDownEditors: dropDown's dimensions should be calculated regarding common overlay dimensions calculation algorithm - by container -> position.of - window (T1106785) (#22292)
  js/ui/drop_down_button.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

NumberBox: "exponential" format should correctly handle values (T1105915) (#22291)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberbox.format.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix renovate config (#22288)
  .github/renovate.json
  package-lock.json
  package.json
Due: none

BaseWidget - fix: no repeat widget dispose() if it has been disposed (T1072778)
  js/viz/core/base_widget.js
  testing/tests/DevExpress.viz.core/baseWidget.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

NumberBox: "exponential" format should correctly handle values (T1105915) (#22291) (#22294)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberbox.format.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

NumberBox: "exponential" format should correctly handle values (T1105915) (#22291) (#22295)
  js/ui/number_box/number_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/numberbox.format.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DropDownEditors: dropDown's dimensions should be calculated regarding common overlay dimensions calculation algorithm - by container -> position.of - window (T1106785) (#22292) (#22293)
  js/ui/drop_down_button.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
