Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

Form should not be marked as dirty after calling the reset(editorsData) method and resetting Editor to initial value, which is equal to the current value (T1279884) (#29606)
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Form should not be marked as dirty after calling the reset(editorsData) method and resetting Editor to initial value, which is equal to the current value (T1279884) (#29614)
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Form should not be marked as dirty after calling the reset(editorsData) method and resetting Editor to initial value, which is equal to the current value (T1279884) (#29615)
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

rebase(ai): Fix typing
  packages/devextreme-angular/src/common/ai-integration/index.ts
  packages/devextreme-react/src/common/ai-integration.ts
  packages/devextreme-vue/src/common/ai-integration.ts
  packages/devextreme/js/__internal/core/ai_integration/core/ai_integration.test.ts
  packages/devextreme/js/common/ai-integration.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

AI: Add ai-types
  packages/devextreme-angular/src/common/ai-integration/index.ts
  packages/devextreme-react/src/common/ai-integration.ts
  packages/devextreme-vue/src/common/ai-integration.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/base.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/changeStyle.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/changeStyle.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/changeTone.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/changeTone.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/execute.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/execute.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/expand.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/expand.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/index.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/proofread.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/proofread.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/shorten.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/shorten.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/summarize.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/summarize.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/translate.ts
  packages/devextreme/js/__internal/core/ai_integration/core/ai_integration.test.ts
  packages/devextreme/js/__internal/core/ai_integration/core/ai_integration.ts
  packages/devextreme/js/__internal/core/ai_integration/core/prompt_manager.test.ts
  packages/devextreme/js/__internal/core/ai_integration/core/prompt_manager.ts
  packages/devextreme/js/__internal/core/ai_integration/core/request_manager.ts
  packages/devextreme/js/__internal/core/ai_integration/templates/index.ts
  packages/devextreme/js/common/ai-integration.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

rebase(ai): Fix imports from @js
  packages/devextreme/js/__internal/core/ai_integration/commands/changeStyle.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/changeStyle.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/changeTone.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/changeTone.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/execute.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/execute.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/expand.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/expand.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/proofread.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/proofread.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/shorten.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/shorten.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/summarize.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/summarize.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix issues
  apps/demos/Demos/Stepper/Overview/jQuery/data.js
  apps/demos/Demos/Stepper/Overview/jQuery/index.html
  apps/demos/Demos/Stepper/Overview/jQuery/index.js
  apps/demos/Demos/Stepper/Overview/jQuery/styles.css
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Fix issues
  apps/demos/Demos/Stepper/Overview/jQuery/index.html
  apps/demos/Demos/Stepper/Overview/jQuery/index.js
  apps/demos/menuMeta.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor(.d.ts): Remove BaseCommandResult
  packages/devextreme/js/__internal/core/ai_integration/core/ai_integration.ts
  packages/devextreme/js/common/ai-integration.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update package.json
  packages/devextreme-angular/package.json
Due: none

Update package.json
  packages/devextreme-vue/package.json
Due: none

Update package keywords (#29596)
  packages/devextreme-react/package.json
Due: none

Update package keywords (#29607)
  packages/devextreme-angular/package.json
Due: none

Update package keywords (#29608)
  packages/devextreme-vue/package.json
Due: none

Update package keywords (#29609)
  packages/devextreme/artifacts/npm/devextreme-dist/package.json
Due: none

Update package keywords (#29610)
  packages/devextreme/package.json
Due: none

fix
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/item.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/icon.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/__snapshots__/item.test.tsx.snap
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/__snapshots__/options.integration.test.ts.snap
Due: none

fix lint
  packages/devextreme/js/__internal/grids/new/card_view/content_view/content/card/card.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor(tests && types): Use should && Fix typing
  packages/devextreme/js/__internal/core/ai_integration/commands/base.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/base.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/changeStyle.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/changeTone.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/execute.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/expand.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/proofread.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/shorten.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/summarize.test.ts
  packages/devextreme/js/__internal/core/ai_integration/commands/translate.test.ts
  packages/devextreme/js/__internal/core/ai_integration/core/ai_integration.test.ts
  packages/devextreme/js/__internal/core/ai_integration/core/prompt_manager.test.ts
  packages/devextreme/js/__internal/core/ai_integration/core/request_manager.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

get similar from datagrid
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/utils.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/utils.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Stepper: rename Step.title to Step.label (#29621)
  apps/demos/Demos/Stepper/StepTemplate/Angular/app/app.component.css
  apps/demos/Demos/Stepper/StepTemplate/Angular/app/app.component.html
  apps/demos/Demos/Stepper/StepTemplate/Angular/app/app.service.ts
  apps/demos/Demos/Stepper/StepTemplate/React/App.tsx
  apps/demos/Demos/Stepper/StepTemplate/React/CustomStepShape.tsx
  apps/demos/Demos/Stepper/StepTemplate/React/LabelOnly.tsx
  apps/demos/Demos/Stepper/StepTemplate/React/TitleOnly.tsx
  apps/demos/Demos/Stepper/StepTemplate/React/data.ts
  apps/demos/Demos/Stepper/StepTemplate/React/styles.css
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/App.js
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/CustomStepShape.js
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/LabelOnly.js
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/TitleOnly.js
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/data.js
  apps/demos/Demos/Stepper/StepTemplate/ReactJs/styles.css
  apps/demos/Demos/Stepper/StepTemplate/Vue/App.vue
  apps/demos/Demos/Stepper/StepTemplate/Vue/data.ts
  apps/demos/Demos/Stepper/StepTemplate/jQuery/data.js
  apps/demos/Demos/Stepper/StepTemplate/jQuery/index.html
  apps/demos/Demos/Stepper/StepTemplate/jQuery/index.js
  apps/demos/Demos/Stepper/StepTemplate/jQuery/styles.css
  e2e/testcafe-devextreme/tests/accessibility/common/stepper.ts
  e2e/testcafe-devextreme/tests/navigation/stepper/common.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/stepper/nested/item-dxi.ts
  packages/devextreme-react/src/stepper.ts
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_index.scss
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_mixins.scss
  packages/devextreme-vue/src/stepper.ts
  packages/devextreme/js/__internal/ui/stepper/stepper.ts
  packages/devextreme/js/ui/stepper.d.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/stepper.tests.js
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Stepper: icon with a specified image path should fit into the step (#29619)
  packages/devextreme-scss/scss/widgets/base/stepper/layout/step/_mixins.scss
Due: stylelint

Tabs: focusedElement should remain on the same selected tab after pressing Enter when multiple selection mode is used (T1285635) (#29602)
  packages/devextreme/js/__internal/ui/tabs/m_tabs.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix items controller
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Stepper: add form integration react demo
  apps/demos/Demos/Stepper/FormIntegration/React/AdditionalForm.tsx
  apps/demos/Demos/Stepper/FormIntegration/React/App.tsx
  apps/demos/Demos/Stepper/FormIntegration/React/Confirmation.tsx
  apps/demos/Demos/Stepper/FormIntegration/React/DatesForm.tsx
  apps/demos/Demos/Stepper/FormIntegration/React/GuestsForm.tsx
  apps/demos/Demos/Stepper/FormIntegration/React/RoomMealPlanForm.tsx
  apps/demos/Demos/Stepper/FormIntegration/React/data.ts
  apps/demos/Demos/Stepper/FormIntegration/React/index.html
  apps/demos/Demos/Stepper/FormIntegration/React/index.tsx
  apps/demos/Demos/Stepper/FormIntegration/React/styles.css
  apps/demos/Demos/Stepper/FormIntegration/React/types.ts
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/AdditionalForm.js
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/App.js
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/Confirmation.js
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/DatesForm.js
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/GuestsForm.js
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/RoomMealPlanForm.js
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/data.js
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/index.html
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/index.js
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/styles.css
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/types.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Stepper: add form integration jquery demo
  apps/demos/Demos/Stepper/FormIntegration/jQuery/data.js
  apps/demos/Demos/Stepper/FormIntegration/jQuery/index.html
  apps/demos/Demos/Stepper/FormIntegration/jQuery/index.js
  apps/demos/Demos/Stepper/FormIntegration/jQuery/styles.css
  apps/demos/menuMeta.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Stepper: rename step title to label
  apps/demos/Demos/Stepper/FormIntegration/React/App.tsx
  apps/demos/Demos/Stepper/FormIntegration/React/data.ts
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/App.js
  apps/demos/Demos/Stepper/FormIntegration/ReactJs/data.js
  apps/demos/Demos/Stepper/FormIntegration/jQuery/data.js
  apps/demos/menuMeta.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: vue common re-export building leaves some subdirectories inacces… (#29613)
  apps/demos/configs/Angular/config.bundle.js
  apps/demos/configs/Vue/config.bundle.js
  packages/devextreme-vue/gulpfile.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix code review issues
  apps/demos/Demos/Stepper/Overview/jQuery/data.js
  apps/demos/Demos/Stepper/Overview/jQuery/index.html
  apps/demos/Demos/Stepper/Overview/jQuery/index.js
  apps/demos/Demos/Stepper/Overview/jQuery/styles.css
  apps/demos/menuMeta.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Apply visitors
  packages/devextreme/js/__internal/grids/new/card_view/header_panel/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/di.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_visitors/clear_filter_visitor.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/filter_visitors/get_applied_filters_visitor.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/options.integration.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view.intergration.test.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view.test.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view.tsx
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/view_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/shared/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix context initialization
  packages/devextreme/js/__internal/grids/new/grid_core/filtering/header_filter/controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/widget.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet
