Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Revert "Try filter out stepper from legacy ng cfg"
  packages/devextreme-angular/src/index.ts
  packages/devextreme-angular/src/ui/all.ts
  packages/devextreme-angular/src/ui/nested/base/button-group-item-dxi.ts
  packages/devextreme-angular/src/ui/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/stepper/index.ts
  packages/devextreme-angular/src/ui/stepper/nested/index.ts
  packages/devextreme-angular/src/ui/stepper/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/stepper/nested/ng-package.json
  packages/devextreme-angular/src/ui/stepper/ng-package.json
  tools/ng-smd-cfg.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add SMD config
  tools/scripts/build-all.ts
  tools/smd-cfg.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler: a11y recurrence editor, fix css (swueyOAh)
  packages/devextreme-scss/scss/widgets/base/_recurrenceEditor.scss
  packages/devextreme-scss/scss/widgets/fluent/recurrenceEditor/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/recurrenceEditor/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/recurrenceEditor/_index.scss
  packages/devextreme-scss/scss/widgets/generic/recurrenceEditor/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/recurrenceEditor/_index.scss
  packages/devextreme-scss/scss/widgets/material/recurrenceEditor/_sizes.scss
  packages/devextreme/js/__internal/scheduler/m_recurrence_editor.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/en.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Fix trailing comma
  tools/smd-cfg.json
Due: none

Update tools to v16.5.2
  package.json
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/filter-builder/index.ts
  packages/devextreme-angular/src/ui/tree-list/index.ts
  pnpm-lock.yaml
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

apply changes
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/options_controller/options_controller_base.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor(DevExtreme): rollback playground changes
  packages/devextreme/playground/jquery.html
Due: none

skip test
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/options.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Demos: Set openai version 4.73.1 && Add openai ignore in renovate
  .github/renovate.json
  apps/demos/package.json
Due: none

feat(pnpm-lock.yaml): Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

move parser to root
  packages/devextreme/js/__internal/grids/new/grid_core/search/utils.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/utils.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add configs for making NG-SMD, SMD and IMD metadata (#29616)
  package.json
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/filter-builder/index.ts
  packages/devextreme-angular/src/ui/tree-list/index.ts
  pnpm-lock.yaml
  tools/imd-cfg.json
  tools/ng-smd-cfg.json
  tools/scripts/build-all.ts
  tools/smd-cfg.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/recurrenceEditor.ts
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/allDay.ts
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/common.ts
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/allday-and-reccurence-form_fluent.blue.light_mask.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/allday-and-reccurence-form_generic.light_mask.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/allday-and-reccurence-form_material.blue.light_mask.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/form-after-change-allday-and-reccurence-options_mask.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/integerFormatNumberBox.ts
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/disable.ts
  packages/devextreme-scss/scss/widgets/base/_recurrenceEditor.scss
  packages/devextreme-scss/scss/widgets/fluent/recurrenceEditor/_index.scss
  packages/devextreme-scss/scss/widgets/generic/recurrenceEditor/_index.scss
  packages/devextreme-scss/scss/widgets/generic/recurrenceEditor/_sizes.scss
  packages/devextreme/js/__internal/scheduler/m_recurrence_editor.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
  packages/testcafe-models/scheduler/appointment/popup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Revert "chore: postpone theme class attachments until first widget creation (#29601)"
  apps/demos/testing/etalons/Charts-ClientSideDataProcessing (material.blue.light).png
  apps/demos/testing/etalons/Charts-DoughnutWithCustomLabelInCenter (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-ColumnResizing (material.blue.light).png
  apps/demos/testing/etalons/Gantt-ExportToPDF (material.blue.light).png
  apps/demos/testing/etalons/Gantt-Sorting (material.blue.light).png
  apps/demos/testing/etalons/Gantt-Toolbar (material.blue.light).png
  apps/demos/testing/etalons/PivotGrid-StatePersistence (material.blue.light).png
  apps/demos/testing/etalons/VectorMap-CustomAnnotations (material.blue.light).png
  apps/demos/testing/etalons/VectorMap-CustomProjection (material.blue.light).png
  apps/demos/testing/etalons/VectorMap-MultipleLayers (material.blue.light).png
  apps/demos/testing/etalons/VectorMap-Overview (material.blue.light).png
  apps/demos/testing/etalons/VectorMap-TooltipHTMLSupport (material.blue.light).png
  packages/devextreme/js/ui/themes.js
  packages/devextreme/testing/tests/DevExpress.ui/themes.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert "chore: postpone theme class attachments until first widget creation (#29679)"
  apps/demos/testing/etalons/Charts-ClientSideDataProcessing (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-ColumnResizing (material.blue.light).png
  apps/demos/testing/etalons/Gantt-ContextMenu (material.blue.light).png
  apps/demos/testing/etalons/Gantt-ExportToPDF (material.blue.light).png
  apps/demos/testing/etalons/Gantt-Sorting (material.blue.light).png
  apps/demos/testing/etalons/Gantt-Toolbar (material.blue.light).png
  apps/demos/testing/etalons/PivotGrid-StatePersistence (material.blue.light).png
  apps/demos/testing/etalons/TreeList-Resizing (material.blue.light).png
  packages/devextreme/js/ui/themes.js
  packages/devextreme/testing/tests/DevExpress.ui/themes.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

locate replace and copy button in menu if window is resized to a small width
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: Fix focus overlay for filter row (T1287288) (review comments fixes)
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/editor_factory/m_editor_factory.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

revert etalons and update snapshot
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_allow_sorting_api (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_allow_sorting_api (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_allow_sorting_api (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_calculate_sort_value_is_filed_api (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_calculate_sort_value_is_filed_api (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_calculate_sort_value_is_filed_api (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_calculate_sort_value_is_function_api (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_calculate_sort_value_is_function_api (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_calculate_sort_value_is_function_api (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_headers_default_render (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_headers_default_render (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_headers_with_multiple_sorting_render (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_headers_with_multiple_sorting_render (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_headers_with_multiple_sorting_render (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_show_sort_indexes_api (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_show_sort_indexes_api (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_show_sort_indexes_api (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_sort_index_api (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_sort_index_api (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/sorting/etalons/cardview_sort_index_api (material-blue-light).png
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/__snapshots__/items_controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/__snapshots__/options.intergration.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/selection/__snapshots__/controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/selection/__snapshots__/options.test.ts.snap
Due: none

Fix tests and styles
  e2e/testcafe-devextreme/tests/chat/confirmationPopup.ts
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-confirmationpopup/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-confirmationpopup/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_sizes.scss
  packages/devextreme/js/__internal/core/r1/widget.tsx
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/ui/button/button.tsx
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/confirmationpopup.ts
  packages/devextreme/js/__internal/ui/overlay/m_overlay.ts
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/testing/helpers/chat.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chat.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/confirmationPopup.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/confirmationPopup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Add line endings
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-confirmationpopup/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
Due: stylelint

Add line endings
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
Due: stylelint

Fix chat confirmation popup markup tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/confirmationPopup.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix jest
  packages/devextreme/js/__internal/grids/new/grid_core/utils.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

remaining etalons
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-default-render (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-default-render (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/editing-default-render (material-blue-light).png
Due: none

fix screenshots
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/form_recurrence-editor-first-opening_nested-expr.png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/recurrence-editor_after-hide.png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/recurrence-editor_after-popup-reopen.png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/recurrence-editor_after-popup-reopen_mask.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/allday-and-reccurence-form_fluent.blue.light.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/allday-and-reccurence-form_generic.light.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/allday-and-reccurence-form_material.blue.light.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/dx-number-boxes-not-integer-chars.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/form-after-change-allday-and-reccurence-options.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/form-before-change-allday-and-reccurence-options.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/initial-form_fluent.blue.light.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/initial-form_generic.light.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointmentForm/etalons/initial-form_material.blue.light.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/etalons/disabled-appointment.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/etalons/disabled-by-function-appointment.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/etalons/enabled-appointment.png
  e2e/testcafe-devextreme/tests/scheduler/common/layout/appointments/etalons/enabled-by-function-appointment.png
Due: none

Fix styles
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-confirmationpopup/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
Due: stylelint

Fix lint
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-confirmationpopup/_mixins.scss
Due: stylelint

fix tests
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: Fix focus overlay for filter row (T1287288) (review comments fixes 1)
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/etalons/filter-row-focus-overlay (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/filterRow.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add comments
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/options.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix screenshots
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/form_recurrence-editor-first-opening_nested-expr_mask.png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/expressions.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

revert && feat(loadIndicatot): Get rid of bg-image solution && Add AnimationType feature
  packages/devextreme-scss/scss/widgets/generic/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/icons/_index.scss
  packages/devextreme-scss/scss/widgets/generic/loadIndicator/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/loadIndicator/_index.scss
  packages/devextreme/js/__internal/ui/m_load_indicator.ts
  packages/devextreme/playground/jquery.html
  packages/devextreme/testing/tests/DevExpress.ui.widgets/loadIndicator.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/loadIndicator.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

AI: Add AI SVG animation into LoadIndicator (research)
  packages/devextreme-scss/images/widgets/generic/color-schemes/light/loadindicator/exampleAIMetaphora.svg
  packages/devextreme-scss/scss/widgets/generic/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/icons/_index.scss
  packages/devextreme-scss/scss/widgets/generic/loadIndicator/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/loadIndicator/_index.scss
  packages/devextreme/js/__internal/ui/m_load_indicator.ts
  packages/devextreme/playground/jquery.html
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

refactor(minors)
  packages/devextreme-scss/images/widgets/generic/color-schemes/light/loadindicator/exampleAIMetaphora.svg
  packages/devextreme-scss/scss/widgets/generic/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/icons/_index.scss
  packages/devextreme-scss/scss/widgets/generic/loadIndicator/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/loadIndicator/_index.scss
Due: stylelint

feat(loadIndicator): Add animation and styles for Sparkle
  packages/devextreme-scss/scss/widgets/fluent/loadIndicator/_index.scss
  packages/devextreme/js/__internal/ui/m_load_indicator.ts
  packages/devextreme/playground/jquery.html
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

LoadIndicator: Get rid of useless viaImage option
  packages/devextreme/js/__internal/ui/m_load_indicator.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/loadIndicator.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Demos: Set openai version 4.73.1 && Add openai ignore in renovate
  .github/renovate.json
  apps/demos/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
