Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
    "*.js": ["eslint"],
    "*.{css,less}": ["stylelint"]
}

Improve first approximation
  js/file_management/errors.js
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.messages.js
Due: eslint

First approximation
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.editing.js
Due: eslint

Move captions a little
  js/localization/messages/en.json
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.messages.js
Due: eslint

Fix refresh error
  js/ui/file_manager/file_items_controller.js
Due: eslint

Fix excessive errors on refresh
  js/ui/file_manager/file_items_controller.js
Due: eslint

Add directory name to error details
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.editing.js
Due: eslint

Fix test
  js/ui/file_manager/ui.file_manager.js
Due: eslint

Add dir not found error to object_provider
  js/file_management/object_provider.js
Due: eslint

Fix refresh when notification drawer is shown
  js/ui/file_manager/ui.file_manager.js
  js/ui/file_manager/ui.file_manager.notification.js
Due: eslint

Ability to notify with code 4 (and others) came from remote provider
  js/ui/file_manager/file_items_controller.js
Due: eslint

Revert "First approach to removing cache"
  js/ui/file_manager/file_items_controller.js
Due: eslint

No navigation when forbidden treeview node is expanded
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.files_tree_view.js
  js/ui/file_manager/ui.file_manager.js
Due: eslint

First approach to removing cache
  js/ui/file_manager/file_items_controller.js
Due: eslint

Return dir name to notification heading
  js/localization/messages/en.json
Due: none

first way to show dir name
  js/localization/messages/en.json
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.messages.js
Due: eslint

fix styles generator
  build/gulp/scss/theme-replacements.js
  styles/widgets/common/dropDownButton.less
  styles/widgets/material/dropDownButton.material.less
Due: eslint, stylelint

Add ru localization
  js/localization/messages/ru.json
Due: none

Move contains to events_engine
  js/core/utils/dom.js
  js/events/core/events_engine.js
  testing/tests/DevExpress.core/utils.dom.tests.js
Due: eslint

Fixes the issue
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
Due: eslint

Adds test
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

Drone CI - Add QUARANTINE_MODE for TestCafe tests (#13042)
  .drone.yml
  .travis.yml
  shippable.yml
Due: none

Override base event parameters for treeview (treeview doesn't provide info about added items and removed items)
  js/ui/tree_view.d.ts
Due: none

remove empty lines
  testing/tests/DevExpress.ui.widgets/dropDownButton.markup.tests.js
Due: eslint

DataGrid - The "Export all data" toolbar item is rendered incorrectly (T886693 ) (#12991)
  styles/widgets/common/toolbar.less
  testing/tests/DevExpress.ui.widgets/toolbar.genericTheme.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.materialTheme.tests.js
  testing/tests/DevExpress.ui.widgets/toolbarParts/toolbar.themes.sharedTests.js
Due: eslint, stylelint

Drone CI - Add quarantineMode for Grid functional tests
  .drone.yml
  .travis.yml
  shippable.yml
Due: none

Drone CI - Add QUARANTINE_MODE for TestCafe tests
  .drone.yml
  .travis.yml
  shippable.yml
Due: none

Small refactoring
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
Due: eslint

Fixes the issue
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
Due: eslint

Adds tests
  testing/functional/model/dataGrid.ts
  testing/functional/tests/dataGrid/keyboardNavigation.ts
Due: none

Remove redundant error and change custom errors behavior
  js/file_management/errors.js
  js/localization/messages/en.json
  js/localization/messages/ru.json
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.messages.js
Due: eslint

fix test name
  testing/tests/DevExpress.ui.widgets/dropDownButton.markup.tests.js
Due: eslint

Make events engine to not fall with SVG (#13045)
  js/events/core/events_engine.js
  testing/tests/DevExpress.ui.events/eventsEngine.tests.js
Due: eslint
