Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"]
}

Drawer - Avoid content flicks on the first showing in React apps when openedStateMode is overlap (T848346) (#14657) (#14705)
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  testing/helpers/drawerHelpers.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Drawer - Avoid content flicks on the first showing in React apps when openedStateMode is overlap (T848346) (#14657) (#14706)
  js/ui/drawer/ui.drawer.js
  js/ui/drawer/ui.drawer.rendering.strategy.js
  js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  testing/helpers/drawerHelpers.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

revert
  package.json
  testing/runner/Views/Main/RunSuite.cshtml
Due: none

Toolbar - fix item order when rendering is deferred (T930427) (#14649)
  js/ui/toolbar.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxDiagram - fix text input position in simple view and zoom (#14707)
  package.json
Due: none

Trying to implement scheduler utils
  js/ui/scheduler/scheduler.utils.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix ts
  js/ui/scheduler.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix modules_metadata
  build/gulp/modules_metadata.json
Due: none

Add module in dx.all.d.ts
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Remove getTimeZones from scheduler.js
  js/ui/scheduler/ui.scheduler.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Toolbar - fix item order when rendering is deferred (T930427) (#14649) (#14709)
  js/ui/toolbar.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Diagram - The control is not rendered in full-screen mode if the fullScreen option is enabled by default and the control is placed to IFrame tag (T925375)
  js/ui/diagram/ui.diagram.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid PDF Export - total summary
  js/exporter/jspdf/export.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.dataGrid.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Rework ts
  build/gulp/modules_metadata.json
  js/ui/scheduler.d.ts
  js/ui/scheduler/scheduler.utils.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/utils.js
  js/ui/scheduler/utils_data.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

revert
  testing/runner/Views/Main/Index.cshtml
Due: none

Diagram demo - fix connectors text binding in jquery (#157)
  Demos/Diagram/NodesAndEdgesArrays/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Rearrange ts declarations
  js/ui/file_uploader.d.ts
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Small fix
  build/gulp/modules_metadata.json
Due: none

Trying to fix modules
  build/gulp/modules_metadata.json
Due: none

File Uploader - Add a upload completed event (#14703)
  js/ui/file_uploader.d.ts
  js/ui/file_uploader.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix IE
  js/ui/diagram/ui.diagram.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Slider & RangeSlider: correct event parameter should be passed to valueChanged event(T926119) (#14683) (#14698)
  js/ui/range_slider.js
  js/ui/slider/ui.slider.js
  testing/tests/DevExpress.ui.widgets.editors/rangeSlider.tests.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Trying another way
  build/gulp/modules_metadata.json
  js/bundles/modules/data.js
  js/scheduler_utils.d.ts
  js/scheduler_utils.js
  js/ui/scheduler.d.ts
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

update dx.all.d.ts
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Revert "Remove toolbar styles from dx.common.css (#14648)"
  scss/bundles/dx.common.scss
  scss/widgets/common/_toolbar.scss
  scss/widgets/generic/toolbar/_index.scss
  scss/widgets/material/toolbar/_index.scss
  testing/tests/DevExpress.ui.widgets.dataGrid/headerPanel.tests.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
  testing/tests/DevExpress.ui.widgets/toolbar.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Small fix
  js/ui/scheduler/utils.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Gantt: Add task tooltip demo to ChartAppearance (#153)
  Demos/Gantt/ChartAppearance/Angular/app/app.component.html
  Demos/Gantt/ChartAppearance/Angular/app/app.component.ts
  Demos/Gantt/ChartAppearance/React/App.js
  Demos/Gantt/ChartAppearance/Vue/App.vue
  Demos/Gantt/ChartAppearance/jQuery/index.html
  Demos/Gantt/ChartAppearance/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Trying another way
  js/bundles/modules/data.js
  js/bundles/modules/time_zone.js
  js/time_zone.d.ts
  js/time_zone.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix dx.all.d.ts
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid Export to PDF - remove the Hidden attribute (#158)
  menuMeta.json
Due: none

Drag and Drop Demo - Fix hooks imports and several bugs for closing items (#160)
  Demos/TabPanel/SortableClosableTabs/React/App.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix tests
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix required message (#14427)
  js/localization/messages/fi.json
Due: none

Fixes the issue and adds a test
  scss/widgets/base/_gridBase.scss
  scss/widgets/generic/gridBase/_index.scss
  scss/widgets/material/gridBase/_index.scss
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

DataGrid & PivotGrid export - the datagrid's invalidate method called twice on changing of loadpanel property
  js/exporter/exceljs/export.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Update vue config (#159)
  configs/Vue/config.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Small fixes
  js/bundles/modules/time_zone.js
  js/ui/scheduler/utils.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid & PivotGrid export - the datagrid's invalidate method called twice on changing of loadpanel property
  js/exporter/exceljs/export.js
  js/exporter/exceljs/export_data_grid.js
  js/exporter/exceljs/export_pivot_grid.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Small fix
  js/bundles/modules/time_zone.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js
