Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

regenerate
  packages/devextreme/js/ui/data_grid_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid - overview demo - update etalons (#29590)
  apps/demos/testing/etalons/DataGrid-Overview (fluent.blue.light).png
  apps/demos/testing/etalons/DataGrid-Overview (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-Overview.png
Due: none

Update package keywords
  packages/devextreme-react/package.json
Due: none

refactor appointment data items preparation
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_utils.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_utils.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_agenda.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/r1/types.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/data.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/getAppointmentDataItems.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/getAppointmentDataItems.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/index.ts
  packages/devextreme/js/__internal/scheduler/utils/data_accessor/appointment_data_accessor.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add types for appointment collection
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_view_model_generator.ts
  packages/devextreme/js/__internal/scheduler/m_appointments_layout_manager.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/r1/types.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/base.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/get_appointment_data_items.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/get_appointment_data_items.ts.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/index.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.dataProcessor.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add types
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_agenda.ts
  packages/devextreme/js/__internal/scheduler/r1/types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add SafeAppointment type
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter_virtual.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/r1/types.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/getAppointmentDataItems.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/getAppointmentDataItems.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_agenda.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix constructor issue
  packages/devextreme/js/__internal/scheduler/appointments/m_view_model_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_agenda.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
  packages/devextreme/js/__internal/scheduler/m_appointments_layout_manager.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor constants
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/constants.ts
  packages/devextreme/js/__internal/scheduler/header/m_utils.ts
  packages/devextreme/js/__internal/scheduler/m_appointment_drag_behavior.ts
  packages/devextreme/js/__internal/scheduler/m_appointments_layout_manager.ts
  packages/devextreme/js/__internal/scheduler/m_compact_appointments_helper.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_utils.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/const.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/__tests__/base.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/base.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/views.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_agenda.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline_day.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline_week.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_timeline_work_week.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_day.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_month.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_week.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space_work_week.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_date_header_data_generator.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_utils.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_generator.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix QUnits
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/r1/types.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.verticalStrategy.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

move types into root directory
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_data_provider.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter.ts
  packages/devextreme/js/__internal/scheduler/appointments/data_provider/m_appointment_filter_virtual.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_view_model_generator.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_agenda.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_base.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  packages/devextreme/js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
  packages/devextreme/js/__internal/scheduler/m_appointments_layout_manager.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/all_day_panel_table_body.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/date_header.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_horizontal.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/group_panel_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/header_panel.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/base/layout_props.ts
  packages/devextreme/js/__internal/scheduler/r1/components/base/time_panel_table.tsx
  packages/devextreme/js/__internal/scheduler/r1/components/types.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/__tests__/base.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/base.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/get_appointment_data_items.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/get_appointment_data_items.ts.test.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/month.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/render.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/timeline_month.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/timeline_week.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/views.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/week.ts
  packages/devextreme/js/__internal/scheduler/r1/utils/work_week.ts
  packages/devextreme/js/__internal/scheduler/types.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_agenda.ts
  packages/devextreme/js/__internal/scheduler/workspaces/m_work_space.ts
  packages/devextreme/js/__internal/scheduler/workspaces/view_model/m_view_data_provider.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

TabPanel: fix incorrect height for single item in left/right tabPosition in Generic theme (T1286860) (#29594)
  e2e/testcafe-devextreme/tests/navigation/tabPanel/common.ts
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=left (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=left (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=left (material-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=right (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=right (generic-light).png
  e2e/testcafe-devextreme/tests/navigation/tabPanel/etalons/TabPanel with single tab, tabPosition=right (material-blue-light).png
  packages/devextreme-scss/scss/widgets/generic/tabPanel/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

TreeList: Fix navigation to the required node when cellRender is specified (T1275775) (#29559)
  e2e/testcafe-devextreme/tests/treeList/API.ts
  e2e/testcafe-devextreme/tests/treeList/etalons/T1275775-navigateToRow-with-async-cell-templates_(renderAsync=false_useNativeScrolling=false).png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1275775-navigateToRow-with-async-cell-templates_(renderAsync=false_useNativeScrolling=true).png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1275775-navigateToRow-with-async-cell-templates_(renderAsync=true_useNativeScrolling=false).png
  e2e/testcafe-devextreme/tests/treeList/etalons/T1275775-navigateToRow-with-async-cell-templates_(renderAsync=true_useNativeScrolling=true).png
  packages/devextreme/js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  packages/devextreme/js/__internal/grids/grid_core/focus/m_focus.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/grids/tree_list/m_virtual_scrolling.ts
  packages/testcafe-models/dataGrid/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor setupHtmlEditorWithAi
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarAiDialogIntegration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

rename selectInsertionMode
  packages/devextreme/testing/helpers/aiDialog.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarAiDialogIntegration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

HTMLEditor: Refactor popup config test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

make names for integration tests more precise
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarAiDialogIntegration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

HTMLEditor: refactor setupHtmlEditorWithAi test helper
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarAiDialogIntegration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: qunit & jest
  packages/devextreme/js/__internal/grids/new/card_view/context_menu/view.integration.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/search/view.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

HTMLEditor: Update dialogs classes; refactor tests; add types
  packages/devextreme/js/__internal/ui/html_editor/m_html_editor.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/m_baseDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/m_formDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/utils/ai.ts
  packages/devextreme/js/__internal/ui/html_editor/utils/m_toolbar_helper.ts
  packages/devextreme/testing/helpers/aiDialog.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarAiDialogIntegration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarModule.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Tabs, TabPanel: improve typing and fix all eslint errors
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/js/__internal/ui/tab_panel/m_tab_panel.ts
  packages/devextreme/js/__internal/ui/tabs/m_tabs.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

HTMLEditor: Remove editor instance from form dialog & ai dialog
  packages/devextreme/js/__internal/ui/html_editor/m_html_editor.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/m_baseDialog.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/m_formDialog.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/formDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarModule.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

HTMLEditor: Rename popupContainer in baseDialog
  packages/devextreme/js/__internal/ui/html_editor/ui/m_baseDialog.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

HTMLEditor: Remove ts ignore
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Tabs, TabPanel: improve typing and fix all eslint errors (#29597)
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/js/__internal/ui/tab_panel/m_tab_panel.ts
  packages/devextreme/js/__internal/ui/tabs/m_tabs.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Tabs: focusedElement should remain on the same selected tab after pressing Enter when multiple selection mode is used (T1285635)
  packages/devextreme/js/__internal/ui/tabs/m_tabs.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

HTMLEditor: Rename aiService in aiDialog
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Tabs, TabPanel: improve typing and fix all eslint errors (#29600)
  packages/devextreme/js/__internal/ui/collection/collection_widget.base.ts
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.edit.ts
  packages/devextreme/js/__internal/ui/list/m_list.base.ts
  packages/devextreme/js/__internal/ui/tab_panel/m_tab_panel.ts
  packages/devextreme/js/__internal/ui/tabs/m_tabs.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

New etalons
  apps/demos/testing/etalons/FileManager-BindingToFileSystem (fluent.blue.light).png
  apps/demos/testing/etalons/FileManager-BindingToFileSystem (material.blue.light).png
  apps/demos/testing/etalons/FileManager-BindingToFileSystem.png
Due: none

Form should not be marked as dirty after calling the reset(editorsData) method and resetting Editor to initial value, which is equal to the current value (T1279884)
  packages/devextreme/js/__internal/ui/form/m_form.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update package keywords
  packages/devextreme-angular/package.json
Due: none

Update package keywords
  packages/devextreme-vue/package.json
Due: none

Update package keywords
  packages/devextreme/artifacts/npm/devextreme-dist/package.json
Due: none

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
