Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

test: add test for recurrence settings button focus state
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/form.visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update etalons
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__daily (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__hourly (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__mobile (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__monthly (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__readonly (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__weekly (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__with-icons (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__yearly (fluent.blue.light).png
Due: none

test: move recurrence settings button focus state test
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/form.visual.ts
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/recurrence-form.visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

css: fix recurrence button settings focus styling
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
Due: stylelint

test: enhance focus navigation for recurrence settings button
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/form.visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

test: move testcafe tests to jest
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/recurrence-form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/appointment_popup.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

css: replace background color in focus state with outline
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
Due: stylelint

small improvements
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/form.visual.ts
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

update etalon
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-settings-button__focus-state (fluent.blue.light).png
Due: none

move tests to a common file
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-settings-button__focus-state (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/form.functional.ts
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: update etalons
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-settings-button__focus-state (fluent.blue.light).png
Due: none

Wrappers Tests: encrease space-size
  .github/workflows/wrapper_tests.yml
Due: none

Wrappers Tests: encrease space-size (#32245)
  .github/workflows/wrapper_tests.yml
Due: none

DataGrid: fix Tab press handler in filter range (T1312521)
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/T1163100_changeFIlterIcon.visual_matrix.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/etalons/T1072609 (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/filterRow.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/visual.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
  packages/testcafe-models/dataGrid/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: fix Tab press handler in filter range (T1312521) (#32199)
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/T1163100_changeFIlterIcon.visual_matrix.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/etalons/T1072609 (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/filterRow.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/visual.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
  packages/testcafe-models/dataGrid/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: fix Tab press handler in filter range (T1312521) (#32239)
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/T1163100_changeFIlterIcon.visual_matrix.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/etalons/T1072609 (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/filterRow.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/visual.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
  packages/testcafe-models/dataGrid/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DataGrid: fix Tab press handler in filter range (T1312521) (#32240)
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/T1163100_changeFIlterIcon.visual_matrix.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/etalons/T1072609 (material.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/filterRow.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/functional.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/filterRow/visual.ts
  packages/devextreme/js/__internal/grids/grid_core/filter/m_filter_row.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/filterRow.tests.js
  packages/testcafe-models/dataGrid/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Appointment Form - Fix KBN issues (#32225)
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__daily (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__hourly (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__mobile (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__monthly (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__readonly (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__weekly (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__with-icons (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__yearly (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-settings-button__focus-state (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/form.functional.ts
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/form.visual.ts
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/js/__internal/scheduler/appointment_popup/appointment_popup.test.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_recurrence_form.ts
  packages/testcafe-models/scheduler/appointment/popup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Scheduler - Appointment Form - Fix KBN issues (#32244)
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__daily (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__hourly (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__mobile (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__monthly (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__readonly (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__weekly (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__with-icons (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-form__yearly (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-settings-button__focus-state (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/form.functional.ts
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/form.visual.ts
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/js/__internal/scheduler/appointment_popup/appointment_popup.test.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_recurrence_form.ts
  packages/testcafe-models/scheduler/appointment/popup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Grids: Add Default scrollByThumb Value for Desktop (#32243)
  packages/devextreme/js/common/grids.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Replace Options with Properties
  packages/devextreme/build/gulp/modules_metadata.json
  packages/devextreme/js/__internal/grids/new/grid_core/editing/options.ts
  packages/devextreme/js/__internal/grids/new/grid_core/editing/popup/component.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Regenerate TreeList nesteds
  packages/devextreme-angular/src/ui/tree-list/index.ts
  packages/devextreme-angular/src/ui/tree-list/nested/button-item-dxi.ts
  packages/devextreme-angular/src/ui/tree-list/nested/button-options.ts
  packages/devextreme-angular/src/ui/tree-list/nested/empty-item-dxi.ts
  packages/devextreme-angular/src/ui/tree-list/nested/form.ts
  packages/devextreme-angular/src/ui/tree-list/nested/group-item-dxi.ts
  packages/devextreme-angular/src/ui/tree-list/nested/index.ts
  packages/devextreme-angular/src/ui/tree-list/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/tree-list/nested/simple-item-dxi.ts
  packages/devextreme-angular/src/ui/tree-list/nested/tab-dxi.ts
  packages/devextreme-angular/src/ui/tree-list/nested/tab-panel-options-item-dxi.ts
  packages/devextreme-angular/src/ui/tree-list/nested/tab-panel-options.ts
  packages/devextreme-angular/src/ui/tree-list/nested/tabbed-item-dxi.ts
  packages/devextreme-angular/src/ui/tree-list/nested/tree-list-toolbar-item-dxi.ts
  packages/devextreme-metadata/make-integration-metadata.ts
  packages/devextreme-react/src/tree-list.ts
  packages/devextreme-vue/src/tree-list.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Do not rename Summary GroupItem
  packages/devextreme-metadata/make-integration-metadata.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Regenerate
  packages/devextreme-angular/src/core/tokens/index.ts
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/data-grid/nested/button-item-dxi.ts
  packages/devextreme-angular/src/ui/data-grid/nested/button-options.ts
  packages/devextreme-angular/src/ui/data-grid/nested/data-grid-toolbar-item-dxi.ts
  packages/devextreme-angular/src/ui/data-grid/nested/empty-item-dxi.ts
  packages/devextreme-angular/src/ui/data-grid/nested/form.ts
  packages/devextreme-angular/src/ui/data-grid/nested/index.ts
  packages/devextreme-angular/src/ui/data-grid/nested/item-dxi.ts
  packages/devextreme-angular/src/ui/data-grid/nested/simple-item-dxi.ts
  packages/devextreme-angular/src/ui/data-grid/nested/summary-group-item-dxi.ts
  packages/devextreme-angular/src/ui/data-grid/nested/tab-dxi.ts
  packages/devextreme-angular/src/ui/data-grid/nested/tab-panel-options-item-dxi.ts
  packages/devextreme-angular/src/ui/data-grid/nested/tab-panel-options.ts
  packages/devextreme-angular/src/ui/data-grid/nested/tabbed-item-dxi.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-vue/src/data-grid.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Resolve collisions in external config
  packages/devextreme-metadata/make-integration-metadata.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix modules
  packages/devextreme/build/gulp/modules_metadata.json
Due: none

Regenerate all
  packages/devextreme-angular/src/core/tokens/index.ts
  packages/devextreme-angular/src/ui/data-grid/index.ts
  packages/devextreme-angular/src/ui/data-grid/nested/group-item-dxi.ts
  packages/devextreme-angular/src/ui/data-grid/nested/index.ts
  packages/devextreme-react/src/data-grid.ts
  packages/devextreme-vue/src/data-grid.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Migrate PopupEditing demo to new syntax
  apps/demos/Demos/DataGrid/PopupEditing/Angular/app/app.component.html
Due: none

devextreme-angular (without standalone: true): non generated: /src/core/template.ts + /src/ui/popup/service/service.component.ts (2)
  packages/devextreme-angular/src/core/template.ts
  packages/devextreme-angular/src/ui/popup/service/service.component.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

devextreme-angular/tests (without standalone: true): /src/http/ajax-bootstrap-interceptors.spec.ts + /src/services/popup-service.spec.ts (2)
  packages/devextreme-angular/tests/src/http/ajax-bootstrap-interceptors.spec.ts
  packages/devextreme-angular/tests/src/services/popup-service.spec.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: Add Default scrollByThumb Value for Desktop (#32243) (#32247)
  packages/devextreme/js/common/grids.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Appointment Form - update etalon (#32254)
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/etalons/scheduler__appointment__recurrence-settings-button__focus-state (fluent.blue.light).png
Due: none

fix & test
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/form.visual.ts
  e2e/testcafe-devextreme/tests/scheduler/common/appointmentForm/recurrence-form.visual.ts
  packages/devextreme-scss/scss/widgets/base/scheduler/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint
