Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

File Manager - Fix details view localization (T949528)
  js/ui/file_manager/ui.file_manager.item_list.details.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

File Manager - Fix details view localization (T949528) (#16435)
  js/ui/file_manager/ui.file_manager.item_list.details.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/detailsView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix review issue
  js/ui/sortable.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix template wrapper
  js/renovation/preact_wrapper/template_wrapper.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Try to fix a test
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

RenovateRender -> true
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix: T971119 - List - itemDragging is not working if a parent elemenе has the "overflow:auto" and "padding" CSS rules (#16389)
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix tests
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.timeLines.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/subscribes.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.day.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

step 1
  js/ui/html_editor.d.ts
  js/ui/html_editor/modules/toolbar.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Tree Shaking: Fix default export for grid_core modules
  build/gulp/npm.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

revert style changes
  scss/widgets/base/_gridBase.scss
Due: stylelint

Tree Shaking: Fix default export for grid_core modules (#16437)
  build/gulp/npm.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix test
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix tests
  testing/runner/Views/Main/RunSuite.cshtml
Due: none

try fix PieChart tests
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix PieChart tests
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - fix tests with renovated render, part 2 (#16438)
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Update generator version
  package.json
Due: none

Fix farm tests regression after fix T971119
  js/ui/sortable.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

add generic border radiuses
  scss/widgets/generic/htmlEditor/_index.scss
Due: stylelint

Update Turndown version (#16425)
  package.json
Due: none

Update Turndown version (#16424)
  package.json
Due: none

Fix possibility to select the contents of a HtmlEditor when it is located in a List item template (T973647) (#16407) (#16418)
  js/events/utils/index.js
  testing/helpers/nativePointerMock.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix possibility to select the contents of a HtmlEditor when it is located in a List item template (T973647) (#16407) (#16417)
  js/events/utils/index.js
  testing/helpers/nativePointerMock.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix farm tests regression after fix T971119 (#16439)
  js/ui/sortable.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Bugfix T971724 (#16426)
  scss/widgets/base/_dropDownMenu.scss
Due: stylelint

Bugfix T971724
  styles/widgets/common/dropDownMenu.less
Due: none

fix
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.monthView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

try to fix material theme
  scss/widgets/material/htmlEditor/_index.scss
Due: stylelint

Implement Number polyfill
  js/core/polyfills/number.js
  js/renovation/preact_wrapper/template_wrapper.ts
  js/renovation/viz/sparklines/bullet.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Use css instead of toggle
  js/ui/grid_core/ui.grid_core.master_detail.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Bugfix T971724 (#16426) (#16441)
  scss/widgets/base/_dropDownMenu.scss
Due: stylelint

Bugfix T971724 (#16442)
  styles/widgets/common/dropDownMenu.less
Due: none

Tree Shaking: Fix utils imports after switch package to esm (#608)
  Demos/Charts/Palette/Angular/app/app.component.ts
  Demos/Charts/Palette/React/App.js
  Demos/Charts/Palette/Vue/App.vue
  Demos/DataGrid/CRUDOperations/Angular/app/app.component.ts
  Demos/DataGrid/CRUDOperations/React/App.js
  Demos/DataGrid/CRUDOperations/Vue/App.vue
  Demos/DataGrid/CellCustomization/React/DiffCell.js
  Demos/DataGrid/CellCustomization/Vue/DiffCell.vue
  Demos/DataGrid/GridSummaries/React/App.js
  Demos/DataGrid/GridSummaries/Vue/App.vue
  Demos/Localization/UsingIntl/Angular/app/app.component.ts
  Demos/Localization/UsingIntl/React/App.js
  Demos/Localization/UsingIntl/Vue/App.vue
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Tree Shaking: Fix devextreme-bundler after switching to esm (#16408)
  js/bundles/modules/core.js
  testing/runner/Views/Main/RunSuite.cshtml
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix performance degradation after @babel/plugin-transform-classes update from 19.2.7 (#16410)
  .babelrc
  testing/tests/DevExpress.viz.charts/pieChart.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
