Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
    "*.js": ["eslint"],
    "*.{css,less}": ["stylelint"]
}

Fix forgotten Docker env
  .travis.yml
Due: none

Scheduler - Fix cell hover state when nothing is dropped in it (T885459) (#13197)
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Due: eslint

Scheduler - Fix cell hover state when nothing is dropped in it (T885459) (#13196)
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Due: eslint

Scheduler - Fix cell hover state when nothing is dropped in it (T885459) (#13195)
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Due: eslint

DataGrid: Fix filtering when there is a column with caption = '!' (T891627)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Due: eslint

Trying to fix
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
Due: eslint

Update js/core/utils/position.js
  js/core/utils/position.js
Due: eslint

Add test
  testing/functional/tests/scheduler/appointmentOverlapping/basic.ts
  testing/functional/tests/scheduler/appointmentOverlapping/init/widget.data.ts
Due: none

Refactoring
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
Due: eslint

Scss themebuilder: bootstrap support (#13213)
  themebuilder-scss/package.json
  themebuilder-scss/src/modules/bootstrap-extractor.ts
  themebuilder-scss/src/modules/compile-manager.ts
  themebuilder-scss/tests/modules/bootstrap-extractor.test.ts
  themebuilder-scss/tests/modules/compile-manager.test.ts
Due: none

Add headers to the css
  themebuilder-scss/src/modules/compile-manager.ts
  themebuilder-scss/src/modules/post-compiler.ts
  themebuilder-scss/tests/modules/compile-manager.test.ts
  themebuilder-scss/tests/modules/post-compiler.test.ts
Due: none

Small fix
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
Due: eslint

fix remarks
  .lintstagedrc
  playground/vue/package-lock.json
  webpack.config.dev.js
Due: eslint

fix build
  js/ui/popup.js
  js/ui/resizable.js
Due: eslint

fix test
  js/ui/resizable.js
Due: eslint

fix qunit tests
  js/core/dom_component.js
Due: eslint

DataGrid: Fix filtering when there is a column with caption = '!' (T891627) (#13230)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Due: eslint

DataGrid: Fix filtering when there is a column with caption = '!' (T891627) (#13229)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Due: eslint

DataGrid: Fix filtering when there is a column with caption = '!' (T891627) (#13228)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  testing/tests/DevExpress.ui.widgets.dataGrid/headerFilter.tests.js
Due: eslint

remove extra css rules
  styles/widgets/common/button.less
Due: stylelint

fix imports
  js/ui/popup.js
Due: eslint

fix imprts
  js/ui/popup.js
Due: eslint

refactor
  js/exporter/exceljs/export_pivot_grid.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.format.tests.js
Due: eslint

Add headers to the css (#13233)
  themebuilder-scss/src/modules/compile-manager.ts
  themebuilder-scss/src/modules/post-compiler.ts
  themebuilder-scss/tests/modules/compile-manager.test.ts
  themebuilder-scss/tests/modules/post-compiler.test.ts
Due: none

fix problems with window
  js/ui/popup.js
Due: eslint

Update README.md
  playground/angular/README.md
Due: none

Fix after review
  js/ui/grid_core/ui.grid_core.focus.js
Due: eslint

Merge branch 'T889805_20_2' of https://github.com/vconst/DevExtreme into T889805_20_2
  js/ui/grid_core/ui.grid_core.focus.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint
