Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Fix borders
  styles/widgets/generic/tabPanel.generic.less
Due: stylelint

Merge diagram
  package.json
Due: none

File Manager - Fix toolbar items default location
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

Add test for classes property
  testing/jest/widget.tests.tsx
Due: none

dxGantt: Fix toolbar items (#12744)
  images/widgets/common/gantt/add-sub-task.svg
  images/widgets/common/gantt/add-task.svg
  images/widgets/common/gantt/add.svg
  images/widgets/common/gantt/collapse.svg
  images/widgets/common/gantt/delete-dependency.svg
  images/widgets/common/gantt/delete.svg
  images/widgets/common/gantt/expand.svg
  images/widgets/common/gantt/full-screen.svg
  images/widgets/common/gantt/redo.svg
  images/widgets/common/gantt/task-details.svg
  images/widgets/common/gantt/undo.svg
  images/widgets/common/gantt/zoom-in.svg
  images/widgets/common/gantt/zoom-out.svg
  js/docEnums.js
  js/ui/gantt.d.ts
  package.json
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/gantt.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/gantt.material.less
  ts/dx.all.d.ts
Due: eslint, stylelint

Small fix
  styles/widgets/generic/tabPanel.generic.less
Due: stylelint

Code refactor
  js/ui/file_manager/ui.file_manager.toolbar.js
Due: eslint

Fix nested problem
  styles/widgets/generic/tabPanel.generic.less
Due: stylelint

Replace numbers on constants
  styles/widgets/generic/toolbar.generic.less
Due: stylelint

exemptLables: + "roadmap"
  .github/stale.yml
Due: none

Diagram - update core package
  package.json
  playground/diagram.html
  playground/diagram2.html
Due: none

File Manager - Fix toolbar items default location (#12745)
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

Add registerKeyHandler method for jQuery and onKeyDown property for Button
  js/renovation/button.tsx
  js/renovation/dist/button.j.jsx
  testing/jest/button.tests.tsx
Due: none

Add test
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

Add fix
  js/ui/file_manager/ui.file_manager.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

Refactor
  js/ui/file_manager/ui.file_manager.js
Due: eslint

Revert "Diagram - update core package"
  package.json
  playground/diagram.html
  playground/diagram2.html
Due: none

Diagram - update core package
  package.json
Due: none

File manager - Fix possibility to specify toolbar items by option full name (#12749)
  js/ui/file_manager/ui.file_manager.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

Add test
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

Prepare to JQuery generation
  build/gulp/generator/gulpfile.js
  js/bundles/modules/parts/widgets-base.js
  js/core/dom_component.js
  js/renovation/button.tsx
  js/renovation/dist/button.j.jsx
  js/renovation/dist/widget.j.jsx
  js/renovation/preact-wrapper/component.js
  package.json
Due: eslint

Correct widgets-base
  js/bundles/modules/parts/widgets-base.js
Due: eslint

Diagram - update core package (#12746)
  package.json
Due: none

Apply changes from review
  js/renovation/dist/button.j.jsx
Due: none

Apply changes from review
  js/renovation/dist/button.j.jsx
  testing/jest/button.tests.tsx
Due: none

ContextMenu - Fix changing visible option (T879766) (#12693)
  js/ui/context_menu/ui.menu_base.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Due: eslint

Bump DevExtreme version
  package.json
Due: none

Renovation: implement registerKeyHandler (#12748)
  js/renovation/button.tsx
  js/renovation/dist/button.j.jsx
  testing/jest/button.tests.tsx
Due: none

Bump DevExtreme version (#12752)
  package.json
Due: none

Correct widgets-base imports
  js/bundles/modules/parts/widgets-base.js
Due: eslint

Drawer - Mobile keyboard causes overlapping drawer to be positioned incorrectly(T865716)
  js/ui/drawer/ui.drawer.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Due: eslint

ContextMenu - Fix changing visible option (T879766) (#12693) (#12751)
  js/ui/context_menu/ui.menu_base.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
Due: eslint

Fix tests
  testing/jest/button.tests.tsx
Due: none

Add fix
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

dxToolbar - Fix internal menu styles (#12714)
  build/gulp/scss/theme-replacements.js
  styles/widgets/generic/toolbar.generic.less
  styles/widgets/material/toolbar.material.less
Due: eslint, stylelint

Refactor
  js/ui/file_manager/ui.file_manager.toolbar.js
Due: eslint

DataGrid: Fix columnChooser scrolled up after item selection (T880276)
  js/ui/grid_core/ui.grid_core.column_chooser.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnChooserModule.tests.js
Due: eslint

Spike
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: eslint

Now compact only if it's button with icon & text
  js/ui/file_manager/ui.file_manager.toolbar.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  stylelint: any of: *.{css,less}
