Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
    "*.js": ["eslint"],
    "*.{css,less}": ["stylelint"]
}

Improve milestone appearance (#10046)
  styles/widgets/generic/gantt.generic.less
  styles/widgets/generic/size-schemes/compact.less
  styles/widgets/generic/size-schemes/default.less
  styles/widgets/material/gantt.material.less
  styles/widgets/material/size-schemes/compact.less
  styles/widgets/material/size-schemes/default.less
Due: stylelint

Add functional tests
  testing/functional/model/scrollView.ts
  testing/functional/tests/navigation/scrollView.ts
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
Due: eslint

Hides valid mark after resetting a value
  js/ui/text_box/ui.text_editor.base.js
  js/ui/validator.js
  testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Due: eslint

Small refactoring
  js/integration/knockout/validation.js
Due: eslint

Fixes AsyncRuleValidator.validate
  js/ui/validation_engine.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
Due: eslint

refactor
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
Due: eslint

Do not ignore axes' valueMargins (T819986) (#10060)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Due: eslint

Do not ignore axes' valueMargins (T819986) (#10059)
  js/viz/axes/base_axis.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Due: eslint

Use searchEnabled and acceptCustomValue to check if TagBox have editable input (T807069) (#10049)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Due: eslint

Fix tests
  js/ui/draggable.js
  js/ui/scheduler/appointmentDragBehavior.js
Due: eslint

Fix appearance of the DropDownButton's nested List (T818183)
  js/ui/drop_down_button.js
  styles/widgets/generic/common.generic.less
  styles/widgets/generic/dropDownButton.generic.less
  styles/widgets/generic/list.generic.less
  styles/widgets/generic/size-schemes/compact.less
  styles/widgets/generic/size-schemes/default.less
  styles/widgets/material/common.material.less
  styles/widgets/material/dropDownButton.material.less
  styles/widgets/material/list.material.less
  styles/widgets/material/size-schemes/compact.less
  styles/widgets/material/size-schemes/default.less
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Due: eslint, stylelint

Rename annotation customData to data
  js/viz/docs/doccharts.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
Due: eslint

Use searchEnabled and acceptCustomValue to check if TagBox have editable input (T807069)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Due: eslint

update-ts
  ts/dx.all.d.ts
Due: none

Rename annotation customData to data (#10063)
  js/viz/docs/doccharts.js
  testing/tests/DevExpress.viz.core/annotations.tests.js
  ts/dx.all.d.ts
Due: eslint

refactor
  testing/functional/tests/navigation/contextMenu.ts
  testing/functional/tests/navigation/pages/T755681.html
  testing/functional/tests/scheduler/tooltipBehaviour/init/widget.setup.ts
Due: none

droneConfig for navigation functional test
  .drone.yml
  .travis.yml
  shippable.yml
Due: none

Fix toolbar button padding
  styles/widgets/material/toolbar.material.less
Due: stylelint

DataGrid - Should not generate exception if handle not valid cell by tab key press (T817348) (#10045)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Due: eslint

DataGrid - Should not generate exception if handle not valid cell by tab key press (T817348)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/helpers/grid/keyboardNavigationHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigationParts/keyboardKeys.tests.js
Due: eslint

DataGrid - Should not generate exception if handle not valid cell by tab key press (T817348) (#10068)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/helpers/grid/keyboardNavigationHelper.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigationParts/keyboardKeys.tests.js
Due: eslint

Clear validation summary when resetValues is called
  js/ui/form/ui.form.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
Due: eslint

DataGrid - Fix Internet Explorer test for "focused row changing should not affect on focused row in master detail" (T818808)
  js/ui/grid_core/ui.grid_core.focus.js
Due: eslint

Fix appearance of the DropDownButton's nested List (T818183) (#10064)
  js/ui/drop_down_button.js
  styles/widgets/generic/common.generic.less
  styles/widgets/generic/dropDownButton.generic.less
  styles/widgets/generic/list.generic.less
  styles/widgets/generic/size-schemes/compact.less
  styles/widgets/generic/size-schemes/default.less
  styles/widgets/material/common.material.less
  styles/widgets/material/dropDownButton.material.less
  styles/widgets/material/list.material.less
  styles/widgets/material/size-schemes/compact.less
  styles/widgets/material/size-schemes/default.less
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Due: eslint, stylelint

DataGrid: Fix error occured while searching in calculated column with lookup (T820316)
  js/ui/grid_core/ui.grid_core.search.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

Fix test for Tokyo timezone
  testing/tests/DevExpress.ui.widgets.scheduler/integration.timeline.tests.js
Due: eslint

Enable rendering a zero-minute appointment as one minute appointment (#10052)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Due: eslint

Enable rendering a zero-minute appointment as one minute appointment (#10054)
  js/ui/scheduler/ui.scheduler.appointment_model.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Due: eslint

DataGrid: Reverted #9088 and fix regression after #9039 (T818434, T817555, T819729) (#10057)
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.state_storing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

AsyncValidation - Remove valid mark on reset (#10058)
  js/integration/knockout/validation.js
  js/ui/text_box/ui.text_editor.base.js
  js/ui/validation_engine.js
  js/ui/validator.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
Due: eslint

Extract constants, add test
  styles/widgets/generic/list.generic.less
  styles/widgets/generic/size-schemes/compact.less
  styles/widgets/generic/size-schemes/default.less
  styles/widgets/material/size-schemes/compact.less
  styles/widgets/material/size-schemes/default.less
  testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Due: eslint, stylelint

Sortable: Add content template to fix transcluded content in angularjs (#10061)
  js/ui/draggable.js
  js/ui/scheduler/appointmentDragBehavior.js
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Due: eslint

DataGrid: Fix error occured while searching in calculated column with lookup (T820316) (#10072)
  js/ui/grid_core/ui.grid_core.search.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

DataGrid: Fix error occured while searching in calculated column with lookup (T820316) (#10048)
  js/ui/grid_core/ui.grid_core.search.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

Draggble: Rename template to dragTemplate and add doc comments for parameters
  js/ui/draggable.js
  js/ui/grid_core/ui.grid_core.row_dragging.js
  js/ui/list/ui.list.edit.decorator.reorder.js
  js/ui/sortable.js
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
  ts/dx.all.d.ts
Due: eslint

DataGrid: Removed font-weight attribute for sort index
  styles/widgets/common/gridBase.less
Due: stylelint

Fix test for Tokyo timezone (#10073)
  testing/tests/DevExpress.ui.widgets.scheduler/integration.timeline.tests.js
Due: eslint

Fix test for Tokyo timezone (#10074)
  testing/tests/DevExpress.ui.widgets.scheduler/integration.timeline.tests.js
Due: eslint
