Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

DateBox: remove overflow:hidden for overlay content in Material (T1312677)
  e2e/testcafe-devextreme/tests/editors/dateBox/dateBox.ts
  e2e/testcafe-devextreme/tests/editors/dateBox/etalons/DateBox with datetime and opened AMPM select (fluent.blue.light).png
  packages/devextreme-scss/scss/widgets/material/dateBox/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

fix by copilot review
  e2e/testcafe-devextreme/tests/dataGrid/common/markup/T1163515_alternateRowGroupBorders.ts
  packages/testcafe-models/dataGrid/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DateBox: remove overflow:hidden for overlay content in Material (T1312677) (#31757)
  e2e/testcafe-devextreme/tests/editors/dateBox/dateBox.ts
  e2e/testcafe-devextreme/tests/editors/dateBox/etalons/DateBox with datetime and opened AMPM select (fluent.blue.light).png
  packages/devextreme-scss/scss/widgets/material/dateBox/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

FileManager: move files to .ts (ui.file_manager.common.ts, ui.file_manager.file_actions_button.ts, ui.file_manager.notification_manager.js, ui.file_manager.notification.progress_panel.js)
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.common.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.file_actions_button.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.notification.progress_panel.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.notification_manager.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

FileManager: fix ts issues (ui.file_manager.common.ts, ui.file_manager.file_actions_button.ts, ui.file_manager.notification_manager.js, ui.file_manager.notification.progress_panel.js)
  packages/devextreme/js/__internal/ui/file_manager/file_items_controller.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.common.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.context_menu.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.dialog.folder_chooser.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.file_actions_button.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.file_uploader.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.files_tree_view.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.item_list.details.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.item_list.thumbnails.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.items_list.thumbnails.list_box.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.notification.progress_panel.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.notification.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.notification_manager.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.toolbar.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.ts
  packages/devextreme/testing/helpers/fileManager/notification.progress_panel.mock.js
  packages/devextreme/testing/helpers/fileManager/notification_manager.mock.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix Material font family to avoid flickering and update Viz elements' styles (#31649)
  packages/devextreme-scss/scss/widgets/fluent/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/_colors.scss
  packages/devextreme-scss/scss/widgets/material/_colors.scss
  packages/devextreme-scss/scss/widgets/material/typography/_index.scss
  packages/devextreme-themebuilder/tests/data/compilation-results/no-changes-css.ts
  packages/devextreme-themebuilder/tests/data/compilation-results/no-changes-meta.ts
  packages/devextreme-themebuilder/tests/data/scss/widgets/generic/_colors.scss
  packages/devextreme-themebuilder/tests/modules/compile-manager.test.ts
  packages/devextreme-themebuilder/tests/modules/compiler.test.ts
  packages/devextreme-themebuilder/tests/modules/pre-compiler.test.ts
  packages/devextreme/js/__internal/core/license/trial_panel.client.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/light/index.ts
  packages/devextreme/js/__internal/viz/core/themes/material/index.ts
  packages/devextreme/js/ui/themes.js
  packages/devextreme/testing/tests/DevExpress.ui/themes.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/themeManager.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/annotations.plugins.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/baseThemeManager.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/export.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/tooltip.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.funnel/funnel.label.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.gauges/barGauge_new.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.gauges/circularGauge.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.sankey/sankey.label.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Popup: Update toolbar integrationOptions with toolbarItems (T1312079) (#31744)
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Popup: Update toolbar integrationOptions with toolbarItems (T1312079) (#31754)
  packages/devextreme/js/__internal/ui/popup/m_popup.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Test
  packages/devextreme/js/__internal/file_management/custom_provider.ts
  packages/devextreme/js/__internal/file_management/error.ts
  packages/devextreme/js/__internal/file_management/error_codes.ts
  packages/devextreme/js/__internal/file_management/file_system_item.ts
  packages/devextreme/js/__internal/file_management/object_provider.ts
  packages/devextreme/js/__internal/file_management/provider_base.ts
  packages/devextreme/js/__internal/file_management/remote_provider.ts
  packages/devextreme/js/__internal/file_management/utils.ts
  packages/devextreme/js/__internal/ui/file_manager/file_items_controller.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.dialog_manager.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.messages.ts
  packages/devextreme/js/file_management/custom_provider.js
  packages/devextreme/js/file_management/error.js
  packages/devextreme/js/file_management/error_codes.js
  packages/devextreme/js/file_management/file_system_item.js
  packages/devextreme/js/file_management/object_provider.js
  packages/devextreme/js/file_management/provider_base.js
  packages/devextreme/js/file_management/remote_provider.js
  packages/devextreme/js/file_management/utils.js
  packages/devextreme/testing/helpers/fileManager/file_provider.test.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/arrayProvider.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/editingProgress.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

FileManagement: move files to .ts
  packages/devextreme/js/__internal/file_management/custom_provider.ts
  packages/devextreme/js/__internal/file_management/error.ts
  packages/devextreme/js/__internal/file_management/error_codes.ts
  packages/devextreme/js/__internal/file_management/file_system_item.ts
  packages/devextreme/js/__internal/file_management/object_provider.ts
  packages/devextreme/js/__internal/file_management/provider_base.ts
  packages/devextreme/js/__internal/file_management/remote_provider.ts
  packages/devextreme/js/__internal/file_management/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

FileManagement: fix ts issues
  packages/devextreme/js/__internal/file_management/custom_provider.ts
  packages/devextreme/js/__internal/file_management/error.ts
  packages/devextreme/js/__internal/file_management/error_codes.ts
  packages/devextreme/js/__internal/file_management/file_system_item.ts
  packages/devextreme/js/__internal/file_management/object_provider.ts
  packages/devextreme/js/__internal/file_management/provider_base.ts
  packages/devextreme/js/__internal/file_management/remote_provider.ts
  packages/devextreme/js/__internal/file_management/utils.ts
  packages/devextreme/js/__internal/ui/file_manager/file_items_controller.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.dialog_manager.ts
  packages/devextreme/js/__internal/ui/file_manager/ui.file_manager.messages.ts
  packages/devextreme/js/file_management/custom_provider.js
  packages/devextreme/js/file_management/error.js
  packages/devextreme/js/file_management/file_system_item.js
  packages/devextreme/js/file_management/object_provider.js
  packages/devextreme/js/file_management/provider_base.js
  packages/devextreme/js/file_management/remote_provider.js
  packages/devextreme/testing/helpers/fileManager/file_provider.test.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/arrayProvider.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/common.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/editingProgress.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Migrate Diagram demos to the new nested component syntax
  apps/demos/Demos/Diagram/AdvancedDataBinding/Angular/app/app.component.html
  apps/demos/Demos/Diagram/Containers/Angular/app/app.component.html
  apps/demos/Demos/Diagram/CustomShapesWithIcons/Angular/app/app.component.html
  apps/demos/Demos/Diagram/CustomShapesWithTemplates/Angular/app/app.component.html
  apps/demos/Demos/Diagram/CustomShapesWithTemplatesWithEditing/Angular/app/app.component.html
  apps/demos/Demos/Diagram/CustomShapesWithTexts/Angular/app/app.component.html
  apps/demos/Demos/Diagram/ImagesInShapes/Angular/app/app.component.html
  apps/demos/Demos/Diagram/ItemSelection/Angular/app/app.component.html
  apps/demos/Demos/Diagram/NodesAndEdgesArrays/Angular/app/app.component.html
  apps/demos/Demos/Diagram/NodesArrayHierarchicalStructure/Angular/app/app.component.html
  apps/demos/Demos/Diagram/NodesArrayPlainStructure/Angular/app/app.component.html
  apps/demos/Demos/Diagram/OperationRestrictions/Angular/app/app.component.html
  apps/demos/Demos/Diagram/SimpleView/Angular/app/app.component.html
  apps/demos/Demos/Diagram/UICustomization/Angular/app/app.component.html
  apps/demos/Demos/Diagram/WebAPIService/Angular/app/app.component.html
Due: none

demo(AIColumns): implement Angular demo components
  apps/demos/Demos/TreeList/AIColumns/Angular/app/ai.service.ts
  apps/demos/Demos/TreeList/AIColumns/Angular/app/app.component.css
  apps/demos/Demos/TreeList/AIColumns/Angular/app/app.component.html
  apps/demos/Demos/TreeList/AIColumns/Angular/app/app.component.ts
  apps/demos/Demos/TreeList/AIColumns/Angular/app/app.service.ts
  apps/demos/Demos/TreeList/AIColumns/Angular/app/email/email.component.html
  apps/demos/Demos/TreeList/AIColumns/Angular/app/email/email.component.ts
  apps/demos/Demos/TreeList/AIColumns/Angular/app/employee/employee.component.css
  apps/demos/Demos/TreeList/AIColumns/Angular/app/employee/employee.component.html
  apps/demos/Demos/TreeList/AIColumns/Angular/app/employee/employee.component.ts
  apps/demos/Demos/TreeList/AIColumns/Angular/app/status/status.component.css
  apps/demos/Demos/TreeList/AIColumns/Angular/app/status/status.component.html
  apps/demos/Demos/TreeList/AIColumns/Angular/app/status/status.component.ts
  apps/demos/Demos/TreeList/AIColumns/Angular/index.html
  apps/demos/Demos/TreeList/AIColumns/Vue/App.vue
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

demo(AIColumns): fix including modules and styles
  apps/demos/Demos/TreeList/AIColumns/Angular/app/app.component.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

demo(AIColumns): fix paging
  apps/demos/Demos/TreeList/AIColumns/Angular/app/app.component.html
Due: none

Remove unnecessary quotation marks
  apps/demos/Demos/Diagram/CustomShapesWithIcons/Angular/app/app.component.html
Due: none

Migrate TreeList demos to the new nested component syntax
  apps/demos/Demos/TreeList/Adaptability/Angular/app/app.component.html
  apps/demos/Demos/TreeList/BatchEditing/Angular/app/app.component.html
  apps/demos/Demos/TreeList/CellEditing/Angular/app/app.component.html
  apps/demos/Demos/TreeList/ColumnChooser/Angular/app/app.component.html
  apps/demos/Demos/TreeList/ColumnHeaderFilter/Angular/app/app.component.html
  apps/demos/Demos/TreeList/CustomizeKeyboardNavigation/Angular/app/app.component.html
  apps/demos/Demos/TreeList/FilterModes/Angular/app/app.component.html
  apps/demos/Demos/TreeList/FilterPanel/Angular/app/app.component.html
  apps/demos/Demos/TreeList/FilterRow/Angular/app/app.component.html
  apps/demos/Demos/TreeList/FixedAndStickyColumns/Angular/app/app.component.html
  apps/demos/Demos/TreeList/FocusedRow/Angular/app/app.component.html
  apps/demos/Demos/TreeList/FormEditing/Angular/app/app.component.html
  apps/demos/Demos/TreeList/KeyboardNavigation/Angular/app/app.component.html
  apps/demos/Demos/TreeList/LoadDataOnDemand/Angular/app/app.component.html
  apps/demos/Demos/TreeList/LocalReordering/Angular/app/app.component.html
  apps/demos/Demos/TreeList/MultipleRowSelection/Angular/app/app.component.html
  apps/demos/Demos/TreeList/MultipleSorting/Angular/app/app.component.html
  apps/demos/Demos/TreeList/Overview/Angular/app/app.component.html
  apps/demos/Demos/TreeList/Paging/Angular/app/app.component.html
  apps/demos/Demos/TreeList/PopupEditing/Angular/app/app.component.html
  apps/demos/Demos/TreeList/Reordering/Angular/app/app.component.html
  apps/demos/Demos/TreeList/Resizing/Angular/app/app.component.html
  apps/demos/Demos/TreeList/RowEditing/Angular/app/app.component.html
  apps/demos/Demos/TreeList/SearchPanel/Angular/app/app.component.html
  apps/demos/Demos/TreeList/SimpleArrayHierarchicalStructure/Angular/app/app.component.html
  apps/demos/Demos/TreeList/SimpleArrayPlainStructure/Angular/app/app.component.html
  apps/demos/Demos/TreeList/SingleRowSelection/Angular/app/app.component.html
  apps/demos/Demos/TreeList/StatePersistence/Angular/app/app.component.html
  apps/demos/Demos/TreeList/WebAPIService/Angular/app/app.component.html
Due: none

Fix lint
  apps/demos/Demos/Diagram/CustomShapesWithIcons/Angular/app/app.component.html
Due: none

Demos tests: add max-old-space-size for lint job
  .github/workflows/demos_visual_tests.yml
Due: none

DateBox: Add etalons
  e2e/testcafe-devextreme/tests/editors/dateBox/etalons/DateBox with datetime and opened AMPM select (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/dateBox/etalons/DateBox with datetime and opened AMPM select (fluent.blue.light).png
  e2e/testcafe-devextreme/tests/editors/dateBox/etalons/DateBox with datetime and opened AMPM select (generic-light).png
  e2e/testcafe-devextreme/tests/editors/dateBox/etalons/DateBox with datetime and opened AMPM select (material-blue-light).png
Due: none

Localization: fix ts issues in numbers
  packages/devextreme/js/__internal/core/localization/core.ts
  packages/devextreme/js/__internal/core/localization/currency.ts
  packages/devextreme/js/__internal/core/localization/globalize/core.ts
  packages/devextreme/js/__internal/core/localization/globalize/currency.ts
  packages/devextreme/js/__internal/core/localization/globalize/number.ts
  packages/devextreme/js/__internal/core/localization/intl/number.ts
  packages/devextreme/js/__internal/core/localization/ldml/number.ts
  packages/devextreme/js/__internal/core/localization/number.ts
  packages/devextreme/js/__internal/core/localization/open_xml_currency_format.ts
  packages/devextreme/js/__internal/core/localization/parentLocale.ts
  packages/devextreme/js/__internal/core/localization/utils.ts
  packages/devextreme/js/common/core/localization/core.js
  packages/devextreme/js/common/core/localization/currency.js
  packages/devextreme/js/common/core/localization/globalize/core.js
  packages/devextreme/js/common/core/localization/globalize/currency.js
  packages/devextreme/js/common/core/localization/globalize/number.js
  packages/devextreme/js/common/core/localization/intl/number.js
  packages/devextreme/js/common/core/localization/ldml/number.js
  packages/devextreme/js/common/core/localization/number.js
  packages/devextreme/js/common/core/localization/open_xml_currency_format.js
  packages/devextreme/js/common/core/localization/parentLocale.js
  packages/devextreme/js/common/core/localization/utils.js
  packages/devextreme/js/localization/core.js
  packages/devextreme/js/localization/currency.js
  packages/devextreme/js/localization/globalize/core.js
  packages/devextreme/js/localization/globalize/currency.js
  packages/devextreme/js/localization/globalize/number.js
  packages/devextreme/js/localization/intl/number.js
  packages/devextreme/js/localization/ldml/number.js
  packages/devextreme/js/localization/number.js
  packages/devextreme/js/localization/open_xml_currency_format.js
  packages/devextreme/js/localization/parentLocale.js
  packages/devextreme/js/localization/utils.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Localization: move globalize files to ts
  packages/devextreme/js/__internal/core/localization/core.ts
  packages/devextreme/js/__internal/core/localization/currency.ts
  packages/devextreme/js/__internal/core/localization/globalize/core.ts
  packages/devextreme/js/__internal/core/localization/globalize/currency.ts
  packages/devextreme/js/__internal/core/localization/globalize/number.ts
  packages/devextreme/js/__internal/core/localization/intl/number.ts
  packages/devextreme/js/__internal/core/localization/ldml/number.ts
  packages/devextreme/js/__internal/core/localization/number.ts
  packages/devextreme/js/__internal/core/localization/open_xml_currency_format.ts
  packages/devextreme/js/__internal/core/localization/parentLocale.ts
  packages/devextreme/js/__internal/core/localization/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Localization: move dates files to ts
  packages/devextreme/js/__internal/core/localization/date.ts
  packages/devextreme/js/__internal/core/localization/default_date_names.ts
  packages/devextreme/js/__internal/core/localization/globalize/date.ts
  packages/devextreme/js/__internal/core/localization/intl/date.ts
  packages/devextreme/js/__internal/core/localization/ldml/date.format.ts
  packages/devextreme/js/__internal/core/localization/ldml/date.formatter.ts
  packages/devextreme/js/__internal/core/localization/ldml/date.parser.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

revert popup editing syntax
  apps/demos/Demos/DataGrid/PopupEditing/Angular/app/app.component.html
Due: none

fix Material font family to avoid flickering and update Viz elements' styles (#31758)
  packages/devextreme-scss/scss/widgets/fluent/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/_colors.scss
  packages/devextreme-scss/scss/widgets/material/_colors.scss
  packages/devextreme-scss/scss/widgets/material/typography/_index.scss
  packages/devextreme-themebuilder/tests/data/compilation-results/no-changes-css.ts
  packages/devextreme-themebuilder/tests/data/compilation-results/no-changes-meta.ts
  packages/devextreme-themebuilder/tests/data/scss/widgets/generic/_colors.scss
  packages/devextreme-themebuilder/tests/modules/compile-manager.test.ts
  packages/devextreme-themebuilder/tests/modules/compiler.test.ts
  packages/devextreme-themebuilder/tests/modules/pre-compiler.test.ts
  packages/devextreme/js/__internal/core/license/trial_panel.client.ts
  packages/devextreme/js/__internal/viz/core/themes/generic/light/index.ts
  packages/devextreme/js/__internal/viz/core/themes/material/index.ts
  packages/devextreme/js/ui/themes.js
  packages/devextreme/testing/tests/DevExpress.ui/themes.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.charts/themeManager.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/annotations.plugins.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/baseThemeManager.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/export.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.core/tooltip.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.funnel/funnel.label.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.gauges/barGauge_new.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.gauges/circularGauge.tests.js
  packages/devextreme/testing/tests/DevExpress.viz.sankey/sankey.label.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

DateBox: remove overflow:hidden for overlay content in Material (T1312677) (#31749)
  e2e/testcafe-devextreme/tests/editors/dateBox/dateBox.ts
  e2e/testcafe-devextreme/tests/editors/dateBox/etalons/DateBox with datetime and opened AMPM select (fluent.blue.light).png
  packages/devextreme-scss/scss/widgets/material/dateBox/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
