Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

TreeView: support selection by shift+arrows/home/end when showCheckBoxesMode='none' (#31279)
  packages/devextreme/js/__internal/ui/tree_view/tree_view.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/keyboardNavigation.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

updated DRB screenshot
  e2e/testcafe-devextreme/tests/editors/dateRangeBox/etalons/DRB disabled dates on popup opening (generic-light).png
Due: none

renamed numberbox screenshots back
  e2e/testcafe-devextreme/tests/editors/numberBox/etalons/NumberBox render with buttons container (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/numberBox/etalons/NumberBox render with buttons container (generic-light).png
  e2e/testcafe-devextreme/tests/editors/numberBox/etalons/NumberBox render with buttons container (material-blue-light).png
Due: none

Fix
  packages/devextreme/js/__internal/ui/tree_view/m_tree_view.base.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/treeViewParts/keyboardNavigation.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix TS in Schedulers demos set Vue demos
  apps/demos/Demos/Pagination/Overview/Vue/App.vue
  apps/demos/Demos/PivotGrid/ChartIntegration/Vue/App.vue
  apps/demos/Demos/PivotGrid/Customization/Vue/App.vue
  apps/demos/Demos/PivotGrid/DrillDown/Vue/App.vue
  apps/demos/Demos/PivotGrid/ExcelJSCellCustomization/Vue/App.vue
  apps/demos/Demos/PivotGrid/FieldPanel/Vue/App.vue
  apps/demos/Demos/PivotGrid/IntegratedFieldChooser/Vue/App.vue
  apps/demos/Demos/PivotGrid/Overview/Vue/App.vue
  apps/demos/Demos/PivotGrid/SimpleArray/Vue/App.vue
  apps/demos/Demos/PivotGrid/StandaloneFieldChooser/Vue/App.vue
  apps/demos/Demos/PivotGrid/StatePersistence/Vue/App.vue
  apps/demos/Demos/PivotGrid/SummaryDisplayModes/Vue/App.vue
  apps/demos/Demos/Scheduler/CellTemplates/Vue/App.vue
  apps/demos/Demos/Scheduler/CellTemplates/Vue/DataCell.vue
  apps/demos/Demos/Scheduler/CellTemplates/Vue/DataCellMonth.vue
  apps/demos/Demos/Scheduler/CellTemplates/Vue/DateCell.vue
  apps/demos/Demos/Scheduler/CellTemplates/Vue/TimeCell.vue
  apps/demos/Demos/Scheduler/CellTemplates/Vue/utils.ts
  apps/demos/Demos/Scheduler/ContextMenu/Vue/App.vue
  apps/demos/Demos/Scheduler/Editing/Vue/App.vue
  apps/demos/Demos/Scheduler/GoogleCalendarIntegration/Vue/App.vue
  apps/demos/Demos/Scheduler/Overview/Vue/DataCell.vue
  apps/demos/Demos/Scheduler/Resources/Vue/App.vue
  apps/demos/Demos/Scheduler/Templates/Vue/App.vue
  apps/demos/Demos/Scheduler/Templates/Vue/AppointmentTemplate.vue
  apps/demos/Demos/Scheduler/Templates/Vue/AppointmentTooltipTemplate.vue
  apps/demos/Demos/Scheduler/TimeZonesSupport/Vue/App.vue
  apps/demos/Demos/Scheduler/Toolbar/Vue/data.ts
  apps/demos/Demos/Scheduler/VirtualScrolling/Vue/data.ts
  apps/demos/configs/Vue/tsconfig.json
  apps/demos/package.json
  apps/demos/tsconfig.vue-check.json
  pnpm-lock.yaml
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix frozen events tests
  .github/workflows/pr-filter-stubs.yml
  .github/workflows/qunit_tests.yml
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

QUnit tests: get rid of unnecessary timezone tests
  .github/workflows/pr-filter-stubs.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests.yml
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabPanel.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

CI optimization: reduce the number of scenarios in TestCafe testing (unstable) (#31319)
  e2e/testcafe-devextreme/tests/editors/button/etalons/FAB with one speed dial action button,label='Add Row',icon='' (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/button/etalons/FAB with one speed dial action button,label='Add Row',icon='home' (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/button/floatingAction.ts
  e2e/testcafe-devextreme/tests/editors/dateRangeBox/calendar.ts
  e2e/testcafe-devextreme/tests/editors/dateRangeBox/etalons/DRB disabled dates on popup opening (generic-light).png
  e2e/testcafe-devextreme/tests/editors/dropDownBox/T1245111_dropDownBox_height.ts
  e2e/testcafe-devextreme/tests/editors/dropDownBox/etalons/T1245111-dropDownBox-resize (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/editors/dropDownBox/etalons/T1245111-dropDownBox-resize (generic-light).png
  e2e/testcafe-devextreme/tests/editors/dropDownBox/etalons/T1245111-dropDownBox-resize (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/lookup/common.ts
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Popover_bottom_toolbar_menu,rtlEnabled=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Popover_top_toolbar_menu,rtlEnabled=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Popup_bottom_toolbar_menu,rtlEnabled=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=false (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/etalons/Popup_top_toolbar_menu,rtlEnabled=true (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/overlays/toolbarIntegration.ts
  e2e/testcafe-devextreme/tests/editors/tagBox/etalons/TagBox label with stylingMode=filled (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/tagBox/etalons/TagBox label with stylingMode=outlined (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/tagBox/etalons/TagBox label with stylingMode=underlined (material-blue-light).png
  e2e/testcafe-devextreme/tests/editors/tagBox/label.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix model
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/grid_core.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update createDataGrid in unsupported props test
  packages/devextreme/js/__internal/grids/grid_core/ai_column/unsupported_base_properties.integration.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: Test demos
  packages/devextreme/js/__internal/ui/chat/chat.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix tests
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/grid_core.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/unsupported_base_properties.integration.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update following feedback
  apps/demos/Demos/SpeechToText/Overview/description.md
Due: none

SpeechToText: Add Overview demo description
  apps/demos/Demos/SpeechToText/Overview/description.md
Due: none

Add apiReference link
  apps/demos/Demos/SpeechToText/Overview/description.md
Due: none

Apply suggestions from code review
  apps/demos/Demos/SpeechToText/Overview/description.md
Due: none

fix some TS in vue Demos
  apps/demos/Demos/CardView/ColumnChooser/Vue/App.vue
  apps/demos/Demos/CardView/Selection/Vue/App.vue
  apps/demos/Demos/Charts/LoadDataOnDemand/Vue/App.vue
  apps/demos/Demos/Charts/MultiplePointSelection/Vue/App.vue
  apps/demos/Demos/Charts/MultipleSeriesSelection/Vue/App.vue
  apps/demos/Demos/Charts/ServerSideDataProcessing/Vue/App.vue
  apps/demos/Demos/VectorMap/ColorsCustomization/Vue/App.vue
Due: none

updated icon for drb
  e2e/testcafe-devextreme/tests/editors/dateRangeBox/etalons/DRB disabled dates on popup opening (generic-light).png
Due: none

Fix
  .github/workflows/testcafe_tests.yml
Due: none

Alfa Chat MessageBox: Intagrate Toolbar
  packages/devextreme-scss/scss/widgets/base/textAreaWithToolbar/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/textAreaWithToolbar/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/textAreaWithToolbar/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/textAreaWithToolbar/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/_index.scss
  packages/devextreme-scss/scss/widgets/generic/textAreaWithToolbar/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/textAreaWithToolbar/_index.scss
  packages/devextreme-scss/scss/widgets/generic/textAreaWithToolbar/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/_index.scss
  packages/devextreme-scss/scss/widgets/material/textAreaWithToolbar/_colors.scss
  packages/devextreme-scss/scss/widgets/material/textAreaWithToolbar/_index.scss
  packages/devextreme-scss/scss/widgets/material/textAreaWithToolbar/_sizes.scss
  packages/devextreme/js/__internal/ui/chat/messagebox.ts
  packages/devextreme/js/__internal/ui/m_text_area.ts
  packages/devextreme/js/__internal/ui/text_area/text_area_with_toolbar.ts
  packages/devextreme/js/bundles/modules/parts/widgets-base.js
  packages/devextreme/js/ui/text_area_with_toolbar.js
  packages/devextreme/playground/jquery.html
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

feat(chat): Intermediate result
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebox/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebox/_mixins.scss
  packages/devextreme/js/__internal/ui/chat/message_box/chat_text_area.ts
  packages/devextreme/js/__internal/ui/chat/message_box/message_box.ts
  packages/devextreme/js/__internal/ui/m_text_area.ts
  packages/devextreme/playground/jquery.html
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

fix(tests): Update imports
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/editingPreview.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/editingPreview.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(chat styles): Add vars
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebox/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_sizes.scss
Due: stylelint

resolve conflicts after rebase
  packages/devextreme/js/__internal/ui/chat/message_box/message_box.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor(chat): Rename textarea
  packages/devextreme/js/__internal/ui/chat/message_box/chat_text_area.ts
  packages/devextreme/js/__internal/ui/chat/message_box/message_box.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat && refactor(chat): Move logic to CTA
  packages/devextreme/js/__internal/ui/chat/message_box/chat_text_area.ts
  packages/devextreme/js/__internal/ui/chat/message_box/message_box.ts
  packages/devextreme/playground/jquery.html
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(chat): Add styles
  packages/devextreme-scss/build/style-compiler.js
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebox/_index.scss
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagebox/_mixins.scss
  packages/devextreme-scss/scss/widgets/base/textArea/_mixins.scss
  packages/devextreme/js/__internal/ui/chat/message_box/chat_text_area.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

feat(chat): Add fileUploaderOptions
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/message_box/chat_text_area.ts
  packages/devextreme/js/__internal/ui/chat/message_box/message_box.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet
