Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

Fix Copilot suggestions
  apps/demos/Demos/Chat/CustomAIAssistant/jQuery/chat-router.js
  apps/demos/Demos/Chat/CustomAIAssistant/jQuery/form-commands.js
  apps/demos/Demos/Chat/CustomAIAssistant/jQuery/grid-commands.js
  apps/demos/Demos/Chat/CustomAIAssistant/jQuery/styles.css
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Add a custom class to a popup wrapper
  apps/demos/Demos/Chat/CustomAIAssistant/jQuery/index.js
  apps/demos/Demos/Chat/CustomAIAssistant/jQuery/styles.css
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Update chat-router.js
  apps/demos/Demos/Chat/CustomAIAssistant/jQuery/chat-router.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Compare demo screenshots without the blanket tolerance override
  apps/demos/utils/visual-tests/helpers/theme-utils.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Re-shoot demo etalons that were already stale
  apps/demos/testing/widgets/list/etalons/List after change selectAll checkbox value (material.blue.light).png
  apps/demos/testing/widgets/list/etalons/List after change selectionMode to multiple (material.blue.light).png
  apps/demos/testing/widgets/list/etalons/List after change selectionMode to none (material.blue.light).png
  apps/demos/testing/widgets/list/etalons/List after change selectionMode to single (material.blue.light).png
  apps/demos/testing/widgets/list/etalons/List after click on item, selectionMode=all (material.blue.light).png
  apps/demos/testing/widgets/stepper/etalons/Form Integration-First step validation failed (material.blue.light).png
Due: none

Re-shoot the demo etalons the stricter comparison exposed
  apps/demos/testing/etalons/Scheduler-GroupingByResources (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-GroupingByResources (material.blue.light).png
  apps/demos/testing/etalons/Scheduler-MultilevelGrouping (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-MultilevelGrouping (material.blue.light).png
  apps/demos/testing/etalons/Scheduler-Timelines (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-Timelines (material.blue.light).png
  apps/demos/testing/etalons/Scheduler-VirtualScrolling (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-VirtualScrolling (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_ResolveTimeConflicts_appointment-popup_recurrence-group_conflict-informer (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_ResolveTimeConflicts_appointment-popup_recurrence-group_conflict-informer (material.blue.light).png
Due: none

Re-shoot the Common-ListsOverview etalon
  apps/demos/testing/etalons/Common-ListsOverview (fluent.blue.light).png
Due: none

A11y: expose the disabled state on the widget root, restore the checks it hid, and fix what they found (#35036)
  apps/demos/testing/common.test.ts
  e2e/testcafe-devextreme/helpers/accessibility/test.ts
  e2e/testcafe-devextreme/tests/accessibility/cardView/columnSortable.ts
  e2e/testcafe-devextreme/tests/accessibility/cardView/sortable.ts
  e2e/testcafe-devextreme/tests/accessibility/dataGrid/common.ts
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/js/__internal/core/widget/widget.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/__tests__/m_editing.integration.test.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/js/__internal/pagination/__tests__/navigation-buttons.test.ts
  packages/devextreme/js/__internal/pagination/common/light_button.tsx
  packages/devextreme/js/__internal/pagination/pages/page_index_selector.tsx
  packages/devextreme/js/__internal/ui/button_group.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/buttonGroup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/widget.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Design System: fix tests
  e2e/testcafe-devextreme/helpers/changeTheme.ts
  e2e/testcafe-devextreme/runner.ts
  e2e/testcafe-devextreme/tests/common/pivotGrid/fieldPanel/etalons/field-panel_column-action_dnd (dxdsfluent.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/fieldPanel/etalons/field-panel_column-field_dnd-first (dxdsfluent.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/fieldPanel/etalons/field-panel_data-action_dnd (dxdsfluent.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/fieldPanel/etalons/field-panel_row-action_dnd (dxdsfluent.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/kbn/etalons/export-button_focus (dxdsfluent.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/kbn/etalons/field-chooser-button_focus_column-fields (dxdsfluent.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/kbn/etalons/field-chooser-button_focus_description-cell (dxdsfluent.blue.light).png
  e2e/testcafe-devextreme/tests/common/pivotGrid/kbn/etalons/field-chooser-button_focus_filter-fields (dxdsfluent.blue.light).png
  e2e/testcafe-devextreme/tests/scheduler/common/dragAndDrop/T1080232.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Design system: get rid of use ds tokens of component's level
  packages/devextreme-scss/scss/widgets/dxdsfluent/badge/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/button/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/buttonGroup/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/calendar/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/checkBox/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/diagram/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/htmlEditor/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/list/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/loadIndicator/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/menu/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/progressBar/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/scrollable/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/stepper/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/switch/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/tagBox/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/textBox/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/textEditor/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/toast/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/toolbar/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/tooltip/_colors.scss
  packages/devextreme-scss/scss/widgets/dxdsfluent/treeView/_colors.scss
Due: stylelint

Fluent design tokens pipeline (#34701)
  .github/renovate.json
  packages/devextreme-scss/.stylelintrc.json
  packages/devextreme-scss/build/tokens/build-tokens.mjs
  packages/devextreme-scss/build/tokens/consumed-tokens.ts
  packages/devextreme-scss/package.json
  packages/devextreme-scss/project.json
  packages/devextreme-scss/scss/widgets/fluent-next/_design-system.scss
  packages/devextreme-scss/scss/widgets/fluent-next/common/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/common/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent-next/dataGrid/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gantt/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gantt/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gridBase/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/map/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/map/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/treeList/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/validation/_sizes.scss
  packages/devextreme-scss/tests/consumed-tokens.test.ts
  packages/devextreme-scss/tests/fluent-next-naming.baseline.json
  packages/devextreme-scss/tests/fluent-next-naming.test.ts
  packages/devextreme-scss/tests/opentype.js.d.ts
  packages/devextreme-scss/tests/tsconfig.json
  packages/devextreme-scss/tests/unused-elements.test.ts
  packages/devextreme-scss/tools/naming/derive-registries.mjs
  packages/devextreme-scss/tools/naming/registries.json
  packages/devextreme-scss/tsconfig.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Design system: change highlight color after designer review (#34744)
  apps/demos/testing/etalons/TreeList-FilterModes (fluent-next.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_filtering_7_desktop (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/T1264312-selection-checked-searched (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/common/treeList/etalons/T1264312-selection-unchecked-searched (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/etalons/search-panel-highlight (fluent-next.blue.light).png
  packages/devextreme-scss/scss/widgets/fluent-next/gridBase/_colors.scss
Due: stylelint

Fluent-next: delivery artifacts to distribution and support accents (#34767)
  packages/devextreme-scss/build/internal-scss-paths.json
  packages/devextreme-scss/project.json
  packages/devextreme-scss/scss/widgets/fluent-next/_colors.scss
  packages/devextreme-themebuilder/src/metadata/collector.ts
  packages/devextreme-themebuilder/tests/data/scss/_design-system/fluent/accents/blue.scss
  packages/devextreme-themebuilder/tests/data/scss/_design-system/variables/_ds.scss
  packages/devextreme-themebuilder/tests/data/scss/bundles/dx.fluent-next.blue.light.scss
  packages/devextreme-themebuilder/tests/data/scss/widgets/fluent-next/_colors.scss
  packages/devextreme-themebuilder/tests/metadata/collector.test.ts
  packages/devextreme/project.json
  packages/nx-infra-plugin/src/executors/scss-assemble/executor.e2e.spec.ts
  packages/nx-infra-plugin/src/executors/scss-assemble/scss-assemble.impl.ts
  packages/nx-infra-plugin/src/executors/scss-build/executor.e2e.spec.ts
  packages/nx-infra-plugin/src/executors/scss-build/executor.ts
  packages/nx-infra-plugin/src/executors/scss-build/scss-build.impl.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Design System: drop the release-branch CI push triggers
  .github/workflows/build_all.yml
  .github/workflows/default_workflow.yml
  .github/workflows/demos_unit_tests.yml
  .github/workflows/lint.yml
  .github/workflows/paths.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/qunit_tests.yml
  .github/workflows/renovation.yml
  .github/workflows/styles.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/themebuilder_tests.yml
  .github/workflows/ts_declarations.yml
  .github/workflows/visual-tests-demos.yml
  .github/workflows/wrapper_tests.yml
  .github/workflows/wrapper_tests_e2e.yml
Due: none

Design System: restore scss design-token deps in the lockfile
  pnpm-lock.yaml
Due: none

Fluent-next: gate the compiled bundles against runtime calc() growth (#34949)
  packages/devextreme-scss/project.json
  packages/devextreme-scss/tests/calc-budget.json
  packages/devextreme-scss/tests/calc-budget.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: unify focus rings on one role and restore their contrast in both modes (#34943)
  packages/devextreme-scss/scss/widgets/fluent-next/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/common/_colors.scss
Due: stylelint

Update demo with new palette (#34984)
  apps/demos/Demos/Charts/Palette/Angular/app/app.service.ts
  apps/demos/Demos/Charts/Palette/React/data.ts
  apps/demos/Demos/Charts/Palette/ReactJs/data.js
  apps/demos/Demos/Charts/Palette/Vue/data.ts
  apps/demos/Demos/Charts/Palette/jQuery/data.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent next: add px markers (#34950)
  packages/devextreme-scss/scss/widgets/fluent-next/buttonGroup/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/calendar/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/cardView/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/colorBox/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/colorView/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/common/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent-next/common/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/dateBox/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/diagram/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/diagram/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/fileManager/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/fileUploader/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gallery/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gantt/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gridBase/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gridBase/_variables.scss
  packages/devextreme-scss/scss/widgets/fluent-next/gridBase/layout/cell.scss
  packages/devextreme-scss/scss/widgets/fluent-next/htmlEditor/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/list/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/pivotGrid/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/popup/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/progressBar/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/scheduler/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/scheduler/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/scrollView/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/slider/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/switch/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/tagBox/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/textArea/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/textEditor/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/toolbar/_index.scss
  packages/devextreme-scss/tests/fluent-next-size-markers.test.ts
  packages/devextreme-scss/tools/review/px-audit.mjs
  packages/devextreme-scss/tools/review/reachability.mjs
  packages/devextreme-scss/tools/review/scales.mjs
  packages/devextreme-scss/tools/review/size-markers.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Point the Scheduler demo at a colour role that still exists
  apps/demos/Demos/Scheduler/Overview/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/Overview/React/styles.css
  apps/demos/Demos/Scheduler/Overview/ReactJs/styles.css
  apps/demos/Demos/Scheduler/Overview/Vue/App.vue
  apps/demos/Demos/Scheduler/Overview/jQuery/styles.css
Due: stylelint

Fluent-next: fix demo and remove unused variable (#34947)
  apps/demos/Demos/Common/ListsOverview/Angular/app/app.component.css
  apps/demos/Demos/Common/ListsOverview/React/styles.css
  apps/demos/Demos/Common/ListsOverview/ReactJs/styles.css
  apps/demos/Demos/Common/ListsOverview/Vue/App.vue
  apps/demos/Demos/Common/ListsOverview/jQuery/styles.css
  packages/devextreme-scss/build/tokens/consumed-tokens.ts
  packages/devextreme-scss/scss/widgets/fluent-next/common/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/fileManager/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/fileManager/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/icons/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/scrollView/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/common/_sizes.scss
  packages/devextreme-scss/tests/consumed-tokens.test.ts
  packages/devextreme-scss/tests/fluent-next-naming.baseline.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Fluent-next: move onto design tokens 262.15.0
  apps/demos/testing/widgets/stepper/etalons/Form Integration-First step form filled (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/dataGrid/common/validation/etalons/Invalid-message-word-wrapping (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/editors/dateRangeBox/etalons/The validation message overlay position for DateRangeBox after opening (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/editors/textBox/etalons/Textbox states (fluent-next.blue.light).png
  packages/devextreme-scss/build/tokens/build-tokens.mjs
  packages/devextreme-scss/package.json
  packages/devextreme-scss/scss/widgets/fluent-next/badge/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/calendar/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/checkBox/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/scrollable/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/slider/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/switch/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/tagBox/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/textEditor/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/treeView/_colors.scss
  packages/devextreme-scss/tools/naming/registries.json
  pnpm-lock.yaml
Due: stylelint

Fluent-next: publish the type scale into the system tier (#34983)
  packages/devextreme-scss/scss/widgets/fluent-next/_public-tier.scss
  packages/devextreme-scss/scss/widgets/fluent-next/chat/_public.scss
  packages/devextreme-scss/scss/widgets/fluent-next/chat/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/popup/_public.scss
  packages/devextreme-scss/scss/widgets/fluent-next/popup/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/stepper/_public.scss
  packages/devextreme-scss/scss/widgets/fluent-next/stepper/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/toolbar/_public.scss
  packages/devextreme-scss/scss/widgets/fluent-next/toolbar/_sizes.scss
  packages/devextreme-scss/scss/widgets/fluent-next/typography/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/typography/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent-next/typography/_public.scss
  packages/devextreme-scss/tests/fluent-next-naming.test.ts
  packages/devextreme-scss/tools/naming/derive-registries.mjs
  packages/devextreme-scss/tools/naming/registries.json
  packages/devextreme-scss/tools/review/nested-scopes.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint
