Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"]
}

PDF - calculate multiline row height (#18885)
  js/exporter/jspdf/export_data_grid_2.js
  js/exporter/jspdf/pdf_utils.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.multiline.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix tests
  js/core/renderer_base.js
  js/core/utils/size.js
  js/ui/grid_core/ui.grid_core.grid_view.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix borders for empty cell
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  scss/widgets/base/scheduler/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

DataGrid: Use expressions for default values instead of defaultOptionRules
  js/renovation/ui/grids/data_grid/__tests__/data_grid.test.tsx
  js/renovation/ui/grids/data_grid/common/data_grid_props.tsx
  js/renovation/ui/grids/data_grid/data_grid.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

scrollable: reanimate pivotgrid tests (#18887)
  js/renovation/ui/scroll_view/__tests__/animated_scrollbar.test.tsx
  js/renovation/ui/scroll_view/__tests__/scroll_view.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_native.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_native_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/animated_scrollbar.tsx
  js/renovation/ui/scroll_view/scroll_view.tsx
  js/renovation/ui/scroll_view/scrollable_native.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/utils/clamp_into_range.ts
  js/renovation/ui/scroll_view/utils/convert_location.ts
  js/renovation/ui/scroll_view/utils/get_offset_distance.ts
  js/ui/date_box/ui.date_view_roller.js
  js/ui/pivot_grid/ui.pivot_grid.area_item.js
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix server-side tests
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix qunit tests
  js/renovation/ui/grids/data_grid/common/data_grid_props.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

PDF - calculate multiline row height (#18885) (#18893)
  js/exporter/jspdf/export_data_grid_2.js
  js/exporter/jspdf/pdf_utils.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.multiline.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DomComponentWrapper - update options only if they are changed (#18863)
  js/renovation/component_wrapper/data_grid.ts
  js/renovation/ui/common/__tests__/dom_component_wrapper.test.tsx
  js/renovation/ui/common/dom_component_wrapper.tsx
  js/renovation/ui/common/utils/__tests__/get_updated_options.test.ts
  js/renovation/ui/common/utils/get_updated_options.ts
  js/renovation/ui/grids/data_grid/__tests__/data_grid.test.tsx
  js/renovation/ui/grids/data_grid/data_grid.tsx
  testing/testcafe/tests/dataGrid/pager.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

revert some changes
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix agenda's appointements width
  scss/widgets/base/scheduler/_index.scss
  testing/tests/DevExpress.ui.widgets.scheduler/integration.agenda.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Fix React test: TextArea-Overview (#1177)
  Demos/TextArea/Overview/React/App.js
  Demos/TextArea/Overview/visualtestrc.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add padding to the agenda's date table
  scss/widgets/base/scheduler/_index.scss
Due: stylelint

dxGantt: refresh api (https://trello.com/c/u3D4Y9Lk/403-refresh-method-for-dxgantt)
  js/ui/gantt.d.ts
  js/ui/gantt/ui.gantt.data.option.js
  js/ui/gantt/ui.gantt.js
  testing/tests/DevExpress.ui.widgets/gantt.tests.js
  testing/tests/DevExpress.ui.widgets/ganttParts/refresh.tests.js
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Remove @extension tag
  js/ui/validator.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Implement word wrap without bands and indents
  js/exporter/jspdf/draw_pdf_table.js
  js/exporter/jspdf/export_data_grid_2.js
  js/exporter/jspdf/export_data_grid_row_info.js
  js/exporter/jspdf/pdf_utils.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Diagram - fix edges exception (T1023679)
  js/ui/diagram/ui.diagram.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

HtmlEditor - add the way to insert soft line breaks
  js/ui/html_editor.d.ts
  js/ui/html_editor/ui.html_editor.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/multilineIntegration.tests.js
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

reanimate editor tests
  testing/helpers/renovationScrollableHelper.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix React and Vue test: LoadIndicator-Overview (#1178)
  Demos/LoadIndicator/Overview/Angular/app/app.component.css
  Demos/LoadIndicator/Overview/Angular/app/app.component.html
  Demos/LoadIndicator/Overview/React/App.js
  Demos/LoadIndicator/Overview/React/styles.css
  Demos/LoadIndicator/Overview/Vue/App.vue
  Demos/LoadIndicator/Overview/jQuery/index.html
  Demos/LoadIndicator/Overview/jQuery/styles.css
  Demos/LoadIndicator/Overview/test-code.js
  Demos/LoadIndicator/Overview/visualtestrc.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Material update. DataGrid/TreeList. (#18880)
  scss/widgets/base/_gridBase.scss
  scss/widgets/base/dataGrid/_index.scss
  scss/widgets/base/treeList/_index.scss
  scss/widgets/generic/gridBase/_index.scss
  scss/widgets/material/common/_mixins.scss
  scss/widgets/material/gridBase/_index.scss
  scss/widgets/material/gridBase/_sizes.scss
  scss/widgets/material/list/_sizes.scss
  scss/widgets/material/pager/_index.scss
  scss/widgets/material/treeList/_index.scss
  testing/testcafe/tests/dataGrid/etalons/pager-compact.png
  testing/testcafe/tests/dataGrid/etalons/pager-full-allpages.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-large-enlarge.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-large-noinfo-enlarge.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-large-noinfo.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-large.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-nobutton-large-enlarge.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-nobutton-large-noinfo-enlarge.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-nobutton-large-noinfo.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-nobutton-large.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-nobutton-small.png
  testing/testcafe/tests/dataGrid/etalons/pager-resize-small.png
  testing/tests/DevExpress.ui.widgets.dataGrid/materialTheme.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Test hypotheses
  js/ui/scheduler/resources/resourceManager.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Draw borders with custom colors on the second step
  js/exporter/jspdf/draw_pdf_table.js
  js/exporter/jspdf/pdf_grid.js
  js/exporter/jspdf/pdf_table.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.styles.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Initial empty form test
  testing/testcafe/tests/navigation/form/form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add empty form ethalon
  testing/testcafe/tests/navigation/form/etalons/Empty form.png
Due: none

Fix all-day title styles
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  scss/widgets/base/scheduler/_index.scss
  scss/widgets/generic/scheduler/_index.scss
  scss/widgets/material/scheduler/_index.scss
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Add "1 TextBox, colCount: 1" test
  testing/testcafe/tests/navigation/form/form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Diagram - fix edges exception (T1023679) (#18898)
  js/ui/diagram/ui.diagram.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Render empty cell only when necessary
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_vertical.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Remove spaces from etalon names
  testing/testcafe/tests/navigation/form/form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Organize tests into 'for'
  testing/testcafe/tests/navigation/form/form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxGantt: refresh api (https://trello.com/c/u3D4Y9Lk/403-refresh-method-for-dxgantt)
  js/ui/gantt.d.ts
  js/ui/gantt/ui.gantt.data.option.js
  js/ui/gantt/ui.gantt.js
  package-lock.json
  testing/tests/DevExpress.ui.widgets/gantt.tests.js
  testing/tests/DevExpress.ui.widgets/ganttParts/refresh.tests.js
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Tests for word wrap
  js/exporter/jspdf/pdf_utils.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.wordwrap.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Tests for word wrap
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.wordwrap.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

New tests for wordWrap false
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.wordwrap.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

More test scenarios
  testing/tests/DevExpress.exporter/jspdfParts/jspdf_v2.dataGrid.wordwrap.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Rename file
  testing/testcafe/tests/navigation/form/etalons/Empty.png
Due: none
