Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

add tests for numberBox
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

add tests
  js/animation/translator.js
  js/core/utils/deferred.d.ts
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.simulated.js
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/scrollbar_props.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Remove validation styles from dx.common.css (#16122)
  scss/bundles/dx.common.scss
  scss/widgets/base/_validation.scss
  scss/widgets/common/_validation.scss
  testing/tests/DevExpress.ui.widgets.editors/radioButton.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Remove tooltip from dx.common.css (#16139)
  scss/bundles/dx.common.scss
  scss/widgets/base/_tooltip.scss
  scss/widgets/generic/tooltip/_index.scss
  scss/widgets/material/tooltip/_index.scss
  testing/tests/DevExpress.ui.widgets/tooltip.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Small refactor
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_day.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Several small refactorings
  js/renovation/ui/scheduler/workspaces/__tests__/utils.test.tsx
  js/renovation/ui/scheduler/workspaces/base/header_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/header_panel/date_header/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/header_panel/date_header/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/header_panel/layout.tsx
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/tests/Renovation/compatibility.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Rename baseColSpan
  js/renovation/ui/scheduler/workspaces/base/header_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/header_panel/layout.tsx
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - display current time indicator at midnight correctly (#16090)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.currentTimeIndication.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix type
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix index files
  build/gulp/styles/bundle-template.generic.scss
  build/gulp/styles/bundle-template.material.scss
  scss/widgets/generic/_index.scss
  scss/widgets/material/_index.scss
Due: stylelint

remove unnessary transferred parts from scrollbar
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.simulated.js
  js/renovation/ui/scroll_view/_toDelete/ui.scrollbar.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix import
  testing/tests/DevExpress.ui.widgets.scheduler/integration.currentTimeIndication.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Remove
  js/ui/scheduler/ui.scheduler.header.js
  js/ui/scheduler/ui.scheduler.navigator.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix test for IE
  testing/tests/DevExpress.ui.widgets/fileManagerParts/remoteProvider.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

TagBox - resolve values request queue issues after search (T958611) (#16127)
  js/core/utils/array.js
  js/core/utils/array_compare.js
  js/ui/selection/selection.strategy.standard.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - replace spy with stubs in tests for scrollTo (#16098)
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - display current time indicator at midnight correctly (#16148)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.currentTimeIndication.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Revert "fix test message"
  dokers/Dockerfile
  dokers/Dockerfile.chrome
  tasks.txt
  testing/tests/DevExpress.ui.widgets/pager.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix test message
  testing/tests/DevExpress.ui.widgets/pager.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

rename test
  testing/tests/DevExpress.ui.widgets/list.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Presumably fix tests
  js/ui/file_manager/file_items_controller.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Remove validation styles from dx.common.css (#16122) (#16147)
  scss/bundles/dx.common.scss
  scss/widgets/base/_validation.scss
  scss/widgets/common/_validation.scss
  testing/tests/DevExpress.ui.widgets.editors/radioButton.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Remove tooltip from dx.common.css (#16139) (#16146)
  scss/bundles/dx.common.scss
  scss/widgets/base/_tooltip.scss
  scss/widgets/generic/tooltip/_index.scss
  scss/widgets/material/tooltip/_index.scss
  testing/tests/DevExpress.ui.widgets/tooltip.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Remove drodownmenu from dx.common.css (#16113) (#16114)
  scss/bundles/dx.common.scss
  scss/widgets/base/_dropDownMenu.scss
  scss/widgets/common/_dropDownMenu.scss
  scss/widgets/generic/dropDownMenu/_index.scss
  scss/widgets/material/dropDownMenu/_index.scss
Due: stylelint

Refactor _getCompleteDateHeaderMap
  js/ui/scheduler/workspaces/view_data_provider.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - move header.js and navigator.js and convert to es6 (#16145)
  js/ui/scheduler/header/header.js
  js/ui/scheduler/header/navigator.js
  js/ui/scheduler/ui.scheduler.js
  testing/tests/DevExpress.ui.widgets.scheduler/header.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/navigator.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/navigator.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - use theme constants (#16144)
  scss/widgets/base/scheduler/_index.scss
  scss/widgets/generic/scheduler/_colors.scss
  scss/widgets/generic/scheduler/_index.scss
  scss/widgets/material/scheduler/_colors.scss
  scss/widgets/material/scheduler/_index.scss
  testing/testcafe/tests/scheduler/layout/etalons/material-layout-with-resource(view=agenda-resource=false).png
  testing/testcafe/tests/scheduler/layout/etalons/material-layout-with-resource(view=agenda-resource=true).png
Due: stylelint

List - show toggle delete icon if showSelectionControls is true (T966717) (#16143)
  scss/widgets/generic/list/_index.scss
  testing/tests/DevExpress.ui.widgets/list.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

remove transferred parts
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.simulated.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Rename test to tests
  testing/tests/DevExpress.ui.widgets.scheduler/cache.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeZoneCalculator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/utils.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Remove files
  testing/tests/DevExpress.ui.widgets.scheduler/cache.test.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeZoneCalculator.test.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.test.js
  testing/tests/DevExpress.ui.widgets.scheduler/utils.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

add tests for Lookup & fix bugs
  js/ui/lookup.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Refactor types for Group Panel
  js/renovation/ui/scheduler/workspaces/base/group_panel/cell_props.ts
  js/renovation/ui/scheduler/workspaces/base/group_panel/horizontal/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/horizontal/row.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/row_props.ts
  js/renovation/ui/scheduler/workspaces/base/group_panel/vertical/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/vertical/row.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

TagBox - resolve values request queue issues after search (T958611)
  js/core/utils/array.js
  js/core/utils/array_compare.js
  js/ui/selection/selection.strategy.standard.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - display current time indicator at midnight correctly (#16149)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.currentTimeIndication.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
