Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

Themes: ship Roboto 3.015 (SIL OFL 1.1) as the material fallback font (#35396)
  NOTICE.txt
  packages/devextreme-scss/fonts/Roboto-300.ttf
  packages/devextreme-scss/fonts/Roboto-300.woff
  packages/devextreme-scss/fonts/Roboto-300.woff2
  packages/devextreme-scss/fonts/Roboto-400.ttf
  packages/devextreme-scss/fonts/Roboto-400.woff
  packages/devextreme-scss/fonts/Roboto-400.woff2
  packages/devextreme-scss/fonts/Roboto-500.ttf
  packages/devextreme-scss/fonts/Roboto-500.woff
  packages/devextreme-scss/fonts/Roboto-500.woff2
  packages/devextreme-scss/fonts/Roboto-700.ttf
  packages/devextreme-scss/fonts/Roboto-700.woff
  packages/devextreme-scss/fonts/Roboto-700.woff2
  packages/devextreme-scss/fonts/Roboto-OFL.txt
  packages/devextreme-scss/tests/font-tables.ts
  packages/devextreme-scss/tests/roboto-font.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Angular Demos - fix NG0100 in component and grid demos (#35375)
  apps/demos/Demos/Charts/TilingAlgorithms/Angular/app/app.component.html
  apps/demos/Demos/Charts/TilingAlgorithms/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/RemoteCRUDOperations/Angular/app/app.component.ts
  apps/demos/Demos/Diagram/ItemSelection/Angular/app/app.component.ts
  apps/demos/Demos/FilterBuilder/Customization/Angular/app/app.component.ts
  apps/demos/Demos/MultiView/Overview/Angular/app/app.component.html
  apps/demos/Demos/MultiView/Overview/Angular/app/app.component.ts
  apps/demos/Demos/SelectBox/SearchAndEditing/Angular/app/app.component.html
  apps/demos/Demos/SelectBox/SearchAndEditing/Angular/app/app.component.ts
  apps/demos/Demos/TreeView/ItemSelectionAndCustomization/Angular/app/app.component.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Charts: move the vector map parsers to TypeScript
  packages/devextreme/eslint.config.mjs
  packages/devextreme/js/__internal/viz/core/base_widget.ts
  packages/devextreme/js/viz/vector_map.utils/js-stream.ts
  packages/devextreme/js/viz/vector_map.utils/parser-dbf.ts
  packages/devextreme/js/viz/vector_map.utils/parser-shp.ts
  packages/devextreme/js/viz/vector_map.utils/parsing.ts
  packages/devextreme/js/viz/vector_map.utils/tsconfig.json
  packages/devextreme/package.json
  packages/devextreme/project.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Themes: embed the DevExtreme copyright, license and version into the icon fonts (#35405)
  packages/devextreme-scss/icons/dxicons.ttf
  packages/devextreme-scss/icons/dxicons.woff
  packages/devextreme-scss/icons/dxicons.woff2
  packages/devextreme-scss/icons/dxiconsfluent.ttf
  packages/devextreme-scss/icons/dxiconsfluent.woff
  packages/devextreme-scss/icons/dxiconsfluent.woff2
  packages/devextreme-scss/icons/dxiconsmaterial.ttf
  packages/devextreme-scss/icons/dxiconsmaterial.woff
  packages/devextreme-scss/icons/dxiconsmaterial.woff2
  packages/devextreme-scss/tests/icon-font-metadata.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore: fix alerts, update sbom overrides
  packages/sbom/pnpm-lock.yaml
  packages/sbom/pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Charts: rename the vector map parsers from .js to .ts
  packages/devextreme/js/viz/vector_map.utils/js-stream.ts
  packages/devextreme/js/viz/vector_map.utils/parser-dbf.ts
  packages/devextreme/js/viz/vector_map.utils/parser-shp.ts
  packages/devextreme/js/viz/vector_map.utils/parsing.ts
  packages/nx-infra-plugin/src/executors/vectormap/executor.e2e.spec.ts
  packages/nx-infra-plugin/src/executors/vectormap/schema.json
  packages/nx-infra-plugin/src/executors/vectormap/vectormap.impl.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix testcafe test
  e2e/testcafe-devextreme/tests/dataGrid/common/stateStoring/stateStoring.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme-scss/scss/widgets/base/gridBase/_index.scss
  packages/devextreme/js/__internal/grids/grid_core/columns_resizing_reordering/m_columns_resizing_reordering.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Grids - Columns controller: Extract the ignored column options rule from setUserState (#35385)
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Core: apply default options rules with a device array only on the listed devices (#35390)
  packages/devextreme/js/__internal/core/options/__tests__/utils.test.ts
  packages/devextreme/js/__internal/core/options/utils.ts
  packages/devextreme/testing/tests/DevExpress.core/component.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Core: apply default options rules with a device array only on the listed devices (26_1) (#35393)
  packages/devextreme/js/__internal/core/options/__tests__/utils.test.ts
  packages/devextreme/js/__internal/core/options/utils.ts
  packages/devextreme/testing/tests/DevExpress.core/component.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Infra: report the TypeScript version used by check-declarations and fail on an unresolved module
  packages/nx-infra-plugin/src/executors/check-declarations/check-declarations.impl.ts
  packages/nx-infra-plugin/src/executors/check-declarations/executor.e2e.spec.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore(deps): update typescript to 5.9.3
  apps/vue/package.json
  packages/devextreme-react/package.json
  packages/devextreme-themebuilder/package.json
  packages/devextreme-themebuilder/src/modules/pre-compiler.ts
  packages/devextreme-themebuilder/src/types/types.d.ts
  packages/devextreme-themebuilder/tests/modules/compiler-sass.test.ts
  packages/devextreme-vue/package.json
  packages/devextreme-vue/tsconfig.json
  packages/devextreme/js/__internal/core/localization/date.ts
  packages/devextreme/js/__internal/core/localization/intl/number.ts
  packages/devextreme/js/__internal/core/localization/ldml/date.format.ts
  packages/devextreme/js/__internal/core/r1/utils/get_template.ts
  packages/devextreme/js/__internal/core/r1/widget.tsx
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/extenders/virtual_scrolling_data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/utils.ts
  packages/devextreme/js/__internal/scheduler/r1/components/templates/public_template.tsx
  packages/devextreme/js/__internal/ui/diagram/ui.diagram.ts
  packages/devextreme/js/__internal/ui/tile_view.ts
  packages/devextreme/package.json
  packages/devextreme/tsconfig.json
  packages/nx-infra-plugin/package.json
  pnpm-lock.yaml
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - update text color styles for custom appointments
  apps/demos/Demos/Scheduler/ContextMenu/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/ContextMenu/React/styles.css
  apps/demos/Demos/Scheduler/ContextMenu/ReactJs/styles.css
  apps/demos/Demos/Scheduler/ContextMenu/Vue/App.vue
  apps/demos/Demos/Scheduler/ContextMenu/jQuery/styles.css
  apps/demos/Demos/Scheduler/GroupingByResources/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/GroupingByResources/React/styles.css
  apps/demos/Demos/Scheduler/GroupingByResources/ReactJs/styles.css
  apps/demos/Demos/Scheduler/GroupingByResources/Vue/App.vue
  apps/demos/Demos/Scheduler/GroupingByResources/jQuery/styles.css
  apps/demos/Demos/Scheduler/IndividualViewsCustomization/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/IndividualViewsCustomization/React/styles.css
  apps/demos/Demos/Scheduler/IndividualViewsCustomization/ReactJs/styles.css
  apps/demos/Demos/Scheduler/IndividualViewsCustomization/Vue/App.vue
  apps/demos/Demos/Scheduler/IndividualViewsCustomization/jQuery/styles.css
  apps/demos/Demos/Scheduler/ResolveTimeConflicts/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/ResolveTimeConflicts/React/styles.css
  apps/demos/Demos/Scheduler/ResolveTimeConflicts/ReactJs/styles.css
  apps/demos/Demos/Scheduler/ResolveTimeConflicts/Vue/App.vue
  apps/demos/Demos/Scheduler/ResolveTimeConflicts/jQuery/styles.css
  apps/demos/Demos/Scheduler/Resources/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/Resources/React/styles.css
  apps/demos/Demos/Scheduler/Resources/ReactJs/styles.css
  apps/demos/Demos/Scheduler/Resources/Vue/App.vue
  apps/demos/Demos/Scheduler/Resources/jQuery/styles.css
  apps/demos/Demos/Scheduler/Timelines/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/Timelines/React/styles.css
  apps/demos/Demos/Scheduler/Timelines/ReactJs/styles.css
  apps/demos/Demos/Scheduler/Timelines/Vue/App.vue
  apps/demos/Demos/Scheduler/Timelines/jQuery/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/VirtualScrolling/React/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/ReactJs/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/Vue/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/jQuery/styles.css
Due: stylelint

Grids: type columns controller utils
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: type columnsController controller state (#35387)
  packages/devextreme/js/__internal/grids/data_grid/export/m_export.ts
  packages/devextreme/js/__internal/grids/data_grid/keyboard_navigation/m_headers_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/data_grid/summary/extenders/summary_data_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/extenders/adaptivity_resizing_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_column/controllers/m_ai_column_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/m_column_headers.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/__tests__/columns_controller_utils.test.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.test.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/types.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/sticky_columns/m_sticky_columns.ts
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/tree_list/m_columns_controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Grids: type move and sort utils, cover them with Jest tests (#35400)
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/__tests__/columns_controller_utils.test.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/types.ts
  packages/devextreme/js/__internal/grids/new/grid_core/column_chooser/controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Angular Demos - Remove Eager to fix ng0100 (#35383)
  apps/demos/Demos/Charts/TilingAlgorithms/Angular/app/app.component.html
  apps/demos/Demos/Charts/TilingAlgorithms/Angular/app/app.component.ts
  apps/demos/Demos/DataGrid/RemoteCRUDOperations/Angular/app/app.component.ts
  apps/demos/Demos/Diagram/ItemSelection/Angular/app/app.component.ts
  apps/demos/Demos/FilterBuilder/Customization/Angular/app/app.component.ts
  apps/demos/Demos/MultiView/Overview/Angular/app/app.component.html
  apps/demos/Demos/MultiView/Overview/Angular/app/app.component.ts
  apps/demos/Demos/SelectBox/SearchAndEditing/Angular/app/app.component.html
  apps/demos/Demos/SelectBox/SearchAndEditing/Angular/app/app.component.ts
  apps/demos/Demos/TreeView/ItemSelectionAndCustomization/Angular/app/app.component.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Themes: ship Roboto 3.015 (SIL OFL 1.1) as the material fallback font (26_1) (#35404)
  NOTICE.txt
  packages/devextreme-scss/fonts/Roboto-300.ttf
  packages/devextreme-scss/fonts/Roboto-300.woff
  packages/devextreme-scss/fonts/Roboto-300.woff2
  packages/devextreme-scss/fonts/Roboto-400.ttf
  packages/devextreme-scss/fonts/Roboto-400.woff
  packages/devextreme-scss/fonts/Roboto-400.woff2
  packages/devextreme-scss/fonts/Roboto-500.ttf
  packages/devextreme-scss/fonts/Roboto-500.woff
  packages/devextreme-scss/fonts/Roboto-500.woff2
  packages/devextreme-scss/fonts/Roboto-700.ttf
  packages/devextreme-scss/fonts/Roboto-700.woff
  packages/devextreme-scss/fonts/Roboto-700.woff2
  packages/devextreme-scss/fonts/Roboto-OFL.txt
  packages/devextreme-scss/tests/font-tables.ts
  packages/devextreme-scss/tests/roboto-font.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore: fix alerts, update sbom overrides
  packages/sbom/pnpm-lock.yaml
  packages/sbom/pnpm-workspace.yaml
Due: none

update etalons
  apps/demos/testing/etalons/Scheduler-ContextMenu (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-GroupingByResources (fluent-next.blue.light).png
  apps/demos/testing/etalons/Scheduler-GroupingByResources (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-IndividualViewsCustomization (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-IndividualViewsCustomization (material.blue.light).png
  apps/demos/testing/etalons/Scheduler-Resources (fluent-next.blue.light).png
  apps/demos/testing/etalons/Scheduler-Resources (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-VirtualScrolling (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-VirtualScrolling (material.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_cell_click (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_click (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_header_click (fluent.blue.light).png
  apps/demos/testing/widgets/scheduler/etalons/scheduler_contextMenu_init (fluent.blue.light).png
Due: none

Grids: type columns controller utils with skill
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Create skill to type m_ prefixed files
  .claude/skills/typing-m-files/SKILL.md
  .claude/skills/typing-m-files/fixes.md
  .claude/skills/typing-m-files/grids.md
  .claude/skills/typing-m-files/rename.md
  .claude/skills/typing-m-files/scripts/strict-lint.mjs
  .claude/skills/typing-m-files/traps.md
Due: none

Grids - Columns controller: Extract the ignored column options rule from setUserState
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Revert fluent-next button group separators
  e2e/testcafe-devextreme/tests/editors/dropDownButton/etalons/DropDownButton render (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/editors/dropDownButton/etalons/DropDownButton render with fixed width (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/editors/dropDownButton/etalons/DropDownButton render, type=danger (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/editors/dropDownButton/etalons/DropDownButton render, type=default (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/editors/dropDownButton/etalons/DropDownButton render, type=success (fluent-next.blue.light).png
  e2e/testcafe-devextreme/tests/navigation/buttonGroup/etalons/ButtonGroup styling (fluent-next.blue.light).png
  packages/devextreme-scss/scss/widgets/fluent-next/buttonGroup/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent-next/buttonGroup/_index.scss
  packages/devextreme-scss/scss/widgets/fluent-next/buttonGroup/_public.scss
  packages/devextreme-scss/tests/public-surface.baseline.json
Due: stylelint

resolve suggestions
  apps/demos/Demos/Chat/CustomAIAssistant/React/AiAssistant.tsx
  apps/demos/Demos/Chat/CustomAIAssistant/React/App.tsx
  apps/demos/Demos/Chat/CustomAIAssistant/React/EmployeeForm.tsx
  apps/demos/Demos/Chat/CustomAIAssistant/React/TaskGrid.tsx
  apps/demos/Demos/Chat/CustomAIAssistant/React/ai-service.ts
  apps/demos/Demos/Chat/CustomAIAssistant/React/chat-router.ts
  apps/demos/Demos/Chat/CustomAIAssistant/React/data.ts
  apps/demos/Demos/Chat/CustomAIAssistant/React/form-commands.ts
  apps/demos/Demos/Chat/CustomAIAssistant/React/grid-commands.ts
  apps/demos/Demos/Chat/CustomAIAssistant/React/service.ts
  apps/demos/Demos/Chat/CustomAIAssistant/ReactJs/AiAssistant.js
  apps/demos/Demos/Chat/CustomAIAssistant/ReactJs/App.js
  apps/demos/Demos/Chat/CustomAIAssistant/ReactJs/EmployeeForm.js
  apps/demos/Demos/Chat/CustomAIAssistant/ReactJs/TaskGrid.js
  apps/demos/Demos/Chat/CustomAIAssistant/ReactJs/ai-service.js
  apps/demos/Demos/Chat/CustomAIAssistant/ReactJs/chat-router.js
  apps/demos/Demos/Chat/CustomAIAssistant/ReactJs/data.js
  apps/demos/Demos/Chat/CustomAIAssistant/ReactJs/form-commands.js
  apps/demos/Demos/Chat/CustomAIAssistant/ReactJs/grid-commands.js
  apps/demos/Demos/Chat/CustomAIAssistant/ReactJs/service.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix copilot comments
  .claude/skills/typing-m-files/SKILL.md
  .claude/skills/typing-m-files/fixes.md
Due: none

TreeList AI Columns demo: test the status colors
  apps/demos/testing/widgets/treelist/AIColumns.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

AI and Chatbot Integration demo: test the copy button
  apps/demos/testing/apiMocks/handlers/openai.ts
  apps/demos/testing/apiMocks/widgetsGalleryServiceMock.ts
  apps/demos/testing/widgets/chat/AIAndChatbotIntegration.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Message Streaming demo: test the hovered card shadow
  apps/demos/testing/widgets/chat/MessageStreaming.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent-next: fix base-theme regressions and the !default lint rule
  packages/devextreme-scss/scss/widgets/base/_htmlEditor.scss
  packages/devextreme-scss/scss/widgets/base/colorView/_index.scss
  packages/devextreme-scss/scss/widgets/base/gridBase/_index.scss
  packages/devextreme-scss/scss/widgets/base/pivotGrid/_index.scss
  packages/devextreme-scss/scss/widgets/base/scheduler/_index.scss
  packages/devextreme-scss/tests/accent-palette.test.ts
  packages/devextreme-scss/tests/base-size-markers.test.ts
  packages/devextreme-scss/tests/bridge-mirror.test.ts
  packages/devextreme-scss/tests/calc-budget.test.ts
  packages/devextreme-scss/tests/data-uri-mode-parity.test.ts
  packages/devextreme-scss/tests/data-uri-static-markers.test.ts
  packages/devextreme-scss/tests/disabled-paint.test.ts
  packages/devextreme-scss/tests/fallback-policy.test.ts
  packages/devextreme-scss/tests/fluent-next-naming.test.ts
  packages/devextreme-scss/tests/fluent-next-size-markers.test.ts
  packages/devextreme-scss/tests/module-variable-default.test.ts
  packages/devextreme-scss/tests/name-truth.test.ts
  packages/devextreme-scss/tests/public-renames.test.ts
  packages/devextreme-scss/tests/public-surface.test.ts
  packages/devextreme-scss/tests/roles.test.ts
  packages/devextreme-scss/tests/runtime-reads.test.ts
  packages/devextreme-scss/tests/stylelint-rule.ts
  packages/devextreme-scss/tests/theme-mode-scope.test.ts
  packages/devextreme-scss/tests/tier-publish.test.ts
  packages/devextreme-scss/tests/tier-values.test.ts
  packages/devextreme-scss/tests/unused-elements.test.ts
  packages/devextreme-scss/tests/viz-contract.test.ts
  packages/devextreme-scss/tools/sizes/lists/base-owned.json
  packages/devextreme-scss/tools/stylelint/module-variable-default.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Demo etalons for statuses, copy button and card shadow
  apps/demos/testing/widgets/chat/etalons/chat_ai_and_chatbot_integration_copy_button_is_hovered (fluent-next.blue.light).png
  apps/demos/testing/widgets/chat/etalons/chat_ai_and_chatbot_integration_copy_button_is_hovered (fluent.blue.light).png
  apps/demos/testing/widgets/chat/etalons/chat_ai_and_chatbot_integration_copy_button_is_hovered (material.blue.light).png
  apps/demos/testing/widgets/chat/etalons/chat_message_streaming_suggestion_card_is_hovered (fluent-next.blue.light).png
  apps/demos/testing/widgets/chat/etalons/chat_message_streaming_suggestion_card_is_hovered (fluent.blue.light).png
  apps/demos/testing/widgets/chat/etalons/chat_message_streaming_suggestion_card_is_hovered (material.blue.light).png
  apps/demos/testing/widgets/treelist/etalons/treelist_ai_columns_commission_status_desktop (fluent-next.blue.light).png
  apps/demos/testing/widgets/treelist/etalons/treelist_ai_columns_commission_status_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/treelist/etalons/treelist_ai_columns_commission_status_desktop (material.blue.light).png
  apps/demos/testing/widgets/treelist/etalons/treelist_ai_columns_salaried_status_desktop (fluent-next.blue.light).png
  apps/demos/testing/widgets/treelist/etalons/treelist_ai_columns_salaried_status_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/treelist/etalons/treelist_ai_columns_salaried_status_desktop (material.blue.light).png
  apps/demos/testing/widgets/treelist/etalons/treelist_ai_columns_terminated_status_desktop (fluent-next.blue.light).png
  apps/demos/testing/widgets/treelist/etalons/treelist_ai_columns_terminated_status_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/treelist/etalons/treelist_ai_columns_terminated_status_desktop (material.blue.light).png
Due: none

Themes: embed the DevExtreme copyright, license and version into the icon fonts (26_1) (#35406)
  packages/devextreme-scss/icons/dxicons.ttf
  packages/devextreme-scss/icons/dxicons.woff
  packages/devextreme-scss/icons/dxicons.woff2
  packages/devextreme-scss/icons/dxiconsfluent.ttf
  packages/devextreme-scss/icons/dxiconsfluent.woff
  packages/devextreme-scss/icons/dxiconsfluent.woff2
  packages/devextreme-scss/icons/dxiconsmaterial.ttf
  packages/devextreme-scss/icons/dxiconsmaterial.woff
  packages/devextreme-scss/icons/dxiconsmaterial.woff2
  packages/devextreme-scss/tests/icon-font-metadata.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Playground: remove old approaches, leave vite playground (#35332)
  packages/devextreme/README.md
  packages/devextreme/package.json
  packages/devextreme/playground/jquery.html
  packages/devextreme/playground/knockout.html
  packages/devextreme/playground/modular.html
  packages/devextreme/playground/modular/entry.js
  packages/devextreme/playground/modular/webpack.config.js
  packages/devextreme/playground/themeSelector.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore: fix override for webpack-dev-middleware
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

apply review comments
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/__tests__/user_state.integration.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet
