Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Add IE syntax fix
  js/ui/file_uploader.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix Scrollable type
  js/ui/data_grid.d.ts
  js/ui/tree_list.d.ts
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add Scrollable type export to grids
  js/ui/data_grid.d.ts
  js/ui/tree_list.d.ts
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Make fx constant public
  js/animation/fx.d.ts
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Remove duplicated Component delcaration
  js/core/component.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add exclude argument for internal-tools
  package.json
Due: none

Rename dxFilterBuilderCustomOperation and dxFilterBuilderField types
  js/ui/filter_builder.d.ts
  js/ui/filter_builder.js
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix EventObject type declaration (class changed to type)
  js/events/index.d.ts
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Update etalons
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/etalons/generic-view=timelineDay-crossScrolling=true-vertical-rtl.png
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/etalons/generic-view=timelineMonth-crossScrolling=false-vertical-rtl.png
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/etalons/generic-view=timelineMonth-crossScrolling=true-vertical-rtl.png
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/etalons/generic-view=timelineWeek-crossScrolling=true-vertical-rtl.png
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/etalons/generic-view=week-crossScrolling=true-horizontal-rtl.png
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/etalons/generic-view=week-crossScrolling=true-rtl.png
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/etalons/generic-view=week-crossScrolling=true-vertical-rtl.png
Due: none

remove skip for form's tests
  testing/testcafe/tests/navigation/form/form.labelMode.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Test jQuery
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptiveRTL.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

move hidden options back
  js/ui/popover.d.ts
  js/ui/popover/ui.popover.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

More fix active state
  scss/widgets/generic/textEditor/_index.scss
  scss/widgets/material/textEditor/_index.scss
Due: stylelint

Return test
  testing/testcafe/tests/navigation/form/form.labelMode.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add fixed date for calendar
  testing/testcafe/tests/navigation/form/form.labelMode.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

CheckBox: add multiplatform tests
  testing/renovation/platforms/angular/src/check_box/app.component.html
  testing/renovation/platforms/angular/src/check_box/app.component.ts
  testing/renovation/platforms/declaration/check_box.tsx
  testing/renovation/platforms/jquery/check_box.html
  testing/renovation/platforms/react/src/check_box.jsx
  testing/renovation/platforms/vue/src/check_box.vue
  testing/testcafe/tests/renovation/check_box.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

resolve merge conflicts
  js/ui/overlay/overlay_position_controller.js
  js/ui/overlay/ui.overlay.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Update etalons
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/etalons/generic-view=week-crossScrolling=true-horizontal-rtl.png
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/etalons/generic-view=week-crossScrolling=true-vertical-rtl.png
Due: none

update all.d.ts
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix tests
  testing/renovation/platforms/angular/src/check_box/app.component.html
  testing/renovation/platforms/angular/src/check_box/app.component.ts
  testing/renovation/platforms/react/src/check_box.jsx
  testing/testcafe/tests/renovation/check_box.ts
  testing/testcafe/tests/renovation/etalons/check_box_indeterminate.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

don't stop tests after first fail
  testing/testcafe/tests/renovation/check_box.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

More fix tests
  scss/widgets/generic/textEditor/_index.scss
  scss/widgets/material/textEditor/_index.scss
Due: stylelint

add missed etalons
  testing/testcafe/tests/renovation/etalons/check_box_checked.png
  testing/testcafe/tests/renovation/etalons/check_box_unchecked.png
Due: none

fix tests
  js/ui/overlay/overlay_position_controller.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

replace etalons
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=floating, shwSmclnAfterlbl=false.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=floating, shwSmclnAfterlbl=true.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=hidden, shwSmclnAfterlbl=false.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=hidden, shwSmclnAfterlbl=true.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=outside, shwSmclnAfterlbl=false.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=outside, shwSmclnAfterlbl=true.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=static, shwSmclnAfterlbl=false.png
  testing/testcafe/tests/navigation/form/etalons/show semicolon, frmLblMode=static, shwSmclnAfterlbl=true.png
Due: none

Update etalons
  scss/widgets/generic/textEditor/_index.scss
  scss/widgets/material/textEditor/_index.scss
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-generic-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-generic-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-generic-styleMode=underlined.png
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-material-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-material-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/floating-label-opened-lookup-material-styleMode=underlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=floating-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=floating-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=floating-styleMode=underlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=static-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=static-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-generic-labelMode=static-styleMode=underlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=floating-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=floating-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=floating-styleMode=underlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=static-styleMode=filled.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=static-styleMode=outlined.png
  testing/testcafe/tests/editors/etalons/label-lookup-material-labelMode=static-styleMode=underlined.png
Due: stylelint

scrollable: refactor tileview code to take into account perticularities specific for renovated widget (#20324) (#20327)
  js/renovation/ui/form/form.tsx
  js/renovation/ui/scroll_view/common/simulated_strategy_props.ts
  js/renovation/ui/scroll_view/scroll_view.tsx
  js/renovation/ui/scroll_view/scrollable.tsx
  js/renovation/ui/scroll_view/scrollbar/animated_scrollbar.tsx
  js/ui/tile_view.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollingByThumb.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add patched "screenshotComparerOptions"
  testing/testcafe/tests/renovation/scheduler/appointments/allDay/longAppointment.ts
  testing/testcafe/tests/renovation/scheduler/appointments/timelines.ts
  testing/testcafe/tests/renovation/scheduler/appointments/visible.ts
  testing/testcafe/tests/renovation/scheduler/header/header-material.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/generic/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptive.ts
  testing/testcafe/tests/renovation/scheduler/layout/adaptive/material/adaptiveRTL.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/cellSizes.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/groupPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/headerPanel.ts
  testing/testcafe/tests/renovation/scheduler/layout/customization/timePanel.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid: Fix virtual scrolling performance decrease after virtual scrolling using (T1047506)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Diagram - fix location for separator
  js/ui/diagram/diagram.commands_manager.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Update pages and ignore agenda view
  testing/renovation/platforms/react/dist/declaration/schedulerCellSizesCustomizationContainer.html
  testing/renovation/platforms/react/dist/declaration/schedulerGroupPanelCustomizationContainer.html
  testing/renovation/platforms/react/dist/declaration/schedulerHeaderPanelCustomizationContainer.html
  testing/renovation/platforms/react/dist/declaration/schedulerMaterial.html
  testing/renovation/platforms/react/dist/declaration/schedulerTimePanelCustomizationContainer.html
  testing/testcafe/tests/renovation/scheduler/layout/customization/timePanel.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Diagram - fix location for separator
  package-lock.json
Due: none

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
