Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
    "*.js": ["eslint"],
    "*.{css,less}": ["stylelint"]
}

Remove Knockout from the list of supported frameworks in README
  README.md
Due: none

Remove Knockout from the list of supported frameworks in README (#9050)
  README.md
Due: none

Remove Knockout from the list of supported frameworks in README (#9051)
  README.md
Due: none

DataGrid: Fix perf tests after T758955 (#9045)
  js/ui/grid_core/ui.grid_core.grid_view.js
Due: eslint

DataGrid: Fix perf tests after T758955 (#9046)
  js/ui/grid_core/ui.grid_core.grid_view.js
Due: eslint

Fix swipe of MultiView for an one item of data source (T748697) (#8809) (#8961)
  js/ui/multi_view.js
  testing/tests/DevExpress.ui.widgets/multiView.tests.js
Due: eslint

Fix min/max height calculation in pixels in TextArea (T802427)
  js/core/utils/size.js
  js/ui/text_area.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Due: eslint

Fix test with getComputedStyle of a pseudo element in the MS Edge
  testing/tests/DevExpress.ui.widgets.editors/actionButtons.test.js
Due: eslint

Fix test with getComputedStyle of a pseudo element in the MS Edge (#9054)
  testing/tests/DevExpress.ui.widgets.editors/actionButtons.test.js
Due: eslint

Fix test with getComputedStyle of a pseudo element in the MS Edge (#9053)
  testing/tests/DevExpress.ui.widgets.editors/actionButtons.test.js
Due: eslint

Add tests for the default button/menu template styles (T747772, T738205, T742980, T636219) (#8878)
  testing/helpers/checkStyleHelper.js
  testing/tests/DevExpress.ui.widgets/button.tests.js
  testing/tests/DevExpress.ui.widgets/menu.tests.js
Due: eslint

Split scrollable.tests.js into several files (T739041) (#8859)
  testing/tests/DevExpress.ui.widgets/scrollable.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.actions.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.constants.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.dynamic.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.keyboard.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.main.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.mouseWheel.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.rtl.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollbar.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.scrollingByThumb.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.useNative.tests.js
Due: eslint

Release 18.2.10
  js/ui/validation/default_adapter.js
  js/ui/validator.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validator.tests.js
Due: eslint

Remove prevent safari scrolling data on overlay dispose (#9047)
  js/ui/overlay/ui.overlay.js
Due: eslint

Fix firefox tests
  styles/widgets/common/textArea.less
Due: stylelint

DataGrid: Fix QUnit tests
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Due: eslint

Fix tests (part 2)
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
Due: eslint

Calculate DropDownList maxHeight according to the popup's container (T800233) (#9049)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Due: eslint

Fix min/max height calculation specified in pixels in TextArea (T802427) (#9052)
  js/core/utils/size.js
  js/ui/text_area.js
  styles/widgets/common/textArea.less
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Due: eslint, stylelint

Final fixes
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/popup.tests.js
Due: eslint

fix code
  js/ui/overlay/ui.overlay.js
Due: eslint

rename some functions and variables
  js/ui/overlay/ui.overlay.js
Due: eslint

small fix
  js/ui/popup.js
Due: eslint

refactoring
  js/ui/overlay/ui.overlay.js
Due: eslint

Update ui.overlay.js
  js/ui/overlay/ui.overlay.js
Due: eslint

Fix min/max height calculation specified in pixels in TextArea (T802427) (#9058)
  js/core/utils/size.js
  js/ui/text_area.js
  styles/widgets/common/textArea.less
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Due: eslint, stylelint

Add tests & move perfomance tests in separate file
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/perfomance.tests.js
Due: eslint

Form calls the screenByWidth function several times (T802599)
  js/core/utils/window.js
  js/ui/responsive_box.js
  testing/helpers/responsiveBoxScreenMock.js
  testing/tests/DevExpress.ui.widgets/responsiveBox.tests.js
Due: eslint

Fix tests
  js/ui/text_area.js
Due: eslint

Fix min/max height calculation specified in pixels in TextArea (T802427) (#9059)
  js/core/utils/size.js
  js/ui/text_area.js
  styles/widgets/common/textArea.less
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Due: eslint, stylelint

DataGrid: Fix QUnit tests (#9057)
  js/ui/grid_core/ui.grid_core.column_fixing.js
  testing/tests/DevExpress.performance/dataGridRecaclulations.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/fixedColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Due: eslint

Calculate DropDownList maxHeight according to the popup's container (T800233) (#9049) (#9062)
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Due: eslint
