Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

turn off chrome flags
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  apps/demos/Demos/Charts/Colorization/Vue/index.html
  apps/demos/testing/widgets/common/etalons/common_editor_appearance_variants_filled_floating_desktop (material.blue.light)_mask.png
  apps/demos/testing/widgets/common/etalons/common_editor_appearance_variants_filled_outside_desktop (material.blue.light)_mask.png
  apps/demos/testing/widgets/common/etalons/common_editor_appearance_variants_outlined_hidden_desktop (material.blue.light)_mask.png
Due: none

try force adding theme classes to demo
  apps/demos/Demos/Gallery/Overview/Vue/index.html
  apps/demos/Demos/MultiView/Overview/Vue/index.html
Due: none

update browser setting for material theme
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  apps/demos/testing/common.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
  apps/demos/utils/visual-tests/testcafe-runner.mjs
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

revert
  apps/demos/Demos/Gallery/Overview/Vue/index.html
  apps/demos/Demos/MultiView/Overview/Vue/index.html
Due: none

add import for initialize theme in vue & react demos
  packages/devextreme/js/renovation/ui/editors/check_box/check_box_icon.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update testcafe-runner
  apps/demos/utils/visual-tests/testcafe-runner.mjs
Due: none

revert change
  apps/demos/Demos/Charts/Colorization/Vue/index.html
Due: none

update
  apps/demos/testing/etalons/vector_map_viewport-changing (material.blue.light).png
  apps/demos/testing/widgets/accordion/etalons/accordion_overview_collapsed_electronics_disabled_collapsible (material.blue.light).png
  apps/demos/testing/widgets/charts/etalons/range_selector_slider_drag (material.blue.light).png
  apps/demos/testing/widgets/vectormap/etalons/vector_map_viewport-changing (material.blue.light).png
  apps/demos/testing/widgets/vectormap/etalons/vectormap_tooltip (material.blue.light).png
Due: none

reduce sensitivity
  apps/demos/testing/common.test.js
  e2e/testcafe-devextreme/tests/pivotGrid/etalons/headerFilter - before scroll (material-blue-light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor React
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
  apps/demos/Demos/Splitter/Overview/React/styles.css
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
  apps/demos/Demos/Splitter/Overview/ReactJs/styles.css
  apps/demos/Demos/Splitter/Overview/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

update Vue demo
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.css
  apps/demos/Demos/Splitter/Overview/Vue/App.vue
  apps/demos/Demos/Splitter/Overview/Vue/PaneContent.vue
  apps/demos/Demos/Splitter/Overview/jQuery/styles.css
Due: stylelint

try wait font
  apps/demos/testing/common.test.js
  apps/demos/testing/widgets/charts/etalons/charts_overview_tooltip (material.blue.light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix option manager guard is not working in strict mode
  packages/devextreme-react/src/core/options-manager.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add test for guard handlers in strict mode
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add guard handlers test for non strict mode
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add semicolon
  packages/devextreme-react/src/core/__tests__/props-updating.test.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix tests
  packages/devextreme/js/__internal/grids/grid_core/adaptivity/m_adaptivity.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/js/__internal/ui/collection/base.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/core/renderer.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Downgrade devextreme-angular to Angular 16 (#27303)
  apps/demos/package.json
  apps/demos/rollup.ng.umd.config.mjs
  package-lock.json
  package.json
  packages/devextreme-angular/gulpfile.js
  packages/devextreme-angular/karma.common.test.shim.js
  packages/devextreme-angular/package.json
  packages/devextreme-angular/src/core/component.ts
  packages/devextreme-angular/src/core/transfer-state.ts
  packages/devextreme-angular/tests/src/core/component-extension.spec.ts
  packages/devextreme-angular/tests/src/core/component.spec.ts
  packages/devextreme-angular/tests/src/core/nested-option.spec.ts
  packages/devextreme-angular/tests/src/core/template.spec.ts
  packages/devextreme-angular/tests/src/server/ssr-ajax.spec.ts
  packages/devextreme-angular/tests/src/server/ssr-is-platform-server.spec.ts
  packages/devextreme-angular/webpack.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Menu/ContextMenu: add Scrolling demo descriptions
  apps/demos/Demos/ContextMenu/Scrolling/description.md
  apps/demos/Demos/Menu/Scrolling/description.md
Due: none

apply on angular demo
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.html
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

apply on jquery demo
  apps/demos/Demos/Splitter/Overview/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

apply on react demo
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

apply on vue demo
  apps/demos/Demos/Splitter/Overview/Vue/App.vue
  apps/demos/Demos/Splitter/Overview/Vue/PaneContent.vue
Due: none

fix
  e2e/testcafe-devextreme/tests/dataGrid/rowDragging.ts
  packages/testcafe-models/dataGrid/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor vue demo
  apps/demos/Demos/Splitter/Overview/Vue/App.vue
  apps/demos/Demos/Splitter/Overview/Vue/PaneContent.vue
Due: none

Create rangeSlider.ts
  e2e/testcafe-devextreme/tests/accessibility/rangeSlider.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Reduce rangeSlider configurations
  e2e/testcafe-devextreme/tests/accessibility/rangeSlider.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix react demo doesnt render paneState properly
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update rangeSlider.ts
  e2e/testcafe-devextreme/tests/accessibility/rangeSlider.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add dxRangeSlider
  packages/testcafe-models/types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Create slider.ts
  e2e/testcafe-devextreme/tests/accessibility/slider.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Splitter: change focusable element (#27306)
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.css
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.html
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
  apps/demos/Demos/Splitter/Overview/React/styles.css
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
  apps/demos/Demos/Splitter/Overview/ReactJs/styles.css
  apps/demos/Demos/Splitter/Overview/Vue/App.vue
  apps/demos/Demos/Splitter/Overview/Vue/PaneContent.vue
  apps/demos/Demos/Splitter/Overview/jQuery/index.js
  apps/demos/Demos/Splitter/Overview/jQuery/styles.css
  apps/demos/testing/widgets/splitter/Overview.test.js
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Central_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Central_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Central_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Left_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Left_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Left_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Central_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Central_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Central_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Left_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Left_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Left_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Right_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Right_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Nested_Right_Pane.png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Right_Pane (fluent.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Right_Pane (material.blue.light).png
  apps/demos/testing/widgets/splitter/etalons/Splitter_Focused_Right_Pane.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Fix skipped visual demos tests (#27309)
  apps/demos/testing/widgets/datagrid/BatchUpdateRequest.test.js
  apps/demos/testing/widgets/datagrid/CellEditingAndEditingAPI.test.js
  apps/demos/testing/widgets/datagrid/EditStateManagement.test.js
  apps/demos/testing/widgets/datagrid/MultipleRecordSelectionAPI.test.js
  apps/demos/testing/widgets/datagrid/RowEditingAndEditingEvents.test.js
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_1_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_1_desktop (material.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_2_desktop (fluent.blue.light).png
  apps/demos/testing/widgets/datagrid/etalons/datagrid_batch_update_request_2_desktop (material.blue.light).png
  apps/demos/testing/widgets/list/ItemDragging.test.js
  apps/demos/utils/visual-tests/matrix-test-helper.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update slider.ts
  e2e/testcafe-devextreme/tests/accessibility/slider.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix store merging nested object fields
  packages/devextreme/js/__internal/grids/grid_core/columns_controller/m_columns_controller_utils.ts
  packages/devextreme/js/core/utils/object.js
  packages/devextreme/js/data/array_store.js
  packages/devextreme/js/data/array_utils.js
  packages/devextreme/testing/tests/DevExpress.data/storeArray.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet
