Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"]
}

Fluent: change background color for outlined editors
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_index.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_sizes.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Due: stylelint

Update _mixins.scss
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
Due: stylelint

Calendar: range should not be rendered on non month views (T1186223) (#25614)
  packages/devextreme/js/ui/calendar/ui.calendar.base_view.js
  packages/devextreme/testing/testcafe/tests/editors/calendar/common.ts
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=century) (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=century) (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=decade) (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=decade) (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=year) (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=year) (material-blue-light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

blue dot
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Due: stylelint

container
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Due: stylelint

tooltip
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Due: stylelint

add test
  packages/devextreme/testing/testcafe/tests/dataGrid/export/export.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

rename playground packages
  playgrounds/angular/package.json
  playgrounds/react/package.json
  playgrounds/vue/package.json
Due: none

add own tsconfig
  playgrounds/react/tsconfig.json
  playgrounds/react/webpack.config.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

move devextreme to normal deps
  playgrounds/angular/package.json
  playgrounds/react/package.json
  playgrounds/vue/package.json
Due: none

update packages
  playgrounds/react/package.json
Due: none

fix drawer
  playgrounds/react/drawer-example.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

add empty build task
  playgrounds/angular/package.json
  playgrounds/react/package.json
  playgrounds/vue/package.json
Due: none

pin deps
  playgrounds/angular/package.json
  playgrounds/react/package.json
  playgrounds/vue/package.json
Due: none

disable some examples
  playgrounds/react/app.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

update package lock
  package-lock.json
Due: none

fix eof
  playgrounds/react/tsconfig.json
Due: none

manual cherry-pick
  js/ui/calendar/ui.calendar.base_view.js
  testing/testcafe/tests/editors/calendar/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

add etanol
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=century) (generic-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=century) (material-blue-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=decade) (generic-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=decade) (material-blue-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=year) (generic-light).png
  testing/testcafe/tests/editors/calendar/etalons/Calendar with range selection (maxZoomLevel=year) (material-blue-light).png
Due: none

decrease top margin
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
Due: stylelint

Grid summary - column width fix (#2856)
  Demos/DataGrid/CustomSummaries/Angular/app/app.component.html
  Demos/DataGrid/CustomSummaries/AngularJS/index.js
  Demos/DataGrid/CustomSummaries/React/App.js
  Demos/DataGrid/CustomSummaries/Vue/App.vue
  Demos/DataGrid/CustomSummaries/jQuery/index.js
  Demos/DataGrid/GridSummaries/Angular/app/app.component.html
  Demos/DataGrid/GridSummaries/AngularJS/index.js
  Demos/DataGrid/GridSummaries/React/App.js
  Demos/DataGrid/GridSummaries/Vue/App.vue
  Demos/DataGrid/GridSummaries/jQuery/index.js
  Demos/DataGrid/GroupSummaries/Angular/app/app.component.html
  Demos/DataGrid/GroupSummaries/AngularJS/index.js
  Demos/DataGrid/GroupSummaries/React/App.js
  Demos/DataGrid/GroupSummaries/Vue/App.vue
  Demos/DataGrid/GroupSummaries/jQuery/index.js
  Demos/DataGrid/RecalculateWhileEditing/Angular/app/app.component.html
  Demos/DataGrid/RecalculateWhileEditing/AngularJS/index.js
  Demos/DataGrid/RecalculateWhileEditing/React/App.js
  Demos/DataGrid/RecalculateWhileEditing/Vue/App.vue
  Demos/DataGrid/RecalculateWhileEditing/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

try
  .github/workflows/qunit_tests-renovation.yml
Due: none

🎨 Fluent: Redesign group panel header cells and make icons 20x20 (#25641)
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/dataGrid/_index.scss
  packages/devextreme/scss/widgets/fluent/dataGrid/_sizes.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_sizes.scss
  packages/devextreme/scss/widgets/generic/gridBase/_colors.scss
  packages/devextreme/scss/widgets/material/gridBase/_colors.scss
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/column-separator-with-expand-columns.png
Due: stylelint

change to debug
  .github/workflows/qunit_tests-renovation.yml
Due: none

Review fixes - part4
  packages/devextreme/js/__internal/core/license/license_validation.test.ts
  packages/devextreme/js/__internal/core/license/license_validation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dashed minor interval
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
Due: stylelint

rework for other ddeditors
  packages/devextreme/js/ui/color_box/color_box.js
  packages/devextreme/js/ui/date_box/ui.date_box.strategy.calendar_with_time.js
  packages/devextreme/js/ui/date_box/ui.date_box.strategy.list.js
  packages/devextreme/js/ui/date_range_box/strategy/rangeCalendar.js
  packages/devextreme/js/ui/date_range_box/ui.multiselect_date_box.js
  packages/devextreme/js/ui/drop_down_editor/ui.drop_down_editor.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

border radius
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Due: stylelint

skip
  testing/testcafe/tests/scheduler/appointmentForm/showAppointmentPopup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

add comment
  testing/testcafe/tests/scheduler/appointmentForm/showAppointmentPopup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

appointment height
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Scheduler - The E1035 - The editor cannot be created error appears on an attempt to edit a recurring appointment (T1188098) (#25629)
  js/__internal/scheduler/appointment_popup/m_form.ts
  testing/testcafe/tests/scheduler/appointmentForm/showAppointmentPopup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Tabs: Update scrollable after runtime change
  packages/devextreme/js/ui/tabs.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tabs.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Bugfix: FileUploader's input should get the 'title' attribute with a correct value for hint working in FireFox (T1187412)
  packages/devextreme/js/ui/file_uploader.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/fileUploader.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Do not ignore scss bundles when packing devextreme package (#25634)
  packages/devextreme/build/gulp/npm.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fluent: change background color for outlined editors (#25654)
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_index.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_sizes.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Due: stylelint

Fluent: List redesign
  packages/devextreme/js/ui/date_range_box/ui.date_range_box.js
  packages/devextreme/js/ui/list/ui.list.edit.decorator.switchable.button.js
  packages/devextreme/js/ui/text_box/ui.text_editor.base.js
  packages/devextreme/scss/widgets/base/_badge.scss
  packages/devextreme/scss/widgets/base/list/_index.scss
  packages/devextreme/scss/widgets/fluent/_colors.scss
  packages/devextreme/scss/widgets/fluent/badge/_colors.scss
  packages/devextreme/scss/widgets/fluent/badge/_index.scss
  packages/devextreme/scss/widgets/fluent/badge/_sizes.scss
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/calendar/_colors.scss
  packages/devextreme/scss/widgets/fluent/checkBox/_index.scss
  packages/devextreme/scss/widgets/fluent/contextMenu/_index.scss
  packages/devextreme/scss/widgets/fluent/list/_colors.scss
  packages/devextreme/scss/widgets/fluent/list/_index.scss
  packages/devextreme/scss/widgets/fluent/list/_sizes.scss
  packages/devextreme/scss/widgets/fluent/lookup/_index.scss
  packages/devextreme/scss/widgets/fluent/lookup/_sizes.scss
  packages/devextreme/scss/widgets/fluent/numberBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/overlay/_colors.scss
  packages/devextreme/scss/widgets/fluent/selectBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/tagBox/_colors.scss
  packages/devextreme/scss/widgets/fluent/textBox/_index.scss
  packages/devextreme/scss/widgets/generic/badge/_index.scss
  packages/devextreme/scss/widgets/generic/list/_index.scss
  packages/devextreme/scss/widgets/material/badge/_index.scss
  packages/devextreme/scss/widgets/material/list/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

refactor(tabs): Rename method to _updateNavButtonsStates && Refactor
  packages/devextreme/js/ui/tabs.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

refactor
  packages/devextreme/js/ui/tabs.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js
