Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

apply sergei's review
  packages/devextreme/js/__internal/scheduler/__tests__/appointment_tooltip.test.ts
  packages/devextreme/js/__internal/scheduler/__tests__/appointments.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Security: update Picomatch (#33113)
  package.json
  pnpm-lock.yaml
Due: none

fix async rule ts error (#33051)
  apps/demos/Demos/Form/Validation/Angular/app/app.component.html
  apps/demos/Demos/Form/Validation/Angular/app/app.component.ts
  apps/demos/Demos/Validation/Overview/Angular/app/app.component.html
  apps/demos/Demos/Validation/Overview/Angular/app/app.component.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: update forge
  package.json
  pnpm-lock.yaml
Due: none

Security: update path-to-regexp (#33112)
  package.json
  pnpm-lock.yaml
Due: none

fix typo
  packages/devextreme/license/messages.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix small issues
  packages/devextreme/license/devextreme-license.js
  packages/devextreme/license/dx-lcx-2-lcp.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

type fix
  packages/devextreme/license/messages.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

minor fixes
  packages/devextreme/license/devextreme-license.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: change logic of auto mode
  packages/devextreme/js/__internal/scheduler/view_model/generate_view_model/steps/snap_to_cells.test.ts
  packages/devextreme/js/__internal/scheduler/view_model/generate_view_model/steps/snap_to_cells.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: add AIChat class with Popup and Chat integration
  packages/devextreme/js/__internal/grids/grid_core/ai_chat/ai_chat.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_chat/const.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_chat/types.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: add AIAssistantView and AIAssistantViewController with grid registration
  packages/devextreme/js/__internal/grids/data_grid/m_widget.ts
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/data_grid/module_not_extended/ai_assistant.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/m_ai_assistant_view.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/m_ai_assistant_view_controller.ts
  packages/devextreme/js/__internal/grids/grid_core/m_types.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_grid_view.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget.ts
  packages/devextreme/js/__internal/grids/tree_list/m_widget_base.ts
  packages/devextreme/js/__internal/grids/tree_list/module_not_extended/ai_assistant.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

test: add unit tests for AIChat, AIAssistantView, and AIAssistantViewController
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/m_ai_assistant_view.test.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/m_ai_assistant_view_controller.test.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_chat/ai_chat.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix deleteAppointments.ts
  e2e/testcafe-devextreme/tests/scheduler/common/deleteAppointments.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/popup.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/scheduler.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/tooltip.ts
  packages/devextreme/js/__internal/scheduler/__tests__/appointment_tooltip.test.ts
  packages/devextreme/js/__internal/scheduler/__tests__/appointments.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Chat: WIP Add mainButtonOptions option support
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/message_box/chat_text_area.ts
  packages/devextreme/js/__internal/ui/chat/message_box/message_box.ts
  packages/devextreme/js/ui/chat.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Add side-effect imports for UI components removed with legacy form
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Rewrite deleteAppointments.ts testcafe tests to jest (#33105)
  e2e/testcafe-devextreme/tests/scheduler/common/deleteAppointments.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/popup.ts
  packages/devextreme/js/__internal/scheduler/__tests__/appointment_tooltip.test.ts
  packages/devextreme/js/__internal/scheduler/__tests__/appointments.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Rewrite deleteAppointments.ts testcafe tests to jest (#33106)
  e2e/testcafe-devextreme/tests/scheduler/common/deleteAppointments.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/popup.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/scheduler.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/tooltip.ts
  packages/devextreme/js/__internal/scheduler/__tests__/appointment_tooltip.test.ts
  packages/devextreme/js/__internal/scheduler/__tests__/appointments.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Rewrite deleteAppointments.ts testcafe tests to jest (#33120)
  e2e/testcafe-devextreme/tests/scheduler/common/deleteAppointments.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/popup.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/scheduler.ts
  packages/devextreme/js/__internal/scheduler/__tests__/__mock__/model/tooltip.ts
  packages/devextreme/js/__internal/scheduler/__tests__/appointment_tooltip.test.ts
  packages/devextreme/js/__internal/scheduler/__tests__/appointments.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Remove legacy popup references from QUnit helpers, tests, and SCSS
  packages/devextreme-scss/scss/widgets/base/scheduler/_common.scss
  packages/devextreme-scss/scss/widgets/base/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/generic/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/material/scheduler/_index.scss
  packages/devextreme/testing/helpers/scheduler/helpers.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.editing.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Scheduler - Remove unused SCSS variables from deleted legacy popup styles
  packages/devextreme-scss/scss/widgets/base/scheduler/_common.scss
  packages/devextreme-scss/scss/widgets/base/scheduler/_index.scss
  packages/devextreme-scss/scss/widgets/fluent/scheduler/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/scheduler/_colors.scss
  packages/devextreme-scss/scss/widgets/material/scheduler/_colors.scss
Due: stylelint

Fix themebuilder tests
  packages/devextreme-themebuilder/tests/data/dependencies.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Update QUnit tests to use new form editor names
  packages/devextreme/testing/helpers/scheduler/helpers.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/timezones.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix copilot comments
  packages/devextreme/js/__internal/grids/data_grid/m_widget_base.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/m_ai_assistant_view.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_chat/const.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Adapt QUnit tests to new popup layout and form editor names
  packages/devextreme/testing/helpers/scheduler/helpers.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.editing.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.adaptivity.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Remove QUnit tests that depended on legacy popup behavior
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointment.monthView.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.adaptivity.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: add aiAssistant visibility to AIAssistantView
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/m_ai_assistant_view.test.ts
  packages/devextreme/js/__internal/grids/grid_core/ai_assistant/m_ai_assistant_view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DisableExternalEditor: anti forgery (15) + legacy globalize(1) = (16)
  apps/demos/menuMeta.json
Due: none

Scheduler - Fix dead legacy form references in m_scheduler.ts
  packages/devextreme/js/__internal/scheduler/m_scheduler.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler - Add ESLint naming-convention rule to forbid underscore-prefixed members
  packages/devextreme/eslint.config.mjs
Due: none

Scheduler - Add legacy members to naming-convention allowlist
  packages/devextreme/eslint.config.mjs
Due: none

Security: update Forge (#33117)
  package.json
  pnpm-lock.yaml
Due: none

Update etalons
  apps/demos/testing/etalons/Scheduler-ResolveTimeConflicts (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-ResolveTimeConflicts (material.blue.light).png
Due: none

Apply suggestions from code review
  apps/demos/Demos/Scheduler/ResolveTimeConflicts/description.md
Due: none

Update apps/demos/Demos/Scheduler/ResolveTimeConflicts/description.md
  apps/demos/Demos/Scheduler/ResolveTimeConflicts/description.md
Due: none

update
  apps/demos/package.json
  package.json
  packages/nx-infra-plugin/package.json
  pnpm-lock.yaml
Due: none

PivotGrid: Add Jest globals import to utils.test.ts
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/utils.test.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: fix bug
  apps/demos/package.json
  package.json
  packages/nx-infra-plugin/package.json
  pnpm-lock.yaml
Due: none
