Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Moves grouping tests from dataGrid.tests.js to grouping.integration.tests.js (#15147)
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/grouping.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Moves grouping tests from dataGrid.tests.js to grouping.integration.tests.js (#15148)
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/grouping.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Moves grouping tests from dataGrid.tests.js to grouping.integration.tests.js (#15149)
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/grouping.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Small fix
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

refactoring
  js/ui/date_box/ui.date_box.base.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Splits tests
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add test
  testing/tests/DevExpress.ui.widgets.scheduler/dragAndDropAppointments.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid: Fix data in validationCallback was empty after cancelEditData (#15112)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Cherry-pick
  js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix box-shadow
  scss/widgets/base/scheduler/_index.scss
Due: stylelint

Small fix
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Restores the T235091 test
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Removes redundant test for T235091
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix current time indicator & shader rendering on timeline (T923329) (#15132)
  js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Try to fix infinity state loading in React demo (T945988)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser.js
  js/ui/pivot_grid/ui.pivot_grid.field_chooser_base.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fixes tests
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix current time indicator & shader rendering on timeline (T923329) (#15153)
  js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.indicator.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  testing/tests/DevExpress.ui.widgets.scheduler/currentTimeIndicator.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix Scheduler Timezones demo in IE (#350)
  Demos/Scheduler/TimeZonesSupport/AngularJS/index.js
  Demos/Scheduler/TimeZonesSupport/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Refactor _createDragAppointment
  js/ui/scheduler/compactAppointmentsHelper.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Removes load panel test with export
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxGantt: Update version to 2.0.4
  package.json
Due: none

dateBox - show value with invalid hours with internal validation result (T939117) (#15133)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxGantt: Update version to 2.0.4 (#15158)
  package.json
Due: none

Get rid of common code
  js/ui/scheduler/compactAppointmentsHelper.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

T940550
  package.json
Due: none

T940550 (#15161)
  package.json
Due: none

Bug fixed: A connector between shapes located inside different containers is built incorrectly
  package.json
Due: none

DataGrid: Fix validation callback was not called if keys are composite (T946816)
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix tests
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxDiagram - Fixed built a connector between shapes located inside different containers (#15162)
  package.json
Due: none

DataGrid: Fix edit buttons were disabled after editing start in batch
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Tests for fix
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dateBox - show value with invalid hours with internal validation result (T939117) (#15133) (#15159)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dateBox - show value with invalid hours with internal validation result (T939117) (#15133) (#15160)
  js/ui/date_box/ui.date_box.base.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

change the implemented solution to a more universal one without using specific browser versions
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.native.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
