Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"]
}

Add check for package_lock
  .github/workflows/lint.yml
Due: none

Revert "fix package-lock check"
  .github/workflows/lint.yml
Due: none

Revert "add check for package-lock"
  .github/workflows/lint.yml
Due: none

update package-lock to fix test
  package-lock.json
Due: none

fix screen name
  testing/testcafe/tests/navigation/scrollable/scrollable.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

CheckBox: extract CheckBoxIcon component
  js/renovation/ui/editors/__tests__/check_box.test.tsx
  js/renovation/ui/editors/check_box/__tests__/check_box.test.tsx
  js/renovation/ui/editors/check_box/__tests__/check_box_icon.test.tsx
  js/renovation/ui/editors/check_box/__tests__/utils.test.tsx
  js/renovation/ui/editors/check_box/check_box.tsx
  js/renovation/ui/editors/check_box/check_box_icon.tsx
  js/renovation/ui/editors/check_box/utils.ts
  js/ui/themes.d.ts
  js/ui/themes.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix name aliasing
  js/renovation/ui/editors/check_box/check_box_icon.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

update path in renovation/component
  js/renovation/components.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

getElementComputedStyle can return null
  js/renovation/ui/editors/check_box/__tests__/check_box_icon.test.tsx
  js/renovation/ui/editors/check_box/check_box_icon.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add check for package_lock (#18843)
  .github/workflows/lint.yml
Due: none

computedIconSize should be method, not getter (for SSR)
  js/renovation/ui/editors/check_box/__tests__/check_box_icon.test.tsx
  js/renovation/ui/editors/check_box/check_box_icon.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

update package-lock
  package-lock.json
Due: none

Fix DataGrid Tollbar Customization demo after material upgrade (#1165)
  Demos/DataGrid/ToolbarCustomization/Angular/app/app.component.css
  Demos/DataGrid/ToolbarCustomization/AngularJS/styles.css
  Demos/DataGrid/ToolbarCustomization/Knockout/styles.css
  Demos/DataGrid/ToolbarCustomization/React/styles.css
  Demos/DataGrid/ToolbarCustomization/Vue/App.vue
  Demos/DataGrid/ToolbarCustomization/jQuery/styles.css
Due: stylelint

dxScheduler - Embed Toolbar into Scheduler (#18817)
  js/renovation/ui/scheduler/__tests__/scheduler.test.tsx
  js/renovation/ui/scheduler/header/__tests__/header.test.tsx
  js/renovation/ui/scheduler/header/header.tsx
  js/renovation/ui/scheduler/header/utils.ts
  js/renovation/ui/scheduler/scheduler.tsx
  js/renovation/ui/scheduler/workspaces/types.d.ts
  js/ui/scheduler/workspaces/view_model/utils.js
  js/ui/scheduler/workspaces/view_model/view_data_generator.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Lock file maintenance
  package-lock.json
Due: none

Lock file maintenance
  package-lock.json
  testing/bundlers/package-lock.json
  themebuilder-scss/package-lock.json
Due: none

simple cases without generics
  js/renovation/ui/grids/data_grid/common/data_grid_props.tsx
  js/renovation/ui/grids/data_grid/data_grid.tsx
  js/ui/data_grid.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

TRowData, TKeyExpr, TKey, TColumns
  js/ui/data_grid.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

templates
  js/ui/data_grid.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

column inference
  js/ui/data_grid.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fixes test
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxGantt: fix position calculation in month view type (T1021934) (#18829)
  package-lock.json
  package.json
Due: none

Add tests
  js/ui/scheduler/appointments/DataProvider/appointmentFilter.js
  testing/testcafe/tests/scheduler/layout/appointments/allDay/longAppointment.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Form - Move "layoutManager._renderFieldItem" to "form.utils.js" (#18643) (#18841)
  js/ui/form/components/button_item.js
  js/ui/form/components/empty_item.js
  js/ui/form/components/field_item.js
  js/ui/form/components/label.js
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  js/ui/form/ui.form.utils.js
  testing/tests/DevExpress.ui.widgets.form/form.API.update_items_dynamically.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix multiline toolbar after material upgrade
  scss/widgets/material/toolbar/_index.scss
Due: stylelint

Form - Move "layoutManager._renderFieldItem" to "form.utils.js" (#18643) (#18842)
  js/ui/form/components/button_item.js
  js/ui/form/components/empty_item.js
  js/ui/form/components/field_item.js
  js/ui/form/components/label.js
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  js/ui/form/ui.form.utils.js
  testing/tests/DevExpress.ui.widgets.form/form.API.update_items_dynamically.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

skip useNative: false for tests with scale
  testing/testcafe/tests/navigation/scrollable/etalons/scrollToElement(),transform=scale(1.5),useNative=false-direction=both-scrollFromTopRightCorner.png
  testing/testcafe/tests/navigation/scrollable/scrollable.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

datagrid - repairs test for sync columnWidth(jquery 2) (#18848)
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

datagrid - repairs test for sync columnWidth(jquery 2) #18848
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix tests after upgrade to a new chrome
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Refactoring tests
  testing/testcafe/tests/scheduler/layout/appointments/allDay/longAppointment.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Use exact tools vesion
  package.json
Due: none

fix jest code coverage
  js/renovation/ui/common/__tests__/widget.test.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Renovation: add the ability to set elementAttr.style value as a string
  js/renovation/component_wrapper/common/__tests__/component.test.tsx
  js/renovation/component_wrapper/common/component.ts
  js/renovation/ui/common/__tests__/widget.test.tsx
  js/renovation/ui/common/widget.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js
