Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"]
}

Update dependency ws to 7.4.6 [SECURITY]
  themebuilder-scss/package-lock.json
Due: none

Update tr.json
  js/localization/messages/tr.json
Due: none

Scheduler - Replace visual test etalons
  testing/testcafe/tests/scheduler/layout/views/day/allDay.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Use cache for build-npm-devextreme
  .github/actions/build_npm_devextreme.yml
  .github/workflows/angular_tests.yml
  .github/workflows/bundlers_tests.yml
  .github/workflows/demos_tests.yml
Due: none

fix firefox issue
  .github/workflows/qunit_tests-additional-renovation.yml
  docker-ci.sh
Due: none

Cache build-npm-devextreme
  .github/actions/build_demos.yml
  .github/actions/test_angular.yml
  .github/actions/test_bundlers.yml
  .github/actions/test_demos.yml
  .github/workflows/demos_tests.yml
  .github/workflows/devextreme_npm_tests.yml
Due: none

Diagram: Update package-lock file (#18621)
  package-lock.json
Due: none

fix actions
  .github/workflows/devextreme_npm_tests.yml
Due: none

fix actions
  .github/actions/build_demos/action.yml
  .github/actions/build_npm_devextreme/action.yml
  .github/actions/test_angular/action.yml
  .github/actions/test_bundlers/action.yml
  .github/actions/test_demos/action.yml
  .github/workflows/devextreme_npm_tests.yml
Due: none

fix actions 3
  .github/actions/build_npm_devextreme/action.yml
  .github/actions/test_bundlers.yml
  .github/actions/test_demos/action.yml
  .github/workflows/devextreme_npm_tests.yml
Due: none

Lock file maintenance
  package-lock.json
  testing/bundlers/package-lock.json
  themebuilder-scss/package-lock.json
Due: none

RadioGroup - Add valueExpr and displayExpr (#1123)
  Demos/RadioGroup/Overview/Angular/app/app.component.html
  Demos/RadioGroup/Overview/Angular/app/app.component.ts
  Demos/RadioGroup/Overview/Angular/app/app.service.ts
  Demos/RadioGroup/Overview/AngularJS/data.js
  Demos/RadioGroup/Overview/AngularJS/index.js
  Demos/RadioGroup/Overview/Knockout/data.js
  Demos/RadioGroup/Overview/Knockout/index.js
  Demos/RadioGroup/Overview/React/App.js
  Demos/RadioGroup/Overview/React/data.js
  Demos/RadioGroup/Overview/Vue/App.vue
  Demos/RadioGroup/Overview/Vue/data.js
  Demos/RadioGroup/Overview/jQuery/data.js
  Demos/RadioGroup/Overview/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Diagram - fix for Container, imageExpr and enum for doc (T1018941, T1018909, T1019166) (#18612)
  js/docEnums.js
  js/ui/diagram.d.ts
  package.json
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

change directory for profile
  .github/workflows/qunit_tests-additional-renovation.yml
  docker-ci.sh
Due: none

.
  .github/workflows/qunit_tests-additional-renovation.yml
Due: none

test run firefox
  .github/workflows/qunit_tests-additional-renovation.yml
Due: none

log pref.js
  .github/workflows/qunit_tests-additional-renovation.yml
Due: none

restore all firefox
  .github/workflows/qunit_tests-additional-renovation.yml
Due: none

Inline _appendEditorToField
  js/ui/form/ui.form.layout_manager.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

not install xvfb
  .github/workflows/qunit_tests-additional-renovation.yml
Due: none

Move _getLabelWidthByText to layoutManager
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Change _getRenderLabelOptions to _getLabelMarkOptions
  js/ui/form/ui.form.layout_manager.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Run without profile
  docker-ci.sh
Due: none

Move 'markOptions' from _renderLabel to _getLabelOptions
  js/ui/form/ui.form.layout_manager.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Group 'rendering' code in _renderFieldItem
  js/ui/form/ui.form.layout_manager.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Cherry pick
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/testcafe/tests/scheduler/dragAndDrop/T1017720.ts
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-to-left(T1017720).png
  testing/testcafe/tests/scheduler/dragAndDrop/etalons/drag-n-drop-to-right(T1017720).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix scheduler tests
  testing/tests/DevExpress.ui.widgets.dataGrid/columnResizing.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

tmp new size
  scss/widgets/material/accordion/_sizes.scss
Due: stylelint

Fix compact theme padding
  scss/widgets/material/button/_mixins.scss
  scss/widgets/material/button/_sizes.scss
Due: stylelint

use one workflow
  .github/actions/build_demos/action.yml
  .github/actions/build_npm_devextreme/action.yml
  .github/actions/test_angular/action.yml
  .github/actions/test_bundlers.yml
  .github/actions/test_demos/action.yml
  .github/workflows/devextreme_npm_tests.yml
Due: none

fix npm i for devextreme-demos
  .github/workflows/devextreme_npm_tests.yml
Due: none

update renovate config
  renovate.json
Due: none

add the 21_2 label
  renovate.json
Due: none

Inline _renderValidator
  js/ui/form/ui.form.layout_manager.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - fix All-day appointments overlap standard appointments (T1017889) (#18597)
  js/ui/scheduler/appointments/rendering_strategies/strategy_horizontal.js
  testing/testcafe/tests/scheduler/appointments/etalons/timeline-overlapping-appointments.png
  testing/testcafe/tests/scheduler/appointments/timelines.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - fix All-day appointments overlap standard appointments (T1017889) (#18597)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.horizontal.js
  testing/testcafe/tests/scheduler/appointments/etalons/timeline-overlapping-appointments.png
  testing/testcafe/tests/scheduler/appointments/timelines.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

check last-run-status
  .github/workflows/devextreme_npm_tests.yml
Due: none
