Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
    "*.js": ["eslint"],
    "*.{css,less}": ["stylelint"]
}

ExcelJS - implementation of export only selected rows (#9541) (#9557)
  js/exporter/exceljs/exportDataGrid.js
  js/ui/data_grid/ui.data_grid.export.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
Due: eslint

Update bottom paddings for TagBox with multiline elements (T808604) (#9577)
  styles/widgets/generic/tagBox.generic.less
  styles/widgets/generic/textEditor.generic.less
Due: stylelint

Custom textEditor buttons icons have incorrect vertical alignment in the Material theme (T809959) (#9576)
  styles/widgets/material/button.material.less
Due: stylelint

Fix loadIndicator hiding issue(T811315) (#9568)
  js/viz/chart.js
  testing/tests/DevExpress.viz.charts/chartAxisDrawing.tests.js
Due: eslint

List: should focus first item after changing selection mode (T811770) (#9578)
  js/ui/collection/ui.collection_widget.base.js
  testing/functional/model/list.ts
  testing/functional/tests/editors/list.ts
  testing/functional/tests/editors/pages/t718398.html
Due: eslint

Fix HtmlEditor TS definitions after #9535 (#9572) (#9582)
  js/ui/html_editor/ui.html_editor.js
  ts/dx.all.d.ts
Due: eslint

Fix pasting of the invalid list paragraph to the HtmlEditor from MS Word (T810378) (#9580) (#9583)
  js/ui/html_editor/matchers/wordLists.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/paste.tests.js
Due: eslint

Bump DevExtreme version (#9584)
  package.json
Due: none

Fix TextBox editing in IE (T810808) (#9567) (#9587)
  js/ui/text_box/text_box.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
Due: eslint

TreeList: Fix changing the filterPanel.visible option to false (T812031) (#9591)
  styles/widgets/common/gridBase.less
  styles/widgets/ui.less
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Due: eslint, stylelint

Fix resize of appointment with custom view startDayHour & endDayHour (T804779) (#9575)
  js/ui/scheduler/ui.scheduler.appointments.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  testing/functional/helpers/getPageUrl.ts
  testing/functional/helpers/scheduler.test.helper.ts
  testing/functional/model/scheduler.ts
  testing/functional/runner.js
  testing/functional/tests/scheduler/dragAndDrop/basic.ts
  testing/functional/tests/scheduler/dragAndDrop/day.ts
  testing/functional/tests/scheduler/dragAndDrop/month.ts
  testing/functional/tests/scheduler/dragAndDrop/timeline.ts
  testing/functional/tests/scheduler/dragAndDrop/timelineDay.ts
  testing/functional/tests/scheduler/dragAndDrop/timelineMonth.ts
  testing/functional/tests/scheduler/dragAndDrop/timelineWeek.ts
  testing/functional/tests/scheduler/dragAndDrop/timelineWorkWeek.ts
  testing/functional/tests/scheduler/dragAndDrop/week.ts
  testing/functional/tests/scheduler/dragAndDrop/workWeek.ts
  testing/functional/tests/scheduler/nativeScrolling.ts
  testing/functional/tests/scheduler/resizeAppointments/basic.ts
  testing/functional/tests/scheduler/resizeAppointments/init/widget.data.ts
  testing/functional/tests/scheduler/resizeAppointments/init/widget.setup.ts
  testing/functional/tests/scheduler/resizeAppointments/timeline.ts
  testing/functional/tests/scheduler/tooltip.ts
  testing/functional/tests/scheduler/tooltipBehavior.ts
  testing/functional/tests/scheduler/workSpace.ts
Due: eslint

PivotGrid: Fix virtual scrolling did not work if there is no data (T810822) (#9564)
  js/ui/pivot_grid/ui.pivot_grid.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Due: eslint

SelectBox: Fix items non-display when element focused out before search completion (T809439) (#9579) (#9594)
  js/ui/select_box.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Due: eslint

File Manager - T805064 enpointUrl fix (#9606)
  js/ui/file_manager/file_provider/webapi.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/webAPIProvider.tests.js
Due: eslint

Add 'event' field to valueChanged event args (#9599)
  js/viz/docs/docrangeselector.js
  js/viz/range_selector/range_selector.js
  js/viz/range_selector/sliders_controller.js
  js/viz/range_selector/tracker.js
  testing/tests/DevExpress.viz.rangeSelector/range_selector.integration.tests.js
  testing/tests/DevExpress.viz.rangeSelector/slidersController.tests.js
  testing/tests/DevExpress.viz.rangeSelector/tracker.tests.js
  ts/dx.all.d.ts
Due: eslint

dxTextArea: remove preventing scrolling with touch events (T811266) (#9602)
  js/ui/text_area.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Due: eslint

TextArea should have a scrollbar when it reaches its maximum height (T810339) (#9612) (#9614)
  js/ui/text_area.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
Due: eslint

Default date for the DateBox with the "time" type should be equal for the "native" and "list" pickerType (T758357) (#9607) (#9613)
  js/ui/date_box/ui.date_box.base.js
  js/ui/date_box/ui.date_box.strategy.js
  js/ui/date_box/ui.date_box.strategy.list.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Due: eslint

dxChart: Fix setting the visualRange option by single edge (start/end) (#9619)
  js/viz/axes/base_axis.js
  js/viz/axes/xy_axes.js
  js/viz/chart.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  testing/tests/DevExpress.viz.core/baseAxis.tests.js
Due: eslint

FilterBuilder: Fix hierarchical fields did not work (T812261) (#9622)
  js/ui/filter_builder/filter_builder.js
  js/ui/filter_builder/utils.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/commonTests.js
  testing/tests/DevExpress.ui.widgets/filterBuilderParts/utilsTests.js
Due: eslint

Make ColorBox.showClearButton option public (T812406) (#9624) (#9626)
  js/ui/color_box/color_box.js
Due: eslint

File Manager - It is not possible to create a new folder via the context menu in the Thumbnails view (T808568) (#9625)
  js/ui/file_manager/ui.file_manager.editing.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
Due: eslint

Refactor HtmlEditor link formatting tests [fix after upgrade to quill@1.3.7] (#9623) (#9627)
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/utils.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
Due: eslint

Improve rounding for scroll location calculation (T810287) (#9633)
  js/ui/scroll_view/ui.scroll_view.simulated.js
  js/ui/scroll_view/ui.scrollable.native.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
Due: eslint

File Manager - Web API Provider: generation end point test fix (#9629)
  testing/tests/DevExpress.ui.widgets/fileManagerParts/webAPIProvider.tests.js
Due: eslint

TextEditor Fix Form value is not updated when using ngModel with a mask (T759547) (#9604) (#9640)
  js/ui/text_box/ui.text_editor.mask.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
Due: eslint

Fix lags on scrolling on touch devices (T810771) (#9634)
  js/viz/chart_components/zoom_and_pan.js
  testing/tests/DevExpress.viz.charts/zoomAndPan.tests.js
Due: eslint

DataGrid: Fix focus returned to cell from filter row after filtering (T809900) (#9639)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Due: eslint

Editor should be described by the validation message (T812250) (#9648) (#9651)
  js/ui/editor/editor.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
Due: eslint

Fix widget turns non-interactive after export (T813842) (#9658)
  js/viz/core/renderers/renderer.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
Due: eslint

NumberBox must correctly update the caret after entering a point or comma (T811070) (#9642) (#9649)
  js/ui/number_box/number_box.caret.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
Due: eslint

Update quill to 1.3.7 (#9664)
  package.json
Due: none

Fix vertical align of switch in the form (#9661) (#9662)
  styles/widgets/material/form.material.less
Due: stylelint

DataGrid - focused row style is incorrect on hover in multiple selection mode (#9637)
  styles/widgets/generic/gridBase.generic.less
  styles/widgets/material/gridBase.material.less
Due: stylelint

dxOverlay: make it possible to change 'container' using defaultProps (T811495) (#9605) (#9646)
  js/ui/overlay/ui.overlay.js
  testing/tests/DevExpress.ui.widgets/overlay.tests.js
Due: eslint

DataGrid - Cancel focused row should be possible in onFocusedRowChanging event if selection checkBox clicked (T812681) (#9644)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

Sort modules alphabetically in dx.all.d.ts (#9679)
  package.json
  ts/dx.all.d.ts
Due: none

DataGrid: FIx null ref error on right click in master detail template with table (T813135) (#9667)
  js/ui/grid_core/ui.grid_core.context_menu.js
  testing/tests/DevExpress.ui.widgets.dataGrid/contextMenuView.tests.js
Due: eslint

Grouped list can not reorder items (T727360) (#9673) (#9680)
  js/ui/list/ui.list.edit.decorator.reorder.js
  testing/functional/model/list.ts
  testing/functional/tests/editors/list.ts
  testing/functional/tests/editors/pages/t727360.html
Due: eslint

DataGrid - Should be possible cancel focus row with tabindex (#9670) (#9683)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/functional/model/dataGrid.ts
  testing/functional/tests/dataGrid/keyboardNavigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/focus.tests.js
Due: eslint
