Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
    "*.js": ["eslint"],
    "*.{css,less}": ["stylelint"]
}

Fix internal-tools version to ~1.0
  package.json
Due: none

Restrict internal-tools version to 1.2
  package.json
Due: none

Fix internal-tools version to ~1.0 (#11002)
  package.json
Due: none

Tests improvements
  testing/helpers/TreeViewTestHelper.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/checkboxes.js
Due: eslint

Update it.json (#10679)
  js/localization/messages/it.json
Due: none

Fix Lookup tests for iOS after #10984 (#10997) (#11001)
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
Due: eslint

Update it.json
  js/localization/messages/it.json
Due: none

Restrict internal-tools version to 1.2 (#11004)
  package.json
Due: none

Restrict internal-tools version to 1.2 (#11003)
  package.json
Due: none

DataGrid: Fix boolean column changing by click after editing another column (T833456)
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

add support dynamic update tabs of the tabbed item in the Form without re-render
  js/ui/form/ui.form.item_options_actions.js
  js/ui/form/ui.form.items_runtime_info.js
  js/ui/form/ui.form.js
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/form.API.option_tabs.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
Due: eslint

One more test
  testing/tests/DevExpress.ui.widgets/treeViewParts/checkboxes.js
Due: eslint

ASP.NET template engine: allow non-String IDs in createComponent (#10981) (#10995)
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Due: eslint

ASP.NET template engine: allow non-String IDs in createComponent (#11000)
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Due: eslint

Move static method inti utils
  js/core/template_manager.js
  js/core/utils/template_manager.js
Due: eslint

Small test refactoring
  testing/tests/DevExpress.ui.widgets/treeViewParts/checkboxes.js
Due: eslint

FileManager - Support Upload/Download for ArrayFileProvider
  js/exporter/file_saver.js
  js/ui/file_manager/file_provider/array.js
  js/ui/file_manager/file_provider/file_provider.js
  testing/helpers/fileManager/file_reader.mock.js
  testing/helpers/fileManagerHelpers.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/arrayProvider.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editing.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editingProgress.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/fileItemsController.tests.js
  ts/dx.all.d.ts
Due: eslint

DataGrid: Fix regressions after #10194 (T833061, T833071)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

Refactor component
  js/core/component.js
Due: eslint

fixes after review
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

Rename TestCafe test
  testing/functional/tests/dataGrid/keyboardNavigation.ts
Due: none

DataGrid - Fix cursor style for scrollable / draggable items (T835172)
  styles/widgets/common/draggable.less
  styles/widgets/common/sortable.less
  styles/widgets/ui.less
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Due: eslint, stylelint

Refactor logic
  js/core/component.js
Due: eslint

Add tests for ['right'] x ['slide', 'expand'] configurations (#10982)
  testing/helpers/drawerHelpers.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Due: eslint

Prevent unnecessary onValueChanged call after TagBox open (T838251)
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Due: eslint

refactoring
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Due: eslint

DataGrid: Fix several regressions if rowRenderingMode is "virtual" after #10194 (T833061, T833071) (#11016)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

DataGrid: Fix several regressions if rowRenderingMode is "virtual" after #10194 (T833061, T833071) (#11015)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

DataGrid: Fix several regressions if rowRenderingMode is "virtual" after #10194 (T833061, T833071) (#11013)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  js/ui/grid_core/ui.grid_core.data_controller.js
  js/ui/grid_core/ui.grid_core.editing.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

FIx tests names in rangeDataCalculator file
  testing/tests/DevExpress.viz.core.series/rangeDataCalculator.tests.js
Due: eslint
