Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
    "*.js": ["eslint"],
    "*.{css,less}": ["stylelint"]
}

Renovation: add Button's text tests (#11827)
  js/renovation/button.tsx
  js/renovation/dist/button.j.jsx
  testing/jest/button.tests.tsx
Due: none

Renovation: add Button's integration tabIndex tests (#11826)
  testing/jest/button.tests.tsx
Due: none

refactor
  build/gulp/modules_metadata.json
  js/exporter/exceljs/excelExporter.d.ts
  js/exporter/exceljs/exportDataGrid.d.ts
  ts/dx.all.d.ts
Due: none

T824744
  js/ui/scheduler/utils.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: eslint

Return value is added
  js/exporter/exceljs/excelExporter.d.ts
  ts/dx.all.d.ts
Due: none

ESLint: Add additional rules from "qunit/recommended" configuration (#10858) (#11828)
  testing/.eslintrc
Due: none

Remove unnecessary change
  testing/.eslintrc
Due: none

HtmlEditor: Fix globals in tests (#10793) (#11777)
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/api.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/converterController.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/converters.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/dropImageModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/formDialog.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/paste.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/popupModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/quillRegistrator.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/scrolling.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/variablesModule.tests.js
Due: eslint

Remove duplicate test without selection required
  testing/tests/DevExpress.ui.widgets/treeViewParts/checkboxes.js
Due: eslint

Renovation: fix tests tsx compilation (#11822)
  docker-ci.sh
  package.json
  testing/jest/.eslintrc
  testing/jest/button.tests.tsx
  testing/jest/widget.tests.tsx
  tsconfig.json
Due: none

Editors: Fix globals in tests (#10797) (#11780)
  testing/tests/DevExpress.ui.widgets.editors/actionButtons.test.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioButton.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/rangeSlider.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/slider.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationGroup.markup.tests.js
Due: eslint

Scss: add new widgets to generator
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
  styles/widgets/generic/dateBox.generic.less
  styles/widgets/material/textArea.material.less
  styles/widgets/material/timeView.material.less
  styles/widgets/material/treeView.material.less
Due: eslint, stylelint

Events: Fix globals in tests (#10817) (#11781)
  testing/tests/DevExpress.ui.events/click.tests.js
  testing/tests/DevExpress.ui.events/contextmenu.tests.js
  testing/tests/DevExpress.ui.events/eventRegistrator.tests.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
  testing/tests/DevExpress.ui.events/eventsEngine.tests.js
  testing/tests/DevExpress.ui.events/eventsInteraction.tests.js
  testing/tests/DevExpress.ui.events/pointerParts/msPointerTests.js
  testing/tests/DevExpress.ui.events/pointerParts/strategySelectionTests.js
  testing/tests/DevExpress.ui.events/swipe.tests.js
Due: eslint

Form: Fix globals in tests (#10801) (#11789)
  testing/tests/DevExpress.knockout/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.API.option_formData.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.API.option_items_cssClass.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.tests.js
Due: eslint

DataGrid: Fix group cell that has the dx-datagrid-hidden-column class when the hidingPriority property is specified for a grid column (T857506)
  js/ui/grid_core/ui.grid_core.adaptivity.js
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
Due: eslint

Core: Fix globals in tests (#10804) (#11791)
  testing/helpers/registerKeyHandlerTestHelper.js
  testing/tests/DevExpress.angular/componentRegistration.tests.js
  testing/tests/DevExpress.core/action.tests.js
  testing/tests/DevExpress.core/class.tests.js
  testing/tests/DevExpress.core/component.tests.js
  testing/tests/DevExpress.core/renderer.tests.js
  testing/tests/DevExpress.core/utils.ajax.tests.js
  testing/tests/DevExpress.core/utils.callbacks.tests.js
  testing/tests/DevExpress.core/utils.common.tests.js
  testing/tests/DevExpress.core/utils.data.tests.js
  testing/tests/DevExpress.core/utils.extend.tests.js
  testing/tests/DevExpress.core/utils.icon.tests.js
  testing/tests/DevExpress.core/utils.object.tests.js
  testing/tests/DevExpress.core/utils.size.tests.js
  testing/tests/DevExpress.data/abstractStore.test.js
  testing/tests/DevExpress.data/dataSource.tests.js
  testing/tests/DevExpress.data/queryArray.tests.js
  testing/tests/DevExpress.data/storeArray.tests.js
  testing/tests/DevExpress.data/utils.tests.js
  testing/tests/DevExpress.localization/localization.utils.tests.js
Due: eslint

Exporter: Fix globals in tests (#10795) (#11795)
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.format.tests.js
  testing/tests/DevExpress.exporter/fileSaver.tests.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
  testing/tests/DevExpress.exporter/pdfCreator.tests.js
  testing/tests/DevExpress.exporter/svgCreator.tests.js
Due: eslint

Tests refactoring
  testing/helpers/TreeViewTestHelper.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/checkboxes.js
Due: eslint

Scheduler: Fix globals in tests (#10800) (#11792)
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.RTL.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.crossScrollingEnabled.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsWithTimezone.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/navigator.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/perfomance.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/resourceManager.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Due: eslint

Pull request feedback
  testing/tests/DevExpress.ui.widgets/treeViewParts/checkboxes.js
Due: eslint

Editors: Fix globals in tests (#10797) (#11780) (#11835)
  testing/tests/DevExpress.ui.widgets.editors/actionButtons.test.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/autocomplete.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  testing/tests/DevExpress.ui.widgets.editors/checkbox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
  testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/lookup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioButton.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/radioGroup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/rangeSlider.tests.js
  testing/tests/DevExpress.ui.widgets.editors/selectBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/slider.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textArea.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/common.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/textbox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationGroup.markup.tests.js
Due: eslint

HtmlEditor: Fix globals in tests (#10793) (#11777) (#11834)
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/api.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/converterController.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/converters.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/dropImageModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/events.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/formDialog.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/paste.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/popupModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/quillRegistrator.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/resizingModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/scrolling.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/toolbarModule.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/valueRendering.tests.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/variablesModule.tests.js
Due: eslint

Events: Fix globals in tests (#10817) (#11781) (#11836)
  testing/tests/DevExpress.ui.events/click.tests.js
  testing/tests/DevExpress.ui.events/contextmenu.tests.js
  testing/tests/DevExpress.ui.events/eventRegistrator.tests.js
  testing/tests/DevExpress.ui.events/events.utils.tests.js
  testing/tests/DevExpress.ui.events/eventsEngine.tests.js
  testing/tests/DevExpress.ui.events/eventsInteraction.tests.js
  testing/tests/DevExpress.ui.events/pointerParts/msPointerTests.js
  testing/tests/DevExpress.ui.events/pointerParts/strategySelectionTests.js
  testing/tests/DevExpress.ui.events/swipe.tests.js
Due: eslint

Exporter: Fix globals in tests (#10795) (#11795) (#11840)
  testing/tests/DevExpress.exporter/excelCreator.tests.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.format.tests.js
  testing/tests/DevExpress.exporter/fileSaver.tests.js
  testing/tests/DevExpress.exporter/imageCreator.tests.js
  testing/tests/DevExpress.exporter/pdfCreator.tests.js
  testing/tests/DevExpress.exporter/svgCreator.tests.js
Due: eslint

Core: Fix globals in tests (#10804) (#11791) (#11839)
  testing/helpers/registerKeyHandlerTestHelper.js
  testing/tests/DevExpress.angular/componentRegistration.tests.js
  testing/tests/DevExpress.core/action.tests.js
  testing/tests/DevExpress.core/class.tests.js
  testing/tests/DevExpress.core/component.tests.js
  testing/tests/DevExpress.core/renderer.tests.js
  testing/tests/DevExpress.core/utils.ajax.tests.js
  testing/tests/DevExpress.core/utils.callbacks.tests.js
  testing/tests/DevExpress.core/utils.common.tests.js
  testing/tests/DevExpress.core/utils.data.tests.js
  testing/tests/DevExpress.core/utils.extend.tests.js
  testing/tests/DevExpress.core/utils.icon.tests.js
  testing/tests/DevExpress.core/utils.object.tests.js
  testing/tests/DevExpress.core/utils.size.tests.js
  testing/tests/DevExpress.data/abstractStore.test.js
  testing/tests/DevExpress.data/dataSource.tests.js
  testing/tests/DevExpress.data/queryArray.tests.js
  testing/tests/DevExpress.data/storeArray.tests.js
  testing/tests/DevExpress.data/utils.tests.js
  testing/tests/DevExpress.localization/localization.utils.tests.js
Due: eslint

Add eslint-plugin-qunit (#10691, #10682, #10684, #10685, #10686) (#11802)
  docker-ci.sh
  package.json
  testing/.eslintrc
  testing/tests/DevExpress.ui.widgets.dataGrid/adaptiveColumns.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.tests.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownBox.tests.js
  testing/tests/DevExpress.ui.widgets.editors/fileUploader.tests.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/timeView.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationEngine.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationGroup.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validationSummary.tests.js
  testing/tests/DevExpress.ui.widgets.editors/validator.editors.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/chartIntegration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/fieldChooser.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/store.local.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/editing.tests.js
  testing/tests/DevExpress.ui.widgets/menuBase.tests.js
  testing/tests/DevExpress.ui.widgets/pager.tests.js
  testing/tests/DevExpress.ui.widgets/slideOut.tests.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/keyboardNavigation.js
  testing/tests/DevExpress.ui/hierarchicalCollectionWidgetParts/hierarchicalDataAdapter.js
  testing/tests/DevExpress.viz.charts/chart.part3.tests.js
  testing/tests/DevExpress.viz.charts/polarChart.tests.js
  testing/tests/DevExpress.viz.core.series/baseSeries.tests.js
  testing/tests/DevExpress.viz.core/export.integration.tests.js
  testing/tests/DevExpress.viz.core/legend.tests.js
  testing/tests/DevExpress.viz.renderers/SvgElement.tests.js
  testing/tests/DevExpress.viz.vectorMap/mapLayer.element.tests.js
  testing/tests/DevExpress.viz.vectorMap/mapLayer.tests.js
Due: eslint

Form: Fix globals in tests (#10801) (#11789) (#11838)
  testing/tests/DevExpress.knockout/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.API.option_formData.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.API.option_items_cssClass.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.validationRules.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.tests.js
Due: eslint

Scheduler: Fix globals in tests (#10800) (#11792) (#11841)
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.RTL.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentCollector.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentTooltip.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.crossScrollingEnabled.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsWithTimezone.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/navigator.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/perfomance.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/resourceManager.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.markup.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Due: eslint

QUnit: Make extensions compatible with IE
  testing/helpers/qunitExtensions.js
Due: eslint

QUnit: Make extensions compatible with IE (#11843)
  testing/helpers/qunitExtensions.js
Due: eslint

Tests for checkboxes and searching
  testing/tests/DevExpress.ui.widgets/treeViewParts/checkboxes.js
Due: eslint

Fix Calendar accessibility issues
  js/ui/calendar/ui.calendar.base_view.js
  js/ui/calendar/ui.calendar.js
  js/ui/calendar/ui.calendar.views.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.markup.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendar.tests.js
  testing/tests/DevExpress.ui.widgets.editors/calendarViews.tests.js
Due: eslint

Calendar views refactoring
  js/ui/calendar/ui.calendar.base_view.js
  js/ui/calendar/ui.calendar.views.js
Due: eslint

Apply changes from review
  js/renovation/widget.tsx
  testing/jest/button.tests.tsx
Due: none

Test refactoring
  testing/tests/DevExpress.ui.widgets/treeViewParts/checkboxes.js
  testing/tests/DevExpress.ui.widgets/treeViewParts/searching.js
Due: eslint
