Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

DEMOS. fix splitter demo
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.html
Due: none

Scheduler(T1220324): Fix recurrence editor resetting issue
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_form.ts
  packages/devextreme/js/__internal/scheduler/appointment_popup/m_popup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Splitter: add tabindex in pane content to make pane focusable
  apps/demos/Demos/Splitter/Overview/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Split width and iconSize test
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Integrate multiple labels
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Replace failing etalon
  e2e/testcafe-devextreme/tests/editors/checkBox/etalons/CheckBox configurations width=default (material-blue-light-compact).png
Due: none

refactor test code pass value directly instead of spreading to a array
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Review fixes
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Rollback upload-artifact action to v3. BC in v4 doesn't allow to store screenshots from different jobs in one folder
  .github/workflows/demos_visual_tests_frameworks.yml
Due: none

Scheduler: Add unused R1 util function to jest coverage ignore
  packages/devextreme/jest.config.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

CI: Rollback upload-artifact action to v3 (#27211)
  .github/workflows/demos_visual_tests_frameworks.yml
Due: none

Review fixes
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
  packages/devextreme/js/ui/scroll_view/ui.scrollable.old.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler(T1220324): add e2e tests
  e2e/testcafe-devextreme/tests/scheduler/appointmentForm/recurrenceEditor.ts
  packages/testcafe-models/scheduler/appointment/popup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler(T1220324): add e2e etalons + mask
  e2e/testcafe-devextreme/tests/scheduler/appointmentForm/etalons/recurrence-editor_after-hide.png
  e2e/testcafe-devextreme/tests/scheduler/appointmentForm/etalons/recurrence-editor_after-popup-reopen.png
  e2e/testcafe-devextreme/tests/scheduler/appointmentForm/etalons/recurrence-editor_after-popup-reopen_mask.png
Due: none

update react demo
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

reduce epsilon in tests
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout_default.ts
  packages/devextreme/js/__internal/ui/splitter/utils/number_comparison.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix test expectation
  e2e/testcafe-devextreme/tests/navigation/splitter/events.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix configuration
  e2e/testcafe-devextreme/tests/navigation/splitter/events.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Splitter: fix axe scrollable issue on angular demo
  apps/demos/Demos/Splitter/Overview/Angular/app/app.component.html
Due: none

Splitter: fix axe scrollable issue on React demo
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Splitter: fix axe scrollable issue on vue demo
  apps/demos/Demos/Splitter/Overview/Vue/PaneContent.vue
Due: none

Review fixes
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Dedicate test for rtl orientation
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Splitter: consider edge cases and sync the item.size option value with the actual pane dimensions during initialization (#27123)
  apps/demos/Demos/Splitter/Overview/React/App.tsx
  apps/demos/Demos/Splitter/Overview/React/PaneContent.tsx
  apps/demos/Demos/Splitter/Overview/ReactJs/App.js
  apps/demos/Demos/Splitter/Overview/ReactJs/PaneContent.js
  e2e/testcafe-devextreme/tests/navigation/splitter/events.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout.ts
  packages/devextreme/js/__internal/ui/splitter/utils/layout_default.ts
  packages/devextreme/js/__internal/ui/splitter/utils/number_comparison.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Menu and ContextMenu scrolling: reset scroll position on close submenu (#27178)
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
  packages/devextreme/js/ui/scroll_view/ui.scrollable.old.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/contextMenu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/menu.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  .github/workflows/playgrounds_tests.yml
Due: none

Remove styles
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Remove rtl configuration
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add undefined text
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Remove rtlEnabled property
  e2e/testcafe-devextreme/tests/editors/checkBox/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Menu scrolling: reset scroll position on close submenu
  packages/devextreme/js/ui/context_menu/ui.context_menu.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet
