Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"]
}

selector-not-notation: simple
  .stylelintrc.json
  scss/widgets/generic/tabs/_index.scss
Due: stylelint

keyframe-selector-notation: percantage
  .stylelintrc.json
  scss/widgets/base/_loadIndicator.scss
  scss/widgets/base/_loadPanel.scss
  scss/widgets/base/_validation.scss
  scss/widgets/base/dataGrid/_index.scss
  scss/widgets/base/fileManager/_index.scss
  scss/widgets/base/treeList/_index.scss
  scss/widgets/generic/loadIndicator/_index.scss
  scss/widgets/material/loadIndicator/_index.scss
Due: stylelint

media-feature-range-notation: context
  .stylelintrc.json
  scss/widgets/base/fileManager/_index.scss
  scss/widgets/base/scheduler/_common.scss
  scss/widgets/generic/dateBox/_index.scss
  scss/widgets/material/dateBox/_index.scss
Due: stylelint

Add typeguards for store result
  js/data/custom_store.d.ts
  js/data/custom_store.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid(T1171870): Fix dx-focused class wasn't removed issue.
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid(T1171870): Add e2e test case.
  testing/testcafe/tests/dataGrid/focus/focus.ts
  testing/testcafe/tests/dataGrid/focus/focusEvents/newRows_T1162227.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/etalons/focused-row_markup (generic.light).png
  testing/testcafe/tests/dataGrid/focus/focusedRow/etalons/focused-row_markup (material.blue.light).png
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/markup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid(T1171870): Code review fixes.
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Scheduler(T1154651): Fix new QUnit test case in PST8PDT timezone
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Scheduler(T1154651): Fix recurrent editor issue.
  js/ui/scheduler/recurrence_editor.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Scheduler(T1154651): QUnit tests.
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid(T1171870): DataGrid - The 'dx-focused' class is not removed from a grid cell when it loses focus. (#24918)
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/focus/focus.ts
  testing/testcafe/tests/dataGrid/focus/focusEvents/newRows_T1162227.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/etalons/focused-row_markup (generic.light).png
  testing/testcafe/tests/dataGrid/focus/focusedRow/etalons/focused-row_markup (material.blue.light).png
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/markup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid(T1171870): DataGrid - The 'dx-focused' class is not removed from a grid cell when it loses focus. (#24950)
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/focus/focus.ts
  testing/testcafe/tests/dataGrid/focus/focusEvents/newRows_T1162227.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/etalons/focused-row_markup (generic.light).png
  testing/testcafe/tests/dataGrid/focus/focusedRow/etalons/focused-row_markup (material.blue.light).png
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/markup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Revert selector-not-notation
  .stylelintrc.json
  scss/widgets/generic/tabs/_index.scss
Due: stylelint

DataGrid(T1171870): DataGrid - The 'dx-focused' class is not removed from a grid cell when it loses focus. (#24951)
  js/__internal/grids/grid_core/keyboard_navigation/const.ts
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  testing/testcafe/tests/dataGrid/focus/focus.ts
  testing/testcafe/tests/dataGrid/focus/focusEvents/newRows_T1162227.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/etalons/focused-row_markup (generic.light).png
  testing/testcafe/tests/dataGrid/focus/focusedRow/etalons/focused-row_markup (material.blue.light).png
  testing/testcafe/tests/dataGrid/focus/focusedRow/focusedRow.ts
  testing/testcafe/tests/dataGrid/focus/focusedRow/markup.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Chore/update version 23 2 (#842)
  devextreme-react-generator/package-lock.json
  devextreme-react-generator/package.json
  devextreme-react/package-lock.json
  devextreme-react/package.json
  devextreme-react/src/core/__tests__/config.test.tsx
  devextreme-react/src/core/__tests__/template.test.tsx
  devextreme-react/src/core/dx-template.ts
  sandbox/package.json
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Replace etalons
  testing/testcafe/tests/scheduler/header/dateNavigator.ts
  testing/testcafe/tests/scheduler/header/etalons/calendar-state-after-next-button-click.png
  testing/testcafe/tests/scheduler/header/etalons/calendar-state-after-prev-button-click.png
  testing/testcafe/tests/scheduler/header/etalons/initial-calendar-state.png
  testing/testcafe/tests/scheduler/header/etalons/right-calendar-appearance.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Remove wrong style 'width: 100%'
  js/ui/scheduler/header/calendar.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add e2e test only on dxCalendar's appearance
  testing/testcafe/tests/scheduler/header/dateNavigator.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

move failing test to testcafe
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/grouping/etalons/group-panel_all-toolbar-items-hidden.png
  testing/testcafe/tests/dataGrid/grouping/etalons/group-panel_all-toolbar-items-shown.png
  testing/testcafe/tests/dataGrid/grouping/grouping.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/grouping.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
  js/__internal/grids/grid_core/views/m_grid_view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

revert: act comment
  testing/testcafe/tests/dataGrid/grouping/grouping.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

write test
  testing/testcafe/tests/dataGrid/headerPanel.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

update testcafe test
  testing/testcafe/tests/dataGrid/grouping/etalons/T1103925-group-panel_all-toolbar-items-hidden.png
  testing/testcafe/tests/dataGrid/grouping/etalons/T1103925-group-panel_all-toolbar-items-shown.png
  testing/testcafe/tests/dataGrid/grouping/etalons/groupingPanel.png
  testing/testcafe/tests/dataGrid/grouping/grouping.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

current changes
  js/__internal/grids/data_grid/grouping/m_grouping.ts
  js/__internal/grids/grid_core/header_panel/m_header_panel.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Remove wrong style 'width: 100%' and add e2e tests
  js/ui/scheduler/header/calendar.js
  testing/testcafe/tests/scheduler/header/dateNavigator.ts
  testing/testcafe/tests/scheduler/header/etalons/calendar-state-after-next-button-click.png
  testing/testcafe/tests/scheduler/header/etalons/calendar-state-after-prev-button-click.png
  testing/testcafe/tests/scheduler/header/etalons/initial-calendar-state.png
  testing/testcafe/tests/scheduler/header/etalons/right-calendar-appearance.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

T1154651: Scheduler - the BYDAY part is missing when editing recurrent appointments (#24943)
  js/ui/scheduler/recurrence_editor.js
  testing/tests/DevExpress.ui.widgets.scheduler/recurrenceEditor.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Remove MOUSE_IDENT constant
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Refactoring: moved the code to a separate method
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Rename test
  testing/testcafe/tests/scheduler/layout/appointments/dragging.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Check tests - left MOUSE_IDENT only for Y position
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Refactor using MOUSE_IDENT
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add e2d test for very short appointment
  testing/testcafe/tests/scheduler/layout/appointments/dragging.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add new etalons
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/etalons/drag-short-app-min-dist-to-left.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/etalons/drag-short-app-to-right-on-next-cell.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/etalons/drag-short-app-to-right.png
Due: none

Remove wrong etalon
  testing/testcafe/screenshots/drag-n-drop-small-appoint-to-top.png
Due: none

Remove etalons
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/etalons/drag-short-app-min-dist-to-left.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/etalons/drag-short-app-to-right-on-next-cell.png
  testing/testcafe/tests/scheduler/dragAndDrop/outlookDragging/etalons/drag-short-app-to-right.png
Due: none
