Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

File Manager - Toolbar refresh button behavior change (#12020)
  js/ui/file_manager/ui.file_manager.toolbar.js
Due: eslint

File Manager - Notification popup size adjustment (#12019)
  styles/widgets/common/fileManager.less
Due: stylelint

File Manager - Remove notification popup on task progress (#12018)
  js/ui/file_manager/ui.file_manager.notification.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/editingProgress.tests.js
Due: eslint

Fix HtmlEditor keyboard navigation during mentions data source loading (T859362) (#11989) (#12007)
  js/ui/html_editor/modules/mentions.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionModule.tests.js
Due: eslint

Fix HtmlEditor keyboard navigation during mentions data source loading (T859362) (#11989) (#12006)
  js/ui/html_editor/modules/mentions.js
  testing/tests/DevExpress.ui.widgets.editors/htmlEditorParts/mentionModule.tests.js
Due: eslint

Use actual rollers value as a new date if click to DateBox Apply button without any rollers navigation (T860282) (#12021)
  js/ui/date_box/ui.date_box.strategy.date_view.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.tests.js
Due: eslint

Add QUnit tests
  testing/tests/Renovation/button.tests.js
Due: eslint

fix test and refactor fix
  js/ui/grid_core/ui.grid_core.columns_resizing_reordering.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

rename function
  js/ui/tile_view.js
Due: eslint

DataGrid: Fix the "Cannot read property 'css' of null" error on disposing (T847853)
  js/ui/grid_core/ui.grid_core.grid_view.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

Add tests
  testing/jest/button.tests.tsx
  testing/tests/Renovation/button.tests.js
Due: eslint

Update stylelint
  package.json
Due: none

Add Stylelint plugin for VS Code to recommendations
  .vscode/extensions.json
Due: none

Enable intellisense for stylelint config
  .stylelintrc.json
Due: none

Update lint-staged to fix compatibility with stylelint
  package.json
Due: none

Fix stylelint rules in codebase
  styles/widgets/base/pivotGrid.less
  styles/widgets/generic/dropDownEditor.generic.less
  styles/widgets/material/dropDownEditor.material.less
Due: stylelint

Fix test for T832410 case
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Due: eslint

Fix TS compilation check (#12004)
  build/gulp/ts.js
Due: eslint

Fix TS compilation check (#12004)
  build/gulp/npm.js
  build/gulp/ts.js
Due: eslint

Fix tests
  testing/tests/DevExpress.ui.widgets.dataGrid/rowsView.tests.js
Due: eslint

Focusing should be hidden if document.visibilityState changed to visible (T858241, T833123)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.rowsView.tests.js
Due: eslint

Fix test for T832410 case (#12026)
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Due: eslint

DropDownEditor: Move 'contentTemplate' option to DropDownBox (T860163) (#11927, #12026) (#11993)
  js/ui/drop_down_box.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.knockout/dropDownBox.tests.js
  testing/tests/DevExpress.knockout/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Due: eslint

DropDownEditor: Move 'contentTemplate' option to DropDownBox (T860163) (#11927, #12026) (#11991)
  js/ui/drop_down_box.js
  js/ui/drop_down_editor/ui.drop_down_editor.js
  js/ui/drop_down_editor/ui.drop_down_list.js
  testing/tests/DevExpress.knockout/dropDownBox.tests.js
  testing/tests/DevExpress.knockout/dropDownEditor.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownEditor.tests.js
Due: eslint

Update TileView content position in RTL mode if the content size is less than the widget (T860587) (#12000)
  js/ui/tile_view.js
  testing/tests/DevExpress.ui.widgets/tileView.tests.js
Due: eslint

Focusing should be hidden if document.visibilityState changed to visible (T858241, T833123) (#12029)
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.rowsView.tests.js
Due: eslint

Fix TS compilation check (#12004) (#12027)
  build/gulp/npm.js
  build/gulp/ts.js
Due: eslint

Fix TS compilation check (#12004) (#12028)
  build/gulp/ts.js
Due: eslint

Drone CI - Add Time-Zone testing for the "misc" tests
  .drone.yml
  .travis.yml
  shippable.yml
Due: none

FileManager - Implement currentPathKeys option
  js/file_management/file_system_item.js
  js/file_management/utils.js
  js/ui/file_manager.d.ts
  js/ui/file_manager/file_items_controller.js
  js/ui/file_manager/ui.file_manager.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/common.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
  ts/dx.all.d.ts
Due: eslint

Correct jest tests
  js/renovation/button.tsx
  testing/jest/button.tests.tsx
Due: none

Pull request feedback
  js/ui/tree_view/ui.tree_view.base.js
Due: eslint

Set background for invalid and modified cells in selected row (T860390)
  styles/widgets/material/gridBase.material.less
Due: stylelint

Mark the "showDropDownButton" and "openOnFieldClick" options of the ColorBox public (T861851)
  js/ui/color_box.d.ts
  js/ui/color_box/color_box.js
  ts/dx.all.d.ts
Due: eslint

Path conditions:
  eslint: any of: *.js
  stylelint: any of: *.{css,less}
