Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

DataGrid - Refactoring 22
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.validating.js
Due: eslint

DataGrid - Refactoring 17
  js/ui/grid_core/ui.grid_core.validating.js
Due: eslint

DataGrid - Removing comments
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.validating.js
Due: eslint

DataGrid - Refactoring 28
  js/ui/grid_core/ui.grid_core.editing.js
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Due: eslint

DataGrid - Tests refactoring 1
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Due: eslint

DataGrid - Removing comments
  js/ui/grid_core/ui.grid_core.validating.js
Due: eslint

DataGrid - Refactoring 29
  js/ui/grid_core/ui.grid_core.validating.js
  js/ui/widget/ui.errors.js
Due: eslint

DataGrid - Refactoring tests
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Due: eslint

DataGrid - Removes E1057
  js/ui/grid_core/ui.grid_core.columns_controller.js
  js/ui/widget/ui.errors.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsController.tests.js
Due: eslint

DataGrid - Modifying CSS
  styles/widgets/generic/dataGrid.generic.less
  styles/widgets/generic/gridBase.generic.less
  styles/widgets/ios7/dataGrid.ios7.less
  styles/widgets/ios7/gridBase.ios7.less
  styles/widgets/material/dataGrid.material.less
  styles/widgets/material/gridBase.material.less
Due: stylelint

DataGrid - Adding tests 2
  js/ui/grid_core/ui.grid_core.validating.js
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Due: eslint

DataGrid - Adding CSS
  styles/widgets/generic/dataGrid.generic.less
  styles/widgets/ios7/dataGrid.ios7.less
  styles/widgets/material/dataGrid.material.less
Due: stylelint

DataGrid - Adding tests 3
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Due: eslint

DataGrid - Adding tests 1
  testing/tests/DevExpress.ui.widgets.dataGrid/editing.tests.js
Due: eslint

DataGrid - Refactoring 30
  js/ui/grid_core/ui.grid_core.validating.js
Due: eslint

DataGrid: Fix incorrect color of the icons in the context menu (T860356) (#12119)
  styles/widgets/generic/gridBase.generic.less
  styles/widgets/material/gridBase.material.less
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint, stylelint

Renovation: fix template wrapper with text node child (#12159)
  js/renovation/dist/button.j.jsx
  js/renovation/preact-wrapper/utils.js
  testing/tests/Renovation/button.markup.tests.js
  testing/tests/Renovation/button.tests.js
Due: eslint

Add additional margin for selection command column in compact material theme (T865880) (#12150)
  styles/widgets/material/gridBase.material.less
Due: stylelint

Fix parent selector and calc function
  build/gulp/scss/generator.js
  styles/widgets/common/htmlEditor.less
Due: eslint, stylelint

Prepare tests for build image update
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
  testing/tests/DevExpress.ui.widgets.editors/dropDownList.tests.js
Due: eslint

remove interpolation where it does not need
  styles/widgets/generic/navBar.generic.less
  styles/widgets/material/navBar.material.less
Due: stylelint

dxChart: Draw axis in custom places
  js/viz/axes/base_axis.js
  js/viz/axes/xy_axes.js
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
Due: eslint

dxChart: improved the custom position of axes - on boundary and zooming behavior
  js/viz/axes/base_axis.js
  js/viz/axes/xy_axes.js
  js/viz/chart.d.ts
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/scroll_bar.js
  js/viz/docs/doccharts.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Due: eslint

fix after review
  js/core/options/utils.d.ts
  js/core/options/utils.js
  testing/jest/button.tests.tsx
Due: eslint

Do not use variables before definition
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
Due: stylelint

Fix popup margin calculation
  styles/widgets/generic/popup.generic.less
Due: stylelint

Default option rules (#12158)
  build/gulp/generator.js
  js/core/options/utils.d.ts
  js/core/options/utils.js
  js/renovation/button.tsx
  package.json
  testing/jest/button.tests.tsx
Due: eslint

DataGrid: Fix wrong header filter icon position when rtl is enabled (T862537)
  js/ui/grid_core/ui.grid_core.column_headers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsHeadersView.tests.js
Due: eslint

dxChart: Fix points animation
  js/viz/chart.js
Due: eslint

fix fade replacer
  build/gulp/scss/generator.js
Due: eslint

Add radiobutton widget
  build/gulp/scss/index-data.js
  build/gulp/scss/replacements.js
  styles/widgets/material/radioButton.material.less
Due: eslint, stylelint

AxesCustomPosition: Fix TS and argument axis tests
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  ts/dx.all.d.ts
Due: eslint

Small refactoring
  js/ui/scheduler/ui.scheduler.appointment_model.js
Due: eslint

Prettified draggable and sortable tests
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Due: eslint

dxChart: Draw axis in custom places (#12165)
  js/viz/axes/base_axis.js
  js/viz/axes/xy_axes.js
  js/viz/chart.d.ts
  js/viz/chart.js
  js/viz/chart_components/advanced_chart.js
  js/viz/chart_components/base_chart.js
  js/viz/chart_components/scroll_bar.js
  js/viz/docs/doccharts.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
  ts/dx.all.d.ts
Due: eslint

Prettified draggable and sortable test modules
  testing/tests/DevExpress.ui.widgets/draggable.tests.js
  testing/tests/DevExpress.ui.widgets/sortable.tests.js
Due: eslint

Localization: Add unlimitedIntegerDigits parameter for LDML number formats (for dashboards) (#12152)
  js/localization/ldml/number.js
  js/localization/number.js
  testing/tests/DevExpress.localization/ldml.tests.js
  testing/tests/DevExpress.localization/localization.custom.tests.js
Due: eslint

dxChart: Fix IE tests for custom positioning of axes
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Due: eslint

dxChart: Fix IE tests for custom positioning of axes (#12168)
  testing/tests/DevExpress.viz.charts/chart.integration.tests.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  stylelint: any of: *.{css,less}
