Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"]
}

TreeList - Unable to focus a node when deleting the previous node in certain scenarios (T1178893) (#25244)
  js/__internal/grids/tree_list/m_focus.ts
  js/ui/gantt/ui.gantt.treelist.js
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/treeList/focusedRow.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix blinking test (T1126013) (#25233)
  packages/devextreme/testing/testcafe/tests/dataGrid/rowDragging.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

GridCore(T1179824): It is not possible to navigate via keyboard from the header to the data rows in certain use cases (#25237)
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/dom.ts
  packages/devextreme/js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/skipDragCell.functional.ts
  packages/devextreme/testing/testcafe/tests/treeList/keyboardNavigation/skipDragCell.functional.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

GridCore(T1179824): It is not possible to navigate via keyboard from the header to the data rows in certain use cases (#25237)
  js/__internal/grids/grid_core/row_dragging/dom.ts
  js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/skipDragCell.functional.ts
  testing/testcafe/tests/treeList/keyboardNavigation/skipDragCell.functional.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

GridCore(T1179824): It is not possible to navigate via keyboard from the header to the data rows in certain use cases (#25237) (#25245)
  js/__internal/grids/grid_core/row_dragging/dom.ts
  js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/skipDragCell.functional.ts
  testing/testcafe/tests/treeList/keyboardNavigation/skipDragCell.functional.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

GridCore(T1179824): It is not possible to navigate via keyboard from the header to the data rows in certain use cases (#25237) (#25246)
  js/__internal/grids/grid_core/row_dragging/dom.ts
  js/__internal/grids/grid_core/row_dragging/m_row_dragging.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/skipDragCell.functional.ts
  testing/testcafe/tests/treeList/keyboardNavigation/skipDragCell.functional.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

remove tabindex from main div
  packages/devextreme/js/ui/map.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/commonTests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix sliders
  packages/devextreme/js/ui/slider/ui.slider_handle.js
  packages/devextreme/js/ui/slider/ui.slider_tooltip.js
  packages/devextreme/js/ui/tooltip/tooltip.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/slider.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix color box attributes
  packages/devextreme/js/ui/color_box/color_box.js
  packages/devextreme/js/ui/color_box/color_view.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/colorBox.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/colorView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid/TreeList: Fix the keyboard navigation behavior on changing keyboardNavigation.enabled option in runtime (T1178858) (#25207)
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
  packages/devextreme/testing/testcafe/model/dataGrid/index.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid/TreeList: Fix the keyboard navigation behavior on changing keyboardNavigation.enabled option in runtime (T1178858) (#25206)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid/TreeList: Fix the keyboard navigation behavior on changing keyboardNavigation.enabled option in runtime (T1178858) (#25205)
  js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
  js/__internal/grids/grid_core/views/m_columns_view.ts
  testing/testcafe/model/dataGrid/index.ts
  testing/testcafe/tests/dataGrid/keyboardNavigation/keyboardNavigation.functional.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.keyboardController.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid: Fix disabled state for command button's icon that is based on a SVG image (T1179114) (#25173)
  packages/devextreme/js/__internal/grids/grid_core/editing/const.ts
  packages/devextreme/js/__internal/grids/grid_core/editing/m_editing.ts
  packages/devextreme/scss/widgets/generic/gridBase/_index.scss
  packages/devextreme/scss/widgets/material/gridBase/_index.scss
  packages/devextreme/testing/testcafe/tests/dataGrid/editing.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-generic-theme-when-useicons-is-false.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-generic-theme-when-useicons-is-true.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-material-theme-when-useicons-is-false.png
  packages/devextreme/testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-material-theme-when-useicons-is-true.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

DataGrid: Fix disabled state for command button's icon that is based on a SVG image (T1179114) (#25172)
  js/__internal/grids/grid_core/editing/const.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  scss/widgets/generic/gridBase/_index.scss
  scss/widgets/material/gridBase/_index.scss
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-generic-theme-when-useicons-is-false.png
  testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-generic-theme-when-useicons-is-true.png
  testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-material-theme-when-useicons-is-false.png
  testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-material-theme-when-useicons-is-true.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

DataGrid: Fix disabled state for command button's icon that is based on a SVG image (T1179114) (#25171)
  js/__internal/grids/grid_core/editing/const.ts
  js/__internal/grids/grid_core/editing/m_editing.ts
  scss/widgets/generic/gridBase/_index.scss
  scss/widgets/material/gridBase/_index.scss
  testing/testcafe/tests/dataGrid/editing.ts
  testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-generic-theme-when-useicons-is-false.png
  testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-generic-theme-when-useicons-is-true.png
  testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-material-theme-when-useicons-is-false.png
  testing/testcafe/tests/dataGrid/etalons/T1179114-grid-edit-custom-button-in-material-theme-when-useicons-is-true.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

update etalons
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render in disabled (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button render with overflow (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button stretch of large text (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dropDownButton/etalons/DropDownButton render with fixed width (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/drawer/etalons/drawer_overlap_shading_DataGridInner_#popup1.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Button render (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Button render (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Button stretch of large text (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Button stretch of large text (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar buttons render (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=auto (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with contained buttons,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with contained buttons,items[]locateInMenu=never (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with outlined buttons,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with outlined buttons,items[]locateInMenu=never (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with text buttons,items[]locateInMenu=always (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with text buttons,items[]locateInMenu=never (material-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/scheduler/agenda/etalons/agenda-layout-appointment-state-click.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/appointmentForm/etalons/form-after-change-allday-and-reccurence-options.png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=day-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=month-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineDay-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineMonth-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWeek-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=timelineWorkWeek-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=week-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=workWeek-resource=false).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/resources/base/etalons/generic-resource(view=workWeek-resource=true).png
  packages/devextreme/testing/testcafe/tests/scheduler/layout/templates/etalons/appointment-tooltip-template.png
  packages/devextreme/testing/testcafe/tests/scheduler/recurrences/etalons/basic-recurrence-appointment-after-drag.png
  packages/devextreme/testing/testcafe/tests/scheduler/resizeAppointments/etalons/resize-all-day-workweek-weekend-1.png
  packages/devextreme/testing/testcafe/tests/scheduler/tooltipBehaviour/etalons/appointment-mobile-tooltip-screenshot.png
Due: none

Slider: remove unnecessary `aria-describedby` attribute and add `aria-label` attribute (#25236)
  packages/devextreme/js/ui/slider/ui.slider_handle.js
  packages/devextreme/js/ui/slider/ui.slider_tooltip.js
  packages/devextreme/js/ui/tooltip/tooltip.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/slider.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/slider.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix test
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar buttons render (material-blue-light-compact)_diff.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar buttons render (material-blue-light-compact)_etalon.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar buttons render (material-blue-light-compact)_mask.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (generic-light)_diff.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (generic-light)_etalon.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (generic-light)_mask.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (generic-light)_diff.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (generic-light)_etalon.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (generic-light)_mask.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (generic-light)_diff.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (generic-light)_etalon.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (generic-light)_mask.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (material-blue-light-compact)_diff.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (material-blue-light-compact)_etalon.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (material-blue-light-compact)_mask.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (generic-light)_diff.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (generic-light)_etalon.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (generic-light)_mask.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (material-blue-light-compact)_diff.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (material-blue-light-compact)_etalon.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (material-blue-light-compact)_mask.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with contained buttons,items[]locateInMenu=never (generic-light)_diff.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with contained buttons,items[]locateInMenu=never (generic-light)_etalon.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with contained buttons,items[]locateInMenu=never (generic-light)_mask.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with contained buttons,items[]locateInMenu=never (material-blue-light-compact)_diff.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with contained buttons,items[]locateInMenu=never (material-blue-light-compact)_etalon.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with contained buttons,items[]locateInMenu=never (material-blue-light-compact)_mask.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with outlined buttons,items[]locateInMenu=never (generic-light)_diff.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with outlined buttons,items[]locateInMenu=never (generic-light)_etalon.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with outlined buttons,items[]locateInMenu=never (generic-light)_mask.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with outlined buttons,items[]locateInMenu=never (material-blue-light-compact)_diff.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with outlined buttons,items[]locateInMenu=never (material-blue-light-compact)_etalon.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with outlined buttons,items[]locateInMenu=never (material-blue-light-compact)_mask.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with text buttons,items[]locateInMenu=never (generic-light)_diff.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with text buttons,items[]locateInMenu=never (generic-light)_etalon.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with text buttons,items[]locateInMenu=never (generic-light)_mask.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with text buttons,items[]locateInMenu=never (material-blue-light-compact)_diff.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with text buttons,items[]locateInMenu=never (material-blue-light-compact)_etalon.png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar with text buttons,items[]locateInMenu=never (material-blue-light-compact)_mask.png
  packages/devextreme/testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Tabs/TabPanel: Fix tab styling && Update etalon (#2740)
  Demos/TabPanel/SortableClosableTabs/Angular/app/app.component.css
  Demos/TabPanel/SortableClosableTabs/React/styles.css
  Demos/TabPanel/SortableClosableTabs/Vue/App.vue
  Demos/TabPanel/SortableClosableTabs/jQuery/styles.css
Due: stylelint

Map: remove unnecessary tabindex attribute (#25249)
  packages/devextreme/js/ui/map.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/mapParts/commonTests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Remove R0 npm scripts (#25226)
  package.json
Due: none

Remove R0 npm scripts (#25225)
  package.json
Due: none

Remove R0 npm scripts
  packages/devextreme/package.json
Due: none

update etalons
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=false (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar nested widgets render in multiline rtl=true (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render rtl=true,items[]locateInMenu=never (generic-light).png
  packages/devextreme/testing/testcafe/tests/navigation/toolbar/etalons/Toolbar widgets render,items[]locateInMenu=never (generic-light).png
Due: none

Button: svg icon as background should be fit within icon element (T1178813)
  packages/devextreme/scss/widgets/base/button/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/button/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

DataGrid: Fix row hover after scrolling when fixed columns and virtual scrolling are used (T1180834)
  js/__internal/grids/grid_core/column_fixing/m_column_fixing.ts
  testing/testcafe/tests/dataGrid/fixedColumns.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/columnFixing.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Disable nx cloud cache
  nx.json
Due: none

Fix "subscribe" Deprecate (#2742)
  Demos/Diagram/Adaptability/Angular/app/app.component.ts
  Demos/Diagram/Containers/Angular/app/app.component.ts
  Demos/Diagram/CustomShapesWithIcons/Angular/app/app.component.ts
  Demos/Diagram/CustomShapesWithTexts/Angular/app/app.component.ts
  Demos/Diagram/Overview/Angular/app/app.component.ts
  Demos/Diagram/ReadOnly/Angular/app/app.component.ts
  Demos/Diagram/UICustomization/Angular/app/app.component.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

add etalons
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/button/etalons/Button with svg icon as background (material-blue-light-compact).png
Due: none

Remove R0 npm scripts (#25224)
  packages/devextreme/package.json
Due: none

Disable nx cloud cache (#25254)
  nx.json
Due: none

Renovated Editor: implement isDirty option (#25228)
  packages/devextreme/js/renovation/component_wrapper/editors/editor.ts
  packages/devextreme/js/renovation/ui/editors/common/editor.tsx
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/editor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.form/form.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add etalons
  testing/testcafe/tests/dataGrid/etalons/T1180834-grid-hover-row-after-scrolling-1.png
  testing/testcafe/tests/dataGrid/etalons/T1180834-grid-hover-row-after-scrolling-2.png
Due: none
