Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"]
}

fix case: popup blinks on custom item adding
  js/ui/select_box.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

get into account that popup can be non-rendered when editor is focused out
  js/ui/select_box.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

add tagbox tests and stop cancel search on popup closeing in TagBox
  js/ui/select_box.js
  js/ui/tag_box.js
  testing/tests/DevExpress.ui.widgets.editors/tagBox.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - make ViewData generator take into account whether all-day row is supported or not (#15742)
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Small refactor
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Revert provider tests
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Refactor tests
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

PivotGridFieldChooser - The Apply button resets the widget's state (T956958) (#15696) (#15747)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser.js
  js/ui/pivot_grid/ui.pivot_grid.field_chooser_base.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

PivotGridFieldChooser - The Apply button resets the widget's state (T956958) (#15696) (#15749)
  js/ui/pivot_grid/ui.pivot_grid.field_chooser.js
  js/ui/pivot_grid/ui.pivot_grid.field_chooser_base.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix tests
  js/renovation/ui/scroll_view/scrollbar_props.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix editors placeholder size (material)
  scss/widgets/material/gridBase/_index.scss
Due: stylelint

Refactor
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/cell.tsx
  js/renovation/ui/scheduler/workspaces/day/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/day/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/month/date_table/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/month/date_table/cell.tsx
  js/renovation/ui/scheduler/workspaces/week/date_table/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/week/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/week/date_table/cell.tsx
  js/renovation/ui/scheduler/workspaces/week/date_table/layout.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Drawer - Handle overlay {width:100%, height: 100%} style for Angular DOM tree (#15706) (#15717)
  js/ui/drawer/ui.drawer.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Drawer - Handle overlay {width:100%, height: 100%} style for Angular DOM tree (#15706) (#15716)
  js/ui/drawer/ui.drawer.js
  testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Refactoring timeZoneConverter (#15750)
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/utils.timeZone.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.agenda.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsVertical.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.dstAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Refactoring timeZoneCalculator (#15751)
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/ui.scheduler.subscribes.js
  js/ui/scheduler/utils.timeZone.js
  testing/tests/DevExpress.ui.widgets.scheduler/common.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.agenda.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointmentsVertical.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.dstAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

aspnet - Show empty string for null/undefined values instead of 'null'/'undefined' strings (T954324) (#15714)
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxForm - Fix incorrectly validation message displaying for drop down editor if labels are located at the top in Material theme (T956436)
  scss/widgets/material/form/_index.scss
  testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Refactor tests
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix editors placeholder size (material) (#15752)
  scss/widgets/material/gridBase/_index.scss
Due: stylelint

Fix editors placeholder size (material) (#15753)
  scss/widgets/material/gridBase/_index.scss
Due: stylelint

dxScheduler - remove warnings warnings from renovated code (#15691)
  js/renovation/ui/scheduler/workspaces/__tests__/utils.test.tsx
  js/renovation/ui/scheduler/workspaces/base/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/__tests__/title.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/table_body.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/all_day_panel/title.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/table_body.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/vertical/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/vertical/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/group_panel/vertical/row.tsx
  js/renovation/ui/scheduler/workspaces/base/header_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/header_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/layout.tsx
  js/renovation/ui/scheduler/workspaces/base/layout_props.ts
  js/renovation/ui/scheduler/workspaces/base/table.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/time_panel/layout.tsx
  js/renovation/ui/scheduler/workspaces/month/header_panel/cell.tsx
  js/renovation/ui/scheduler/workspaces/types.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - add renovated Month View (#15736)
  js/renovation/ui/scheduler/workspaces/base/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/__tests__/table_body.test.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/cell.tsx
  js/renovation/ui/scheduler/workspaces/base/date_table/layout_props.ts
  js/renovation/ui/scheduler/workspaces/base/date_table/table_body.tsx
  js/renovation/ui/scheduler/workspaces/month/date_table/__tests__/cell.test.tsx
  js/renovation/ui/scheduler/workspaces/month/date_table/cell.tsx
  js/renovation/ui/scheduler/workspaces/month/date_table/layout.tsx
  js/renovation/ui/scheduler/workspaces/types.d.ts
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
  testing/tests/Renovation/compatibility.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxGantt: Update version to 1.0.12
  package.json
Due: none

dxGantt: Update version to 2.0.13
  package.json
Due: none

Translate to es6
  js/ui/scheduler/ui.scheduler.header.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

PR feedback
  js/renovation/ui/scroll_view/scrollable_props.ts
  js/renovation/ui/scroll_view/scrollbar_props.ts
  js/renovation/ui/scroll_view/types.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

PR feedback: renaming + additional scroll for both directions
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/scrollbar_props.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

PE feedback
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/scrollbar_props.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

DataGrid loses summaries for certain columns when exporting to Excel if columnRenderingMode is 'virtual' (T955954)
  js/ui/data_grid/ui.data_grid.export.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.dataGrid.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

PR feedback
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxGantt: Update version to 1.0.12 (#15759)
  package.json
Due: none

dxGantt: Update version to 2.0.13 (#15760)
  package.json
Due: none

dxGantt: Update version to 2.0.13 (#15761)
  package.json
Due: none

Tests for hoverable class
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
  js/renovation/ui/scroll_view/scrollable_props.ts
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Rename options to match old code
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/scrollbar_props.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js
