Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

css: update CurrentTimeIndicator demo
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/React/styles.css
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/ReactJs/styles.css
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/Vue/index.html
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/Vue/styles.css
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/jQuery/styles.css
Due: stylelint

fix: fix timelines demo for react
  apps/demos/Demos/Scheduler/Timelines/ReactJs/index.html
Due: none

feat: update screenshots
  apps/demos/testing/etalons/Scheduler-Timelines (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-Timelines (material.blue.light).png
  apps/demos/testing/etalons/Scheduler-VirtualScrolling (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-VirtualScrolling (material.blue.light).png
  packages/devextreme/playground/jquery.html
Due: none

css: update timelines demo
  apps/demos/Demos/Scheduler/Timelines/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/Timelines/React/styles.css
  apps/demos/Demos/Scheduler/Timelines/ReactJs/styles.css
  apps/demos/Demos/Scheduler/Timelines/Vue/App.vue
  apps/demos/Demos/Scheduler/Timelines/Vue/styles.css
  apps/demos/Demos/Scheduler/Timelines/jQuery/styles.css
Due: stylelint

refactor: remove styles.css from vue
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/Vue/App.vue
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/Vue/index.html
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/Vue/styles.css
  apps/demos/Demos/Scheduler/Timelines/Vue/index.html
Due: stylelint

feat: update screenshots
  apps/demos/testing/etalons/Scheduler-Timelines (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-Timelines (material.blue.light).png
Due: none

css: update timelines demo
  apps/demos/Demos/Scheduler/Timelines/jQuery/index.html
  apps/demos/Demos/Scheduler/Timelines/jQuery/styles.css
Due: stylelint

feat: update timelines frameworks demo
  apps/demos/Demos/Scheduler/Timelines/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/Timelines/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/Timelines/React/index.html
  apps/demos/Demos/Scheduler/Timelines/React/styles.css
  apps/demos/Demos/Scheduler/Timelines/ReactJs/index.html
  apps/demos/Demos/Scheduler/Timelines/ReactJs/styles.css
  apps/demos/Demos/Scheduler/Timelines/Vue/index.html
  apps/demos/Demos/Scheduler/Timelines/Vue/styles.css
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

css: update timelines angular demo
  apps/demos/Demos/Scheduler/Timelines/Angular/app/app.component.css
Due: stylelint

css: update virtual scrolling demo
  apps/demos/Demos/Scheduler/VirtualScrolling/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/VirtualScrolling/React/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/ReactJs/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/Vue/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/jQuery/styles.css
Due: stylelint

css: update timelines demo
  apps/demos/Demos/Scheduler/Timelines/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/Timelines/React/styles.css
  apps/demos/Demos/Scheduler/Timelines/ReactJs/styles.css
  apps/demos/Demos/Scheduler/Timelines/Vue/styles.css
  apps/demos/Demos/Scheduler/Timelines/jQuery/styles.css
Due: stylelint

feat: update screenshots
  apps/demos/testing/etalons/Scheduler-Timelines (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-Timelines (material.blue.light).png
  apps/demos/testing/etalons/Scheduler-VirtualScrolling (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-VirtualScrolling (material.blue.light).png
Due: none

Grid: unskip screenshot tests
  e2e/testcafe-devextreme/tests/cardView/headerPanel/sortable.visual.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/accessibility/common.ts
  e2e/testcafe-devextreme/tests/dataGrid/common/columnReordering/visual.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add necessary models for Jest tests
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/cell/header_cell.ts
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/cell/types.ts
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/grid_core.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat: update screenshots
  e2e/testcafe-devextreme/tests/scheduler/common/recurrences/etalons/recurrence-delete-dialog-screenshot (fluent.blue.light).png
Due: none

Revert "Scheduler: Unskip and update tests for DST/STD recurrence appointments"
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.dstAppointments.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

revert devextreme-vue
  packages/devextreme-vue/src/common/ai-integration.ts
  packages/devextreme-vue/src/common/charts.ts
  packages/devextreme-vue/src/common/core/animation.ts
  packages/devextreme-vue/src/common/core/environment.ts
  packages/devextreme-vue/src/common/core/events.ts
  packages/devextreme-vue/src/common/core/localization.ts
  packages/devextreme-vue/src/common/data.ts
  packages/devextreme-vue/src/common/export/excel.ts
  packages/devextreme-vue/src/common/export/pdf.ts
  packages/devextreme-vue/src/common/grids.ts
  packages/devextreme-vue/src/common/index.ts
  packages/devextreme-vue/src/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Security: Update tar (#32612)
  package.json
  packages/sbom/package.json
  packages/sbom/pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

revert playground file
  packages/devextreme/playground/jquery.html
Due: none

fix: update screenshot
  apps/demos/testing/etalons/Scheduler-Timelines (fluent.blue.light).png
Due: none

Revert "feat: update screenshots"
  e2e/testcafe-devextreme/tests/scheduler/common/recurrences/etalons/recurrence-delete-dialog-screenshot (fluent.blue.light).png
Due: none

Security: Update tar (#32613)
  package.json
  packages/sbom/package.json
  packages/sbom/pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

T1321834 - DataGrid – Incorrect tooltip on the column header if it too narrow and has sort index (#32571) (#32614)
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/helpers/dom_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/__tests__/m_column_headers.test.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

T1321834 - DataGrid – Incorrect tooltip on the column header if it too narrow and has sort index (#32571) (#32618)
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/helpers/dom_utils.ts
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/cell/header_cell.ts
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/cell/types.ts
  packages/devextreme/js/__internal/grids/grid_core/__tests__/__mock__/model/grid_core.ts
  packages/devextreme/js/__internal/grids/grid_core/column_headers/__tests__/m_column_headers.test.ts
  packages/devextreme/js/__internal/grids/grid_core/views/m_columns_view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

devextreme-framework packages - add monorepo url / directory
  packages/devextreme-angular/package.json
  packages/devextreme-react/package.json
  packages/devextreme-vue/package.json
Due: none

Grid: update screenshots
  e2e/testcafe-devextreme/tests/dataGrid/common/etalons/column-chooser-select-mode (fluent.blue.light).png
Due: none

Chat: Add SpeechToText button to Overview & AI Integration demos
  apps/demos/Demos/Chat/AIAndChatbotIntegration/Angular/app/app.component.html
  apps/demos/Demos/Chat/AIAndChatbotIntegration/React/App.tsx
  apps/demos/Demos/Chat/AIAndChatbotIntegration/ReactJs/App.js
  apps/demos/Demos/Chat/AIAndChatbotIntegration/Vue/App.vue
  apps/demos/Demos/Chat/AIAndChatbotIntegration/jQuery/index.js
  apps/demos/Demos/Chat/Overview/Angular/app/app.component.html
  apps/demos/Demos/Chat/Overview/React/App.tsx
  apps/demos/Demos/Chat/Overview/ReactJs/App.js
  apps/demos/Demos/Chat/Overview/Vue/App.vue
  apps/demos/Demos/Chat/Overview/jQuery/index.js
  packages/devextreme-themebuilder/tests/data/dependencies.ts
  packages/devextreme/js/__internal/ui/chat/message_box/chat_text_area.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Scheduler: fix timeline demos with too wide cells (#32570)
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/React/styles.css
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/ReactJs/styles.css
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/Vue/App.vue
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/jQuery/styles.css
  apps/demos/Demos/Scheduler/Timelines/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/Timelines/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/Timelines/React/index.html
  apps/demos/Demos/Scheduler/Timelines/React/styles.css
  apps/demos/Demos/Scheduler/Timelines/ReactJs/index.html
  apps/demos/Demos/Scheduler/Timelines/ReactJs/styles.css
  apps/demos/Demos/Scheduler/Timelines/Vue/App.vue
  apps/demos/Demos/Scheduler/Timelines/jQuery/index.html
  apps/demos/Demos/Scheduler/Timelines/jQuery/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/VirtualScrolling/React/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/ReactJs/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/Vue/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/jQuery/styles.css
  apps/demos/testing/etalons/Scheduler-VirtualScrolling (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-VirtualScrolling (material.blue.light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Scheduler: fix timeline demos with too wide cells (#32616)
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/React/styles.css
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/ReactJs/styles.css
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/Vue/App.vue
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/jQuery/styles.css
  apps/demos/Demos/Scheduler/Timelines/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/Timelines/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/Timelines/React/index.html
  apps/demos/Demos/Scheduler/Timelines/React/styles.css
  apps/demos/Demos/Scheduler/Timelines/ReactJs/index.html
  apps/demos/Demos/Scheduler/Timelines/ReactJs/styles.css
  apps/demos/Demos/Scheduler/Timelines/Vue/App.vue
  apps/demos/Demos/Scheduler/Timelines/jQuery/index.html
  apps/demos/Demos/Scheduler/Timelines/jQuery/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/VirtualScrolling/React/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/ReactJs/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/Vue/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/jQuery/styles.css
  apps/demos/testing/etalons/Scheduler-Timelines (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-Timelines (material.blue.light).png
  apps/demos/testing/etalons/Scheduler-VirtualScrolling (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-VirtualScrolling (material.blue.light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Scheduler: fix timeline demos with too wide cells (#32617)
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/React/styles.css
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/ReactJs/styles.css
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/Vue/App.vue
  apps/demos/Demos/Scheduler/CurrentTimeIndicator/jQuery/styles.css
  apps/demos/Demos/Scheduler/Timelines/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/Timelines/Angular/app/app.component.ts
  apps/demos/Demos/Scheduler/Timelines/React/index.html
  apps/demos/Demos/Scheduler/Timelines/React/styles.css
  apps/demos/Demos/Scheduler/Timelines/ReactJs/index.html
  apps/demos/Demos/Scheduler/Timelines/ReactJs/styles.css
  apps/demos/Demos/Scheduler/Timelines/Vue/App.vue
  apps/demos/Demos/Scheduler/Timelines/jQuery/index.html
  apps/demos/Demos/Scheduler/Timelines/jQuery/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/Angular/app/app.component.css
  apps/demos/Demos/Scheduler/VirtualScrolling/React/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/ReactJs/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/Vue/styles.css
  apps/demos/Demos/Scheduler/VirtualScrolling/jQuery/styles.css
  apps/demos/testing/etalons/Scheduler-Timelines (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-Timelines (material.blue.light).png
  apps/demos/testing/etalons/Scheduler-VirtualScrolling (fluent.blue.light).png
  apps/demos/testing/etalons/Scheduler-VirtualScrolling (material.blue.light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

PivotGrid - Fix unstable tests - QUnit - sortable.tests.js (#32588)
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/sortable.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

PivotGrid - Fix unstable tests - QUnit - sortable.tests.js (#32602)
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/sortable.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

PivotGrid - Fix unstable tests - QUnit - sortable.tests.js (#32601)
  packages/devextreme/testing/tests/DevExpress.ui.widgets.pivotGrid/sortable.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
