Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Update demo tests etalons 2
  apps/demos/testing/etalons/DataGrid-MultipleSorting (material.blue.light).png
Due: none

Popup: template wrapper element inherits maxHeight and minHeight styles from parent when popup dimensions are auto (T1259619)
  packages/devextreme-scss/scss/widgets/base/_popup.scss
  packages/devextreme/testing/tests/DevExpress.ui.widgets/popup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Pin ubuntu runner version
  .github/workflows/devextreme_npm_tests.yml
Due: none

refactoring
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/const.ts
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

apply review
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

rewrite test in testcafe
  e2e/testcafe-devextreme/tests/dataGrid/focus/focus.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.dataGrid/focus.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

preventDefault only if click was inside the datagrid
  packages/devextreme/js/__internal/grids/grid_core/keyboard_navigation/m_keyboard_navigation.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor(datebox): Remove _renderDateParts && Add new condition
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(datebox): Add test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

DateBox: Get rid of Uncaught TypeError: this._dateParts is undefined (T1264236)
  packages/devextreme/js/__internal/ui/date_box/m_date_box.mask.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Collection widget live update: correctionIndex should be updated correctly if dataSource is updated at runtime (T1250900)
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.live_update.ts
  packages/devextreme/testing/tests/DevExpress.ui/collectionWidgetParts/liveUpdateTests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Skip unstable test
  testing/testcafe/tests/navigation/menu/common.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update tescafe etalons 7
  testing/testcafe/tests/editors/textBox/etalons/Textbox validation message (material-blue-light).png
Due: none

Drawer: ScrollView doesn't scroll if you change the Drawer's position and openedStateMode options (T1255272)
  packages/devextreme/js/__internal/ui/drawer/m_drawer.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

guard client API against SSR until CustConfComp optimizations are merged
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-react/src/core/nested-option.ts
  packages/devextreme-react/src/core/use-option-scanning.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

linter
  packages/devextreme-react/src/core/component-base.tsx
  packages/devextreme-react/src/core/use-option-scanning.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update testcafe etalons 8
  testing/testcafe/tests/editors/button/etalons/FAB with grid, position.of is undefined, after scrolling (material-blue-light).png
  testing/testcafe/tests/editors/button/etalons/FAB with grid, position.of is undefined, before scrolling (material-blue-light).png
Due: none

skipJsErrors for map demo
  apps/demos/testing/common.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Test custom bundler scripts
  .github/workflows/build_all.yml
Due: none

validator.d.ts, regenerate all (3), ref prev ba32c797d71a7a4a1cea3472fd2922f73bd6b480
  packages/devextreme-angular/src/ui/validator/index.ts
  packages/devextreme-react/src/validator.ts
  packages/devextreme-vue/src/validator.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

validator.d.ts, regenerate all (3), ref prev 1513a6dff4ff128d567c1b2d6161f66da49fb455
  packages/devextreme-angular/src/ui/validator/index.ts
  packages/devextreme-react/src/validator.ts
  packages/devextreme-vue/src/validator.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

validator.d.ts, (1), d.ts (without re-generate yet) only, only 'onValidated' prop (defined in options), pay attention to arg name
  packages/devextreme/js/ui/validator.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

validator.d.ts, (1), remove skip, annotate event handlers types
  packages/devextreme/js/ui/validator.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

brokenRules?: ValidationRule -> Array<ValidationRule>
  packages/devextreme/js/ui/validator.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

validator.d.ts, regenerate all (1), dx.all.d.ts, ref prev 50f3ec2bc82f492950c918aa104216c12cfb2f84
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

validator.d.ts, recover ValidatedEvent.value type (according to docs diff)
  packages/devextreme/js/ui/validator.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

validator.d.ts, (1), d.ts, skip topic (may fail on non existing MemberRef)
  packages/devextreme/js/ui/validator.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

move subsctiption for load options customization from ctor to init
  packages/devextreme/js/__internal/ui/collection/m_collection_widget.live_update.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Editor: convert to native class
  packages/devextreme/js/__internal/core/options/m_index.ts
  packages/devextreme/js/__internal/ui/editor.ts
  packages/devextreme/js/__internal/ui/editor/m_editor.ts
  packages/devextreme/js/__internal/ui/m_file_uploader.ts
  packages/devextreme/js/__internal/ui/radio_group/m_radio_group.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

lint
  e2e/testcafe-devextreme/tests/dataGrid/focus/focus.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix typo
  apps/demos/testing/common.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update actions to v4
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/_security-alerts.yml
  .github/workflows/build_all.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/lint.yml
  .github/workflows/packages_publishing.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/publish-demos.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/run-testcafe-on-gh-pages.yml
  .github/workflows/testcafe_tests.yml
  .github/workflows/wrapper_tests.yml
Due: none

Merge testcafe artifacts
  .github/workflows/testcafe_tests.yml
Due: none

Update actions to v4
  .github/actions/run-qunit-tests/action.yml
  .github/workflows/_security-alerts.yml
  .github/workflows/build_all.yml
  .github/workflows/demos_visual_tests.yml
  .github/workflows/demos_visual_tests_frameworks.yml
  .github/workflows/packages_publishing.yml
  .github/workflows/playgrounds_tests.yml
  .github/workflows/publish-demos.yml
  .github/workflows/qunit_tests-additional-renovation.yml
  .github/workflows/qunit_tests-renovation.yml
  .github/workflows/run-testcafe-on-gh-pages.yml
  .github/workflows/wrapper_tests.yml
Due: none

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
