Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

fix(tileView): Add focusStateEnabled: true
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tileView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(tileView): Minor
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tileView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fixes after cherry-pick
  packages/devextreme/testing/testcafe/tests/dataGrid/bandColumns/runtimeChange.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fixes after cherry-pick
  packages/devextreme/testing/testcafe/tests/dataGrid/markup/iconSizes.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/masterDetail.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/virtualColumns.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/allDayAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/appointmentsOrdering.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/recurrentAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/usualAppointments.ts
  packages/devextreme/testing/testcafe/tests/scheduler/viewOffset/markup/virtualScrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

List: Revert styles for .dx-button .dx-icon in Generic (T1216108)
  packages/devextreme/scss/widgets/generic/list/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/list/common.ts
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List delete button when item is focused (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List icon in button when item is focused (material-blue-light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

T1212573: Scheduler - Recurring appointments in the timeline view are incorrectly sorted (#26704) (#26739)
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month.ts
  js/__internal/scheduler/appointments/rendering_strategies/m_strategy_horizontal_month_line.ts
  testing/testcafe/tests/scheduler/appointmentsOrdering.ts
  testing/testcafe/tests/scheduler/etalons/view_markup_ordering-appts_T1212573.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

The new dispose widget helper func
  testing/testcafe/helpers/createWidget.ts
  testing/testcafe/helpers/widgetTypings.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fixes after cherry-pick
  testing/testcafe/tests/dataGrid/masterDetail.ts
  testing/testcafe/tests/dataGrid/virtualColumns.ts
  testing/testcafe/tests/scheduler/appointmentsOrdering.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(tileView): Replace test with testInActiveWindow && Remove instance
  packages/devextreme/testing/tests/DevExpress.ui.widgets/tileView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix changing allowKeyboard navigation option in runtime
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

run testcafe testing
  packages/devextreme/testing/testcafe/helpers/widgetTypings.ts
  packages/devextreme/testing/testcafe/model/splitter/handle.ts
  packages/devextreme/testing/testcafe/model/splitter/index.ts
  packages/devextreme/testing/testcafe/model/splitter/item.ts
  packages/devextreme/testing/testcafe/tests/navigation/splitter/keyboard.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

List: the height of a scrollable wrapper in Fluent theme should be correctly calculated when a search bar exists (T1218632)
  packages/devextreme/scss/widgets/fluent/list/_index.scss
Due: stylelint

add test
  packages/devextreme/testing/testcafe/tests/editors/list/search.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add etalons
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (material-blue-light).png
Due: none

List: the height of a scrollable wrapper in Fluent theme should be correctly calculated when a search bar exists (T1218964) (#26740)
  packages/devextreme/scss/widgets/fluent/list/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/search.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Splitter: registerKeyHandler() method, required accessibility attributes, allowKeyboardNavigation option were added (#26741)
  packages/devextreme/js/__internal/ui/splitter/resize_handle.ts
  packages/devextreme/js/__internal/ui/splitter/splitter.ts
  packages/devextreme/js/__internal/ui/splitter/utils/component.ts
  packages/devextreme/scss/widgets/base/splitter/_index.scss
  packages/devextreme/testing/testcafe/helpers/widgetTypings.ts
  packages/devextreme/testing/testcafe/model/splitter/handle.ts
  packages/devextreme/testing/testcafe/model/splitter/index.ts
  packages/devextreme/testing/testcafe/model/splitter/item.ts
  packages/devextreme/testing/testcafe/tests/navigation/splitter/keyboard.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.editors/splitter.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/resizeHandle.tests.js
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

List: the height of a scrollable wrapper in Fluent theme should be correctly calculated when a search bar exists (T1218632) (#26747)
  packages/devextreme/scss/widgets/fluent/list/_index.scss
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (generic-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/etalons/List with search bar appearance (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/list/search.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

move splitter tests to widget folder
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix ASP links in JS demo descriptions
  apps/demos/Demos/DataGrid/RemoteReordering/description.md
  apps/demos/Demos/DataGrid/SignalRService/description.md
  apps/demos/Demos/DataGrid/WebAPIService/description.md
  apps/demos/Demos/List/WebAPI/description.md
  apps/demos/Demos/Scheduler/SignalRService/description.md
  apps/demos/Demos/Scheduler/WebAPIService/description.md
  apps/demos/Demos/TreeList/LoadDataOnDemand/description.md
  apps/demos/Demos/TreeList/WebAPIService/description.md
Due: none

Update apps/demos/Demos/TreeList/WebAPIService/description.md
  apps/demos/Demos/TreeList/WebAPIService/description.md
Due: none

DropDownButton - datasource integration refactoring (#26497)
  packages/devextreme/js/__internal/data_controller.ts
  packages/devextreme/js/data_controller.js
  packages/devextreme/js/ui/drop_down_button.js
  packages/devextreme/testing/testcafe/tests/dataGrid/columnReordering.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/dropDownButton.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Splitter tests: move tests to widget folder (#26749)
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.markup.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/splitter.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

aspnetcore -> ASPNetCore
  apps/demos/Demos/DataGrid/RemoteReordering/description.md
  apps/demos/Demos/TreeList/LoadDataOnDemand/description.md
  apps/demos/Demos/TreeList/WebAPIService/description.md
Due: none

TextBox: Fix readonly input border state
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_colors.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_colors.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Due: stylelint

Fix ASP links in JS demo descriptions (#26750)
  apps/demos/Demos/DataGrid/RemoteReordering/description.md
  apps/demos/Demos/DataGrid/SignalRService/description.md
  apps/demos/Demos/DataGrid/WebAPIService/description.md
  apps/demos/Demos/List/WebAPI/description.md
  apps/demos/Demos/Scheduler/SignalRService/description.md
  apps/demos/Demos/Scheduler/WebAPIService/description.md
  apps/demos/Demos/TreeList/LoadDataOnDemand/description.md
  apps/demos/Demos/TreeList/WebAPIService/description.md
Due: none

revert(textBox): Get rid extra vars
  packages/devextreme/scss/widgets/base/textEditor/_mixins.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_colors.scss
  packages/devextreme/scss/widgets/fluent/textEditor/_index.scss
  packages/devextreme/scss/widgets/generic/textEditor/_index.scss
  packages/devextreme/scss/widgets/material/textEditor/_colors.scss
  packages/devextreme/scss/widgets/material/textEditor/_index.scss
Due: stylelint

feat(tileView): Add AXE test
  packages/devextreme/testing/testcafe/helpers/widgetTypings.ts
  packages/devextreme/testing/testcafe/tests/accessibility/tileView.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

German localization message values for dxDateRangeBox*
  packages/devextreme/js/localization/messages/de.json
Due: none

fix
  packages/devextreme/js/__internal/grids/grid_core/validating/m_validating.ts
  packages/devextreme/js/__internal/grids/tree_list/m_validating.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix linter
  packages/devextreme/js/__internal/grids/grid_core/header_panel/m_header_panel.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Drawer: overlap, bottom, expand configurations do not work in React
  apps/demos/testing/widgets/drawer/TopOrBottomPosition.test.js
  packages/devextreme/js/ui/drawer/ui.drawer.js
  packages/devextreme/js/ui/drawer/ui.drawer.rendering.strategy.overlap.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/drawer.scenarios.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

testscreenshot utils for multiple theme testing is not ready
  apps/demos/testing/widgets/drawer/TopOrBottomPosition.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update TopOrBottomPosition.test.js
  apps/demos/testing/widgets/drawer/TopOrBottomPosition.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add etalons
  apps/demos/testing/widgets/drawer/etalons/drawer(overlap, bottom, expand).png
  apps/demos/testing/widgets/drawer/etalons/drawer_after_resize(overlap, bottom, expand).png
  apps/demos/testing/widgets/drawer/etalons/drawer_closed(overlap, bottom, expand).png
  apps/demos/testing/widgets/drawer/etalons/drawer_opened(overlap, bottom, expand).png
Due: none

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
