Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"]
}

fix tests
  testing/tests/DevExpress.ui.widgets.dataGrid/selection.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

exceljs.export: add comment for file-saver-es (#1045)
  Demos/DataGrid/ExcelJS/Angular/app/app.component.ts
  Demos/DataGrid/ExcelJS/React/App.js
  Demos/DataGrid/ExcelJS/Vue/App.vue
  Demos/DataGrid/ExcelJSCellCustomization/Angular/app/app.component.ts
  Demos/DataGrid/ExcelJSCellCustomization/React/App.js
  Demos/DataGrid/ExcelJSCellCustomization/Vue/App.vue
  Demos/DataGrid/ExcelJSExportImages/Angular/app/app.component.ts
  Demos/DataGrid/ExcelJSExportImages/React/App.js
  Demos/DataGrid/ExcelJSExportImages/Vue/App.vue
  Demos/DataGrid/ExcelJSExportMultipleGrids/Angular/app/app.component.ts
  Demos/DataGrid/ExcelJSExportMultipleGrids/React/App.js
  Demos/DataGrid/ExcelJSExportMultipleGrids/Vue/App.vue
  Demos/DataGrid/ExcelJSHeaderAndFooter/Angular/app/app.component.ts
  Demos/DataGrid/ExcelJSHeaderAndFooter/React/App.js
  Demos/DataGrid/ExcelJSHeaderAndFooter/Vue/App.vue
  Demos/DataGrid/ExcelJSOverview/Angular/app/app.component.ts
  Demos/DataGrid/ExcelJSOverview/React/App.js
  Demos/DataGrid/ExcelJSOverview/Vue/App.vue
  Demos/PivotGrid/ExcelJSCellCustomization/Angular/app/app.component.ts
  Demos/PivotGrid/ExcelJSCellCustomization/React/App.js
  Demos/PivotGrid/ExcelJSCellCustomization/Vue/App.vue
  Demos/PivotGrid/ExcelJSOverview/Angular/app/app.component.ts
  Demos/PivotGrid/ExcelJSOverview/React/App.js
  Demos/PivotGrid/ExcelJSOverview/Vue/App.vue
  Demos/PivotGrid/ExcelJsHeaderAndFooter/Angular/app/app.component.ts
  Demos/PivotGrid/ExcelJsHeaderAndFooter/React/App.js
  Demos/PivotGrid/ExcelJsHeaderAndFooter/Vue/App.vue
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

scrollable: support native rtl for native strategy (T936630) (#17580)
  js/ui/grid_core/ui.grid_core.columns_view.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/scroll_view/ui.scrollable.js
  js/ui/scroll_view/ui.scrollable.native.js
  js/ui/scroll_view/ui.scrollable.simulated.js
  scss/widgets/base/_gridBase.scss
  scss/widgets/base/_scrollable.scss
  scss/widgets/base/pivotGrid/_index.scss
  scss/widgets/base/scheduler/_index.scss
  testing/tests/DevExpress.ui.widgets.dataGrid/columnsResizingReorderingModule.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/gridView.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/scrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.pivotGrid/pivotGrid.tests.js
  testing/tests/DevExpress.ui.widgets/scrollableParts/scrollable.api.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Popover: fix bug with title background overlapping borders (T1010399)
  scss/widgets/generic/popover/_index.scss
  scss/widgets/material/popover/_index.scss
  testing/tests/DevExpress.ui.widgets/popover.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Update doc comment (#18183)
  js/ui/scheduler.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix contrast theme
  scss/widgets/generic/gridBase/_colors.scss
  scss/widgets/material/gridBase/_colors.scss
Due: stylelint

Use trim method
  js/ui/scheduler/appointmentPopup/form.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Refactor calculateEndDate
  js/ui/scheduler/workspaces/ui.scheduler.timeline_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  js/ui/scheduler/workspaces/view_model/view_data_generator.js
  js/ui/scheduler/workspaces/view_model/view_data_generator_month.js
  js/ui/scheduler/workspaces/view_model/view_data_generator_timeline_month.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Refactor getInterval
  js/ui/scheduler/workspaces/ui.scheduler.timeline_month.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space_month.js
  js/ui/scheduler/workspaces/view_model/view_data_generator.js
  js/ui/scheduler/workspaces/view_model/view_data_generator_month.js
  js/ui/scheduler/workspaces/view_model/view_data_generator_timeline_month.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix viewDataProvider tests
  testing/tests/DevExpress.ui.widgets.scheduler/view_data_provider.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

datagrid - sets rowRenderingMode to virtual by default when new virtual scrolling mode is enabled (#18030)
  js/ui/grid_core/ui.grid_core.focus.js
  js/ui/grid_core/ui.grid_core.keyboard_navigation.js
  js/ui/grid_core/ui.grid_core.rows.js
  js/ui/grid_core/ui.grid_core.utils.js
  js/ui/grid_core/ui.grid_core.virtual_scrolling.js
  testing/testcafe/tests/dataGrid/keyboardNavigation.ts
  testing/tests/DevExpress.ui.widgets.dataGrid/dataController.tests.js
  testing/tests/DevExpress.ui.widgets.dataGrid/virtualScrolling.integration.tests.js
  testing/tests/DevExpress.ui.widgets.treeList/treeList.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Refactor and fix tests in #18166
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.localization/localization.globalize.widgets.tests.js
  testing/tests/DevExpress.localization/localization.intl.widgets.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix tests
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

add tests
  js/renovation/component_wrapper/utils/__tests__/update-props-immutable.test.ts
  js/renovation/component_wrapper/utils/update_props_immutable.ts
  js/renovation/ui/grids/data_grid/utils/__tests__/get_updated_options.test.ts
  js/renovation/ui/grids/data_grid/utils/get_updated_options.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

delete date_parsing warning, redirect to base method in the case when Globalize.parseDate returns null
  js/localization/globalize/date.js
  js/localization/ldml/date.parser.js
  testing/tests/DevExpress.localization/ldml.tests.js
  testing/tests/DevExpress.localization/localization.globalize.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

PivotGrid: Fix the Standalone Field Chooser demo description (#1047)
  Demos/PivotGrid/StandaloneFieldChooser/description.md
Due: none

Refactor
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Popover: fix bug with title background overlapping borders (T1010399) (#18189)
  scss/widgets/generic/popover/_index.scss
  scss/widgets/material/popover/_index.scss
  testing/tests/DevExpress.ui.widgets/popover.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Update etalons
  js/ui/scheduler/recurrence_editor.js
  testing/testcafe/tests/scheduler/layout/appointments/disable.ts
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-appointments-in-grid.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-by-function-appointment.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/enabled-appointment.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/enabled-by-function-appointment.png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Apply suggestion
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - create DateHeaderDataGenerator and TimePanelDataGenerator
  js/ui/scheduler/workspaces/view_model/date_header_data_generator.js
  js/ui/scheduler/workspaces/view_model/time_panel_data_generator.js
  js/ui/scheduler/workspaces/view_model/view_data_generator.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Refactor methods' names
  js/ui/scheduler/workspaces/view_model/date_header_data_generator.js
  js/ui/scheduler/workspaces/view_model/time_panel_data_generator.js
  js/ui/scheduler/workspaces/view_model/view_data_generator.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Update d.ts
  js/ui/scheduler.d.ts
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Update etalons
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-appointment.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-appointments-in-grid.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-by-function-appointment.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/enabled-appointment.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/enabled-by-function-appointment.png
Due: none

dxScheduler - create DateHeaderDataGenerator and TimePanelDataGenerator (#18190)
  js/ui/scheduler/workspaces/view_model/date_header_data_generator.js
  js/ui/scheduler/workspaces/view_model/time_panel_data_generator.js
  js/ui/scheduler/workspaces/view_model/view_data_generator.js
  js/ui/scheduler/workspaces/view_model/view_data_provider.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix unnecessary wait
  testing/testcafe/helpers/screenshot-comparer.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Update doc comments
  js/ui/scheduler.d.ts
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - extract logic to form class (#18125)
  js/ui/scheduler/appointmentPopup/form.js
  js/ui/scheduler/appointmentPopup/popup.js
  js/ui/scheduler/recurrence_editor.js
  js/ui/scheduler/ui.scheduler.js
  testing/testcafe/tests/scheduler/layout/appointments/disable.ts
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-appointment.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-appointments-in-grid.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/disabled-by-function-appointment.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/enabled-appointment.png
  testing/testcafe/tests/scheduler/layout/appointments/etalons/enabled-by-function-appointment.png
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.editing.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.monthView.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointmentPopup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Popover: fix bug with title background overlapping borders (T1010399) (#18193)
  scss/widgets/generic/popover/_index.scss
  scss/widgets/material/popover/_index.scss
  testing/tests/DevExpress.ui.widgets/popover.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Popover: fix bug with title background overlapping borders (T1010399) (#18192)
  scss/widgets/generic/popover/_index.scss
  scss/widgets/material/popover/_index.scss
  testing/tests/DevExpress.ui.widgets/popover.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

dxScheduler - update d.ts(replace any type dxSchedulerAppointment) (#18191)
  js/ui/scheduler.d.ts
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

datagrid - fixes column header caption ellipsis (T1009923) (#18177)
  scss/widgets/base/_gridBase.scss
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

datagrid - fixes column header caption ellipsis (T1009923) (#18177) (#18179)
  scss/widgets/base/_gridBase.scss
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

datagrid - fixes column header caption ellipsis (T1009923) (#18177) (#18180)
  scss/widgets/base/_gridBase.scss
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

add warning message at the `getRegExpInfo` method
  js/localization/ldml/date.parser.js
  testing/tests/DevExpress.localization/ldml.tests.js
  testing/tests/DevExpress.localization/localization.globalize.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - Fix TimeZonesSupport AngularJS demo (#1044)
  Demos/Scheduler/TimeZonesSupport/AngularJS/index.html
  Demos/Scheduler/TimeZonesSupport/AngularJS/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

scrollable:fire onReachBottom event after the bottom content boundary was reached ignoring padding
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollable_simulated_test_helper.ts
  js/renovation/ui/scroll_view/__tests__/scrollable_strategies.test.tsx
  js/renovation/ui/scroll_view/__tests__/scrollbar.test.tsx
  js/renovation/ui/scroll_view/animated_scrollbar.tsx
  js/renovation/ui/scroll_view/scrollable_simulated.tsx
  js/renovation/ui/scroll_view/scrollbar.tsx
  js/renovation/ui/scroll_view/scrollbar_props.ts
  js/renovation/ui/scroll_view/utils/get_element_padding.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js
