Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

fix after merge
  js/ui/tabs.js
Due: eslint

Move round to strategy.base
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
Due: eslint

Diagram - update diagram core package
  package.json
Due: none

Diagram - update diagram core package (#9302)
  package.json
Due: none

Add test
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Due: eslint

Update test
  testing/tests/DevExpress.ui.widgets.editors/numberBoxParts/common.tests.js
Due: eslint

Refactoring test
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Due: eslint

Fix label location according to fab position
  js/core/config.js
  js/ui/speed_dial_action/speed_dial_item.js
  js/ui/speed_dial_action/speed_dial_main_item.js
  styles/widgets/base/speedDialAction.less
  styles/widgets/material/speedDialAction.material.less
  testing/tests/DevExpress.ui.widgets/speedDialAction.tests.js
  ts/dx.all.d.ts
Due: eslint, stylelint

Add label location styles for generic
  styles/widgets/generic/speedDialAction.generic.less
Due: stylelint

dxScheduler - appointments should be rendered on the same line after navigating to the next month if crossScrollingEnabled set to true(T804721) (#9303)
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
Due: eslint

Check if dateBox is disposed on valueChanged (T805571)
  js/ui/date_box/ui.date_box.mask.js
  testing/tests/DevExpress.ui.widgets.editors/datebox.mask.tests.js
Due: eslint

Separate specific color for List's hovered selected items
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/list.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/list.material.less
Due: stylelint

dxScheduler. TestCafe. Resize appointments
  testing/functional/tests/scheduler/resize/day.ts
Due: none

Convert contextMenu widget to ES6 syntax
  js/ui/context_menu/ui.context_menu.js
Due: eslint

Bump DevExtreme version
  package.json
Due: none

fix the name argument of the simple item template when the dataField is defined in the Form
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.knockout/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Due: eslint

Fix navButtons and scrolling of the Tab when the repaintChangesOnly is enabled (T801657) (#9301)
  js/ui/collection/ui.collection_widget.live_update.js
  js/ui/tabs.js
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
Due: eslint

Utils: Fix captionize added space before slash
  js/core/utils/inflector.js
  testing/tests/DevExpress.core/utils.inflector.tests.js
Due: eslint

Bump DevExtreme version (#9307)
  package.json
Due: none

DataGrid: Fix navigation to an incorrect page when a pager item is clicked on mobile device (T804551) (#9255)
  js/ui/pager.js
  testing/tests/DevExpress.ui.widgets/pager.tests.js
Due: eslint

DataGrid: Fix navigation to an incorrect page when a pager item is clicked on mobile device (T804551) (#9254)
  js/ui/pager.js
  testing/tests/DevExpress.ui.widgets/pager.tests.js
Due: eslint

dxScheduler. TestCafe. Drag and drop appointments
  testing/functional/helpers/scheduler.test.helper.ts
  testing/functional/tests/scheduler/dragAndDrop/day.ts
  testing/functional/tests/scheduler/dragAndDrop/month.ts
  testing/functional/tests/scheduler/dragAndDrop/timelineDay.ts
  testing/functional/tests/scheduler/dragAndDrop/timelineMonth.ts
  testing/functional/tests/scheduler/dragAndDrop/timelineWeek.ts
  testing/functional/tests/scheduler/dragAndDrop/timelineWorkWeek.ts
  testing/functional/tests/scheduler/dragAndDrop/week.ts
  testing/functional/tests/scheduler/dragAndDrop/workWeek.ts
Due: none

Small fix
  js/ui/speed_dial_action/speed_dial_item.js
Due: eslint

dxScheduler. TestCafe. Drag and drop appointments
  testing/functional/tests/scheduler/dragAndDrop/timelineDay.ts
  testing/functional/tests/scheduler/dragAndDrop/timelineMonth.ts
  testing/functional/tests/scheduler/dragAndDrop/timelineWeek.ts
  testing/functional/tests/scheduler/dragAndDrop/timelineWorkWeek.ts
  testing/functional/tests/scheduler/dragAndDrop/week.ts
  testing/functional/tests/scheduler/dragAndDrop/workWeek.ts
Due: none

T803978 - Diagram is displayed incorrectly in IE11
  styles/widgets/common/diagram.less
Due: stylelint

Fix IE
  styles/widgets/common/diagram.less
Due: stylelint

Fix IE bug
  playground/jquery.html
  styles/widgets/common/diagram.less
Due: stylelint

refactor
  js/ui/context_menu/ui.menu_base.edit.strategy.js
  js/ui/menu/ui.menu.js
  js/ui/menu/ui.submenu.js
Due: eslint

Revert file
  playground/jquery.html
Due: none

fix tests of the Tabs
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
Due: eslint

fix tests of the Tabs (#9313)
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
Due: eslint

T803978 - Diagram is displayed incorrectly in IE11 (#9312)
  styles/widgets/common/diagram.less
Due: stylelint

fix tests of the Tabs (#9314)
  testing/tests/DevExpress.ui.widgets/tabs.tests.js
Due: eslint

fix test
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Due: eslint

convert ui.menu.js to es6
  js/ui/context_menu.js
  js/ui/menu/ui.menu.js
Due: eslint

refactoring - apply suggestions
  js/ui/file_manager/ui.file_manager.editing.js
  js/ui/file_manager/ui.file_manager.notification.js
  js/ui/file_manager/ui.file_manager.notification.progress_panel.js
Due: eslint

Fix the name argument of the simple item template when the dataField is defined in the Form (T757499) (#9310)
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.knockout/form.tests.js
  testing/tests/DevExpress.ui.widgets.form/form.markup.tests.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  stylelint: any of: *.{css,less}
