Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet"]
}

implement: headerpanel missing props
  packages/devextreme/js/ui/card_view.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add etalons
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_fixed_right_column_to_right_when_there_is_command_column_on_right.png
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_fixed_right_column_to_right_when_there_is_custom_command_column_on_right.png
Due: none

update styles
  e2e/testcafe-devextreme/tests/chat/messageList.ts
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
  packages/devextreme/js/__internal/ui/m_tile_view.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
  packages/testcafe-models/chat.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

implement: add card::content props
  packages/devextreme-angular/src/ui/card-view/index.ts
  packages/devextreme-react/src/card-view.ts
  packages/devextreme-vue/src/card-view.ts
  packages/devextreme/js/ui/card_view.d.ts
  packages/devextreme/js/ui/card_view_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

support keyboard and add localized commands
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with editing context menu (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with editing context menu (generic-light).png
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with editing context menu (material-blue-light).png
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_mixins.scss
  packages/devextreme/js/__internal/ui/chat/chat.ts
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/localization/messages/ar.json
  packages/devextreme/js/localization/messages/bg.json
  packages/devextreme/js/localization/messages/ca.json
  packages/devextreme/js/localization/messages/cs.json
  packages/devextreme/js/localization/messages/da.json
  packages/devextreme/js/localization/messages/de.json
  packages/devextreme/js/localization/messages/el.json
  packages/devextreme/js/localization/messages/es.json
  packages/devextreme/js/localization/messages/fa.json
  packages/devextreme/js/localization/messages/fi.json
  packages/devextreme/js/localization/messages/fr.json
  packages/devextreme/js/localization/messages/hu.json
  packages/devextreme/js/localization/messages/it.json
  packages/devextreme/js/localization/messages/ja.json
  packages/devextreme/js/localization/messages/lt.json
  packages/devextreme/js/localization/messages/lv.json
  packages/devextreme/js/localization/messages/nb.json
  packages/devextreme/js/localization/messages/nl.json
  packages/devextreme/js/localization/messages/pl.json
  packages/devextreme/js/localization/messages/pt.json
  packages/devextreme/js/localization/messages/ro.json
  packages/devextreme/js/localization/messages/ru.json
  packages/devextreme/js/localization/messages/sl.json
  packages/devextreme/js/localization/messages/sv.json
  packages/devextreme/js/localization/messages/tr.json
  packages/devextreme/js/localization/messages/uk.json
  packages/devextreme/js/localization/messages/vi.json
  packages/devextreme/js/localization/messages/zh-tw.json
  packages/devextreme/js/localization/messages/zh.json
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

implement: editing
  packages/devextreme-angular/src/ui/card-view/index.ts
  packages/devextreme-angular/src/ui/card-view/nested/change-dxi.ts
  packages/devextreme-angular/src/ui/card-view/nested/editing.ts
  packages/devextreme-angular/src/ui/card-view/nested/index.ts
  packages/devextreme-angular/src/ui/nested/base/editing.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/editing.ts
  packages/devextreme-react/src/card-view.ts
  packages/devextreme-vue/src/card-view.ts
  packages/devextreme/js/ui/card_view.d.ts
  packages/devextreme/js/ui/card_view_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

initial commit
  e2e/testcafe-devextreme/tests/cardView/pager.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

implement: datacontroller methods
  packages/devextreme/js/ui/card_view.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

move changes to 25_1
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/columns_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/columns_controller/utils.ts
  packages/devextreme/js/__internal/grids/new/grid_core/data_controller/data_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/__snapshots__/items_controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/items_controller/items_controller.ts
  packages/devextreme/js/__internal/grids/new/grid_core/keyboard_navigation/__snapshots__/options.intergration.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/selection/__snapshots__/controller.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/selection/__snapshots__/options.test.ts.snap
  packages/devextreme/js/__internal/grids/new/grid_core/utils.test.ts
  packages/devextreme/js/__internal/grids/new/grid_core/utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

implement: editing
  packages/devextreme-angular/src/ui/card-view/index.ts
  packages/devextreme-angular/src/ui/card-view/nested/index.ts
  packages/devextreme-angular/src/ui/card-view/nested/selection.ts
  packages/devextreme-angular/src/ui/nested/base/index.ts
  packages/devextreme-angular/src/ui/nested/base/selection-configuration.ts
  packages/devextreme-angular/src/ui/nested/selection.ts
  packages/devextreme-react/src/card-view.ts
  packages/devextreme-vue/src/card-view.ts
  packages/devextreme/js/ui/card_view.d.ts
  packages/devextreme/js/ui/card_view_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

implement: kbn
  packages/devextreme-angular/src/ui/card-view/index.ts
  packages/devextreme-vue/src/card-view.ts
  packages/devextreme/js/ui/card_view.d.ts
  packages/devextreme/js/ui/card_view_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix severside rendering
  packages/devextreme/js/__internal/ui/chat/messagelist.ts
  packages/devextreme/js/__internal/ui/m_tile_view.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update etalon
  e2e/testcafe-devextreme/tests/cardView/etalons/filter-value-edit-paging-update (fluent-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/filter-value-edit-paging-update (generic-light).png
  e2e/testcafe-devextreme/tests/cardView/etalons/filter-value-edit-paging-update (material-blue-light).png
  e2e/testcafe-devextreme/tests/cardView/pager.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

implement: context menu
  packages/devextreme-angular/src/ui/card-view/index.ts
  packages/devextreme-react/src/card-view.ts
  packages/devextreme-vue/src/card-view.ts
  packages/devextreme/js/ui/card_view.d.ts
  packages/devextreme/js/ui/card_view_types.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

improve styling
  packages/devextreme-scss/scss/widgets/base/chat/layout/chat-messagelist/_mixins.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/fluent/chat/_index.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/generic/chat/_index.scss
  packages/devextreme-scss/scss/widgets/material/chat/_colors.scss
  packages/devextreme-scss/scss/widgets/material/chat/_index.scss
  packages/devextreme/js/__internal/ui/context_menu/m_context_menu.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

HtmlEditor: Add aiIntegration option
  packages/devextreme/js/__internal/ui/html_editor/html_editor.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/testing/helpers/aiDialog.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditor.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialogIntegration.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/toolbarAIDialogIntegration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

HtmlEditor: Add aiIntegration option
  packages/devextreme/js/__internal/ui/html_editor/html_editor.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(test): Update test
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

HtmlEditor: Get rid of initial text value in the result TextArea
  packages/devextreme/js/__internal/ui/html_editor/html_editor.ts
  packages/devextreme/js/__internal/ui/html_editor/ui/aiDialog.ts
  packages/devextreme/playground/jquery.html
  packages/devextreme/testing/helpers/aiDialog.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialogIntegration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor
  packages/devextreme/js/__internal/ui/html_editor/html_editor.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(aiDialog.tests)
  packages/devextreme/testing/tests/DevExpress.ui.widgets.htmlEditor/htmlEditorParts/aiDialog.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor + implement: columns
  packages/devextreme-angular/src/ui/card-view/index.ts
  packages/devextreme-angular/src/ui/card-view/nested/async-rule-dxi.ts
  packages/devextreme-angular/src/ui/card-view/nested/column-dxi.ts
  packages/devextreme-angular/src/ui/card-view/nested/compare-rule-dxi.ts
  packages/devextreme-angular/src/ui/card-view/nested/custom-rule-dxi.ts
  packages/devextreme-angular/src/ui/card-view/nested/email-rule-dxi.ts
  packages/devextreme-angular/src/ui/card-view/nested/form-item.ts
  packages/devextreme-angular/src/ui/card-view/nested/index.ts
  packages/devextreme-angular/src/ui/card-view/nested/label.ts
  packages/devextreme-angular/src/ui/card-view/nested/numeric-rule-dxi.ts
  packages/devextreme-angular/src/ui/card-view/nested/pattern-rule-dxi.ts
  packages/devextreme-angular/src/ui/card-view/nested/range-rule-dxi.ts
  packages/devextreme-angular/src/ui/card-view/nested/required-rule-dxi.ts
  packages/devextreme-angular/src/ui/card-view/nested/string-length-rule-dxi.ts
  packages/devextreme-angular/src/ui/card-view/nested/validation-rule-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/column-properties-dxi.ts
  packages/devextreme-angular/src/ui/nested/column-dxi.ts
  packages/devextreme-angular/src/ui/nested/label.ts
  packages/devextreme-react/src/card-view.ts
  packages/devextreme-vue/src/card-view.ts
  packages/devextreme/js/ui/card_view.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: move onContextMenuPreparing to opttions
  packages/devextreme-angular/src/ui/card-view/index.ts
  packages/devextreme/js/ui/card_view.d.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update etalon
  e2e/testcafe-devextreme/tests/chat/etalons/Messagelist with editing context menu (generic-light).png
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/chat.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix: import Format from different localization
  packages/devextreme/js/ui/card_view.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

revert && refactor(pg)
  packages/devextreme/js/__internal/ui/html_editor/html_editor.ts
  packages/devextreme/playground/jquery.html
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

gen: pnpm run regenerate-all
  packages/devextreme-angular/src/ui/card-view/index.ts
  packages/devextreme-angular/src/ui/card-view/nested/column-dxi.ts
  packages/devextreme-angular/src/ui/nested/base/column-properties-dxi.ts
  packages/devextreme-react/src/card-view.ts
  packages/devextreme-vue/src/card-view.ts
  packages/devextreme/ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update etalon
  e2e/testcafe-devextreme/tests/dataGrid/common/keyboardNavigation/etalons/reorder_column_to_left_when_there_are_hidden_columns.png
Due: none

fix typo in tests
  packages/devextreme/testing/tests/DevExpress.ui.widgets/chatParts/messageList.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  e2e/testcafe-devextreme/tests/scheduler/common/a11y/appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/appointment/agenda_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/appointment/m_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/appointment/text_utils.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore: postpone theme class attachments until first widget creation (#29601)
  apps/demos/testing/etalons/Charts-ClientSideDataProcessing (material.blue.light).png
  apps/demos/testing/etalons/Charts-DoughnutWithCustomLabelInCenter (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-ColumnResizing (material.blue.light).png
  apps/demos/testing/etalons/Gantt-ExportToPDF (material.blue.light).png
  apps/demos/testing/etalons/Gantt-Sorting (material.blue.light).png
  apps/demos/testing/etalons/Gantt-Toolbar (material.blue.light).png
  apps/demos/testing/etalons/PivotGrid-StatePersistence (material.blue.light).png
  apps/demos/testing/etalons/VectorMap-CustomAnnotations (material.blue.light).png
  apps/demos/testing/etalons/VectorMap-CustomProjection (material.blue.light).png
  apps/demos/testing/etalons/VectorMap-MultipleLayers (material.blue.light).png
  apps/demos/testing/etalons/VectorMap-Overview (material.blue.light).png
  apps/demos/testing/etalons/VectorMap-TooltipHTMLSupport (material.blue.light).png
  packages/devextreme/js/ui/themes.js
  packages/devextreme/testing/tests/DevExpress.ui/themes.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

chore: postpone theme class attachments until first widget creation (#29601)
  apps/demos/testing/etalons/Charts-ClientSideDataProcessing (material.blue.light).png
  apps/demos/testing/etalons/DataGrid-ColumnResizing (material.blue.light).png
  apps/demos/testing/etalons/Gantt-ExportToPDF (material.blue.light).png
  apps/demos/testing/etalons/Gantt-Sorting (material.blue.light).png
  apps/demos/testing/etalons/Gantt-Toolbar (material.blue.light).png
  apps/demos/testing/etalons/PivotGrid-StatePersistence (material.blue.light).png
  packages/devextreme/js/ui/themes.js
  packages/devextreme/testing/tests/DevExpress.ui/themes.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Improve appointment accessibility (#29649)
  e2e/testcafe-devextreme/tests/scheduler/common/a11y/appointment.ts
  e2e/testcafe-devextreme/tests/scheduler/common/dragAndDrop/T1235433.ts
  packages/devextreme/js/__internal/scheduler/__mock__/timezone_calculator.mock.ts
  packages/devextreme/js/__internal/scheduler/appointments/appointment/agenda_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/appointment/m_appointment.ts
  packages/devextreme/js/__internal/scheduler/appointments/appointment/m_types.ts
  packages/devextreme/js/__internal/scheduler/appointments/appointment/text_utils.test.ts
  packages/devextreme/js/__internal/scheduler/appointments/appointment/text_utils.ts
  packages/devextreme/js/__internal/scheduler/appointments/m_appointment_collection.ts
  packages/devextreme/js/__internal/scheduler/m_classes.ts
  packages/devextreme/js/__internal/scheduler/resources/resource_processor.test.ts
  packages/devextreme/js/__internal/scheduler/resources/resource_processor.ts
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
  packages/devextreme/testing/tests/DevExpress.ui.widgets.scheduler/integration.resources.tests.js
  packages/testcafe-models/scheduler/appointment/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fixed focused link bg color (fluent)
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
Due: stylelint

Fixed focused link bg color (fluent) (removed enter)
  packages/devextreme-scss/scss/widgets/fluent/gridBase/_index.scss
Due: stylelint

T1287521: fix area-label for pivot grid header filter
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/T1287521_fields_aria_label.ts
  e2e/testcafe-devextreme/tests/pivotGrid/fieldPanel/dragAndDropFieldItems.ts
  e2e/testcafe-devextreme/tests/pivotGrid/headerFilter.ts
  e2e/testcafe-devextreme/tests/pivotGrid/sort/localSort_T1150523.ts
  e2e/testcafe-devextreme/tests/pivotGrid/sort/sortWithSummaryDisplayMode_T1173442.ts
  packages/devextreme/js/__internal/grids/pivot_grid/field_chooser/m_field_chooser_base.ts
  packages/testcafe-models/pivotGrid/columnHeaderArea.ts
  packages/testcafe-models/pivotGrid/dataHeaderArea.ts
  packages/testcafe-models/pivotGrid/filterHeaderArea.ts
  packages/testcafe-models/pivotGrid/headerFilter.ts
  packages/testcafe-models/pivotGrid/index.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Stepper: describe Step Template demo
  apps/demos/Demos/Stepper/StepTemplate/description.md
Due: none
