Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"]
}

dxGantt: update interaction with core for deleted events (#15816)
  js/ui/gantt/ui.gantt.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Update devextreme-quill package version (T958647) (#15818)
  package.json
Due: none

Update devextreme-quill package version (T958647) (#15817)
  package.json
Due: none

Fix building
  js/renovation/ui/scroll_view/scrollbar_props.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix incorrectly validation message displaying for drop down editor if labels are located at the top in Material theme (T956436)
  styles/widgets/material/form.material.less
  testing/tests/DevExpress.ui.widgets.form/form.materialTheme.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

PR feedback
  js/renovation/ui/scroll_view/_toDelete/ui.scrollable.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Revert "aspnet - Show empty string for null/undefined values instead of 'null'/'undefined' strings (T954324) (#15809)"
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix test on small screens
  testing/tests/DevExpress.ui.widgets/fileManagerParts/scroll.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add post processing in recurrence engine
  js/ui/scheduler/appointmentSettingsGenerator.js
  js/ui/scheduler/recurrence.js
  js/ui/scheduler/ui.scheduler.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

PR feedback
  js/renovation/ui/scroll_view/scrollable_native.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

column width tests
  js/exporter/jspdf/export_print_info_calculator.js
  testing/tests/DevExpress.exporter/jspdfParts/jspdf.printInfoCalculator.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add test
  testing/tests/DevExpress.ui.widgets/fileManager.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/navigation.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/scroll.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add fix
  styles/widgets/generic/fileManager.generic.less
  styles/widgets/material/fileManager.material.less
Due: none

dxScheduler - add renovated Timelines render (#15763)
  js/renovation/ui/scheduler/workspaces/base/date_table/table_body.tsx
  js/renovation/ui/scheduler/workspaces/timeline/date_table/__tests__/layout.test.tsx
  js/renovation/ui/scheduler/workspaces/timeline/date_table/layout.tsx
  js/ui/scheduler/constants.js
  js/ui/scheduler/workspaces/ui.scheduler.timeline.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  js/ui/scheduler/workspaces/view_data_provider.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.workSpace.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/timeline.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
  testing/tests/Renovation/compatibility.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

PR feedback
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

fix building on the farm
  js/renovation/ui/scroll_view/scrollable_native.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

enabled, shared, location
  js/renovation/viz/core/__tests__/tooltip.test.tsx
  js/renovation/viz/core/tooltip.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Rename const
  scss/widgets/generic/fileManager/_index.scss
  scss/widgets/generic/fileManager/_sizes.scss
  scss/widgets/material/fileManager/_index.scss
  scss/widgets/material/fileManager/_sizes.scss
Due: stylelint

Another test fix
  testing/tests/DevExpress.ui.widgets/fileManagerParts/scroll.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Another test fix + refactor
  scss/widgets/generic/fileManager/_index.scss
  scss/widgets/generic/fileManager/_sizes.scss
  scss/widgets/material/fileManager/_index.scss
  scss/widgets/material/fileManager/_sizes.scss
  testing/tests/DevExpress.ui.widgets/fileManagerParts/scroll.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

tooltip visibility
  js/renovation/viz/core/__tests__/tooltip.test.tsx
  js/renovation/viz/core/tooltip.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Revert "aspnet - Show empty string for null/undefined values instead of 'null'/'undefined' strings (T954324) (#15809)" (#15819)
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Add tests
  js/ui/scheduler/appointmentSettingsGenerator.js
  testing/helpers/scheduler/helpers.js
  testing/tests/DevExpress.ui.widgets.scheduler/timezones.test.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

aspnet - Show empty string for null value instead of 'null' string (T954324)
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix incorrect max boundary of the DateBox hour editor (T948979)
  js/ui/date_box/ui.time_view.js
  testing/tests/DevExpress.ui.widgets.editors/timeView.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Update default values specific to the desktop
  js/ui/list.d.ts
  js/ui/lookup.d.ts
  js/ui/scroll_view/ui.scrollable.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Full code coverage
  js/renovation/ui/scroll_view/__tests__/scrollable.test.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Typo
  js/aspnet.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Scheduler - Add virtual scrolling types
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  js/ui/scheduler/workspaces/ui.scheduler.work_space.js
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Refactor master-detail demos (#475) (#476)
  Demos/DataGrid/AdvancedMasterDetailView/Angular/app/app.component.css
  Demos/DataGrid/AdvancedMasterDetailView/Angular/app/app.component.html
  Demos/DataGrid/AdvancedMasterDetailView/Angular/app/app.component.ts
  Demos/DataGrid/AdvancedMasterDetailView/Angular/app/detail-view.component.css
  Demos/DataGrid/AdvancedMasterDetailView/Angular/app/detail-view.component.html
  Demos/DataGrid/AdvancedMasterDetailView/Angular/app/detail-view.component.ts
  Demos/DataGrid/MasterDetailAPI/Angular/app/app.component.html
  Demos/DataGrid/MasterDetailView/Angular/app/app.component.html
  Demos/DataGrid/MasterDetailView/Angular/app/app.component.ts
  Demos/DataGrid/MasterDetailView/Angular/app/detail-grid.component.css
  Demos/DataGrid/MasterDetailView/Angular/app/detail-grid.component.html
  Demos/DataGrid/MasterDetailView/Angular/app/detail-grid.component.ts
  Demos/DataGrid/WebAPIService/Angular/app/app.component.html
  Demos/DataGrid/WebAPIService/Angular/app/app.component.ts
  Demos/DataGrid/WebAPIService/Angular/app/detail-grid.component.css
  Demos/DataGrid/WebAPIService/Angular/app/detail-grid.component.html
  Demos/DataGrid/WebAPIService/Angular/app/detail-grid.component.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

aspnet - Show empty string for null value instead of 'null' string (T954324) (#15821)
  js/aspnet.js
  testing/tests/DevExpress.aspnet/aspnet.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxChart - Fix bar width calculation when using multiple panels (T956425)
  js/viz/chart_components/advanced_chart.js
  testing/helpers/chartMocks.js
  testing/tests/DevExpress.viz.charts/chart.part2.tests.js
  testing/tests/DevExpress.viz.charts/chart.part5.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix a bug
  scss/widgets/base/scheduler/_index.scss
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint
