Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

.lintstagedrc:

{
    "*.js": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"],
    "*.{css,scss}": ["stylelint"],
    "*.{ts,tsx}": ["node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js"]
}

Optimized triggering of the "optionChanged" event for the "text" option (#15860) (#15865)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

remove todo in slider
  js/ui/slider/ui.slider.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Optimized triggering of the "optionChanged" event for the "text" option (#15860) (#15866)
  js/ui/text_box/ui.text_editor.base.js
  testing/tests/DevExpress.ui.widgets.editors/textEditorParts/markup.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Chart - fix canvas calculation for tooltip (T960374) (#15862)
  js/viz/core/tooltip.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Chart - fix canvas calculation for tooltip (T960374) (#15861)
  js/viz/core/tooltip.js
  testing/tests/DevExpress.viz.core/tooltip.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Diagram - bug fixed: Wrong undo for deleted inner selected connectors (#15613)
  package.json
Due: none

DataGrid: remove rowIndex from insertInfo
  js/ui/grid_core/ui.grid_core.editing.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix import in test
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Try to fix
  js/ui/scheduler/ui.scheduler.subscribes.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Remove accordion from dx.common.css
  scss/bundles/dx.common.scss
  scss/widgets/base/_accordion.scss
  scss/widgets/generic/accordion/_index.scss
  scss/widgets/material/accordion/_index.scss
  testing/tests/DevExpress.ui.widgets/accordion.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js, stylelint

Fix changing visibility of item if repaintChanges is used
  js/ui/accordion.js
  testing/tests/DevExpress.ui.widgets/accordion.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Accordion - fix changing visibility option if repaintChangesOnly is used
  js/ui/accordion.js
  testing/tests/DevExpress.ui.widgets/accordion.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

remove onPositioning event fire in overlay
  js/ui/overlay.d.ts
  js/ui/overlay/ui.overlay.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Fix test
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

remove todo in validation_engine
  js/ui/validation_engine.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

remove excess code in calendar.base_view
  js/ui/calendar/ui.calendar.base_view.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

remove todo in dateView
  js/ui/date_box/ui.date_view.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

remove todo in list.edit
  js/ui/list/ui.list.edit.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxGantt: fix tasks recalculation after dependency insert (T958391) (#15869)
  package.json
Due: none

dxGantt: fix tasks recalculation after dependency insert (T958391)
  package.json
Due: none

Skip appointments tests
  testing/tests/DevExpress.ui.widgets.scheduler/integration.allDayAppointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/integration.recurringAppointments.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxGantt: fix tasks recalculation after dependency insert (T958391) (#15868)
  package.json
Due: none

Skip one more test
  testing/tests/DevExpress.ui.widgets.scheduler/virtual_scrolling.integration.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Diagram - bug fixed: Wrong undo for deleted inner selected connectors (#15614)
  package.json
Due: none

Form Grouped Fields demo - Fix nested components (#480)
  Demos/Form/GroupedFields/Angular/app/app.component.html
Due: none

dxGantt: fix missing background color when task id equal 0 (T960180)
  package.json
Due: none

remove todo in tagbox
  js/ui/tag_box.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

date_utils refactoring
  js/ui/date_box/ui.date_utils.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxScheduler - pack appointment.js and appointments.js to separate folder (#15863)
  js/ui/scheduler/appointments/appointment.js
  js/ui/scheduler/appointments/appointmentCollection.js
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.agenda.js
  js/ui/scheduler/ui.scheduler.js
  js/ui/scheduler/workspaces/ui.scheduler.agenda.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointment.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/appointments.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Check tests
  package.json
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Try to fix tests
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

One more attempt
  js/ui/scheduler/workspaces/ui.scheduler.virtual_scrolling.js
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxGantt: fix missing background color when task id equal 0 (T960180) (#15873)
  package.json
Due: none

dxGantt: fix missing background color when task id equal 0 (T960180) (#15874)
  package.json
Due: none

FIx tests
  package.json
  testing/tests/DevExpress.ui.widgets.scheduler/workSpace.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

Implement API
  js/file_management/remote_provider.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

dxGantt: addSubtask default menu item (T956774)
  js/ui/gantt/ui.gantt.bars.js
  testing/tests/DevExpress.ui.widgets/gantt.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

delete transferred parts
  js/renovation/ui/scroll_view/_toDelete/ui.scroll_view.native.pull_down.js
  js/renovation/ui/scroll_view/_toDelete/ui.scroll_view.simulated.js
  js/renovation/ui/scroll_view/topPocket.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js

refactor
  js/renovation/ui/scroll_view/bottomPocket.tsx
  js/renovation/ui/scroll_view/topPocket.tsx
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js
