Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

Update
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/list.generic.less
  styles/widgets/generic/treeView.generic.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
  styles/widgets/material/list.material.less
  styles/widgets/material/treeView.material.less
Due: stylelint

rename setPredefinedCellStyles to _setPredefinedFont
  js/exporter/exceljs/exportDataGrid.js
Due: eslint

Update menu selected bg for material themes
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/contrast/generic.contrast.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
Due: stylelint

revert changes for menu
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
Due: stylelint

update grid and scheduler border colors
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/material/color-schemes/material.dark.less
  styles/widgets/material/color-schemes/material.light.less
Due: stylelint

Fix datagrid and scheduler styles
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/gridBase.generic.less
  styles/widgets/generic/scheduler.generic.less
Due: stylelint

Return styles fo rdatagrid, treelist, pivotgrid borders
  styles/widgets/generic/color-schemes/carmine/generic.carmine.less
  styles/widgets/generic/color-schemes/dark/generic.dark.less
  styles/widgets/generic/color-schemes/darkmoon/generic.darkmoon.less
  styles/widgets/generic/color-schemes/darkviolet/generic.darkviolet.less
  styles/widgets/generic/color-schemes/greenmist/generic.greenmist.less
  styles/widgets/generic/color-schemes/light/generic.light.less
  styles/widgets/generic/color-schemes/softblue/generic.softblue.less
  styles/widgets/generic/scheduler.generic.less
Due: stylelint

FileManager - Fix download command arguments format
  js/ui/file_manager/file_provider/webapi.js
Due: eslint

Add svgToCanvas callback into exportFromMarkup and exportWidgets (#9851)
  js/viz/docs/docStatic.js
  ts/dx.all.d.ts
Due: eslint

Do bubbling for `focusin` and `focusout` events (Fix T814132) (#9852)
  js/events/core/events_engine.js
  testing/tests/DevExpress.ui.events/eventsEngine.tests.js
Due: eslint

List: Fix reordering tests in ios after adding Sortable
  js/ui/list/ui.list.edit.decorator.reorder.js
Due: eslint

DataGrid - Add select Html element to the interactive elements selector (T812830)
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigationParts/keyboardController.tests.js
Due: eslint

DataGrid - Cell click should not affect focus if column cellTemplate is set (T812830) (#9842)
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Due: eslint

Draggable: Change boundary default value to undefined
  js/ui/draggable.js
Due: eslint

FileManager - Fix download command arguments format (#9853)
  js/ui/file_manager/file_provider/webapi.js
Due: eslint

refactor
  js/exporter/exceljs/exportDataGrid.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
Due: eslint

Alter test fix
  js/ui/scheduler/rendering_strategies/ui.scheduler.appointments.strategy.base.js
  styles/widgets/base/scheduler.less
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Due: eslint, stylelint

DataGrid.Export - Support allowExporting in some scenarios with bands (T810780) (#9834)
  js/ui/data_grid/ui.data_grid.export.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.export.tests.js
Due: eslint

Alter fix test
  styles/widgets/base/scheduler.less
  testing/tests/DevExpress.ui.widgets.scheduler/integration.appointments.tests.js
  testing/tests/DevExpress.ui.widgets.scheduler/layoutManager.tests.js
Due: eslint, stylelint

DataGrid - Cell click should not affect focus if column cellTemplate is set (T812830) (#9842) (#9857)
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigation.tests.js
Due: eslint

DataGrid - Add select Html element to the interactive elements selector (T812830) (#9858)
  testing/tests/DevExpress.ui.widgets.dataGrid/keyboardNavigationParts/keyboardController.tests.js
Due: eslint

dxScheduler. TestCafe. Refactoring tooltipBehaviour tests and adding hotkeysBehaviour tests
  testing/functional/helpers/testHelper.ts
  testing/functional/model/scheduler.ts
  testing/functional/tests/scheduler/hotkeysBehaviour/hotkeysBehaviour.ts
  testing/functional/tests/scheduler/hotkeysBehaviour/init/widget.data.ts
  testing/functional/tests/scheduler/hotkeysBehaviour/init/widget.setup.ts
  testing/functional/tests/scheduler/tooltipBehavior.ts
  testing/functional/tests/scheduler/tooltipBehaviour/init/widget.data.ts
  testing/functional/tests/scheduler/tooltipBehaviour/init/widget.setup.ts
  testing/functional/tests/scheduler/tooltipBehaviour/tooltipBehavior.ts
Due: none

Form - Accessibility - Label context is incorrect if editorType is 'dxRadioGroup' (T813296) (#9785) (#9845)
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Due: eslint

Form - Accessibility - Label context is incorrect if editorType is 'dxRadioGroup' (T813296) (#9785) (#9846)
  js/ui/form/ui.form.layout_manager.js
  testing/tests/DevExpress.ui.widgets.form/formLayoutManager.markup.tests.js
Due: eslint

use type object for dxFileManagerOptions.toolbar and dxFileManagerOptions.contextMenu
  js/ui/file_manager/ui.file_manager.js
  ts/dx.all.d.ts
Due: eslint

Add Resources dialog
  js/ui/gantt/ui.gantt.dialogs.js
  js/ui/gantt/ui.gantt.view.js
  package.json
  styles/widgets/generic/gantt.generic.less
  styles/widgets/material/gantt.material.less
  testing/tests/DevExpress.ui.widgets/gantt.tests.js
Due: eslint, stylelint

Fix issues
  js/ui/speed_dial_action/speed_dial_main_item.js
Due: eslint

ExcelJS - predefined font for column headers, groups, summaries, totals (#9831)
  js/exporter/exceljs/exportDataGrid.js
  testing/tests/DevExpress.exporter/exceljsParts/ExcelJSTestHelper.js
  testing/tests/DevExpress.exporter/exceljsParts/exceljs.tests.js
Due: eslint

rename option commandName => name
  js/ui/file_manager/ui.file_manager.context_menu.js
  js/ui/file_manager/ui.file_manager.js
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/contextMenu.tests.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
  ts/dx.all.d.ts
Due: eslint

refactoring
  js/ui/gantt/ui.gantt.dialogs.js
Due: eslint

rename enum value showDirsPanel => navPane
  js/ui/file_manager/ui.file_manager.command_manager.js
  js/ui/file_manager/ui.file_manager.js
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

rename enum value viewMode => viewSwitcher
  js/ui/file_manager/ui.file_manager.js
  js/ui/file_manager/ui.file_manager.toolbar.js
  testing/tests/DevExpress.ui.widgets/fileManagerParts/toolbar.tests.js
Due: eslint

update doc enums and d.ts
  js/docEnums.js
  ts/dx.all.d.ts
Due: eslint

Draggable: Change boundary default value to undefined (#9855)
  js/ui/draggable.js
Due: eslint

Add Resources dialog (#9861)
  js/ui/gantt/ui.gantt.dialogs.js
  js/ui/gantt/ui.gantt.view.js
  package.json
  styles/widgets/generic/gantt.generic.less
  styles/widgets/material/gantt.material.less
  testing/tests/DevExpress.ui.widgets/gantt.tests.js
Due: eslint, stylelint

Fix tests
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Due: eslint

List: Fix reordering tests in ios after adding Sortable (#9854)
  js/ui/list/ui.list.edit.decorator.reorder.js
  testing/tests/DevExpress.ui.widgets/listParts/editingUITests.js
Due: eslint

DataGrid - Fix tests - Add precision to check row visibility
  testing/helpers/wrappers/dataGridWrappers.js
  testing/tests/DevExpress.ui.widgets.dataGrid/dataGrid.tests.js
Due: eslint

Path conditions:
  eslint: any of: *.js
  stylelint: any of: *.{css,less}
