Repository DevExpress/DevExtreme: changes, and which lint-staged commands are due for each by the changed paths.
All: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

FilterPanel, selected and deleted row background colors (#25916)
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
  packages/devextreme/scss/widgets/fluent/gridBase/_index.scss
Due: stylelint

Review fixes
  packages/devextreme/scss/widgets/fluent/loadPanel/_colors.scss
Due: stylelint

fix after merge
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Due: stylelint

🎨 Fluent: Set Grid/TreeList/Scheduler border radius to zero (#25897)
  packages/devextreme/scss/widgets/fluent/_sizes.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Due: stylelint

add open of field click option (#2951)
  Demos/Form/Validation/Angular/app/app.component.ts
  Demos/Form/Validation/React/App.js
  Demos/Form/Validation/Vue/App.vue
  Demos/Form/Validation/jQuery/index.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent: load panel&indicator restyle (#25914)
  packages/devextreme/js/ui/load_panel.d.ts
  packages/devextreme/js/ui/load_panel.js
  packages/devextreme/scss/widgets/fluent/button/_colors.scss
  packages/devextreme/scss/widgets/fluent/loadIndicator/_colors.scss
  packages/devextreme/scss/widgets/fluent/loadIndicator/_index.scss
  packages/devextreme/scss/widgets/fluent/loadPanel/_colors.scss
  packages/devextreme/scss/widgets/fluent/loadPanel/_index.scss
  packages/devextreme/scss/widgets/fluent/loadPanel/_sizes.scss
  packages/devextreme/testing/tests/DevExpress.ui/defaultOptions.tests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

refactor solution
  packages/devextreme/js/__internal/grids/grid_core/header_filter/m_header_filter.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Update scrolling.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/scrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(etalons): Update
  packages/devextreme/js/ui/html_editor/ui/formDialog.js
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/Image uploader from url appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-and-validation (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (fluent-blue-light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

fix(htmlEditor: formDialog): Add new config for Fluent
  packages/devextreme/js/ui/html_editor/ui/formDialog.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

HtmlEditor: fix dialogs' design issues
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_sizes.scss
Due: stylelint

fix(htmlEditor): Fix fileUploader sizes
  packages/devextreme/scss/widgets/fluent/htmlEditor/_sizes.scss
Due: stylelint

WIP: tests fix
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fluent: fix DataGrid border color (#25933)
  packages/devextreme/scss/widgets/fluent/gridBase/_colors.scss
Due: stylelint

FileManager: set custom DropDown width for Material and Fluent themes (#25915)
  packages/devextreme/js/ui/file_manager/ui.file_manager.toolbar.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

FileManager: set custom DropDown width for Material theme
  js/ui/file_manager/ui.file_manager.toolbar.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

refactor(htmlEditor): Reduce selector
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
Due: stylelint

Fix convert-to-js script and corresponding task (#2947)
  Demos/Common/EditorAppearanceVariants/ReactJs/App.js
  Demos/Common/EditorAppearanceVariants/ReactJs/styles.css
  Demos/Common/EditorsRightToLeftSupport/React/styles.css
  Demos/Scheduler/Adaptability/ReactJs/App.js
  Demos/Scheduler/AllDayPanelMode/ReactJs/App.js
  Demos/Scheduler/CellTemplates/ReactJs/App.js
  Demos/Scheduler/CellTemplates/ReactJs/DataCellMonth.js
  Demos/Scheduler/CellTemplates/ReactJs/DateCell.js
  Demos/Scheduler/CellTemplates/ReactJs/TimeCell.js
  Demos/Scheduler/CellTemplates/ReactJs/styles.css
  Demos/Scheduler/ContextMenuIntegration/React/App.tsx
  Demos/Scheduler/ContextMenuIntegration/ReactJs/App.js
  Demos/Scheduler/ContextMenuIntegration/ReactJs/AppointmentTemplate.js
  Demos/Scheduler/CustomDragAndDrop/React/App.tsx
  Demos/Scheduler/CustomDragAndDrop/ReactJs/App.js
  Demos/Scheduler/CustomTemplates/React/styles.css
  Demos/Scheduler/CustomTemplates/ReactJs/App.js
  Demos/Scheduler/GoogleCalendarIntegration/React/styles.css
  Demos/Scheduler/Overview/ReactJs/data.js
  Demos/Scheduler/TimeZonesSupport/ReactJs/App.js
  Demos/Scheduler/Timelines/ReactJs/data.js
  Demos/Scheduler/WebAPIService/ReactJs/App.js
  Demos/TreeList/FocusedRow/ReactJs/App.js
  Demos/TreeList/KeyboardNavigation/ReactJs/index.js
  Demos/TreeList/LoadDataOnDemand/React/App.tsx
  Demos/TreeList/LoadDataOnDemand/ReactJs/App.js
  Demos/TreeList/LocalReordering/ReactJs/App.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

fix(etalons && htmlEditor): Update && Add shouldTestInCompact
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/common.ts
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (fluent-blue-light).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

feat(etalons): Add new etalons
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (material-blue-light-compact).png
Due: none

FileManager: set custom DropDown width for Material theme (#25935)
  js/ui/file_manager/ui.file_manager.toolbar.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

FileManager: set custom DropDown width for Material theme (#25934)
  js/ui/file_manager/ui.file_manager.toolbar.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

HtmlEditor: fix dialogs' design issues
  packages/devextreme/js/ui/html_editor/ui/formDialog.js
  packages/devextreme/scss/widgets/fluent/htmlEditor/_index.scss
  packages/devextreme/scss/widgets/fluent/htmlEditor/_sizes.scss
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/common.ts
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/Image uploader from url appearance (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-and-validation (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/editor-before-click-add-button-from-device (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (generic-light-compact).png
  packages/devextreme/testing/testcafe/tests/htmlEditor/dialogs/addImage/etalons/tabpanel-in-htmleditor (material-blue-light-compact).png
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Components: get rid of h1 tag in demos (#2931)
  Demos/Accordion/Overview/Angular/app/app.component.css
  Demos/Accordion/Overview/Angular/app/app.component.html
  Demos/Accordion/Overview/React/CustomTitle.js
  Demos/Accordion/Overview/React/styles.css
  Demos/Accordion/Overview/Vue/App.vue
  Demos/Accordion/Overview/Vue/CustomTitle.vue
  Demos/Accordion/Overview/jQuery/index.html
  Demos/Accordion/Overview/jQuery/styles.css
  Demos/LoadPanel/Overview/Angular/app/app.component.css
  Demos/LoadPanel/Overview/Angular/app/app.component.html
  Demos/LoadPanel/Overview/React/App.js
  Demos/LoadPanel/Overview/React/styles.css
  Demos/LoadPanel/Overview/Vue/App.vue
  Demos/LoadPanel/Overview/jQuery/index.html
  Demos/LoadPanel/Overview/jQuery/styles.css
  Demos/MultiView/Overview/Angular/app/app.component.css
  Demos/MultiView/Overview/Angular/app/app.component.html
  Demos/MultiView/Overview/React/CompanyItem.js
  Demos/MultiView/Overview/React/styles.css
  Demos/MultiView/Overview/Vue/App.vue
  Demos/MultiView/Overview/jQuery/index.html
  Demos/MultiView/Overview/jQuery/styles.css
  Demos/Popup/Overview/Angular/app/app.component.css
  Demos/Popup/Overview/Angular/app/app.component.html
  Demos/Popup/Overview/React/App.js
  Demos/Popup/Overview/React/styles.css
  Demos/Popup/Overview/Vue/App.vue
  Demos/Popup/Overview/jQuery/index.html
  Demos/Popup/Overview/jQuery/styles.css
  Demos/Toast/Overview/Angular/app/app.component.css
  Demos/Toast/Overview/Angular/app/app.component.html
  Demos/Toast/Overview/React/App.js
  Demos/Toast/Overview/React/styles.css
  Demos/Toast/Overview/Vue/App.vue
  Demos/Toast/Overview/jQuery/index.html
  Demos/Toast/Overview/jQuery/styles.css
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

Fix qunit test
  packages/devextreme/testing/tests/DevExpress.ui.widgets/listParts/commonTests.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

update drb etanol
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox disabled stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox disabled stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox focused stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox focused stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox stylingMode=outlined isValid=false (fluent-blue-light-compact).png
Due: none

Fix declaration
  packages/devextreme/js/ui/list/ui.list.edit.js
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

add 4 icons
  packages/devextreme/icons/dxicons.ttf
  packages/devextreme/icons/dxicons.woff
  packages/devextreme/icons/dxicons.woff2
  packages/devextreme/icons/dxiconsfluent.ttf
  packages/devextreme/icons/dxiconsfluent.woff
  packages/devextreme/icons/dxiconsfluent.woff2
  packages/devextreme/icons/dxiconsmaterial.ttf
  packages/devextreme/icons/dxiconsmaterial.woff
  packages/devextreme/icons/dxiconsmaterial.woff2
  packages/devextreme/images/icons/fluent/dataarea.svg
  packages/devextreme/images/icons/fluent/datapie.svg
  packages/devextreme/images/icons/fluent/datatrending.svg
  packages/devextreme/images/icons/fluent/datausage.svg
  packages/devextreme/images/icons/generic/dataarea.svg
  packages/devextreme/images/icons/generic/datapie.svg
  packages/devextreme/images/icons/generic/datatrending.svg
  packages/devextreme/images/icons/generic/datausage.svg
  packages/devextreme/images/icons/material/dataarea.svg
  packages/devextreme/images/icons/material/datapie.svg
  packages/devextreme/images/icons/material/datatrending.svg
  packages/devextreme/images/icons/material/datausage.svg
  packages/devextreme/scss/widgets/base/_icons.scss
  packages/devextreme/testing/styles/icon-font.test.ts
  packages/devextreme/testing/testcafe/tests/common/icons.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet, stylelint

add note
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Refactoring styles
  packages/devextreme/scss/widgets/base/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_index.scss
  packages/devextreme/scss/widgets/fluent/scheduler/_sizes.scss
Due: stylelint

Editor: validation mark should be centered (#25925)
  packages/devextreme/scss/widgets/fluent/common/_mixins.scss
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox active stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox disabled stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox disabled stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox focused stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox focused stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox readonly stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox stylingMode=outlined isValid=false (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/dateRangeBox/etalons/DateRangeBox stylingMode=outlined isValid=false (fluent-blue-light-compact).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid focused,stylingMode=underlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=filled (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=outlined (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/editors/textBox/etalons/Textbox render invalid,stylingMode=underlined (fluent-blue-light).png
Due: stylelint

TreeList and DataGrid always show the W1025 warning regardless of the height option value or CSS limiting the component height (T1196939) (#25876)
  packages/devextreme/js/__internal/grids/grid_core/views/m_rows_view.ts
  packages/devextreme/js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
  packages/devextreme/testing/testcafe/tests/dataGrid/scrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Fix tests (part 2)
  js/__internal/grids/data_grid/grouping/m_grouping_collapsed.ts
  js/__internal/grids/grid_core/virtual_scrolling/m_virtual_scrolling.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Add etalon
  testing/testcafe/tests/dataGrid/etalons/T1194796-row-alternation-with-grouping-and-virtual-scrolling.png
Due: none

add 4 icons +update etalons
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/Icon set (material-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (fluent-blue-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (generic-light).png
  packages/devextreme/testing/testcafe/tests/common/etalons/SVG icon set (material-blue-light).png
Due: none

Box/ResponsiveBox baseSize option - Add string to accepted type (#25923)
  js/ui/box.d.ts
  js/ui/responsive_box.d.ts
  ts/dx.all.d.ts
Due: node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet

Path conditions:
  node --max_old_space_size=4096 ./node_modules/eslint/bin/eslint.js --quiet: (any of: *.js) or (any of: *.{ts,tsx})
  stylelint: any of: *.{css,scss}
